Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/nl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/it.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/hu.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/de.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/da.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/cs.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/bg.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh-TW.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

Ombi.Api.Lidarr: Remove unused fields from ArtistAdd
  src/Ombi.Api.Lidarr/Models/ArtistAdd.cs
Labels: backend

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh.json
Labels: none

🌐 Translations Update (#4731)
  src/Ombi/wwwroot/translations/bg.json
  src/Ombi/wwwroot/translations/cs.json
  src/Ombi/wwwroot/translations/da.json
  src/Ombi/wwwroot/translations/de.json
  src/Ombi/wwwroot/translations/es.json
  src/Ombi/wwwroot/translations/fr.json
  src/Ombi/wwwroot/translations/hu.json
  src/Ombi/wwwroot/translations/it.json
  src/Ombi/wwwroot/translations/nl.json
  src/Ombi/wwwroot/translations/no.json
  src/Ombi/wwwroot/translations/pl.json
  src/Ombi/wwwroot/translations/pt-BR.json
  src/Ombi/wwwroot/translations/pt.json
  src/Ombi/wwwroot/translations/ru.json
  src/Ombi/wwwroot/translations/sk.json
  src/Ombi/wwwroot/translations/sv.json
  src/Ombi/wwwroot/translations/zh-TW.json
  src/Ombi/wwwroot/translations/zh.json
Labels: none

Fix: Ombi.Api.Lidarr: Remove unused fields from ArtistAdd (#4727)
  src/Ombi.Api.Lidarr/Models/ArtistAdd.cs
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.23.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix: Fix conflicting property name for Swagger
  src/Ombi.Api.Plex/Models/Metadata.cs
Labels: backend

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sk.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sk.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.sk.resx
Labels: none

fix: Fix conflicting property name for Swagger (#4733)
  src/Ombi.Api.Plex/Models/Metadata.cs
Labels: backend

chore(release): :rocket: v4.23.2 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

order by director, add default image and fix click
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/shared/cast-carousel/cast-carousel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/crew-carousel/crew-carousel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/crew-carousel/crew-carousel.component.scss
Labels: frontend

feat: add crew on movie page (#4722)
  src/.idea/.idea.Ombi/.idea/contentModel.xml
  src/Ombi/ClientApp/src/app/discover/components/actor/discover-actor.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/index.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/shared/cast-carousel/cast-carousel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/crew-carousel/crew-carousel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/crew-carousel/crew-carousel.component.scss
  src/Ombi/ClientApp/src/app/media-details/components/shared/crew-carousel/crew-carousel.component.ts
  src/Ombi/ClientApp/src/app/media-details/media-details.component.scss
  src/Ombi/wwwroot/translations/en.json
  src/Ombi/wwwroot/translations/fr.json
Labels: frontend

🌐 Translations Update (#4736)
  src/Ombi.I18n/Resources/Texts.sk.resx
  src/Ombi/wwwroot/translations/sk.json
Labels: none

chore(release): :rocket: v4.24.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt-BR.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/no.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sv.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sk.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ru.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/nl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/it.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/hu.json
Labels: none

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
