Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

Allow PowerUsers to view TheMovieDb settings
  src/Ombi/Controllers/V1/SettingsController.cs
Labels: backend

feat(requests): add compact view, sorting and user filtering to requests list (#5424)
  src/Ombi.Core.Tests/Engine/MovieRequestEngineTests.cs
  src/Ombi.Core/Engine/BaseMediaEngine.cs
  src/Ombi.Core/Engine/IMusicRequestEngine.cs
  src/Ombi.Core/Engine/Interfaces/IMovieRequestEngine.cs
  src/Ombi.Core/Engine/Interfaces/ITvRequestEngine.cs
  src/Ombi.Core/Engine/MovieRequestEngine.cs
  src/Ombi.Core/Engine/MusicRequestEngine.cs
  src/Ombi.Core/Engine/TvRequestEngine.cs
  src/Ombi/ClientApp/src/app/requests-list/components/_shared-card-grid.scss
  src/Ombi/ClientApp/src/app/requests-list/components/albums-grid/albums-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/albums-grid/albums-grid.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/base-grid/base-grid.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.spec.ts
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.ts
  src/Ombi/ClientApp/src/app/services/requestV2.service.ts
  src/Ombi/Controllers/V2/RequestsController.cs
  src/Ombi/wwwroot/translations/en.json
  tests/cypress/integration/page-objects/requests/requests.page.ts
Labels: automation, frontend, backend

test(cypress): fix failing/flaky e2e tests and decouple from the wizard
  tests/cypress/integration/page-objects/discover/discover.page.ts
  tests/cypress/support/commands.ts
  tests/cypress/support/e2e.ts
  tests/cypress/tests/details/movie/moviedetails-buttons.spec.ts
  tests/cypress/tests/discover/discover-cards-requests.spec.ts
  tests/cypress/tests/discover/discover-recently-requested.spec.ts
  tests/cypress/tests/login/login.spec.ts
  tests/cypress/tests/search/search.spec.ts
  tests/cypress/tests/user-preferences/user-preferences-profile.spec.ts
Labels: automation

test(cypress): harden setup assertions and add movie request API coverage
  tests/cypress/support/commands.ts
  tests/cypress/tests/api/v1/movie-request.api.spec.ts
  tests/cypress/tests/discover/discover-cards-requests.spec.ts
  tests/cypress/tests/search/search.spec.ts
Labels: automation

test(cypress): use optional chaining in ensureSetup response handling
  tests/cypress/support/commands.ts
Labels: automation

test(cypress): harden movie request API spec cleanup and header timing
  tests/cypress/tests/api/v1/movie-request.api.spec.ts
Labels: automation

Add API contract tests for mobile-consumed endpoints
  src/Ombi.Api.IntegrationTests/Harness/IntegrationTestBase.cs
  src/Ombi.Api.IntegrationTests/Harness/OmbiApiTestFactory.cs
  src/Ombi.Api.IntegrationTests/Harness/PassThroughMediaCacheService.cs
  src/Ombi.Api.IntegrationTests/Harness/SharedTestFixture.cs
  src/Ombi.Api.IntegrationTests/Harness/TestAuthHandler.cs
  src/Ombi.Api.IntegrationTests/Harness/TestStartup.cs
  src/Ombi.Api.IntegrationTests/Ombi.Api.IntegrationTests.csproj
  src/Ombi.Api.IntegrationTests/Tests/IdentityContractTests.cs
  src/Ombi.Api.IntegrationTests/Tests/RequestsContractTests.cs
  src/Ombi.Api.IntegrationTests/Tests/SearchContractTests.cs
  src/Ombi.Api.IntegrationTests/Tests/SettingsContractTests.cs
  src/Ombi.sln
Labels: backend

test(cypress): de-flake movie request card assertions
  tests/cypress/tests/discover/discover-cards-requests.spec.ts
Labels: automation

Add contract tests for remaining V2 search and request mutation endpoints
  src/Ombi.Api.IntegrationTests/Harness/IntegrationTestBase.cs
  src/Ombi.Api.IntegrationTests/Harness/OmbiApiTestFactory.cs
  src/Ombi.Api.IntegrationTests/Tests/RequestsLifecycleContractTests.cs
  src/Ombi.Api.IntegrationTests/Tests/SearchContractTests.cs
Labels: backend

Improve Cypress test reliability and reduce flakiness (#5425)
  tests/cypress/integration/page-objects/discover/discover.page.ts
  tests/cypress/support/commands.ts
  tests/cypress/support/e2e.ts
  tests/cypress/tests/api/v1/movie-request.api.spec.ts
  tests/cypress/tests/details/movie/moviedetails-buttons.spec.ts
  tests/cypress/tests/discover/discover-cards-requests.spec.ts
  tests/cypress/tests/discover/discover-recently-requested.spec.ts
  tests/cypress/tests/login/login.spec.ts
  tests/cypress/tests/search/search.spec.ts
  tests/cypress/tests/user-preferences/user-preferences-profile.spec.ts
Labels: automation

Add contract tests for identity, issues, settings, DVR, recently-added, mobile and token
  src/Ombi.Api.IntegrationTests/Harness/IntegrationTestBase.cs
  src/Ombi.Api.IntegrationTests/Harness/OmbiApiTestFactory.cs
  src/Ombi.Api.IntegrationTests/Harness/TestStartup.cs
  src/Ombi.Api.IntegrationTests/Tests/ExternalDvrContractTests.cs
  src/Ombi.Api.IntegrationTests/Tests/IdentityCrudContractTests.cs
  src/Ombi.Api.IntegrationTests/Tests/IssuesContractTests.cs
  src/Ombi.Api.IntegrationTests/Tests/MobileAndTokenContractTests.cs
  src/Ombi.Api.IntegrationTests/Tests/RecentlyAddedContractTests.cs
  src/Ombi.Api.IntegrationTests/Tests/SettingsContractTests.cs
Labels: backend

Add contract tests for request lifecycle remainder and Plex libraries
  src/Ombi.Api.IntegrationTests/Harness/IntegrationTestBase.cs
  src/Ombi.Api.IntegrationTests/Harness/OmbiApiTestFactory.cs
  src/Ombi.Api.IntegrationTests/README.md
  src/Ombi.Api.IntegrationTests/Tests/PlexContractTests.cs
  src/Ombi.Api.IntegrationTests/Tests/RequestsLifecycleContractTests.cs
Labels: backend

Bump version to 4.53.11
  version.json
Labels: none

Address CodeRabbit review feedback on the API contract tests
  src/Ombi.Api.IntegrationTests/Harness/TestStartup.cs
  src/Ombi.Api.IntegrationTests/README.md
  src/Ombi.Api.IntegrationTests/Tests/ExternalDvrContractTests.cs
  src/Ombi.Api.IntegrationTests/Tests/IdentityCrudContractTests.cs
  src/Ombi.Api.IntegrationTests/Tests/IssuesContractTests.cs
  src/Ombi.Api.IntegrationTests/Tests/SearchContractTests.cs
  src/Ombi.sln
Labels: backend

Revert README wording change
  src/Ombi.Api.IntegrationTests/README.md
Labels: none

Add API contract tests for mobile-consumed endpoints (#5426)
  src/Ombi.Api.IntegrationTests/Harness/IntegrationTestBase.cs
  src/Ombi.Api.IntegrationTests/Harness/OmbiApiTestFactory.cs
  src/Ombi.Api.IntegrationTests/Harness/PassThroughMediaCacheService.cs
  src/Ombi.Api.IntegrationTests/Harness/SharedTestFixture.cs
  src/Ombi.Api.IntegrationTests/Harness/TestAuthHandler.cs
  src/Ombi.Api.IntegrationTests/Harness/TestStartup.cs
  src/Ombi.Api.IntegrationTests/Ombi.Api.IntegrationTests.csproj
  src/Ombi.Api.IntegrationTests/README.md
  src/Ombi.Api.IntegrationTests/Tests/ExternalDvrContractTests.cs
  src/Ombi.Api.IntegrationTests/Tests/IdentityContractTests.cs
  src/Ombi.Api.IntegrationTests/Tests/IdentityCrudContractTests.cs
  src/Ombi.Api.IntegrationTests/Tests/IssuesContractTests.cs
  src/Ombi.Api.IntegrationTests/Tests/MobileAndTokenContractTests.cs
  src/Ombi.Api.IntegrationTests/Tests/PlexContractTests.cs
  src/Ombi.Api.IntegrationTests/Tests/RecentlyAddedContractTests.cs
  src/Ombi.Api.IntegrationTests/Tests/RequestsContractTests.cs
  src/Ombi.Api.IntegrationTests/Tests/RequestsLifecycleContractTests.cs
  src/Ombi.Api.IntegrationTests/Tests/SearchContractTests.cs
  src/Ombi.Api.IntegrationTests/Tests/SettingsContractTests.cs
  src/Ombi.sln
  version.json
Labels: backend

Update version.json
  version.json
Labels: none

chore(release): :rocket: v4.60.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(requests): match loading placeholder to compact table view
  src/Ombi/ClientApp/src/app/requests-list/components/albums-grid/albums-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/grid-spinner/grid-spinner.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/grid-spinner/grid-spinner.component.scss
  src/Ombi/ClientApp/src/app/requests-list/components/grid-spinner/grid-spinner.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.html
Labels: frontend

fix(requests): match loading placeholder to compact table view
  src/Ombi/ClientApp/src/app/requests-list/components/albums-grid/albums-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/grid-spinner/grid-spinner.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/grid-spinner/grid-spinner.component.scss
  src/Ombi/ClientApp/src/app/requests-list/components/grid-spinner/grid-spinner.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.html
Labels: frontend

fix(watchlist): only prune Plex watchlist history on a complete sync
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

fix(requests): match loading placeholder to compact table view (#5428)
  src/Ombi/ClientApp/src/app/requests-list/components/albums-grid/albums-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/grid-spinner/grid-spinner.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/grid-spinner/grid-spinner.component.scss
  src/Ombi/ClientApp/src/app/requests-list/components/grid-spinner/grid-spinner.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.html
Labels: frontend

chore(release): :rocket: v4.60.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(watchlist): only prune Plex watchlist history on a complete sync (#5429)
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

chore(release): :rocket: v4.60.2 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

test(e2e): add Customization settings coverage + stability/coverage notes
  src/Ombi/ClientApp/src/app/settings/customization/customization.component.html
  tests/COVERAGE.md
  tests/cypress/integration/page-objects/index.ts
  tests/cypress/integration/page-objects/settings/customization/customization-settings.page.ts
  tests/cypress/tests/settings/customization/customization-settings.spec.ts
Labels: automation, frontend

test(e2e): reset request state before each spec for idempotent re-runs
  tests/COVERAGE.md
  tests/cypress/support/e2e.ts
  tests/cypress/support/request.commands.ts
Labels: automation

test(e2e): add General and Features settings coverage
  src/Ombi/ClientApp/src/app/settings/ombi/ombi.component.html
  tests/COVERAGE.md
  tests/cypress/integration/page-objects/index.ts
  tests/cypress/integration/page-objects/settings/features/features-settings.page.ts
  tests/cypress/integration/page-objects/settings/ombi/ombi-settings.page.ts
  tests/cypress/tests/settings/features/features-settings.spec.ts
  tests/cypress/tests/settings/ombi/ombi-settings.spec.ts
Labels: automation, frontend

test(e2e): add movie requests and navigation routing coverage
  tests/COVERAGE.md
  tests/cypress/tests/navigation/navigation-routing.spec.ts
  tests/cypress/tests/requests/requests-movie.spec.ts
Labels: automation

Fix movie wrongly shown as available when a series shares its TMDB ID
  src/Ombi.Core.Tests/Rule/Search/JellyfinAvailabilityRuleTests.cs
  src/Ombi.Core/Rule/Rules/Search/MediaServerAvailabilityRule.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinAvaliabilityChecker.cs
Labels: backend

Add settings & navigation tests, stabilize request state (#5431) [skip ci]
  src/Ombi/ClientApp/src/app/settings/customization/customization.component.html
  src/Ombi/ClientApp/src/app/settings/ombi/ombi.component.html
  tests/COVERAGE.md
  tests/cypress/integration/page-objects/index.ts
  tests/cypress/integration/page-objects/settings/customization/customization-settings.page.ts
  tests/cypress/integration/page-objects/settings/features/features-settings.page.ts
  tests/cypress/integration/page-objects/settings/ombi/ombi-settings.page.ts
  tests/cypress/support/e2e.ts
  tests/cypress/support/request.commands.ts
  tests/cypress/tests/navigation/navigation-routing.spec.ts
  tests/cypress/tests/requests/requests-movie.spec.ts
  tests/cypress/tests/settings/customization/customization-settings.spec.ts
  tests/cypress/tests/settings/features/features-settings.spec.ts
  tests/cypress/tests/settings/ombi/ombi-settings.spec.ts
Labels: automation, frontend

Fix movie wrongly shown as available when a series shares its TMDB ID (#5432)
  src/Ombi.Core.Tests/Rule/Search/JellyfinAvailabilityRuleTests.cs
  src/Ombi.Core/Rule/Rules/Search/MediaServerAvailabilityRule.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinAvaliabilityChecker.cs
Labels: backend

chore(release): :rocket: v4.60.3 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(tv): don't mark unaired shows as available
  src/Ombi.Core.Tests/Rule/Search/AvailabilityRuleHelperTests.cs
  src/Ombi.Core/Rule/Rules/Search/AvailabilityRuleHelper.cs
Labels: backend

fix(tv): don't mark unaired shows as available (#5434)
  src/Ombi.Core.Tests/Rule/Search/AvailabilityRuleHelperTests.cs
  src/Ombi.Core/Rule/Rules/Search/AvailabilityRuleHelper.cs
Labels: backend

chore(release): :rocket: v4.60.4 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Fix Plex user import crash on unauthorized token (#5418) (#5419)
  src/Ombi.Api/Api.cs
  src/Ombi.Schedule.Tests/PlexUserImporterTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexUserImporter.cs
Labels: backend

chore(release): :rocket: v4.60.5 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(dvr): reset auto-increment in a database-provider-aware way
  src/Ombi.Schedule/Jobs/Radarr/RadarrSync.cs
  src/Ombi.Schedule/Jobs/Sonarr/SonarrSync.cs
  src/Ombi.Store/Context/DatabaseExtensions.cs
Labels: backend

fix(dvr): only reset sqlite_sequence on SQLite, no-op elsewhere
  src/Ombi.Store/Context/DatabaseExtensions.cs
Labels: backend

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
