Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

Update cypress.yml
  .github/workflows/cypress.yml
Labels: devops

Update cypress.yml
  .github/workflows/cypress.yml
Labels: devops

Update cypress.config.ts
  tests/cypress.config.ts
Labels: automation

fixes
  tests/cypress/integration/page-objects/details/tv/tvdetails.page.ts
  tests/cypress/tests/details/tv/tvdetails-buttons.spec.ts
  tests/cypress/tests/discover/discover-cards-requests.spec.ts
  tests/cypress/tests/discover/discover-recently-requested.spec.ts
  tests/cypress/tests/login/login.spec.ts
  tests/cypress/tests/navigation/navigation-bar.spec.ts
  tests/cypress/tests/user-preferences/user-preferences-profile.spec.ts
Labels: automation

fix(plex): Added the watchlist request whole show back into the settings
  .github/workflows/cypress.yml
  src/Ombi/ClientApp/src/app/settings/plex/components/form-field/plex-form-field.component.ts
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.html
Labels: frontend, devops

chore: undid
  .github/workflows/cypress.yml
Labels: devops

fixed
  src/Ombi/ClientApp/src/app/auth/auth.service.ts
Labels: frontend

fixed (#4833)
  src/Ombi/ClientApp/src/app/auth/auth.service.ts
Labels: frontend

chore(release): :rocket: v4.33.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore: add logo [skip ci]
  assets/Ombi-icon.ai
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/no.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/no.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.no.resx
Labels: none

feat: allow SSO to create new users automatically
  src/Ombi.Settings/Settings/Models/AuthenticationSettings.cs
  src/Ombi/ClientApp/src/app/interfaces/ISettings.ts
  src/Ombi/ClientApp/src/app/settings/authentication/authentication.component.html
  src/Ombi/ClientApp/src/app/settings/authentication/authentication.component.ts
  src/Ombi/Controllers/V1/TokenController.cs
Labels: frontend, backend

feat: apply default user settings to SSO users
  src/Ombi/Controllers/V1/TokenController.cs
Labels: backend

fix(plex-watchlist): Lookup the ID from different sources when Plex doesn't contain the metadata
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

feat: Radarr tags (#4815)
  src/Ombi.Api.Radarr/IRadarrV3Api.cs
  src/Ombi.Api.Radarr/Models/V2/RadarrAddMovie.cs
  src/Ombi.Api.Radarr/RadarrV3Api.cs
  src/Ombi.Core/Senders/MovieSender.cs
  src/Ombi.Settings/Settings/Models/External/RadarrSettings.cs
  src/Ombi.Settings/Settings/Models/External/SonarrSettings.cs
  src/Ombi/ClientApp/src/app/app.module.ts
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.ts
  src/Ombi/ClientApp/src/app/interfaces/ISettings.ts
  src/Ombi/ClientApp/src/app/login/login.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.ts
  src/Ombi/ClientApp/src/app/services/applications/radarr.service.ts
  src/Ombi/ClientApp/src/app/settings/radarr/components/radarr-form.component.html
  src/Ombi/ClientApp/src/app/settings/radarr/components/radarr-form.component.ts
  src/Ombi/ClientApp/src/app/settings/radarr/radarr.component.ts
  src/Ombi/ClientApp/src/app/settings/sonarr/sonarr.component.html
  src/Ombi/ClientApp/src/app/shared/admin-request-dialog/admin-request-dialog.component.html
  src/Ombi/ClientApp/src/app/shared/admin-request-dialog/admin-request-dialog.component.ts
  src/Ombi/ClientApp/src/app/shared/episode-request/episode-request.component.ts
  src/Ombi/ClientApp/src/app/state/radarr/index.ts
  src/Ombi/ClientApp/src/app/state/radarr/radarr-initializer.ts
  src/Ombi/ClientApp/src/app/state/radarr/radarr.actions.ts
  src/Ombi/ClientApp/src/app/state/radarr/radarr.facade.ts
  src/Ombi/ClientApp/src/app/state/radarr/radarr.selectors.ts
  src/Ombi/ClientApp/src/app/state/radarr/radarr.state.ts
  src/Ombi/ClientApp/src/app/state/radarr/types.ts
  src/Ombi/Controllers/V1/External/RadarrController.cs
Labels: frontend, backend

chore(release): :rocket: v4.34.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(plex-watchlist): Lookup the ID from different sources when Plex doesn't contain the metadata (#4843)
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

chore(release): :rocket: v4.34.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

feat: add warnings to header auth toggles
  src/Ombi/ClientApp/src/app/settings/authentication/authentication.component.html
  src/Ombi/ClientApp/src/app/settings/authentication/authentication.component.scss
Labels: frontend

feat: Add the option for header authentication to create users (#4841)
  src/Ombi.Settings/Settings/Models/AuthenticationSettings.cs
  src/Ombi/ClientApp/src/app/interfaces/ISettings.ts
  src/Ombi/ClientApp/src/app/settings/authentication/authentication.component.html
  src/Ombi/ClientApp/src/app/settings/authentication/authentication.component.scss
  src/Ombi/ClientApp/src/app/settings/authentication/authentication.component.ts
  src/Ombi/Controllers/V1/TokenController.cs
Labels: frontend, backend

chore(release): :rocket: v4.35.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(plex-watchlist): Index out of bounds error
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.35.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(database): Just some tweaks, shouldn't notice any difference, maybe a less error in the log
  src/Ombi.Schedule/Jobs/Couchpotato/CouchPotatoSync.cs
  src/Ombi.Schedule/Jobs/Lidarr/LidarrAlbumSync.cs
  src/Ombi.Schedule/Jobs/Lidarr/LidarrArtistSync.cs
  src/Ombi.Schedule/Jobs/Radarr/RadarrSync.cs
  src/Ombi.Schedule/Jobs/SickRage/SickRageSync.cs
  src/Ombi.Schedule/Jobs/Sonarr/SonarrSync.cs
  src/Ombi.Store/Context/OmbiContext.cs
Labels: backend

chore(release): :rocket: v4.35.2 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

mobile user logged in & discord username null
  src/Ombi.Notifications/Agents/DiscordNotification.cs
  src/Ombi.Tests/Middlewear/ApiKeyMiddlewearTests.cs
  src/Ombi.Tests/Ombi.Tests.csproj
  src/Ombi/Middleware/ApiKeyMiddlewear.cs
Labels: backend

Tests working
  src/Ombi.Tests/Middlewear/ApiKeyMiddlewearTests.cs
  src/Ombi.Tests/Ombi.Tests.csproj
Labels: backend

fix(#4847): Invalid Discord request fixed, also fixed an issue where App Only users would not show as logged in on the user management page (#4848)
  src/Ombi.Notifications/Agents/DiscordNotification.cs
  src/Ombi.Tests/Middlewear/ApiKeyMiddlewearTests.cs
  src/Ombi.Tests/Ombi.Tests.csproj
  src/Ombi/Middleware/ApiKeyMiddlewear.cs
Labels: backend

chore(release): :rocket: v4.35.3 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

bug(#4854): 🐛 Fixed the Recently Requested showing requests when it should be hidden
  src/Ombi.Core.Tests/Services/RecentlyRequestedServiceTests.cs
  src/Ombi.Core/Services/RecentlyRequestedService.cs
Labels: backend

fix(discover): :bug: Fixed the default poster not taking into account the base url in some scenarios #4845
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.ts
Labels: frontend

fix(Hide music from navbar and request list when not enabled): :bug:
  src/Ombi/ClientApp/src/app/app.module.ts
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.ts
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.html
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/index.ts
  src/Ombi/ClientApp/src/app/requests-list/components/requests-list.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/requests-list.component.ts
  src/Ombi/ClientApp/src/app/services/applications/lidarr.service.ts
  src/Ombi/ClientApp/src/app/shared/advanced-search-dialog/advanced-search-dialog-data.service.ts
  src/Ombi/Controllers/V1/External/LidarrController.cs
Labels: frontend, backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.35.4 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Update radarr-form.component.html
  src/Ombi/ClientApp/src/app/settings/radarr/components/radarr-form.component.html
Labels: frontend

fix(radarr-settings): 🐛 Fixed a typo
  src/Ombi/ClientApp/src/app/settings/radarr/components/radarr-form.component.html
Labels: frontend

chore(release): :rocket: v4.35.5 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
