Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

Fix non-admin discover card tests failing due to localStorage timing
  tests/cypress/tests/discover/discover-cards-requests.spec.ts
Labels: automation

Fix non-admin discover card tests failing due to localStorage timing
  tests/cypress/tests/discover/discover-cards-requests.spec.ts
Labels: automation

Fix Cypress test TypeScript compilation errors
  tests/cypress.config.ts
  tests/cypress/features/01-wizard/wizard.ts
  tests/cypress/features/login/login.ts
  tests/cypress/integration/page-objects/shared/DiscoverCard.ts
  tests/cypress/tests/details/tv/tvdetails-requests-grid.spec.ts
  tests/cypress/tests/discover/discover-cards-requests.spec.ts
  tests/cypress/tests/discover/discover-responsive.spec.ts
  tests/cypress/tests/requests/requests.spec.ts
Labels: automation

Fix non-admin movie request test by intercepting POST request
  tests/cypress/tests/discover/discover-cards-requests.spec.ts
Labels: automation

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.57.8 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.57.8 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Fix all discover card request tests for deterministic execution
  tests/cypress/tests/discover/discover-cards-requests.spec.ts
Labels: automation

Fix all discover card request tests for deterministic execution
  tests/cypress/tests/discover/discover-cards-requests.spec.ts
Labels: automation

Address PR review feedback
  tests/cypress/integration/page-objects/shared/DiscoverCard.ts
  tests/cypress/tests/discover/discover-cards-requests.spec.ts
Labels: automation

Address PR review feedback
  tests/cypress/integration/page-objects/shared/DiscoverCard.ts
  tests/cypress/tests/discover/discover-cards-requests.spec.ts
Labels: automation

Fix TV request intercept to match correct API endpoint
  tests/cypress/tests/discover/discover-cards-requests.spec.ts
Labels: automation

Fix TV request intercept to match correct API endpoint
  tests/cypress/tests/discover/discover-cards-requests.spec.ts
Labels: automation

Add trailing slash to TV request intercept pattern
  tests/cypress/tests/discover/discover-cards-requests.spec.ts
Labels: automation

Add trailing slash to TV request intercept pattern
  tests/cypress/tests/discover/discover-cards-requests.spec.ts
Labels: automation

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.57.9 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.57.9 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.57.10 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.57.10 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.57.11 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.57.11 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Improve discover page: hero banner, TV poster fix, eager loading
  src/Ombi.Core/Models/Search/SearchTvShowViewModel.cs
  src/Ombi.Mapping/Profiles/TvProfile.cs
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.ts
  src/Ombi/ClientApp/src/app/discover/components/discover/discover.component.html
  src/Ombi/ClientApp/src/app/discover/components/discover/discover.component.scss
  src/Ombi/ClientApp/src/app/discover/components/discover/discover.component.ts
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.html
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.scss
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.ts
  src/Ombi/ClientApp/src/app/discover/components/index.ts
  src/Ombi/ClientApp/src/app/interfaces/ISearchTvResult.ts
  src/Ombi/wwwroot/translations/en.json
Labels: frontend, backend

Improve discover page: hero banner, TV poster fix, eager loading
  src/Ombi.Core/Models/Search/SearchTvShowViewModel.cs
  src/Ombi.Mapping/Profiles/TvProfile.cs
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.ts
  src/Ombi/ClientApp/src/app/discover/components/discover/discover.component.html
  src/Ombi/ClientApp/src/app/discover/components/discover/discover.component.scss
  src/Ombi/ClientApp/src/app/discover/components/discover/discover.component.ts
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.html
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.scss
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.ts
  src/Ombi/ClientApp/src/app/discover/components/index.ts
  src/Ombi/ClientApp/src/app/interfaces/ISearchTvResult.ts
  src/Ombi/wwwroot/translations/en.json
Labels: frontend, backend

Add unit tests for discover page improvements
  src/Ombi.Core.Tests/Ombi.Core.Tests.csproj
  src/Ombi.Core.Tests/TvProfileMappingTests.cs
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.spec.ts
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.spec.ts
Labels: frontend, backend

Add unit tests for discover page improvements
  src/Ombi.Core.Tests/Ombi.Core.Tests.csproj
  src/Ombi.Core.Tests/TvProfileMappingTests.cs
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.spec.ts
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.spec.ts
Labels: frontend, backend

Fix TvProfile mapping test: remove AssertConfigurationIsValid
  src/Ombi.Core.Tests/TvProfileMappingTests.cs
Labels: backend

Fix TvProfile mapping test: remove AssertConfigurationIsValid
  src/Ombi.Core.Tests/TvProfileMappingTests.cs
Labels: backend

Address code review feedback from CodeRabbit
  src/Ombi.Core.Tests/TvProfileMappingTests.cs
  src/Ombi.Mapping/Profiles/TvProfile.cs
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.spec.ts
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.ts
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.html
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.spec.ts
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.ts
Labels: frontend, backend

Address code review feedback from CodeRabbit
  src/Ombi.Core.Tests/TvProfileMappingTests.cs
  src/Ombi.Mapping/Profiles/TvProfile.cs
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.spec.ts
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.ts
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.html
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.spec.ts
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.ts
Labels: frontend, backend

Address second round of CodeRabbit review feedback
  src/Ombi.Core.Tests/TvProfileMappingTests.cs
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.html
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.scss
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.spec.ts
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.ts
Labels: frontend, backend

Address second round of CodeRabbit review feedback
  src/Ombi.Core.Tests/TvProfileMappingTests.cs
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.html
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.scss
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.spec.ts
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.ts
Labels: frontend, backend

Use dynamic aria-label on pause/play toggle button
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.html
Labels: frontend

Use dynamic aria-label on pause/play toggle button
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.html
Labels: frontend

chore(release): :rocket: v4.57.12 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.57.12 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Fix SonarCloud reliability: use typed state instead of dynamic properties
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.ts
Labels: frontend

Redesign TV request UX with unified inline experience
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.scss
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.ts
  src/Ombi/wwwroot/translations/en.json
Labels: frontend
