Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

Add Cron Next Time Validation
  src/Ombi.Settings/Settings/Models/JobSettingsHelper.cs
  src/Ombi/Controllers/V1/SettingsController.cs
Labels: backend

Add Missing Import
  src/Ombi.Settings/Settings/Models/JobSettingsHelper.cs
  src/Ombi/Controllers/V1/SettingsController.cs
Labels: backend

fix(discover): Fix denied requests displayed as approved
  src/Ombi.Core/Models/Requests/RecentlyRequestedModel.cs
  src/Ombi.Core/Services/RecentlyRequestedService.cs
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.ts
  src/Ombi/ClientApp/src/app/interfaces/IRecentlyRequested.ts
Labels: frontend, backend

fix: Fix denied movie shown as 'processing request' in details view
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-information-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-information-panel.component.ts
Labels: frontend

fix: Support duplicates in Emby/JF collections
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinContentSync.cs
Labels: backend

fix: Support duplicates in Emby/JF collections (#4902)
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinContentSync.cs
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.35.16 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(discover): Fix denied requests displayed as approved (#4901)
  src/Ombi.Core/Models/Requests/RecentlyRequestedModel.cs
  src/Ombi.Core/Services/RecentlyRequestedService.cs
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.ts
  src/Ombi/ClientApp/src/app/interfaces/IRecentlyRequested.ts
Labels: frontend, backend

fix: Fix denied movie shown as 'processing request' in details view (#4900)
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-information-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-information-panel.component.ts
Labels: frontend

chore(release): :rocket: v4.35.17 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(#4906): :bug: Fixed an issue with power users and permissions
  src/Ombi/ClientApp/src/app/state/radarr/radarr.state.ts
  src/Ombi/ClientApp/src/app/state/sonarr/sonarr.state.ts
Labels: frontend

chore(release): :rocket: v4.35.18 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

feat(discover): Add deny option to recently requested
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.html
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.scss
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.ts
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.html
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.ts
  src/Ombi/wwwroot/translations/en.json
Labels: frontend

fix(radarr): Fixed an issue where the radarr sync would break
  src/Ombi.Schedule/Jobs/Radarr/RadarrSync.cs
Labels: backend

chore(release): :rocket: v4.35.19 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

feat(discover): Add deny option to recently requested (#4907)
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.html
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.scss
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.ts
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.html
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.ts
  src/Ombi/wwwroot/translations/en.json
Labels: frontend

chore(release): :rocket: v4.36.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/hu.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/bg.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ca.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/cs.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/da.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/de.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/it.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/nl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/no.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ru.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sk.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sv.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh-TW.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt-BR.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

fix(healthchecks): Removed redundant ping check
  src/Ombi.HealthChecks/Checks/OmbiPingHealthCheck.cs
  src/Ombi.HealthChecks/Checks/OmbiPingHealthCheckOptions.cs
  src/Ombi.HealthChecks/Checks/PlexHealthCheck.cs
  src/Ombi.HealthChecks/HealthCheckExtensions.cs
Labels: backend

chore(release): :rocket: v4.36.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
