Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ca.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ca.json
Labels: none

🌐 Translations Update (#4775)
  src/Ombi/wwwroot/translations/ca.json
Labels: none

Consistently reset loading flag when requesting movies on discover page.
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.ts
  src/Ombi/ClientApp/src/app/discover/components/collections/discover-collections.component.html
Labels: frontend

Partially Available prevents further TV requests (#4768)
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.ts
Labels: frontend

Unable to Delete Jellyfin Server (#4705)
  src/Ombi/ClientApp/src/app/settings/emby/emby.component.html
  src/Ombi/ClientApp/src/app/settings/emby/emby.component.ts
  src/Ombi/ClientApp/src/app/settings/jellyfin/jellyfin.component.html
  src/Ombi/ClientApp/src/app/settings/jellyfin/jellyfin.component.ts
Labels: frontend

New version available even just upgraded to the last one (#4719)
  src/Ombi.Schedule/Processor/ChangeLogProcessor.cs
Labels: backend

Provide a flag for missing users on Plex Server (#4688)
  src/Ombi.Schedule.Tests/PlexUserImporterTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexUserImporter.cs
  src/Ombi.Settings/Settings/Models/UserManagementSettings.cs
  src/Ombi/ClientApp/src/app/interfaces/ISettings.ts
  src/Ombi/ClientApp/src/app/settings/usermanagement/usermanagement.component.html
Labels: frontend, backend

fix: Reworked the version check (#4719) (#4781)
  src/Ombi.Schedule/Processor/ChangeLogProcessor.cs
Labels: backend

fix(plex): :bug: Fixed not being able to enable watchlist requests in the Plex settings
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.html
Labels: frontend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.28.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

feat: Provide a flag for missing users on Plex Server (#4688) (#4778)
  src/Ombi.Schedule.Tests/PlexUserImporterTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexUserImporter.cs
  src/Ombi.Settings/Settings/Models/UserManagementSettings.cs
  src/Ombi/ClientApp/src/app/interfaces/ISettings.ts
  src/Ombi/ClientApp/src/app/settings/usermanagement/usermanagement.component.html
Labels: frontend, backend

fix: Unable to Delete Jellyfin Server (#4705) (#4780)
  src/Ombi/ClientApp/src/app/settings/emby/emby.component.html
  src/Ombi/ClientApp/src/app/settings/emby/emby.component.ts
  src/Ombi/ClientApp/src/app/settings/jellyfin/jellyfin.component.html
  src/Ombi/ClientApp/src/app/settings/jellyfin/jellyfin.component.ts
Labels: frontend

fix: Partially Available prevents further TV requests (#4768) (#4779)
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.ts
Labels: frontend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.29.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

wip
  src/Ombi/ClientApp/src/app/settings/plex/components/models/PlexServerDialogData.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/models/index.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-server-dialog/plex-server-dialog.component.html
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-server-dialog/plex-server-dialog.component.scss
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-server-dialog/plex-server-dialog.component.ts
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.html
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.scss
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.ts
  src/Ombi/ClientApp/src/app/settings/settings.module.ts
Labels: frontend

fix: Consistently reset loading flag when requesting movies on discover page. (#4777)
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.ts
  src/Ombi/ClientApp/src/app/discover/components/collections/discover-collections.component.html
Labels: frontend

fix(sonarr): :bug: Fixed an issue where the language list didn't correctly load for power users in the advanced options #4782
  src/Ombi/ClientApp/src/app/shared/admin-request-dialog/admin-request-dialog.component.ts
Labels: frontend

chore(release): :rocket: v4.29.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/nl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/nl.json
Labels: none

fix(plex): Fixed an issue where sometimes the availability checker would throw an exception when checking episodes
  src/Ombi.Schedule/Jobs/Plex/PlexAvailabilityChecker.cs
Labels: backend

chore: fixed tests
  src/Ombi.Schedule.Tests/PlexAvailabilityCheckerTests.cs
Labels: backend

chore(release): :rocket: v4.29.2 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Update app.component.ts
  src/Ombi/ClientApp/src/app/app.component.ts
Labels: frontend

Update user-preference.constants.ts
  src/Ombi/ClientApp/src/app/user-preferences/components/user-preference/user-preference.constants.ts
Labels: frontend

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh.json
Labels: none

Only log error messages from Microsoft
  src/Ombi/appsettings.json
Labels: none

Recreates Emby configuration page with a simpler layout.
  src/Ombi/ClientApp/src/app/settings/emby/emby-server-dialog/emby-server-dialog.component.html
  src/Ombi/ClientApp/src/app/settings/emby/emby-server-dialog/emby-server-dialog.component.scss
  src/Ombi/ClientApp/src/app/settings/emby/emby-server-dialog/emby-server-dialog.component.ts
  src/Ombi/ClientApp/src/app/settings/emby/emby.component.html
  src/Ombi/ClientApp/src/app/settings/emby/emby.component.scss
  src/Ombi/ClientApp/src/app/settings/emby/emby.component.ts
  src/Ombi/ClientApp/src/app/settings/settings.module.ts
Labels: frontend

Adjusts the margins. Resets enable toggle on failure to save. Improves an error message.
  src/Ombi/ClientApp/src/app/settings/emby/emby.component.html
  src/Ombi/ClientApp/src/app/settings/emby/emby.component.ts
Labels: frontend

Removes console.log() statements.
  src/Ombi/ClientApp/src/app/settings/emby/emby.component.ts
Labels: frontend

fix: Only log error messages from Microsoft (#4787)
  src/Ombi/appsettings.json
Labels: none

🌐 Translations Update (#4784)
  src/Ombi/wwwroot/translations/nl.json
  src/Ombi/wwwroot/translations/zh.json
Labels: none

Fix default images ignoring baseURL
  src/Ombi/ClientApp/src/app/components/image/image.component.ts
Labels: frontend

fix(notifications): Fixed the Partially TV notifications going to the admin #4797
  src/Ombi.Notifications/Agents/MobileNotification.cs
Labels: backend

fix(notifications): Fixed the Partially TV notifications going to the admin #4797 (#4799)
  src/Ombi.Notifications/Agents/MobileNotification.cs
Labels: backend

chore(release): :rocket: v4.29.3 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sk.json
Labels: none
