Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt-BR.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/de.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/it.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sv.json
Labels: none

Fix incorrect request status for denied movies in discover card
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.scss
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.ts
  src/Ombi/ClientApp/src/app/interfaces/ISearchMovieResultV2.ts
Labels: frontend

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/de.json
Labels: none

Enhance display of denied TV shows
  src/Ombi.Core/Engine/V2/TvSearchEngineV2.cs
  src/Ombi.Core/Models/Search/SearchTvShowViewModel.cs
  src/Ombi.Core/Models/Search/V2/SearchFullInfoTvShowViewModel.cs
  src/Ombi.Core/Rule/Rules/Search/ExistingRule.cs
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.ts
  src/Ombi/ClientApp/src/app/interfaces/ISearchTvResultV2.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.html
Labels: frontend, backend

Fix optional bool case
  src/Ombi.Core/Rule/Rules/Search/ExistingRule.cs
Labels: backend

Fix optional bool for good
  src/Ombi.Core/Rule/Rules/Search/ExistingRule.cs
Labels: backend

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/da.json
Labels: none

chore(release): :rocket: v4.16.1
  CHANGELOG.md
  version.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

fix(wizard): Fixed an issue when using Plex OAuth it could fail setting up
  src/Ombi/Controllers/V1/IdentityController.cs
Labels: backend

chore(release): :rocket: v4.16.2
  CHANGELOG.md
  version.json
Labels: none

Better color code for request statuses
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.scss
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.scss
Labels: frontend

Better 'denied' request status for TV shows
  src/Ombi.Core/Engine/V2/TvSearchEngineV2.cs
  src/Ombi.Core/Models/Search/SearchTvShowViewModel.cs
  src/Ombi.Core/Models/Search/V2/SearchFullInfoTvShowViewModel.cs
  src/Ombi.Core/Rule/Rules/Search/ExistingRule.cs
  src/Ombi.Store/Entities/Requests/SeasonRequests.cs
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.ts
  src/Ombi/ClientApp/src/app/interfaces/ISearchTvResultV2.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.html
Labels: frontend, backend

fix(plex-watchlist): :bug: Fixed the issue where the watchlist didn't work for users logging in via OAuth
  src/Ombi/ClientApp/src/app/wizard/createadmin/createadmin.component.html
  src/Ombi/ClientApp/src/app/wizard/ombiconfig/ombiconfig.component.html
  src/Ombi/ClientApp/src/app/wizard/welcome/welcome.component.html
  src/Ombi/Controllers/V1/TokenController.cs
Labels: frontend, backend

chore(release): :rocket: v4.16.3
  CHANGELOG.md
  version.json
Labels: none

Add Deny option to requests list
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/options/request-options.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/options/request-options.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/requests-list.component.ts
  src/Ombi/ClientApp/src/app/requests-list/models/UpdateType.ts
  src/Ombi/wwwroot/translations/en.json
Labels: frontend

bug(watchlist): Added more logging around the watchlist feature for better debugging
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

chore(release): :rocket: v4.16.4
  CHANGELOG.md
  version.json
Labels: none

fix(watchlist): actually fixed it this time...
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

chore(release): :rocket: v4.16.5
  CHANGELOG.md
  version.json
Labels: none

Lint it first
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
Labels: frontend

Fix subscribe button displayed only if 4K is enabled
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
Labels: frontend

Deprecate subscribed state in Search service
  src/Ombi.Core/Engine/MovieSearchEngine.cs
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
  src/Ombi.Core/Models/Search/SearchViewModel.cs
Labels: backend

Fix movie request subscribed status
  src/Ombi.Core/Engine/MovieRequestEngine.cs
Labels: backend

Use movie request subscribed status instead of search
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
Labels: frontend

Allow admins to subscribe too!
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
Labels: frontend

Fix regression when request is not made
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
Labels: frontend

Restore Subscribed field in search service
  src/Ombi.Core/Engine/MovieSearchEngine.cs
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
Labels: backend

Attempt at simplifying Sonarr sync
  src/Ombi.Core/Senders/TvSender.cs
Labels: backend

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/it.json
Labels: none

Await the API calls for now
  src/Ombi.Core/Senders/TvSender.cs
Labels: backend

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/it.json
Labels: none

added the watchlist history
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
  src/Ombi.Store/Context/ExternalContext.cs
  src/Ombi.Store/Entities/PlexWatchlistHistory.cs
Labels: backend

Added the watchlist migrations
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
  src/Ombi.Store/Migrations/ExternalMySql/20220411193943_WatchlistHistory.Designer.cs
  src/Ombi.Store/Migrations/ExternalMySql/20220411193943_WatchlistHistory.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20220411193827_WatchlistHistory.Designer.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20220411193827_WatchlistHistory.cs
  src/Ombi.Store/Migrations/ExternalSqlite/ExternalSqliteContextModelSnapshot.cs
  src/Ombi/Properties/launchSettings.json
Labels: backend

chore(release): :rocket: v4.16.6
  CHANGELOG.md
  version.json
Labels: none

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
