Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/de.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/hu.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/it.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/nl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/no.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ru.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sk.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sv.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh-TW.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt-BR.json
Labels: none

Fix all code quality issues and add comprehensive unit tests
  src/Ombi.Notifications.Templates/EmailBasicTemplate.cs
  src/Ombi.Notifications.Templates/IEmailBasicTemplate.cs
  src/Ombi.Notifications.Tests/EmailBasicTemplateTests.cs
  src/Ombi.Notifications.Tests/Ombi.Notifications.Tests.csproj
  src/Ombi/ClientApp/src/app/settings/notifications/emailnotification.component.ts
Labels: frontend, backend

Add ItemUrl email template variable for direct media links
  src/Ombi.Notifications.Templates/EmailBasicTemplate.cs
  src/Ombi.Notifications.Templates/IEmailBasicTemplate.cs
  src/Ombi.Notifications/Agents/EmailNotification.cs
  src/Ombi.Notifications/GenericEmailProvider.cs
  src/Ombi.Notifications/NotificationMessageCurlys.cs
  src/Ombi.Settings/Settings/Models/Notifications/EmailNotificationSettings.cs
  src/Ombi/ClientApp/src/app/interfaces/INotificationSettings.ts
  src/Ombi/ClientApp/src/app/settings/notifications/emailnotification.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/emailnotification.component.ts
Labels: frontend, backend

Address CodeRabbit review: clean up edge case tests
  src/Ombi.Notifications.Tests/EmailBasicTemplateTests.cs
Labels: backend

Fix TemplateLocation test to use fresh instance unmodified by SetUp reflection
  src/Ombi.Notifications.Tests/EmailBasicTemplateTests.cs
Labels: backend

Address PR review feedback: security and correctness fixes
  src/Ombi.Notifications.Templates/EmailBasicTemplate.cs
  src/Ombi.Notifications.Tests/EmailBasicTemplateTests.cs
  src/Ombi.Notifications/NotificationMessageCurlys.cs
Labels: backend

HTML-encode logo in email template and deduplicate GetDetailsUrl call
  src/Ombi.Notifications.Templates/EmailBasicTemplate.cs
  src/Ombi.Notifications/NotificationMessageCurlys.cs
Labels: backend

Redesign login page with modern glassmorphism UI
  src/Ombi/ClientApp/src/app/components/image-background/image-background.component.scss
  src/Ombi/ClientApp/src/app/login/login.component.html
  src/Ombi/ClientApp/src/app/login/login.component.scss
  src/Ombi/ClientApp/src/app/login/login.component.ts
  src/Ombi/ClientApp/src/index.html
Labels: frontend

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

Revert "Upgrade backend from .NET 8 to .NET 10"
  .github/workflows/automation-tests.yml
  .github/workflows/build.yml
  .github/workflows/pr.yml
  CONTRIBUTING.md
  global.json
  scripts/setup-dev.sh
  src/Ombi.Api.External/Ombi.Api.External.csproj
  src/Ombi.Api/Ombi.Api.csproj
  src/Ombi.Core.Tests/Ombi.Core.Tests.csproj
  src/Ombi.Core/Ombi.Core.csproj
  src/Ombi.DependencyInjection/Ombi.DependencyInjection.csproj
  src/Ombi.HealthChecks/Ombi.HealthChecks.csproj
  src/Ombi.Helpers.Tests/Ombi.Helpers.Tests.csproj
  src/Ombi.Helpers/LinqHelpers.cs
  src/Ombi.Helpers/Ombi.Helpers.csproj
  src/Ombi.Hubs/Ombi.Hubs.csproj
  src/Ombi.I18n/Ombi.I18n.csproj
  src/Ombi.Mapping/Ombi.Mapping.csproj
  src/Ombi.Notifications.Templates/Ombi.Notifications.Templates.csproj
  src/Ombi.Notifications.Tests/Ombi.Notifications.Tests.csproj
  src/Ombi.Notifications/Ombi.Notifications.csproj
  src/Ombi.Schedule.Tests/Ombi.Schedule.Tests.csproj
  src/Ombi.Schedule/Ombi.Schedule.csproj
  src/Ombi.Settings.Tests/Ombi.Settings.Tests.csproj
  src/Ombi.Settings/Ombi.Settings.csproj
  src/Ombi.Store/Ombi.Store.csproj
  src/Ombi.Test.Common/Ombi.Test.Common.csproj
  src/Ombi.Tests/Ombi.Tests.csproj
  src/Ombi.Updater/Ombi.Updater.csproj
  src/Ombi/Extensions/DatabaseExtensions.cs
  src/Ombi/Ombi.csproj
  src/dockerfile
Labels: backend, devops

Revert "Upgrade backend from .NET 8 to .NET 10" (#5384)
  .github/workflows/automation-tests.yml
  .github/workflows/build.yml
  .github/workflows/pr.yml
  CONTRIBUTING.md
  global.json
  scripts/setup-dev.sh
  src/Ombi.Api.External/Ombi.Api.External.csproj
  src/Ombi.Api/Ombi.Api.csproj
  src/Ombi.Core.Tests/Ombi.Core.Tests.csproj
  src/Ombi.Core/Ombi.Core.csproj
  src/Ombi.DependencyInjection/Ombi.DependencyInjection.csproj
  src/Ombi.HealthChecks/Ombi.HealthChecks.csproj
  src/Ombi.Helpers.Tests/Ombi.Helpers.Tests.csproj
  src/Ombi.Helpers/LinqHelpers.cs
  src/Ombi.Helpers/Ombi.Helpers.csproj
  src/Ombi.Hubs/Ombi.Hubs.csproj
  src/Ombi.I18n/Ombi.I18n.csproj
  src/Ombi.Mapping/Ombi.Mapping.csproj
  src/Ombi.Notifications.Templates/Ombi.Notifications.Templates.csproj
  src/Ombi.Notifications.Tests/Ombi.Notifications.Tests.csproj
  src/Ombi.Notifications/Ombi.Notifications.csproj
  src/Ombi.Schedule.Tests/Ombi.Schedule.Tests.csproj
  src/Ombi.Schedule/Ombi.Schedule.csproj
  src/Ombi.Settings.Tests/Ombi.Settings.Tests.csproj
  src/Ombi.Settings/Ombi.Settings.csproj
  src/Ombi.Store/Ombi.Store.csproj
  src/Ombi.Test.Common/Ombi.Test.Common.csproj
  src/Ombi.Tests/Ombi.Tests.csproj
  src/Ombi.Updater/Ombi.Updater.csproj
  src/Ombi/Extensions/DatabaseExtensions.cs
  src/Ombi/Ombi.csproj
  src/dockerfile
Labels: backend, devops

Revert "Upgrade backend from .NET 8 to .NET 10" (#5384)
  .github/workflows/automation-tests.yml
  .github/workflows/build.yml
  .github/workflows/pr.yml
  CONTRIBUTING.md
  global.json
  scripts/setup-dev.sh
  src/Ombi.Api.External/Ombi.Api.External.csproj
  src/Ombi.Api/Ombi.Api.csproj
  src/Ombi.Core.Tests/Ombi.Core.Tests.csproj
  src/Ombi.Core/Ombi.Core.csproj
  src/Ombi.DependencyInjection/Ombi.DependencyInjection.csproj
  src/Ombi.HealthChecks/Ombi.HealthChecks.csproj
  src/Ombi.Helpers.Tests/Ombi.Helpers.Tests.csproj
  src/Ombi.Helpers/LinqHelpers.cs
  src/Ombi.Helpers/Ombi.Helpers.csproj
  src/Ombi.Hubs/Ombi.Hubs.csproj
  src/Ombi.I18n/Ombi.I18n.csproj
  src/Ombi.Mapping/Ombi.Mapping.csproj
  src/Ombi.Notifications.Templates/Ombi.Notifications.Templates.csproj
  src/Ombi.Notifications.Tests/Ombi.Notifications.Tests.csproj
  src/Ombi.Notifications/Ombi.Notifications.csproj
  src/Ombi.Schedule.Tests/Ombi.Schedule.Tests.csproj
  src/Ombi.Schedule/Ombi.Schedule.csproj
  src/Ombi.Settings.Tests/Ombi.Settings.Tests.csproj
  src/Ombi.Settings/Ombi.Settings.csproj
  src/Ombi.Store/Ombi.Store.csproj
  src/Ombi.Test.Common/Ombi.Test.Common.csproj
  src/Ombi.Tests/Ombi.Tests.csproj
  src/Ombi.Updater/Ombi.Updater.csproj
  src/Ombi/Extensions/DatabaseExtensions.cs
  src/Ombi/Ombi.csproj
  src/dockerfile
Labels: backend, devops

chore(release): :rocket: v4.57.18 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.57.18 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix: the post path on the requests page for TV
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.html
Labels: frontend

fix: the post path on the requests page for TV
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.html
Labels: frontend

chore(release): :rocket: v4.57.19 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.57.19 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Fix i18n and accessibility issues in login page
  src/Ombi/ClientApp/src/app/login/login.component.html
  src/Ombi/wwwroot/translations/en.json
Labels: frontend

Run E2E tests against MySQL, PostgreSQL, and SQLite
  .github/workflows/automation-tests.yml
  tests/cypress.config.ts
  tests/package.json
Labels: automation, devops

Use separate Cypress record keys per database project
  .github/workflows/automation-tests.yml
Labels: devops

Improve accessibility for login form inputs and password toggle
  src/Ombi/ClientApp/src/app/login/login.component.html
  src/Ombi/wwwroot/translations/en.json
Labels: frontend

Improvements based on #5356
  src/Ombi.Schedule/Jobs/Emby/EmbyAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
  src/Ombi.Store/Repository/EmbyContentRepository.cs
  src/Ombi.Store/Repository/IEmbyContentRepository.cs
Labels: backend

Prevent duplicate OAuth submissions on Plex button
  src/Ombi/ClientApp/src/app/login/login.component.html
  src/Ombi/ClientApp/src/app/login/login.component.scss
  src/Ombi/ClientApp/src/app/login/login.component.ts
Labels: frontend

Fix OAuth error handling and improve checkbox accessibility
  src/Ombi/ClientApp/src/app/login/login.component.scss
  src/Ombi/ClientApp/src/app/login/login.component.ts
Labels: frontend

Run E2E tests against MySQL, PostgreSQL, and SQLite (#5386) [skip ci]
  .github/workflows/automation-tests.yml
  tests/cypress.config.ts
  tests/package.json
Labels: automation, devops

Run E2E tests against MySQL, PostgreSQL, and SQLite (#5386) [skip ci]
  .github/workflows/automation-tests.yml
  tests/cypress.config.ts
  tests/package.json
Labels: automation, devops

Address PR review feedback: fix duplicate key crash, batch upserts, clean up retry logic
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
  src/Ombi.Store/Repository/EmbyContentRepository.cs
Labels: backend
