Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.59.5 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.53.6 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(ci): Remove all upstream actions
  .github/workflows/automation-tests.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/contributor-recognition.yml
  .github/workflows/contributors.yml
  .github/workflows/first-time-contributor.yml
  .github/workflows/label.yml
  .github/workflows/pr-report.yml
  .github/workflows/pr.yml
Labels: devops

refactor(identity): require ApplicationUrl for password reset emails
  src/Ombi/Controllers/V1/IdentityController.cs
Labels: backend

refactor(identity): scope ApplicationUrl guard to local-user reset branch
  src/Ombi/Controllers/V1/IdentityController.cs
Labels: backend

refactor(identity): require ApplicationUrl for password reset emails (#5415)
  src/Ombi/Controllers/V1/IdentityController.cs
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.53.7 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

main release (#5416)
  CHANGELOG.md
  README.md
  src/Ombi/Controllers/V1/IdentityController.cs
  version.json
Labels: backend

chore(release): :rocket: v4.53.8 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Update version.json
  version.json
Labels: none

Update version.json [skip-ci]
  version.json
Labels: none

Update version.json
  version.json
Labels: none

chore(release): :rocket: v4.53.10 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Fix Plex user import crash on unauthorized token (#5418)
  src/Ombi.Api/Api.cs
  src/Ombi.Schedule.Tests/PlexUserImporterTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexUserImporter.cs
Labels: backend

Evict failed responses from the API cache
  src/Ombi.Api/Api.cs
Labels: backend

Upgrade Angular frontend from v20 to v22
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/src/app/app.component.ts
  src/Ombi/ClientApp/src/tsconfig.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

Upgrade Angular Material and CDK to v22
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/src/app/media-details/components/shared/cast-carousel/cast-carousel.component.scss
  src/Ombi/ClientApp/src/app/media-details/components/shared/crew-carousel/crew-carousel.component.scss
  src/Ombi/ClientApp/src/app/media-details/media-details.component.scss
  src/Ombi/ClientApp/src/app/settings/themoviedb/themoviedb.component.html
  src/Ombi/ClientApp/src/app/shared/components/genre-select/genre-select.component.html
  src/Ombi/ClientApp/src/app/shared/components/keyword-search/keyword-search.component.html
  src/Ombi/ClientApp/src/app/shared/components/watch-providers-select/watch-providers-select.component.html
  src/Ombi/ClientApp/src/styles/Styles.scss
  src/Ombi/ClientApp/src/styles/_mat-theming-shim.scss
  src/Ombi/ClientApp/src/styles/variables.scss
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

Fix Angular 22 runtime regressions surfaced by Cypress
  src/Ombi/ClientApp/src/app/landingpage/landingpage.component.ts
  src/Ombi/ClientApp/src/app/shared/global-error-handler.ts
  src/Ombi/ClientApp/src/main.ts
  tests/cypress/features/01-wizard/wizard.ts
Labels: automation, frontend

Render login page under Angular 22; document change-detection regression
  ANGULAR_22_UPGRADE_STATUS.md
  src/Ombi/ClientApp/src/app/login/login.component.ts
Labels: frontend

Document root cause: duplicate ApplicationRef breaks change detection
  ANGULAR_22_UPGRADE_STATUS.md
Labels: none

Fix Angular 22 change-detection regression for routed views
  ANGULAR_22_UPGRADE_STATUS.md
  src/Ombi/ClientApp/src/app/app.component.ts
  src/Ombi/ClientApp/src/app/landingpage/landingpage.component.ts
  src/Ombi/ClientApp/src/app/login/login.component.ts
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.ts
  src/Ombi/ClientApp/src/app/settings/settings.component.ts
  src/Ombi/ClientApp/src/app/shared/cd-pump.service.ts
  src/Ombi/ClientApp/src/app/shared/outlet-attach.directive.ts
  src/Ombi/ClientApp/src/main.ts
Labels: frontend

fix(tv): materialize TV request search before filtering to avoid EF Core translation error
  src/Ombi.Core/Engine/TvRequestEngine.cs
Labels: backend

ci: remove duplicate 'spec' key in automation-tests smoke step
  .github/workflows/automation-tests.yml
Labels: devops

fix(tv): materialize TV request search before filtering to avoid EF Core 500 (#5421)
  .github/workflows/automation-tests.yml
  src/Ombi.Core/Engine/TvRequestEngine.cs
Labels: backend, devops

chore(release): :rocket: v4.53.9 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Harden Emby sync against partial failures (#5356)
  src/Ombi.Helpers/OmbiQuartz.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
  src/Ombi.Schedule/Jobs/Ombi/MediaDatabaseRefresh.cs
Labels: backend

Add unit tests for the Emby sync hardening
  src/Ombi.Helpers/OmbiQuartz.cs
  src/Ombi.Schedule.Tests/EmbyContentSyncTests.cs
  src/Ombi.Schedule.Tests/EmbyEpisodeSyncTests.cs
  src/Ombi.Schedule.Tests/OmbiQuartzTests.cs
Labels: backend

Harden Emby sync against partial failures (#5356) (#5423)
  src/Ombi.Helpers/OmbiQuartz.cs
  src/Ombi.Schedule.Tests/EmbyContentSyncTests.cs
  src/Ombi.Schedule.Tests/EmbyEpisodeSyncTests.cs
  src/Ombi.Schedule.Tests/OmbiQuartzTests.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
  src/Ombi.Schedule/Jobs/Ombi/MediaDatabaseRefresh.cs
Labels: backend

feat(requests): add compact view, sorting and user filtering to requests list
  src/Ombi.Core/Engine/BaseMediaEngine.cs
  src/Ombi.Core/Engine/IMusicRequestEngine.cs
  src/Ombi.Core/Engine/Interfaces/IMovieRequestEngine.cs
  src/Ombi.Core/Engine/Interfaces/ITvRequestEngine.cs
  src/Ombi.Core/Engine/MovieRequestEngine.cs
  src/Ombi.Core/Engine/MusicRequestEngine.cs
  src/Ombi.Core/Engine/TvRequestEngine.cs
  src/Ombi/ClientApp/src/app/requests-list/components/_shared-card-grid.scss
  src/Ombi/ClientApp/src/app/requests-list/components/albums-grid/albums-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/albums-grid/albums-grid.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/base-grid/base-grid.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.spec.ts
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.ts
  src/Ombi/ClientApp/src/app/services/requestV2.service.ts
  src/Ombi/Controllers/V2/RequestsController.cs
  src/Ombi/wwwroot/translations/en.json
Labels: frontend, backend

chore: relax global.json SDK rollForward to latestMajor
  global.json
Labels: none

style(requests): redesign toolbar with cohesive pill controls
  src/Ombi/ClientApp/src/app/requests-list/components/_shared-card-grid.scss
  src/Ombi/ClientApp/src/app/requests-list/components/albums-grid/albums-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/albums-grid/albums-grid.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/base-grid/base-grid.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.ts
Labels: frontend

style(requests): align Select All with the pill toolbar design
  src/Ombi/ClientApp/src/app/requests-list/components/_shared-card-grid.scss
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.html
Labels: frontend

fix: address CodeRabbit review — safer SDK roll-forward and stylelint block disable
  global.json
  src/Ombi/ClientApp/src/app/requests-list/components/_shared-card-grid.scss
Labels: frontend

fix(engines): address self-review findings — auth, null-ref, and double-query bugs
  src/Ombi.Core/Engine/BaseMediaEngine.cs
  src/Ombi.Core/Engine/MovieRequestEngine.cs
  src/Ombi.Core/Engine/MusicRequestEngine.cs
  src/Ombi.Core/Engine/TvRequestEngine.cs
Labels: backend

perf(engines): push ORDER BY to DB; fix TV paginator total after DistinctBy
  src/Ombi.Core/Engine/MovieRequestEngine.cs
  src/Ombi.Core/Engine/MusicRequestEngine.cs
  src/Ombi.Core/Engine/TvRequestEngine.cs
Labels: backend

test: fix IAsyncQueryProvider failures and restore sort-by-id case
  src/Ombi.Core.Tests/Engine/MovieRequestEngineTests.cs
  src/Ombi.Core/Engine/MovieRequestEngine.cs
  src/Ombi.Core/Engine/MusicRequestEngine.cs
  src/Ombi.Core/Engine/TvRequestEngine.cs
Labels: backend

fix(cypress): align TV grid element IDs with TMDB show ID for E2E tests
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.html
  tests/cypress/integration/page-objects/requests/requests.page.ts
Labels: automation, frontend

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
