Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

Fix Build
  src/Ombi.Core.Tests/Senders/TvSenderTests.cs
  src/Ombi.Schedule.Tests/RefreshMetadataTests.cs
Labels: backend

Fix Build
  src/Ombi.Core.Tests/Senders/TvSenderTests.cs
Labels: backend

Fix build
  src/Ombi.Core.Tests/Senders/TvSenderTests.cs
Labels: backend

chore(release): :rocket: v4.60.70 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Rate-limit Media Cleanup mutations
  src/Ombi.Api.IntegrationTests/Tests/MediaCleanupRateLimitContractTests.cs
  src/Ombi.Tests/MediaCleanupControllerRateLimitTests.cs
  src/Ombi/Controllers/V1/MediaCleanupController.cs
  src/Ombi/Startup.cs
Labels: backend

Reject invalid TMDB media IDs
  src/Ombi.Api.External/ExternalApis/TheMovieDb/TheMovieDbApi.cs
  src/Ombi.Schedule.Tests/RefreshMetadataTests.cs
Labels: backend

chore(release): :rocket: v4.60.71 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Handle missing TV details metadata
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.spec.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.ts
Labels: frontend

Fail closed on Media Cleanup persistence failures
  src/Ombi.Core.Tests/Engine/MediaCleanupEngineDestructiveTests.cs
  src/Ombi.Core/Engine/MediaCleanupEngine.cs
Labels: backend

Fix Build
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.spec.ts
Labels: frontend

chore(release): :rocket: v4.60.72 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Preserve unknown state for Plex history failures
  src/Ombi.Api.External/MediaServers/Plex/PlexApi.cs
  src/Ombi.Core.Tests/Api/PlexApiHistoryTests.cs
  src/Ombi.Core.Tests/Engine/MediaCleanupEngineDestructiveTests.cs
  src/Ombi.Core/Engine/MediaCleanupEngine.cs
Labels: backend

Reopen completed TV failure queue entries
  src/Ombi.Core.Tests/Senders/TvSenderTests.cs
  src/Ombi.Core/Senders/TvSender.cs
Labels: backend

Fix Build
  src/Ombi.Core.Tests/Senders/TvSenderTests.cs
Labels: backend

chore(release): :rocket: v4.60.73 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Fix Failed Requests table rendering
  src/Ombi/ClientApp/src/app/settings/failedrequests/failedrequests.component.html
  src/Ombi/ClientApp/src/app/settings/failedrequests/failedrequests.component.spec.ts
  src/Ombi/ClientApp/src/app/settings/failedrequests/failedrequests.component.ts
Labels: frontend

chore(release): :rocket: v4.60.74 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Allow legacy TVDB failures through current identity repair
  src/Ombi.Core/Senders/TvSender.cs
  src/Ombi.Schedule.Tests/ResendFailedRequestsTests.cs
  src/Ombi.Schedule/Jobs/Ombi/ResendFailedRequests.cs
Labels: backend

Tolerate safe provider title variants in Sonarr season mapping
  src/Ombi.Core.Tests/Senders/SonarrEpisodeFingerprintMatcherTests.cs
  src/Ombi.Core/Senders/SonarrEpisodeFingerprintMatcher.cs
Labels: backend

chore(release): :rocket: v4.60.75 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Complete stale failed-request rows after successful manual TV reprocessing
  src/Ombi.Core.Tests/Engine/TvRequestEngineV2Tests.cs
  src/Ombi.Core/Engine/TvRequestEngine.cs
Labels: backend

Fix Build
  src/Ombi.Core.Tests/Engine/TvRequestEngineV2Tests.cs
Labels: backend

chore(release): :rocket: v4.60.76 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Complete stale failure rows after successful TV reprocessing
  src/Ombi.Core.Tests/Engine/TvRequestEngineV2Tests.cs
  src/Ombi.Core/Engine/TvRequestEngine.cs
Labels: backend

chore(release): :rocket: v4.60.77 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Use air-date fingerprints for safe Sonarr season mapping
  src/Ombi.Core.Tests/Senders/SonarrEpisodeFingerprintMatcherTests.cs
  src/Ombi.Core/Senders/SonarrEpisodeFingerprintMatcher.cs
  src/Ombi.Core/Senders/TvSender.cs
Labels: backend

chore(release): :rocket: v4.60.78 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Add manual re-processing to Failed Requests
  src/Ombi.Tests/RequestRetryControllerTests.cs
  src/Ombi/ClientApp/src/app/services/requestretry.service.spec.ts
  src/Ombi/ClientApp/src/app/services/requestretry.service.ts
  src/Ombi/ClientApp/src/app/settings/failedrequests/failedrequests.component.html
  src/Ombi/ClientApp/src/app/settings/failedrequests/failedrequests.component.spec.ts
  src/Ombi/ClientApp/src/app/settings/failedrequests/failedrequests.component.ts
  src/Ombi/Controllers/V1/RequestRetryController.cs
Labels: frontend, backend

chore(release): :rocket: v4.60.79 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Repair consolidated Sonarr parents from episode fingerprints
  src/Ombi.Core.Tests/Senders/SonarrEpisodeFingerprintMatcherTests.cs
  src/Ombi.Core.Tests/Senders/TvSenderTests.cs
  src/Ombi.Core/Senders/SonarrEpisodeFingerprintMatcher.cs
  src/Ombi.Core/Senders/SonarrSendOptions.cs
  src/Ombi.Core/Senders/TvSender.cs
Labels: backend

Fix Build
  src/Ombi.Core.Tests/Senders/TvSenderTests.cs
Labels: backend

chore(release): :rocket: v4.60.80 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Upgrade SharpCompress to address archive path traversal
  src/Ombi.Schedule/Ombi.Schedule.csproj
Labels: none

Fix Build
  src/Ombi.Schedule/Jobs/Ombi/OmbiAutomaticUpdater.cs
Labels: backend

chore(release): :rocket: v4.60.81 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Angular 20 dependencies to current security-patched LTS
  src/Ombi/ClientApp/package.json
Labels: frontend

chore(release): :rocket: v4.60.82 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Update package.json
  src/Ombi/ClientApp/package.json
Labels: frontend

Upgrade Lodash dependencies to patched 4.18.1 releases
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

chore(release): :rocket: v4.60.83 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
