Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

chore(release): :rocket: v4.57.13 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

redesign: overhaul discover pages with modern FAANG-style UX
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.html
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.scss
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.html
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.scss
  src/Ombi/ClientApp/src/app/discover/components/discover/discover.component.html
  src/Ombi/ClientApp/src/app/discover/components/discover/discover.component.scss
  src/Ombi/ClientApp/src/app/discover/components/genre/genre-button-select.component.html
  src/Ombi/ClientApp/src/app/discover/components/genre/genre-button-select.component.scss
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.html
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.scss
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.scss
Labels: frontend

fix: address CodeRabbit review feedback on discover redesign
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.html
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.scss
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.scss
  src/Ombi/ClientApp/src/app/discover/components/genre/genre-button-select.component.html
  src/Ombi/ClientApp/src/app/discover/components/genre/genre-button-select.component.scss
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.scss
Labels: frontend

fix: update Cypress tests to use renamed filter-active CSS class
  tests/cypress/tests/discover/discover-cards.spec.ts
Labels: automation

redesign: restyle recently requested cards to match discover card aesthetic
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.html
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.scss
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.ts
Labels: frontend

fix: use proper event handlers for stopPropagation in detailed-card
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.html
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.ts
Labels: frontend

fix: correct loading property type annotation in detailed-card
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.ts
Labels: frontend

fix: resolve SonarCloud issues and address CodeRabbit round 2
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.html
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.scss
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.ts
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.scss
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.scss
  tests/cypress/tests/discover/discover-cards.spec.ts
Labels: automation, frontend

fix: restore .parent() in Cypress filter-active assertions
  tests/cypress/tests/discover/discover-cards.spec.ts
Labels: automation

fix: wrap discover-card poster in anchor for keyboard accessibility
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.html
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.scss
Labels: frontend

fix: forward alt attribute to img in ombi-image component
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.scss
  src/Ombi/ClientApp/src/app/components/image/image.component.html
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.scss
Labels: frontend

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/bg.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ca.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/cs.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/da.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/de.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/hu.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/it.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/nl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/no.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ru.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sk.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sv.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh-TW.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt-BR.json
Labels: none

fix: merge duplicate anchors and address CodeRabbit round 3
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.scss
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.html
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.scss
Labels: frontend

Redesign sidebar nav to match modern top bar aesthetic
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.html
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.scss
Labels: frontend

Redesign top nav bar with modern FAANG-style UX
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.html
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.scss
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.ts
  src/Ombi/ClientApp/src/app/my-nav/nav-search.component.html
  src/Ombi/ClientApp/src/app/my-nav/nav-search.component.scss
  src/Ombi/ClientApp/src/app/my-nav/nav-search.component.ts
Labels: frontend

Replace deprecated lighten() with sass:color module and improve WCAG contrast
  src/Ombi/ClientApp/src/app/media-details/media-details.component.scss
Labels: frontend

Redesign movie and TV details pages with modern streaming-style layout
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-information-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-information-panel.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/shared/cast-carousel/cast-carousel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/cast-carousel/cast-carousel.component.scss
  src/Ombi/ClientApp/src/app/media-details/components/shared/cast-carousel/cast-carousel.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/shared/media-poster/media-poster.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.scss
  src/Ombi/ClientApp/src/app/media-details/components/shared/top-banner/top-banner.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/top-banner/top-banner.component.scss
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-information-panel/tv-information-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.ts
  src/Ombi/ClientApp/src/app/media-details/media-details.component.scss
  src/Ombi/wwwroot/translations/en.json
Labels: frontend

Fix recommendations/similar grid sizing with proper CSS grid layout
  src/Ombi/ClientApp/src/app/media-details/media-details.component.scss
Labels: frontend

Restore element IDs required by Cypress E2E tests
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
Labels: frontend

Add stream-small class to streaming logos for Cypress test compatibility
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-information-panel/tv-information-panel.component.html
Labels: frontend

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

Redesign discover page cards and hero banner with modern UI (#5378)
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.html
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.scss
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.ts
  src/Ombi/ClientApp/src/app/components/image/image.component.html
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.html
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.scss
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.html
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.scss
  src/Ombi/ClientApp/src/app/discover/components/discover/discover.component.html
  src/Ombi/ClientApp/src/app/discover/components/discover/discover.component.scss
  src/Ombi/ClientApp/src/app/discover/components/genre/genre-button-select.component.html
  src/Ombi/ClientApp/src/app/discover/components/genre/genre-button-select.component.scss
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.html
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.scss
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.scss
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.ts
  tests/cypress/tests/discover/discover-cards.spec.ts
Labels: automation, frontend
