Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

fix: hide quality profiles without selector role
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-advanced-options/movie-advanced-options.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-advanced-options/movie-advanced-options.component.spec.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-advanced-options/movie-advanced-options.component.ts
Labels: frontend

fix: preserve PostgreSQL timestamp mappings
  src/Ombi.Store/Migrations/OmbiPostgres/20260723000001_QualityOverride4K.Designer.cs
  src/Ombi.Store/Migrations/OmbiPostgres/OmbiPostgresContextModelSnapshot.cs
Labels: backend

fix(settings): resolve mobile dropdown positioning and horizontal layout overflow (#5443)
  src/Ombi/ClientApp/src/app/settings/couchpotato/couchpotato.component.html
  src/Ombi/ClientApp/src/app/settings/dognzb/dognzb.component.html
  src/Ombi/ClientApp/src/app/settings/issues/issues.component.scss
  src/Ombi/ClientApp/src/app/settings/lidarr/lidarr.component.html
  src/Ombi/ClientApp/src/app/settings/lidarr/lidarr.component.scss
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.scss
  src/Ombi/ClientApp/src/app/settings/radarr/components/radarr-form.component.html
  src/Ombi/ClientApp/src/app/settings/radarr/components/radarr-form.component.scss
  src/Ombi/ClientApp/src/app/settings/radarr/radarr.component.scss
  src/Ombi/ClientApp/src/app/settings/sickrage/sickrage.component.html
  src/Ombi/ClientApp/src/app/settings/sonarr/sonarr.component.html
  src/Ombi/ClientApp/src/app/settings/sonarr/sonarr.component.scss
  src/Ombi/ClientApp/src/styles/material-overrides.scss
Labels: frontend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

fix: resolve user data leakage in BCC mass email templates (#5444) [skip ci]
  src/Ombi.Core.Tests/Senders/MassEmailSenderTests.cs
  src/Ombi.Core/Senders/MassEmailSender.cs
Labels: backend

fix: respect Sonarr availability priority for TV episodes (#5445) [skip ci]
  src/Ombi.Core.Tests/Rule/Search/EmbyAvailabilityRuleTests.cs
  src/Ombi.Core/Rule/Rules/Search/MediaServerAvailabilityRule.cs
Labels: backend

chore(release): :rocket: v4.60.11 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix: auto-import and link Plex Admin during Plex OAuth login (#5446)
  src/Ombi.Core.Tests/Engine/MovieRequestLimitsTests.cs
  src/Ombi.Core.Tests/Engine/MusicRequestLimitTests.cs
  src/Ombi.Core.Tests/Engine/TvRequestLimitsTests.cs
  src/Ombi.Core/Services/RequestLimitService.cs
  src/Ombi/Controllers/V1/TokenController.cs
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.60.12 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

feat(store): add selectable quality profile foundation
  src/Ombi.Helpers/OmbiRoles.cs
  src/Ombi.Store/Context/OmbiContext.cs
  src/Ombi.Store/Entities/Requests/MovieRequests.cs
  src/Ombi.Store/Entities/UserSelectableQualityProfile.cs
  src/Ombi.Store/Migrations/OmbiMySql/20260723000000_UserSelectableQualityProfiles.cs
  src/Ombi.Store/Migrations/OmbiMySql/OmbiMySqlContextModelSnapshot.cs
  src/Ombi.Store/Migrations/OmbiPostgres/20260723000000_UserSelectableQualityProfiles.cs
  src/Ombi.Store/Migrations/OmbiPostgres/OmbiPostgresContextModelSnapshot.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20260723000000_UserSelectableQualityProfiles.cs
  src/Ombi.Store/Migrations/OmbiSqlite/OmbiSqliteContextModelSnapshot.cs
  src/Ombi.Store/Repository/BaseRepository.cs
  src/Ombi.Store/Repository/IExternalRepository.cs
  src/Ombi.Store/Repository/IRepository.cs
  src/Ombi.Tests/Migrations/UserSelectableQualityProfilesTests.cs
Labels: backend

fix(store): deduplicate quality profile migrations
  src/Ombi.Store/MigrationHelper.cs
  src/Ombi.Store/Migrations/OmbiMySql/20260723000000_UserSelectableQualityProfiles.cs
  src/Ombi.Store/Migrations/OmbiPostgres/20260723000000_UserSelectableQualityProfiles.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20260723000000_UserSelectableQualityProfiles.cs
Labels: backend

fix(store): harden quality profile migration rollback
  src/Ombi.Store/Context/OmbiContext.cs
  src/Ombi.Store/MigrationHelper.cs
  src/Ombi.Store/Migrations/OmbiMySql/20260723000000_UserSelectableQualityProfiles.cs
  src/Ombi.Store/Migrations/OmbiMySql/OmbiMySqlContextModelSnapshot.cs
  src/Ombi.Store/Migrations/OmbiPostgres/20260723000000_UserSelectableQualityProfiles.cs
  src/Ombi.Store/Migrations/OmbiPostgres/OmbiPostgresContextModelSnapshot.cs
  src/Ombi.Store/Migrations/OmbiSqlite/OmbiSqliteContextModelSnapshot.cs
  src/Ombi.Tests/Migrations/UserSelectableQualityProfilesTests.cs
Labels: backend

fix(wizard): deduplicate element IDs in database setup template
  src/Ombi/ClientApp/src/app/wizard/database/database.component.html
Labels: frontend

fix(discover): consolidate request button template to remove duplicate element IDs
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.html
Labels: frontend

fix(pipes): update HumanizePipe signature and add empty value handling
  src/Ombi/ClientApp/src/app/pipes/HumanizePipe.spec.ts
  src/Ombi/ClientApp/src/app/pipes/HumanizePipe.ts
Labels: frontend

fix(core): align engine parameter naming and in-memory query evaluation
  src/Ombi.Core/Engine/MusicRequestEngine.cs
  src/Ombi.Core/Engine/TvRequestEngine.cs
Labels: backend

fix(rules): optimize media server availability rule and episode checks
  src/Ombi.Core/Rule/Rules/Search/AvailabilityRuleHelper.cs
  src/Ombi.Core/Rule/Rules/Search/MediaServerAvailabilityRule.cs
Labels: backend

refactor(rules): simplify episode availability loop using LINQ Where (resolves S3267)
  src/Ombi.Core/Rule/Rules/Search/MediaServerAvailabilityRule.cs
Labels: backend

fix(wizard): decouple idPrefix from dbType and restore MySQL/MariaDB label
  src/Ombi/ClientApp/src/app/wizard/database/database.component.html
Labels: frontend

style(discover): align menu trigger condition with click handler condition
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.html
Labels: frontend

fix(core): align GetRequestsByStatus parameter names with IMusicRequestEngine interface
  src/Ombi.Core/Engine/MusicRequestEngine.cs
Labels: backend

fix(rules): restore Sonarr deferral check and optimize episode lookup using HashSet
  src/Ombi.Core/Rule/Rules/Search/MediaServerAvailabilityRule.cs
Labels: backend

Add independent cron schedule to availability checkers
  src/Ombi.Schedule/OmbiScheduler.cs
Labels: backend

fix: return Success = false from MovieSender catch block
  src/Ombi.Core/Senders/MovieSender.cs
Labels: backend

fix: prevent DB lock from orphaning auto-approved requests
  src/Ombi.Core/Engine/MovieRequestEngine.cs
  src/Ombi.Core/Engine/TvRequestEngine.cs
Labels: backend

Fix non-exception send failures skipping the retry queue
  src/Ombi.Core/Senders/MovieSender.cs
  src/Ombi.Core/Senders/TvSender.cs
Labels: backend

Address review feedback: RequestType filter, catch-block return, log message fix
  src/Ombi.Core/Senders/MovieSender.cs
  src/Ombi.Core/Senders/TvSender.cs
Labels: backend

fix: narrow DB lock guard to transient SQLite errors on auto-approve only
  src/Ombi.Core/Engine/Interfaces/IMovieRequestEngine.cs
  src/Ombi.Core/Engine/MovieRequestEngine.cs
  src/Ombi.Core/Engine/TvRequestEngine.cs
Labels: backend

fix: use SqliteErrorCode instead of string match in lock detection
  src/Ombi.Core/Engine/MovieRequestEngine.cs
Labels: backend

fix: block unauthenticated overwrite of Plex configuration
  src/Ombi/Controllers/V1/External/PlexController.cs
  src/Ombi/Controllers/V1/PlexOAuthController.cs
Labels: backend

test: cover unauthenticated Plex config-overwrite guards
  src/Ombi.Tests/PlexControllerTests.cs
  src/Ombi.Tests/PlexOAuthControllerTests.cs
Labels: backend

fix: resolve S2259 null-path inconsistency in Plex SignIn guard
  src/Ombi/Controllers/V1/External/PlexController.cs
Labels: backend

refactor(plex): scope first-run Plex sign-in endpoints to the setup wizard
  src/Ombi.Tests/PlexControllerTests.cs
  src/Ombi.Tests/PlexOAuthControllerTests.cs
  src/Ombi/Controllers/V1/External/PlexController.cs
  src/Ombi/Controllers/V1/PlexOAuthController.cs
Labels: backend

refactor(plex): scope first-run Plex sign-in endpoints to the setup wizard (#5461)
  src/Ombi.Tests/PlexControllerTests.cs
  src/Ombi.Tests/PlexOAuthControllerTests.cs
  src/Ombi/Controllers/V1/External/PlexController.cs
  src/Ombi/Controllers/V1/PlexOAuthController.cs
Labels: backend

chore(release): :rocket: v4.60.13 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Refactor notification preference access into a shared helper
  src/Ombi/Controllers/V1/IdentityController.cs
Labels: backend

Validate the full notification preference batch before applying it
  src/Ombi/Controllers/V1/IdentityController.cs
Labels: backend

Refactor notification preference access into a shared helper (#5462)
  src/Ombi/Controllers/V1/IdentityController.cs
Labels: backend

chore(release): :rocket: v4.60.14 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
