Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

fix: upgrade @types/jquery from 3.5.22 to 3.5.23
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

Update src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
Labels: backend

Update src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
Labels: backend

Fix: Linkify logo in newsletter (#5036)
  src/Ombi.Notifications.Templates/INewsletterTemplate.cs
  src/Ombi.Notifications.Templates/NewsletterTemplate.cs
  src/Ombi.Notifications.Templates/Templates/NewsletterTemplate.html
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
Labels: backend

fix: upgrade @types/jquery from 3.5.22 to 3.5.23 (#5034) [skip ci]
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade @microsoft/signalr from 6.0.22 to 6.0.23 (#5032) [skip ci]
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

Fix(mutliple servers): attempting to cache the Plex Content in server (#5018)
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
Labels: backend

chore(release): :rocket: v4.43.7 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.43.8 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix: upgrade zone.js from 0.13.3 to 0.14.1
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix(sonarr): 🐛 Correctly monitor episodes
  src/Ombi.Api.Sonarr/SonarrV3Api.cs
  src/Ombi.Core/Senders/TvSender.cs
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.43.9 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(radarr-4k): 🐛 Fixed an issue when using Radarr 4k with user set quality profiles. There are now user quality profiles for 4k profile #5025
  src/Ombi.Core/Senders/MovieSender.cs
  src/Ombi.Store/Entities/UserQualityProfiles.cs
  src/Ombi.Store/Migrations/OmbiMySql/20231118220121_Radarr4kUserQualityProfile.Designer.cs
  src/Ombi.Store/Migrations/OmbiMySql/20231118220121_Radarr4kUserQualityProfile.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20231118214929_Radarr4kUserQualityProfile.Designer.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20231118214929_Radarr4kUserQualityProfile.cs
  src/Ombi.Store/Migrations/OmbiSqlite/OmbiSqliteContextModelSnapshot.cs
  src/Ombi/ClientApp/src/app/interfaces/IUser.ts
  src/Ombi/ClientApp/src/app/usermanagement/usermanagement-user.component.html
  src/Ombi/ClientApp/src/app/usermanagement/usermanagement-user.component.ts
  src/Ombi/ClientApp/yarn.lock
  src/Ombi/Controllers/V1/IdentityController.cs
  src/Ombi/Ombi.csproj
Labels: frontend, backend

🌐 Translations Update (#5012)
  src/Ombi/wwwroot/translations/hu.json
  src/Ombi/wwwroot/translations/sk.json
Labels: none

fixed build
  src/Ombi/ClientApp/src/app/components/image-background/image-background.component.ts
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

chore(release): :rocket: v4.43.10 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix: upgrade cypress-real-events from 1.10.3 to 1.11.0
  tests/package.json
  tests/yarn.lock
Labels: automation

fix: upgrade zone.js from 0.13.3 to 0.14.2
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

adding postgres support to ombi
  src/Ombi.Settings/Ombi.Settings.csproj
  src/Ombi.Store/Context/Postgres/ExternalPostgresContext.cs
  src/Ombi.Store/Context/Postgres/OmbiPostgresContext.cs
  src/Ombi.Store/Context/Postgres/SettingsPostgresContext.cs
  src/Ombi.Store/MigrationHelper.cs
  src/Ombi.Store/Migrations/ExternalPostgres/20231212135426_Initial.Designer.cs
  src/Ombi.Store/Migrations/ExternalPostgres/20231212135426_Initial.cs
  src/Ombi.Store/Migrations/ExternalPostgres/ExternalPostgresContextModelSnapshot.cs
  src/Ombi.Store/Migrations/OmbiPostgres/20231212135239_Initial.Designer.cs
  src/Ombi.Store/Migrations/OmbiPostgres/20231212135239_Initial.cs
  src/Ombi.Store/Migrations/OmbiPostgres/OmbiPostgresContextModelSnapshot.cs
  src/Ombi.Store/Migrations/SettingsPostgres/20231212135625_Initial.Designer.cs
  src/Ombi.Store/Migrations/SettingsPostgres/20231212135625_Initial.cs
  src/Ombi.Store/Migrations/SettingsPostgres/SettingsPostgresContextModelSnapshot.cs
  src/Ombi.Store/Ombi.Store.csproj
  src/Ombi/Extensions/DatabaseExtensions.cs
  src/Ombi/Ombi.csproj
Labels: backend

fix: upgrade @types/jquery from 3.5.27 to 3.5.28
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

Fixing a timezone issue
  src/Ombi.Store/Context/Postgres/PostgresModuleInitializer.cs
  src/Ombi/Startup.cs
Labels: backend

Switching the migrations to use case-insensitive labels.
  src/Ombi/Extensions/DatabaseExtensions.cs
Labels: backend

Some tests are broken for a few hours around UTC midnight - Swapped out to use minutes so they only break for a cuple minutes instead.
  src/Ombi.Core.Tests/Engine/MovieRequestLimitsTests.cs
  src/Ombi.Core.Tests/Engine/MusicRequestLimitTests.cs
  src/Ombi.Core.Tests/Engine/TvRequestLimitsTests.cs
  src/Ombi.Schedule.Tests/IssuesPurgeTests.cs
Labels: backend

fix: upgrade @fortawesome/fontawesome-free from 6.4.2 to 6.5.0
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: src/Ombi/Ombi.csproj to reduce vulnerabilities
  src/Ombi/Ombi.csproj
Labels: none

fix(emby): Add more logging on the PlaySync to check for Tv Shows without a valid TMDB
  src/Ombi.Schedule/Jobs/Emby/EmbyPlayedSync.cs
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.43.11 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix: src/Ombi/Ombi.csproj to reduce vulnerabilities (#5066) [skip ci]
  src/Ombi/Ombi.csproj
Labels: none

fix: upgrade @fortawesome/fontawesome-free from 6.4.2 to 6.5.0 (#5053) [skip ci]
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade @types/jquery from 3.5.27 to 3.5.28 (#5049) [skip ci]
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade multiple dependencies with Snyk
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade zone.js from 0.13.3 to 0.14.3
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade moment from 2.29.4 to 2.30.1
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade moment from 2.29.4 to 2.30.1 (#5075) [skip ci]
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade multiple dependencies with Snyk (#5073) [skip ci]
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

angular 16
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/src/app/auth/auth.guard.ts
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.pt-BR.resx
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt-BR.json
Labels: none
