Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

chore(release): :rocket: v4.22.3 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

up cypress timeout
  .github/workflows/cypress.yml
Labels: devops

re-arrange
  .github/workflows/cypress.yml
Labels: devops

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt-BR.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/no.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sv.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sk.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ru.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/nl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/hu.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/it.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/de.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/da.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/cs.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/bg.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh-TW.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

chore: Storybook (#4700)
  .github/workflows/chromatic.yml
  .github/workflows/cypress.yml
  src/Ombi/ClientApp/.storybook/main.js
  src/Ombi/ClientApp/.storybook/preview-body.html
  src/Ombi/ClientApp/.storybook/preview.js
  src/Ombi/ClientApp/.storybook/tsconfig.json
  src/Ombi/ClientApp/.storybook/typings.d.ts
  src/Ombi/ClientApp/documentation.json
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/src/app/components/image/image.component.stories.ts
  src/Ombi/ClientApp/src/app/search/moviesearch.component.html
  src/Ombi/ClientApp/src/app/search/moviesearch.component.ts
  src/Ombi/ClientApp/src/app/search/moviesearchgrid.component.html
  src/Ombi/ClientApp/src/app/search/moviesearchgrid.component.ts
  src/Ombi/ClientApp/src/app/search/music/albumsearch.component.html
  src/Ombi/ClientApp/src/app/search/music/albumsearch.component.ts
  src/Ombi/ClientApp/src/app/search/music/artistsearch.component.html
  src/Ombi/ClientApp/src/app/search/music/artistsearch.component.ts
  src/Ombi/ClientApp/src/app/search/music/musicsearch.component.html
  src/Ombi/ClientApp/src/app/search/music/musicsearch.component.ts
  src/Ombi/ClientApp/src/app/search/search.component.html
  src/Ombi/ClientApp/src/app/search/search.component.scss
  src/Ombi/ClientApp/src/app/search/search.component.ts
  src/Ombi/ClientApp/src/app/search/search.module.ts
  src/Ombi/ClientApp/src/app/search/seriesinformation.component.html
  src/Ombi/ClientApp/src/app/search/seriesinformation.component.scss
  src/Ombi/ClientApp/src/app/search/seriesinformation.component.ts
  src/Ombi/ClientApp/src/app/search/tvsearch.component.html
  src/Ombi/ClientApp/src/app/search/tvsearch.component.ts
  src/Ombi/ClientApp/src/app/services/signlarnotification.service.ts
  src/Ombi/ClientApp/src/tsconfig.json
  src/Ombi/ClientApp/src/typings/globals.d.ts
  src/Ombi/ClientApp/yarn.lock
Labels: frontend, devops

Update da.json
  src/Ombi/wwwroot/translations/da.json
Labels: none

New language: Catalan
  src/Ombi/wwwroot/translations/ca.json
Labels: none

Upload additional file for translation: Catalan
  src/Ombi.I18n/Resources/Texts.ca.resx
Labels: none

made a start
  src/.dockerignore
  src/dockerfile
Labels: none

image and workflow
  .github/workflows/cypress.yml
  src/dockerfile
Labels: devops

forgot build
  .github/workflows/cypress.yml
Labels: devops

chore: Translations
  src/Ombi/wwwroot/translations/da.json
Labels: none

🌐 Translations Update (#4704)
  src/Ombi/wwwroot/translations/bg.json
  src/Ombi/wwwroot/translations/cs.json
  src/Ombi/wwwroot/translations/da.json
  src/Ombi/wwwroot/translations/de.json
  src/Ombi/wwwroot/translations/es.json
  src/Ombi/wwwroot/translations/fr.json
  src/Ombi/wwwroot/translations/hu.json
  src/Ombi/wwwroot/translations/it.json
  src/Ombi/wwwroot/translations/nl.json
  src/Ombi/wwwroot/translations/no.json
  src/Ombi/wwwroot/translations/pl.json
  src/Ombi/wwwroot/translations/pt-BR.json
  src/Ombi/wwwroot/translations/pt.json
  src/Ombi/wwwroot/translations/ru.json
  src/Ombi/wwwroot/translations/sk.json
  src/Ombi/wwwroot/translations/sv.json
  src/Ombi/wwwroot/translations/zh-TW.json
  src/Ombi/wwwroot/translations/zh.json
Labels: none

more
  .github/workflows/cypress.yml
  tests/cypress.json
Labels: automation, devops

Update regression.json
  tests/cypress/config/regression.json
Labels: automation

Update cypress.yml
  .github/workflows/cypress.yml
Labels: devops

feat: add ntfy
  src/Ombi.Api.Ntfy/INtfyApi.cs
  src/Ombi.Api.Ntfy/Models/NtfyNotificationBody.cs
  src/Ombi.Api.Ntfy/NtfyApi.cs
  src/Ombi.Api.Ntfy/Ombi.Api.Ntfy.csproj
  src/Ombi.Core/Models/UI/NtfyNotificationViewModel.cs
  src/Ombi.DependencyInjection/IocExtensions.cs
  src/Ombi.DependencyInjection/Ombi.DependencyInjection.csproj
  src/Ombi.Helpers/LoggingEvents.cs
  src/Ombi.Helpers/NotificationAgent.cs
  src/Ombi.Mapping/Profiles/SettingsProfile.cs
  src/Ombi.Notifications.Tests/NotificationServiceTests.cs
  src/Ombi.Notifications/Agents/Interfaces/INtfyNotification.cs
  src/Ombi.Notifications/Agents/NtfyNotification.cs
  src/Ombi.Notifications/Ombi.Notifications.csproj
  src/Ombi.Settings/Settings/Models/Notifications/NtfySettings.cs
  src/Ombi.sln
  src/Ombi/ClientApp/src/app/interfaces/INotificationSettings.ts
  src/Ombi/ClientApp/src/app/services/applications/tester.service.ts
  src/Ombi/ClientApp/src/app/services/settings.service.ts
  src/Ombi/ClientApp/src/app/settings/notifications/ntfy.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/ntfy.component.ts
  src/Ombi/ClientApp/src/app/settings/settings.module.ts
  src/Ombi/ClientApp/src/app/settings/settingsmenu.component.html
  src/Ombi/Controllers/V1/External/TesterController.cs
  src/Ombi/Controllers/V1/SettingsController.cs
Labels: frontend, backend

a
  src/.dockerignore
  src/dockerfile
Labels: none

b
  src/dockerfile
Labels: none

fix: fixed trakt image not loading when base url present
  src/Ombi/ClientApp/src/app/components/image/image.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.scss
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.ts
  src/Ombi/ClientApp/src/app/wizard/plex/plex.component.html
  src/Ombi/ClientApp/src/app/wizard/welcome/welcome.component.html
Labels: frontend

started component
  src/Ombi.Core/Models/Requests/RecentlyRequestedModel.cs
  src/Ombi.Core/Services/RecentlyRequestedService.cs
  src/Ombi/ClientApp/.storybook/main.js
  src/Ombi/ClientApp/.storybook/preview.js
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/src/app/components/button/button.component.scss
  src/Ombi/ClientApp/src/app/components/button/button.component.stories.ts
  src/Ombi/ClientApp/src/app/components/button/button.component.ts
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.html
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.scss
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.stories.ts
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.ts
  src/Ombi/ClientApp/src/app/components/index.ts
  src/Ombi/ClientApp/src/app/components/modules.ts
  src/Ombi/ClientApp/src/app/interfaces/IRecentlyRequested.ts
  src/Ombi/ClientApp/src/app/interfaces/index.ts
  src/Ombi/ClientApp/src/app/services/image.service.ts
  src/Ombi/ClientApp/yarn.lock
Labels: frontend, backend

fix: :bug: Fixed missing externals
  src/Ombi/ClientApp/.storybook/main.js
  src/Ombi/ClientApp/.storybook/preview-body.html
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.stories.ts
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.html
  src/Ombi/ClientApp/yarn.lock
Labels: frontend
