Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/it.json
Labels: none

Allow user to add a comment to a request for movies/tv shows then display this in requests table.
  src/Ombi.Core/Engine/MovieRequestEngine.cs
  src/Ombi.Core/Models/Requests/BaseRequestOptions.cs
  src/Ombi.Store/Entities/Requests/BaseRequest.cs
  src/Ombi.Store/Entities/Requests/TvRequests.cs
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.ts
  src/Ombi/ClientApp/src/app/interfaces/IRequestModel.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.ts
  src/Ombi/ClientApp/src/app/shared/admin-request-dialog/admin-request-dialog.component.html
  src/Ombi/ClientApp/src/app/shared/admin-request-dialog/admin-request-dialog.component.scss
  src/Ombi/ClientApp/src/app/shared/admin-request-dialog/admin-request-dialog.component.ts
  src/Ombi/ClientApp/src/app/shared/episode-request/episode-request.component.ts
  src/Ombi/wwwroot/translations/bg.json
  src/Ombi/wwwroot/translations/cs.json
  src/Ombi/wwwroot/translations/en.json
  src/Ombi/wwwroot/translations/no.json
  src/Ombi/wwwroot/translations/pt.json
  src/Ombi/wwwroot/translations/ru.json
Labels: frontend, backend

Search by genre
  src/Ombi/ClientApp/src/app/discover/components/discover/discover.component.html
  src/Ombi/ClientApp/src/app/discover/components/genre/genre-button-select.component.html
  src/Ombi/ClientApp/src/app/discover/components/genre/genre-button-select.component.scss
  src/Ombi/ClientApp/src/app/discover/components/genre/genre-button-select.component.ts
  src/Ombi/ClientApp/src/app/discover/components/index.ts
Labels: frontend

feat: Search by genre
  src/Ombi/ClientApp/src/app/discover/components/discover/discover.component.html
  src/Ombi/ClientApp/src/app/discover/components/genre/genre-button-select.component.html
  src/Ombi/ClientApp/src/app/discover/components/genre/genre-button-select.component.scss
  src/Ombi/ClientApp/src/app/discover/components/genre/genre-button-select.component.ts
  src/Ombi/ClientApp/src/app/discover/components/index.ts
Labels: frontend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.37.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(discover): :children_crossing: Improved the new Genre buttons, it now includes TV results
  src/Ombi/ClientApp/src/app/discover/components/discover/discover.component.html
  src/Ombi/ClientApp/src/app/discover/components/genre/genre-button-select.component.html
  src/Ombi/ClientApp/src/app/discover/components/genre/genre-button-select.component.scss
  src/Ombi/ClientApp/src/app/discover/components/genre/genre-button-select.component.ts
  src/Ombi/ClientApp/src/app/discover/components/search-results/search-results.component.html
  src/Ombi/ClientApp/src/app/discover/components/search-results/search-results.component.scss
  src/Ombi/ClientApp/src/app/my-nav/nav-search.component.scss
  src/Ombi/wwwroot/translations/en.json
Labels: frontend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/hu.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/bg.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ca.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/cs.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/da.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/de.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/it.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/nl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/no.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ru.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sk.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sv.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh-TW.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt-BR.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/it.json
Labels: none

Include radio select for type
  src/Ombi/ClientApp/src/app/discover/components/discover/discover.component.html
  src/Ombi/ClientApp/src/app/discover/components/genre/genre-button-select.component.html
  src/Ombi/ClientApp/src/app/discover/components/genre/genre-button-select.component.scss
  src/Ombi/ClientApp/src/app/discover/components/genre/genre-button-select.component.ts
  src/Ombi/ClientApp/src/app/discover/components/search-results/search-results.component.html
  src/Ombi/ClientApp/src/app/my-nav/nav-search.component.scss
  src/Ombi/ClientApp/yarn.lock
  src/Ombi/wwwroot/translations/en.json
Labels: frontend

Change montior to Existing to properly add artist
  src/Ombi.Core/Senders/MusicSender.cs
Labels: backend

fix: Cron Validation (#4842)
  src/Ombi.Settings/Settings/Models/JobSettingsHelper.cs
  src/Ombi/Controllers/V1/SettingsController.cs
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

🌐 Translations Update (#4806)
  src/Ombi.I18n/Resources/Texts.hu.resx
  src/Ombi.I18n/Resources/Texts.nl.resx
  src/Ombi.I18n/Resources/Texts.no.resx
  src/Ombi/wwwroot/translations/bg.json
  src/Ombi/wwwroot/translations/ca.json
  src/Ombi/wwwroot/translations/cs.json
  src/Ombi/wwwroot/translations/da.json
  src/Ombi/wwwroot/translations/de.json
  src/Ombi/wwwroot/translations/es.json
  src/Ombi/wwwroot/translations/fr.json
  src/Ombi/wwwroot/translations/hu.json
  src/Ombi/wwwroot/translations/it.json
  src/Ombi/wwwroot/translations/nl.json
  src/Ombi/wwwroot/translations/no.json
  src/Ombi/wwwroot/translations/pl.json
  src/Ombi/wwwroot/translations/pt-BR.json
  src/Ombi/wwwroot/translations/pt.json
  src/Ombi/wwwroot/translations/ru.json
  src/Ombi/wwwroot/translations/sk.json
  src/Ombi/wwwroot/translations/sv.json
  src/Ombi/wwwroot/translations/zh-TW.json
  src/Ombi/wwwroot/translations/zh.json
Labels: none

fix(lidarr): Change monitor to Existing to properly add artist #3597
  src/Ombi.Core/Senders/MusicSender.cs
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.37.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(jellyfin): Fixed an issue where the sync could stop working. Removed unused properties so the deseralization no longer fails
  src/Ombi.Api.Emby/Models/Media/Movie/EmbyMovie.cs
  src/Ombi.Api.Jellyfin/Models/Media/Movie/JellyfinMovie.cs
Labels: backend

Allo RequestOnBehalf rights if requested from the API
  src/Ombi.Core/Engine/MovieRequestEngine.cs
  src/Ombi.Core/Engine/TvRequestEngine.cs
Labels: backend

chore(release): :rocket: v4.37.2 [skip ci]
  CHANGELOG.md
  version.json
Labels: none
