Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

Update launch.json
  src/Ombi/.vscode/launch.json
Labels: none

Update launch.json (#4650)
  src/Ombi/.vscode/launch.json
Labels: none

Upgrade Swashbuckle dependency
  src/Ombi/Ombi.csproj
Labels: none

Document /token response
  src/Ombi/Controllers/V1/TokenController.cs
Labels: backend

Add support for Newtonsoft annotations in Swagger
  src/Ombi.Api.Plex/Models/Metadata.cs
  src/Ombi/Extensions/StartupExtensions.cs
  src/Ombi/Ombi.csproj
Labels: backend

Remove unecessary ActionResult
  src/Ombi/Controllers/V1/TokenController.cs
Labels: backend

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh.json
Labels: none

fix: Improve Swagger documentation (#4652)
  src/Ombi.Api.Plex/Models/Metadata.cs
  src/Ombi/Controllers/V1/TokenController.cs
  src/Ombi/Extensions/StartupExtensions.cs
  src/Ombi/Ombi.csproj
Labels: backend

fix(API): Fix pagination in some edge cases (#4649)
  src/Ombi.Helpers.Tests/PagnationHelperTests.cs
  src/Ombi.Helpers/PaginationHelper.cs
Labels: backend

🌐 Translations Update (#4655)
  src/Ombi/wwwroot/translations/zh.json
Labels: none

fix(discover): Carousel touch not working when scrolling page and recommendations and similar movie navigation (#4633)
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.ts
Labels: frontend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.20.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix: :bug: Fixed the Request on Behalf of having blanks
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/shared/request-behalf/request-behalf.component.ts
  src/Ombi/ClientApp/src/app/shared/admin-request-dialog/admin-request-dialog.component.ts
Labels: frontend

refactor: :fire: removed angular-bootstrap-md dependancy
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/src/app/app.module.ts
  src/Ombi/ClientApp/src/app/search/search.module.ts
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

chore: update tsconfig
  src/Ombi/ClientApp/angular.json
  src/Ombi/ClientApp/src/tsconfig.json
Labels: frontend

yeah
  src/Ombi/ClientApp/tsconfig.json
Labels: frontend

refactor: migration changes
  src/Ombi/ClientApp/src/app/wizard/welcome/welcome.component.html
  src/Ombi/ClientApp/src/app/wizard/welcome/welcome.component.ts
Labels: frontend

fix: :bug: Fixed the Request on Behalf of having blanks (#4667)
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/shared/request-behalf/request-behalf.component.ts
  src/Ombi/ClientApp/src/app/shared/admin-request-dialog/admin-request-dialog.component.ts
Labels: frontend

chore(release): :rocket: v4.20.2 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(plex): 🐛 Fixed an issue with the Plex Sync
  src/Ombi.Api.Plex/Models/Metadata.cs
Labels: backend

chore(release): :rocket: v4.20.3 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix: fixed CLI
  src/Ombi/ClientApp/package.json
Labels: frontend

test: Fixed automation
  tests/cypress/integration/page-objects/shared/DiscoverCard.ts
  tests/cypress/tests/search/search.spec.ts
Labels: automation

fix (technical): Improved some of the date time parsing handling
  src/Ombi.Core/Engine/TvSearchEngine.cs
  src/Ombi.Core/Engine/V2/TvSearchEngineV2.cs
  src/Ombi.Core/Helpers/TvShowRequestBuilder.cs
  src/Ombi.Core/Helpers/TvShowRequestBuilderV2.cs
Labels: backend

fix: fixed build
  src/Ombi.Core/Helpers/TvShowRequestBuilderV2.cs
Labels: backend

chore(release): :rocket: v4.20.4 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

perf: stop populating obsolete subscribe fields (#4625)
  src/Ombi.Core/Engine/MovieSearchEngine.cs
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
  src/Ombi.Core/Models/Search/SearchViewModel.cs
Labels: backend

chore(release): :rocket: v4.21.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Override Sonarr V3 Profiles endpoint
  src/Ombi.Api.Sonarr/SonarrV3Api.cs
Labels: backend

Mark GetProfiles method as virtual
  src/Ombi.Api.Sonarr/SonarrApi.cs
Labels: backend

Proper override the GetProfiles method
  src/Ombi.Api.Sonarr/SonarrV3Api.cs
Labels: backend

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.de.resx
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.de.resx
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/de.json
Labels: none

fix(images): Retry images with a backoff when we get a Too Many requests from TheMovieDb #4685
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.html
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.ts
Labels: frontend

chore(release): :rocket: v4.21.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

🌐 Translations Update (#4683)
  src/Ombi.I18n/Resources/Texts.de.resx
  src/Ombi/wwwroot/translations/de.json
Labels: none

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
