Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

feat(customization): :sparkles: Added possibility for custom favicons
  src/Ombi.Settings/Settings/Models/CustomizationSettings.cs
  src/Ombi/ClientApp/src/app/app.component.ts
  src/Ombi/ClientApp/src/app/interfaces/ISettings.ts
  src/Ombi/ClientApp/src/app/settings/customization/customization.component.html
  src/Ombi/ClientApp/src/index.html
  src/Ombi/Views/Shared/_Layout.cshtml
Labels: frontend, backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.9.0
  CHANGELOG.md
  version.json
Labels: none

Update src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.ts
Labels: frontend

this should at least fix the unit tests
  src/Ombi.Core.Tests/Engine/V2/MovieRequestEngineTests.cs
  src/Ombi.Schedule/Jobs/Ombi/AutoDeleteRequests.cs
Labels: backend

Small cleanup
  src/Ombi.Store/Repository/Requests/MovieRequestRepository.cs
Labels: backend

Fully anonimized the movies
  src/Ombi.Store/Repository/Requests/IMovieRequestRepository.cs
  src/Ombi.Store/Repository/Requests/MovieRequestRepository.cs
Labels: backend

Anomized tv-series
  src/Ombi.Core/Engine/TvRequestEngine.cs
  src/Ombi.Store/Repository/Requests/ITvRequestRepository.cs
  src/Ombi.Store/Repository/Requests/TvRequestRepository.cs
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.ts
Labels: frontend, backend

cleanup
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.ts
  src/Ombi/ClientApp/src/app/settings/ombi/ombi.component.html
Labels: frontend

WIP LDAP authentication and LDAP importer
  src/Ombi.Core/Authentication/OmbiUserManager.cs
  src/Ombi.Core/Engine/Demo/DemoMovieSearchEngine.cs
  src/Ombi.Core/Engine/RecentlyAddedEngine.cs
  src/Ombi.Core/Engine/V2/CalendarEngine.cs
  src/Ombi.Core/Engine/V2/MusicSearchEngineV2.cs
  src/Ombi.Core/ILdapUserManager.cs
  src/Ombi.Core/Models/Search/V2/SearchFullInfoTvShowViewModel.cs
  src/Ombi.Core/Ombi.Core.csproj
  src/Ombi.DependencyInjection/IocExtensions.cs
  src/Ombi.HealthChecks/Checks/CouchPotatoHealthCheck.cs
  src/Ombi.HealthChecks/HealthCheckExtensions.cs
  src/Ombi.Helpers.Tests/UriHelperTests.cs
  src/Ombi.Notifications.Templates/Templates/BasicTemplate.html
  src/Ombi.Schedule/Jobs/Couchpotato/CouchPotatoSync.cs
  src/Ombi.Schedule/OmbiScheduler.cs
  src/Ombi.Settings/Settings/Models/UserManagementSettings.cs
  src/Ombi.Store/Context/ExternalContext.cs
  src/Ombi.Store/Context/SettingsContext.cs
  src/Ombi.Store/Context/Sqlite/SettingsSqliteContext.cs
  src/Ombi.Store/Entities/User.cs
  src/Ombi/ClientApp/src/app/interfaces/ISettings.ts
  src/Ombi/ClientApp/src/app/services/job.service.ts
  src/Ombi/ClientApp/src/app/services/settings.service.ts
  src/Ombi/ClientApp/src/app/settings/ldap/ldap.component.html
  src/Ombi/ClientApp/src/app/settings/ldap/ldap.component.scss
  src/Ombi/ClientApp/src/app/settings/ldap/ldap.component.ts
  src/Ombi/ClientApp/src/app/settings/settings.module.ts
  src/Ombi/ClientApp/src/app/settings/settingsmenu.component.html
  src/Ombi/ClientApp/src/app/settings/usermanagement/usermanagement.component.html
  src/Ombi/ClientApp/src/app/settings/usermanagement/usermanagement.component.ts
  src/Ombi/ClientApp/src/app/usermanagement/usermanagement.component.html
  src/Ombi/Controllers/V1/JobController.cs
  src/Ombi/Controllers/V1/SettingsController.cs
  src/Ombi/Controllers/V1/TokenController.cs
Labels: frontend, backend

Correct the last issues with the merge
  src/Ombi.Core/Authentication/OmbiUserManager.cs
  src/Ombi/ClientApp/src/app/settings/usermanagement/usermanagement.component.ts
Labels: frontend, backend

Unit test passing
  src/Ombi.Core.Tests/Authentication/OmbiUserManagerTests.cs
  src/Ombi.Test.Common/MockHelper.cs
Labels: backend

Correct the unit test
  src/Ombi.Core.Tests/Authentication/OmbiUserManagerTests.cs
Labels: backend

Rebase with latest develop
  src/Ombi.Api 2.Service/AppVeyorApi.cs
  src/Ombi.Api 2.Service/IAppVeyorApi.cs
  src/Ombi.Api 2.Service/IOmbiService.cs
  src/Ombi.Api 2.Service/Models/Updates.cs
  src/Ombi.Api 2.Service/Ombi.Api.Service.csproj
  src/Ombi.Api 2.Service/OmbiService.cs
  src/Ombi.Api 3.Service/AppVeyorApi.cs
  src/Ombi.Api 3.Service/IAppVeyorApi.cs
  src/Ombi.Api 3.Service/IOmbiService.cs
  src/Ombi.Api 3.Service/Models/Updates.cs
  src/Ombi.Api 3.Service/Ombi.Api.Service.csproj
  src/Ombi.Api 3.Service/OmbiService.cs
  src/Ombi.Core/Authentication/LdapUserManager 2.cs
  src/Ombi.Core/ILdapUserManager 2.cs
  src/Ombi.Schedule/Jobs/Ldap/LdapUserImporter 2.cs
  src/Ombi.Settings/Settings/Models/LdapSettings 2.cs
Labels: backend

Send new request email notifications to power users
  src/Ombi.Notifications/Agents/EmailNotification.cs
  src/Ombi.Settings/Settings/Models/Notifications/EmailNotificationSettings.cs
  src/Ombi/ClientApp/src/app/interfaces/INotificationSettings.ts
  src/Ombi/ClientApp/src/app/settings/notifications/emailnotification.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/emailnotification.component.ts
Labels: frontend, backend

Abstract media servers content into interfaces
  src/.idea/.idea.Ombi/.idea/contentModel.xml
  src/Ombi.Api.Emby/Models/EmbyMediaType.cs
  src/Ombi.Api.Jellyfin/Models/JellyfinMediaType.cs
  src/Ombi.Core.Tests/Rule/Request/ExistingPlexRequestRuleTests.cs
  src/Ombi.Core/Engine/RecentlyAddedEngine.cs
  src/Ombi.Core/Rule/Rules/Request/ExistingPlexRequestRule.cs
  src/Ombi.Core/Rule/Rules/Search/PlexAvailabilityRule.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinContentSync.cs
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
  src/Ombi.Schedule/Jobs/Ombi/RefreshMetadata.cs
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
  src/Ombi.Schedule/Jobs/Plex/PlexEpisodeSync.cs
  src/Ombi.Schedule/Jobs/Plex/PlexMediaType.cs
  src/Ombi.Store/Entities/EmbyContent.cs
  src/Ombi.Store/Entities/EmbyEpisode.cs
  src/Ombi.Store/Entities/IMediaServerContent.cs
  src/Ombi.Store/Entities/JellyfinContent.cs
  src/Ombi.Store/Entities/JellyfinEpisode.cs
  src/Ombi.Store/Entities/PlexEpisode.cs
  src/Ombi.Store/Entities/PlexServerContent.cs
  src/Ombi.Store/Repository/IPlexContentRepository.cs
  src/Ombi.Store/Repository/PlexContentRepository.cs
Labels: backend

chore: 🌐 Translations Update [skip ci]
  src/Ombi/wwwroot/translations/bg.json
  src/Ombi/wwwroot/translations/cs.json
  src/Ombi/wwwroot/translations/da.json
  src/Ombi/wwwroot/translations/de.json
  src/Ombi/wwwroot/translations/es.json
  src/Ombi/wwwroot/translations/fr.json
  src/Ombi/wwwroot/translations/hu.json
  src/Ombi/wwwroot/translations/it.json
  src/Ombi/wwwroot/translations/nl.json
  src/Ombi/wwwroot/translations/no.json
  src/Ombi/wwwroot/translations/pl.json
  src/Ombi/wwwroot/translations/pt.json
  src/Ombi/wwwroot/translations/sk.json
  src/Ombi/wwwroot/translations/sv.json
  src/Ombi/wwwroot/translations/zh.json
Labels: none

Media server entities into abstract classes
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
  src/Ombi.Schedule/Jobs/Plex/PlexAvailabilityChecker.cs
  src/Ombi.Store/Context/ExternalContext.cs
  src/Ombi.Store/Entities/EmbyContent.cs
  src/Ombi.Store/Entities/EmbyEpisode.cs
  src/Ombi.Store/Entities/JellyfinContent.cs
  src/Ombi.Store/Entities/JellyfinEpisode.cs
  src/Ombi.Store/Entities/MediaServerContent.cs
  src/Ombi.Store/Entities/PlexEpisode.cs
  src/Ombi.Store/Entities/PlexServerContent.cs
Labels: backend

Abstract media server content repository
  src/Ombi.Store/Repository/IEmbyContentRepository.cs
  src/Ombi.Store/Repository/IJellyfinContentRepository.cs
  src/Ombi.Store/Repository/IMediaServerContentRepository.cs
  src/Ombi.Store/Repository/IPlexContentRepository.cs
Labels: backend

Send new request to power users as convention
  src/Ombi.Notifications/Agents/EmailNotification.cs
  src/Ombi.Settings/Settings/Models/Notifications/EmailNotificationSettings.cs
  src/Ombi/ClientApp/src/app/interfaces/INotificationSettings.ts
  src/Ombi/ClientApp/src/app/settings/notifications/emailnotification.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/emailnotification.component.ts
Labels: frontend, backend

Send New Request notification to power users in app
  src/Ombi.Notifications/Agents/DiscordNotification.cs
  src/Ombi.Notifications/Agents/EmailNotification.cs
  src/Ombi.Notifications/Agents/GotifyNotification.cs
  src/Ombi.Notifications/Agents/LegacyMobileNotification.cs
  src/Ombi.Notifications/Agents/MattermostNotification.cs
  src/Ombi.Notifications/Agents/MobileNotification.cs
  src/Ombi.Notifications/Agents/PushbulletNotification.cs
  src/Ombi.Notifications/Agents/PushoverNotification.cs
  src/Ombi.Notifications/Agents/SlackNotification.cs
  src/Ombi.Notifications/Agents/TelegramNotification.cs
  src/Ombi.Notifications/Agents/WebhookNotification.cs
  src/Ombi.Notifications/Agents/WhatsAppNotification.cs
  src/Ombi.Notifications/BaseNotification.cs
Labels: backend

First pass at newsletter refactoring
  src/Ombi.Core/Rule/Rules/Search/AvailabilityRuleHelper.cs
  src/Ombi.Core/Rule/Rules/Search/EmbyAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/JellyfinAvailabilityRule.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
  src/Ombi.Schedule/Jobs/Plex/PlexAvailabilityChecker.cs
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
  src/Ombi.Schedule/Jobs/Plex/PlexEpisodeSync.cs
  src/Ombi.Store/Entities/EmbyEpisode.cs
  src/Ombi.Store/Entities/IMediaServerContent.cs
  src/Ombi.Store/Entities/JellyfinEpisode.cs
  src/Ombi.Store/Entities/MediaServerContent.cs
  src/Ombi.Store/Entities/PlexEpisode.cs
  src/Ombi.Store/Repository/EmbyContentRepository.cs
  src/Ombi.Store/Repository/IMediaServerContentRepository.cs
  src/Ombi.Store/Repository/IMediaServerContentRepositoryLight.cs
  src/Ombi.Store/Repository/JellyfinContentRepository.cs
  src/Ombi.Store/Repository/PlexContentRepository.cs
Labels: backend

Removing wrongly copied folder
  src/Ombi.Api 2.Service/AppVeyorApi.cs
  src/Ombi.Api 2.Service/IAppVeyorApi.cs
  src/Ombi.Api 2.Service/IOmbiService.cs
  src/Ombi.Api 2.Service/Models/Updates.cs
  src/Ombi.Api 2.Service/Ombi.Api.Service.csproj
  src/Ombi.Api 2.Service/OmbiService.cs
  src/Ombi.Api 3.Service/AppVeyorApi.cs
  src/Ombi.Api 3.Service/IAppVeyorApi.cs
  src/Ombi.Api 3.Service/IOmbiService.cs
  src/Ombi.Api 3.Service/Models/Updates.cs
  src/Ombi.Api 3.Service/Ombi.Api.Service.csproj
  src/Ombi.Api 3.Service/OmbiService.cs
Labels: backend

Delete LdapUserManager 2.cs
  src/Ombi.Core/Authentication/LdapUserManager 2.cs
Labels: backend

Adding back file accidentely deleted
  src/Ombi.Api.Emby/JellyfinApi.cs
  src/Ombi.Api.Radarr/Models/MovieResponse.cs
  src/Ombi.Api.Radarr/Models/RadarrAddMovie.cs
  src/Ombi.Api.Radarr/Models/SystemStatus.cs
  src/Ombi.Api/OmbiHttpClient.cs
Labels: backend

Revert "Adding back file accidentely deleted"
  src/Ombi.Api.Emby/JellyfinApi.cs
  src/Ombi.Api.Radarr/Models/MovieResponse.cs
  src/Ombi.Api.Radarr/Models/RadarrAddMovie.cs
  src/Ombi.Api.Radarr/Models/SystemStatus.cs
  src/Ombi.Api/OmbiHttpClient.cs
Labels: backend

Deleting more duplicated files
  src/Ombi.Core/ILdapUserManager 2.cs
  src/Ombi.Schedule/Jobs/Ldap/LdapUserImporter 2.cs
  src/Ombi.Settings/Settings/Models/LdapSettings 2.cs
Labels: backend

Adding the latest missing files
  src/Ombi.Core/Authentication/LdapUserManager.cs
  src/Ombi.Schedule/Jobs/Ldap/LdapUserImporter.cs
  src/Ombi.Settings/Settings/Models/LdapSettings.cs
Labels: backend

Put back version from Github following bad rebase
  src/Ombi.Core/Engine/Demo/DemoMovieSearchEngine.cs
Labels: backend

Put back dev version
  src/Ombi.Core/Engine/V2/CalendarEngine.cs
Labels: backend

Put back from dev
  src/Ombi.Core/Engine/V2/MultiSearchEngine.cs
Labels: backend

Put back version from dev
  src/Ombi.Core/Models/Search/V2/SearchFullInfoTvShowViewModel.cs
Labels: backend

Bad merge : jellyfin deleted by mistake
  src/Ombi.HealthChecks/Checks/CouchPotatoHealthCheck.cs
  src/Ombi.HealthChecks/HealthCheckExtensions.cs
Labels: backend

More file from dev
  src/Ombi.Helpers.Tests/UriHelperTests.cs
  src/Ombi.Notifications.Templates/Templates/BasicTemplate.html
  src/Ombi.Schedule/Jobs/Couchpotato/CouchPotatoSync.cs
Labels: backend

Localize episodes names in TV details
  src/Ombi.Core/Engine/V2/TvSearchEngineV2.cs
Labels: backend

Fix 100th Emby episode not being synced
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
Labels: backend

Fix 100th Emby TV show and movie not being synced
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
Labels: backend

Fix Jellyfin API offset error
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinContentSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinEpisodeSync.cs
Labels: backend

Add UI for Emby recently added cronjob settings
  src/Ombi/ClientApp/src/app/settings/jobs/jobs.component.html
  src/Ombi/ClientApp/src/app/settings/jobs/jobs.component.ts
Labels: frontend

fix(discover): 🌐 Localize episodes names in TV details (#4467) [skip ci]
  src/Ombi.Core/Engine/V2/TvSearchEngineV2.cs
Labels: backend
