Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

chore(release): :rocket: v4.47.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

feat: rework pages
  css/dark-style.css
  index.html
  js/javascript.js
Labels: none

fix
  css/style.css
  index.html
Labels: none

try again
  css/dark-style.css
  index.html
  js/javascript.js
Labels: none

fixxxxx
  css/dark-style.css
Labels: none

Fix Plex user import to exclude users without server access
  src/Ombi.Schedule/Jobs/Plex/PlexUserImporter.cs
Labels: backend

update
  .github/workflows/automation-tests.yml
  .github/workflows/build.yml
  .github/workflows/chromatic.yml
  .github/workflows/pr.yml
Labels: devops

fix(user-import): Do not import users that do not have access to the server #5064
  src/Ombi.Api.Plex/Models/Friends/PlexFriends.cs
  src/Ombi.Schedule.Tests/PlexUserImporterTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexUserImporter.cs
Labels: backend

update cache
  .github/workflows/automation-tests.yml
  .github/workflows/build.yml
  .github/workflows/chromatic.yml
  .github/workflows/pr.yml
Labels: devops

Update version.json
  version.json
Labels: none

chore(release): :rocket: v4.47.2 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix: #5223
  src/Ombi/Controllers/V1/SettingsController.cs
Labels: backend

chore(release): :rocket: v4.47.3 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

feat: added the watchlist notification
  src/.idea/.idea.Ombi/.idea/contentModel.xml
  src/.idea/.idea.Ombi/.idea/dbnavigator.xml
  src/.idea/.idea.Ombi/.idea/modules.xml
  src/.idea/.idea.Ombi/.idea/projectSettingsUpdater.xml
  src/.idea/.idea.Ombi/.idea/workspace.xml
  src/.idea/.idea.Ombi/riderModule.iml
  src/.vscode/tasks.json
  src/Ombi.Helpers/NotificationType.cs
  src/Ombi.Schedule.Tests/Ombi.Schedule.Tests.csproj
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule.Tests/Properties/launchSettings.json
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
  src/Ombi.Settings/Settings/Models/External/PlexSettings.cs
  src/Ombi.Store/Context/OmbiContext.cs
  src/Ombi/ClientApp/src/app/interfaces/INotificationSettings.ts
  src/Ombi/ClientApp/src/app/interfaces/ISettings.ts
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.html
Labels: frontend, backend

missed a file
  src/Ombi.Store/Context/OmbiContext.cs
Labels: backend

rework the pages
  src/.idea/.idea.Ombi/.idea/workspace.xml
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.html
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.scss
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.html
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.scss
Labels: frontend

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/nl.json
Labels: none

fixed tests
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.48.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

bug: added additional logging to help identify #5215
  src/Ombi.Core/Senders/TvSender.cs
Labels: backend

chore(release): :rocket: v4.48.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(radarr): ensure RequestedUser is loaded when creating tags
  src/Ombi.Core/Engine/MovieRequestEngine.cs
  src/Ombi.Core/Senders/MovieSender.cs
Labels: backend

chore(release): :rocket: v4.48.2 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix: Correct 4K movie request existence check
  src/Ombi.Core/Senders/MovieSender.cs
Labels: backend

chore(release): :rocket: v4.48.3 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(ui): correct timezone handling in OmbiDatePipe
  src/Ombi/ClientApp/src/app/pipes/OmbiDatePipe.ts
Labels: frontend

chore(release): :rocket: v4.48.4 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix: filter out excluded notification agents from user preferences
  src/Ombi/ClientApp/src/app/usermanagement/usermanagement-user.component.ts
Labels: frontend

chore(release): :rocket: v4.48.5 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/it.json
Labels: none

feat: Added the ability for the Watchlist to automatically refresh the users token. This will reduce the need for the user to log in
  src/Ombi.Api.Plex/IPlexApi.cs
  src/Ombi.Api.Plex/PlexApi.cs
  src/Ombi.DependencyInjection/IocExtensions.cs
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

fix
  src/Ombi.Core/Authentication/PlexTokenKeepAliveService.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

chore(release): :rocket: v4.49.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(auth): Fixed an issue where refreshing the page as a power user would stop the application from loading #5242
  src/Ombi/Controllers/V1/SettingsController.cs
Labels: backend

chore(release): :rocket: v4.49.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

perf(discover): :zap: Improve the loading performance on the discover page
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.html
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.scss
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.ts
  src/Ombi/ClientApp/src/app/discover/components/discover/discover.component.html
  src/Ombi/ClientApp/src/app/discover/components/discover/discover.component.scss
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.html
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.scss
Labels: frontend

chore(release): :rocket: v4.49.2 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Upgrade Angular to v20 and TypeScript to 5.8.3
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend
