Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

fix: move API throttle inside cache factory to avoid contention on cache hits
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
  src/Ombi.Core/Engine/V2/TvSearchEngineV2.cs
Labels: backend

fix: move API throttle inside cache factory to avoid contention on cache hits
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
  src/Ombi.Core/Engine/V2/TvSearchEngineV2.cs
Labels: backend

Exclude spec files from Angular production build
  src/Ombi/ClientApp/src/tsconfig.json
Labels: frontend

Exclude spec files from Angular production build
  src/Ombi/ClientApp/src/tsconfig.json
Labels: frontend

fix: remove SemaphoreSlim throttle - unnecessary given TMDB rate limits
  src/Ombi.Core/Engine/BaseMediaEngine.cs
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
  src/Ombi.Core/Engine/V2/TvSearchEngineV2.cs
Labels: backend

fix: remove SemaphoreSlim throttle - unnecessary given TMDB rate limits
  src/Ombi.Core/Engine/BaseMediaEngine.cs
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
  src/Ombi.Core/Engine/V2/TvSearchEngineV2.cs
Labels: backend

fix: extend request cache TTL and add null guards for TV results
  src/Ombi.Core/Engine/BaseMediaEngine.cs
  src/Ombi.Core/Engine/V2/TvSearchEngineV2.cs
Labels: backend

fix: extend request cache TTL and add null guards for TV results
  src/Ombi.Core/Engine/BaseMediaEngine.cs
  src/Ombi.Core/Engine/V2/TvSearchEngineV2.cs
Labels: backend

Simplify availability checks with shared base class
  src/Ombi.Core/Rule/RuleEvaluator.cs
  src/Ombi.Core/Rule/Rules/Search/EmbyAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/ExistingRule.cs
  src/Ombi.Core/Rule/Rules/Search/JellyfinAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/MediaServerAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/PlexAvailabilityRule.cs
Labels: backend

Simplify availability checks with shared base class
  src/Ombi.Core/Rule/RuleEvaluator.cs
  src/Ombi.Core/Rule/Rules/Search/EmbyAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/ExistingRule.cs
  src/Ombi.Core/Rule/Rules/Search/JellyfinAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/MediaServerAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/PlexAvailabilityRule.cs
Labels: backend

Address review feedback: strengthen test assertions and fix test issues
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.spec.ts
  src/Ombi/ClientApp/src/app/discover/services/filter-service.spec.ts
  src/Ombi/ClientApp/src/app/login/login.component.spec.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.spec.ts
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.spec.ts
  src/Ombi/ClientApp/src/app/services/image.service.spec.ts
  src/Ombi/ClientApp/src/app/services/settings.service.spec.ts
  src/Ombi/ClientApp/src/app/state/customization/customization.facade.spec.ts
  src/Ombi/ClientApp/src/app/state/features/features.facade.spec.ts
Labels: frontend

Address review feedback: strengthen test assertions and fix test issues
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.spec.ts
  src/Ombi/ClientApp/src/app/discover/services/filter-service.spec.ts
  src/Ombi/ClientApp/src/app/login/login.component.spec.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.spec.ts
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.spec.ts
  src/Ombi/ClientApp/src/app/services/image.service.spec.ts
  src/Ombi/ClientApp/src/app/services/settings.service.spec.ts
  src/Ombi/ClientApp/src/app/state/customization/customization.facade.spec.ts
  src/Ombi/ClientApp/src/app/state/features/features.facade.spec.ts
Labels: frontend

chore(release): :rocket: v4.57.7 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.57.7 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

refactor: address PR review feedback on availability checks
  src/Ombi.Core/Rule/RuleEvaluator.cs
  src/Ombi.Core/Rule/Rules/Search/EmbyAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/JellyfinAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/MediaServerAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/PlexAvailabilityRule.cs
  src/Ombi.Store/Entities/IMediaServerContent.cs
Labels: backend

refactor: address PR review feedback on availability checks
  src/Ombi.Core/Rule/RuleEvaluator.cs
  src/Ombi.Core/Rule/Rules/Search/EmbyAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/JellyfinAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/MediaServerAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/PlexAvailabilityRule.cs
  src/Ombi.Store/Entities/IMediaServerContent.cs
Labels: backend

fix: run search rules sequentially to avoid DbContext thread-safety issues
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
  src/Ombi.Core/Engine/V2/TvSearchEngineV2.cs
Labels: backend

fix: run search rules sequentially to avoid DbContext thread-safety issues
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
  src/Ombi.Core/Engine/V2/TvSearchEngineV2.cs
Labels: backend

refactor: reduce duplication and fix movie availability logic
  src/Ombi.Core/Rule/RuleEvaluator.cs
  src/Ombi.Core/Rule/Rules/Search/EmbyAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/JellyfinAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/MediaServerAvailabilityRule.cs
Labels: backend

refactor: reduce duplication and fix movie availability logic
  src/Ombi.Core/Rule/RuleEvaluator.cs
  src/Ombi.Core/Rule/Rules/Search/EmbyAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/JellyfinAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/MediaServerAvailabilityRule.cs
Labels: backend

fix: make discover page processing sequential to fix test failures
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
  src/Ombi.Core/Engine/V2/TvSearchEngineV2.cs
Labels: backend

fix: make discover page processing sequential to fix test failures
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
  src/Ombi.Core/Engine/V2/TvSearchEngineV2.cs
Labels: backend

fix: set PartlyAvailable when fully available with unaired episodes
  src/Ombi.Core/Rule/Rules/Search/AvailabilityRuleHelper.cs
Labels: backend

fix: set PartlyAvailable when fully available with unaired episodes
  src/Ombi.Core/Rule/Rules/Search/AvailabilityRuleHelper.cs
Labels: backend

fix: restore TransformMovieResultsToResponse to match original code
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
Labels: backend

fix: restore TransformMovieResultsToResponse to match original code
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
Labels: backend

Upgrade backend from .NET 8 to .NET 10
  .github/workflows/build.yml
  global.json
  src/Ombi.Api.External/Ombi.Api.External.csproj
  src/Ombi.Api/Ombi.Api.csproj
  src/Ombi.Core.Tests/Ombi.Core.Tests.csproj
  src/Ombi.Core/Ombi.Core.csproj
  src/Ombi.DependencyInjection/Ombi.DependencyInjection.csproj
  src/Ombi.HealthChecks/Ombi.HealthChecks.csproj
  src/Ombi.Helpers.Tests/Ombi.Helpers.Tests.csproj
  src/Ombi.Helpers/LinqHelpers.cs
  src/Ombi.Helpers/Ombi.Helpers.csproj
  src/Ombi.Hubs/Ombi.Hubs.csproj
  src/Ombi.I18n/Ombi.I18n.csproj
  src/Ombi.Mapping/Ombi.Mapping.csproj
  src/Ombi.Notifications.Templates/Ombi.Notifications.Templates.csproj
  src/Ombi.Notifications.Tests/Ombi.Notifications.Tests.csproj
  src/Ombi.Notifications/Ombi.Notifications.csproj
  src/Ombi.Schedule.Tests/Ombi.Schedule.Tests.csproj
  src/Ombi.Schedule/Ombi.Schedule.csproj
  src/Ombi.Settings.Tests/Ombi.Settings.Tests.csproj
  src/Ombi.Settings/Ombi.Settings.csproj
  src/Ombi.Store/Ombi.Store.csproj
  src/Ombi.Test.Common/Ombi.Test.Common.csproj
  src/Ombi.Tests/Ombi.Tests.csproj
  src/Ombi.Updater/Ombi.Updater.csproj
  src/Ombi/Ombi.csproj
  src/dockerfile
Labels: backend, devops

Upgrade backend from .NET 8 to .NET 10
  .github/workflows/build.yml
  global.json
  src/Ombi.Api.External/Ombi.Api.External.csproj
  src/Ombi.Api/Ombi.Api.csproj
  src/Ombi.Core.Tests/Ombi.Core.Tests.csproj
  src/Ombi.Core/Ombi.Core.csproj
  src/Ombi.DependencyInjection/Ombi.DependencyInjection.csproj
  src/Ombi.HealthChecks/Ombi.HealthChecks.csproj
  src/Ombi.Helpers.Tests/Ombi.Helpers.Tests.csproj
  src/Ombi.Helpers/LinqHelpers.cs
  src/Ombi.Helpers/Ombi.Helpers.csproj
  src/Ombi.Hubs/Ombi.Hubs.csproj
  src/Ombi.I18n/Ombi.I18n.csproj
  src/Ombi.Mapping/Ombi.Mapping.csproj
  src/Ombi.Notifications.Templates/Ombi.Notifications.Templates.csproj
  src/Ombi.Notifications.Tests/Ombi.Notifications.Tests.csproj
  src/Ombi.Notifications/Ombi.Notifications.csproj
  src/Ombi.Schedule.Tests/Ombi.Schedule.Tests.csproj
  src/Ombi.Schedule/Ombi.Schedule.csproj
  src/Ombi.Settings.Tests/Ombi.Settings.Tests.csproj
  src/Ombi.Settings/Ombi.Settings.csproj
  src/Ombi.Store/Ombi.Store.csproj
  src/Ombi.Test.Common/Ombi.Test.Common.csproj
  src/Ombi.Tests/Ombi.Tests.csproj
  src/Ombi.Updater/Ombi.Updater.csproj
  src/Ombi/Ombi.csproj
  src/dockerfile
Labels: backend, devops

Update docs and scripts for .NET 10
  CONTRIBUTING.md
  scripts/setup-dev.sh
Labels: none

Update docs and scripts for .NET 10
  CONTRIBUTING.md
  scripts/setup-dev.sh
Labels: none

Upgrade NuGet packages and fix PR review feedback
  .github/workflows/automation-tests.yml
  .github/workflows/build.yml
  .github/workflows/pr.yml
  src/Ombi.Api/Ombi.Api.csproj
  src/Ombi.Core.Tests/Ombi.Core.Tests.csproj
  src/Ombi.Core/Ombi.Core.csproj
  src/Ombi.DependencyInjection/Ombi.DependencyInjection.csproj
  src/Ombi.HealthChecks/Ombi.HealthChecks.csproj
  src/Ombi.Helpers.Tests/Ombi.Helpers.Tests.csproj
  src/Ombi.Helpers/Ombi.Helpers.csproj
  src/Ombi.Notifications.Tests/Ombi.Notifications.Tests.csproj
  src/Ombi.Schedule.Tests/Ombi.Schedule.Tests.csproj
  src/Ombi.Settings.Tests/Ombi.Settings.Tests.csproj
  src/Ombi.Settings/Ombi.Settings.csproj
  src/Ombi.Store/Ombi.Store.csproj
  src/Ombi.Tests/Ombi.Tests.csproj
  src/Ombi.Updater/Ombi.Updater.csproj
  src/Ombi/Extensions/DatabaseExtensions.cs
  src/Ombi/Ombi.csproj
Labels: backend, devops

Upgrade NuGet packages and fix PR review feedback
  .github/workflows/automation-tests.yml
  .github/workflows/build.yml
  .github/workflows/pr.yml
  src/Ombi.Api/Ombi.Api.csproj
  src/Ombi.Core.Tests/Ombi.Core.Tests.csproj
  src/Ombi.Core/Ombi.Core.csproj
  src/Ombi.DependencyInjection/Ombi.DependencyInjection.csproj
  src/Ombi.HealthChecks/Ombi.HealthChecks.csproj
  src/Ombi.Helpers.Tests/Ombi.Helpers.Tests.csproj
  src/Ombi.Helpers/Ombi.Helpers.csproj
  src/Ombi.Notifications.Tests/Ombi.Notifications.Tests.csproj
  src/Ombi.Schedule.Tests/Ombi.Schedule.Tests.csproj
  src/Ombi.Settings.Tests/Ombi.Settings.Tests.csproj
  src/Ombi.Settings/Ombi.Settings.csproj
  src/Ombi.Store/Ombi.Store.csproj
  src/Ombi.Tests/Ombi.Tests.csproj
  src/Ombi.Updater/Ombi.Updater.csproj
  src/Ombi/Extensions/DatabaseExtensions.cs
  src/Ombi/Ombi.csproj
Labels: backend, devops

fix: restore missing SearchViewModel using in Emby and Jellyfin rules
  src/Ombi.Core/Rule/Rules/Search/EmbyAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/JellyfinAvailabilityRule.cs
Labels: backend

fix: restore missing SearchViewModel using in Emby and Jellyfin rules
  src/Ombi.Core/Rule/Rules/Search/EmbyAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/JellyfinAvailabilityRule.cs
Labels: backend

Address PR review feedback: test packages and setup script
  scripts/setup-dev.sh
  src/Ombi.Core.Tests/Ombi.Core.Tests.csproj
  src/Ombi.Helpers.Tests/Ombi.Helpers.Tests.csproj
  src/Ombi.Notifications.Tests/Ombi.Notifications.Tests.csproj
  src/Ombi.Schedule.Tests/Ombi.Schedule.Tests.csproj
  src/Ombi.Settings.Tests/Ombi.Settings.Tests.csproj
  src/Ombi.Tests/Ombi.Tests.csproj
Labels: none

Address PR review feedback: test packages and setup script
  scripts/setup-dev.sh
  src/Ombi.Core.Tests/Ombi.Core.Tests.csproj
  src/Ombi.Helpers.Tests/Ombi.Helpers.Tests.csproj
  src/Ombi.Notifications.Tests/Ombi.Notifications.Tests.csproj
  src/Ombi.Schedule.Tests/Ombi.Schedule.Tests.csproj
  src/Ombi.Settings.Tests/Ombi.Settings.Tests.csproj
  src/Ombi.Tests/Ombi.Tests.csproj
Labels: none

fix: use DateTime.Now.Date consistently in AvailabilityRuleHelper
  src/Ombi.Core/Rule/Rules/Search/AvailabilityRuleHelper.cs
Labels: backend

fix: use DateTime.Now.Date consistently in AvailabilityRuleHelper
  src/Ombi.Core/Rule/Rules/Search/AvailabilityRuleHelper.cs
Labels: backend

Fix non-admin movie request test by intercepting POST request
  tests/cypress/tests/discover/discover-cards-requests.spec.ts
Labels: automation

Fix Cypress test TypeScript compilation errors
  tests/cypress.config.ts
  tests/cypress/features/01-wizard/wizard.ts
  tests/cypress/features/login/login.ts
  tests/cypress/integration/page-objects/shared/DiscoverCard.ts
  tests/cypress/tests/details/tv/tvdetails-requests-grid.spec.ts
  tests/cypress/tests/discover/discover-cards-requests.spec.ts
  tests/cypress/tests/discover/discover-responsive.spec.ts
  tests/cypress/tests/requests/requests.spec.ts
Labels: automation
