Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

fix(dvr): reset auto-increment in a database-provider-aware way (#5436)
  src/Ombi.Schedule/Jobs/Radarr/RadarrSync.cs
  src/Ombi.Schedule/Jobs/Sonarr/SonarrSync.cs
  src/Ombi.Store/Context/DatabaseExtensions.cs
Labels: backend

chore(release): :rocket: v4.60.6 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

feat(updater): defer to system package manager on apt installs
  src/Ombi.Core/Models/UI/UpdateSettingsViewModel.cs
  src/Ombi.Helpers.Tests/InstallMethodHelperTests.cs
  src/Ombi.Helpers/InstallMethodHelper.cs
  src/Ombi.Schedule.Tests/OmbiAutomaticUpdaterTests.cs
  src/Ombi.Schedule/Jobs/Ombi/OmbiAutomaticUpdater.cs
  src/Ombi.Schedule/OmbiScheduler.cs
  src/Ombi/ClientApp/src/app/interfaces/ISettings.ts
  src/Ombi/ClientApp/src/app/settings/update/update.component.html
  src/Ombi/ClientApp/src/app/settings/update/update.component.spec.ts
  src/Ombi/ClientApp/src/app/settings/update/update.component.ts
Labels: frontend, backend

test(updater): mark env-var-mutating fixtures NonParallelizable
  src/Ombi.Helpers.Tests/InstallMethodHelperTests.cs
  src/Ombi.Schedule.Tests/OmbiAutomaticUpdaterTests.cs
Labels: backend

fix(updater): use <output> for the apt banner instead of role="status"
  src/Ombi/ClientApp/src/app/settings/update/update.component.html
  src/Ombi/ClientApp/src/app/settings/update/update.component.scss
Labels: frontend

fix(watchlist): debounce Plex watchlist history pruning to stop re-requests (#5427)
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
  src/Ombi.Store/Entities/PlexWatchlistHistory.cs
  src/Ombi.Store/Migrations/ExternalMySql/20260623000000_PlexWatchlistHistoryLastSeen.Designer.cs
  src/Ombi.Store/Migrations/ExternalMySql/20260623000000_PlexWatchlistHistoryLastSeen.cs
  src/Ombi.Store/Migrations/ExternalMySql/ExternalMySqlContextModelSnapshot.cs
  src/Ombi.Store/Migrations/ExternalPostgres/20260623000000_PlexWatchlistHistoryLastSeen.Designer.cs
  src/Ombi.Store/Migrations/ExternalPostgres/20260623000000_PlexWatchlistHistoryLastSeen.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20260623000000_PlexWatchlistHistoryLastSeen.Designer.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20260623000000_PlexWatchlistHistoryLastSeen.cs
  src/Ombi.Store/Migrations/ExternalSqlite/ExternalSqliteContextModelSnapshot.cs
Labels: backend

fix(emby): make episode sync pagination deterministic and harden multi-episode fill
  src/Ombi.Api.External/MediaServers/Emby/EmbyApi.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
Labels: backend

fix(emby): guard multi-episode fill against existing DB rows and dedupe builder
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
Labels: backend

fix(emby): use valid sort fields for deterministic pagination
  src/Ombi.Api.External/MediaServers/Emby/EmbyApi.cs
Labels: backend

fix(emby): scope episode sort tiebreakers to episode queries only
  src/Ombi.Api.External/MediaServers/Emby/EmbyApi.cs
Labels: backend

fix(emby): make episode sync pagination deterministic and harden multi-episode fill (#5438)
  src/Ombi.Api.External/MediaServers/Emby/EmbyApi.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
Labels: backend

chore(release): :rocket: v4.60.7 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(emby): remove stale records, harden played sync, keep provider-id-less series
  src/Ombi.Schedule.Tests/EmbyContentSyncTests.cs
  src/Ombi.Schedule.Tests/EmbyEpisodeSyncTests.cs
  src/Ombi.Schedule.Tests/EmbyPlayedSyncTests.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyLibrarySync.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyPlayedSync.cs
  src/Ombi.Store/Repository/EmbyContentRepository.cs
  src/Ombi.Store/Repository/IEmbyContentRepository.cs
Labels: backend

fix(emby): address review feedback on the stale record cleanup
  src/Ombi.Schedule.Tests/EmbyEpisodeSyncTests.cs
  src/Ombi.Schedule.Tests/EmbyPlayedSyncTests.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyPlayedSync.cs
Labels: backend

refactor(emby): address static analysis findings on the episode sync
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyPlayedSync.cs
Labels: backend

fix(emby): remove stale records, harden played sync, keep provider-id-less series (#5439)
  src/Ombi.Schedule.Tests/EmbyContentSyncTests.cs
  src/Ombi.Schedule.Tests/EmbyEpisodeSyncTests.cs
  src/Ombi.Schedule.Tests/EmbyPlayedSyncTests.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyLibrarySync.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyPlayedSync.cs
  src/Ombi.Store/Repository/EmbyContentRepository.cs
  src/Ombi.Store/Repository/IEmbyContentRepository.cs
Labels: backend

chore(release): :rocket: v4.60.8 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(watchlist): debounce Plex watchlist history pruning to stop re-requests (#5427)
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
  src/Ombi.Store/Entities/PlexWatchlistHistory.cs
  src/Ombi.Store/Migrations/ExternalMySql/20260623000000_PlexWatchlistHistoryLastSeen.Designer.cs
  src/Ombi.Store/Migrations/ExternalMySql/20260623000000_PlexWatchlistHistoryLastSeen.cs
  src/Ombi.Store/Migrations/ExternalMySql/ExternalMySqlContextModelSnapshot.cs
  src/Ombi.Store/Migrations/ExternalPostgres/20260623000000_PlexWatchlistHistoryLastSeen.Designer.cs
  src/Ombi.Store/Migrations/ExternalPostgres/20260623000000_PlexWatchlistHistoryLastSeen.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20260623000000_PlexWatchlistHistoryLastSeen.Designer.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20260623000000_PlexWatchlistHistoryLastSeen.cs
  src/Ombi.Store/Migrations/ExternalSqlite/ExternalSqliteContextModelSnapshot.cs
Labels: backend

fix(watchlist): normalize LastSeenAt to UTC before comparison to prevent timezone offsets distortion
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

fix(watchlist): use structured logging instead of string interpolation in watchlist import
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

docs(watchlist): clarify legacy row pruning behavior in PlexWatchlistHistory LastSeenAt XML doc
  src/Ombi.Store/Entities/PlexWatchlistHistory.cs
Labels: backend

fix(watchlist): debounce Plex watchlist history pruning to stop re-requests (#5427) (#5440)
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
  src/Ombi.Store/Entities/PlexWatchlistHistory.cs
  src/Ombi.Store/Migrations/ExternalMySql/20260623000000_PlexWatchlistHistoryLastSeen.Designer.cs
  src/Ombi.Store/Migrations/ExternalMySql/20260623000000_PlexWatchlistHistoryLastSeen.cs
  src/Ombi.Store/Migrations/ExternalMySql/ExternalMySqlContextModelSnapshot.cs
  src/Ombi.Store/Migrations/ExternalPostgres/20260623000000_PlexWatchlistHistoryLastSeen.Designer.cs
  src/Ombi.Store/Migrations/ExternalPostgres/20260623000000_PlexWatchlistHistoryLastSeen.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20260623000000_PlexWatchlistHistoryLastSeen.Designer.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20260623000000_PlexWatchlistHistoryLastSeen.cs
  src/Ombi.Store/Migrations/ExternalSqlite/ExternalSqliteContextModelSnapshot.cs
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.60.9 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

style: fix discover card details visibility on mobile touch devices
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.scss
Labels: frontend

style: use screen width media query for discover card touch fallback and reset content translate
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.scss
Labels: frontend

style: combine touch queries with max-width limits to support larger tablets and prevent CI failures
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.scss
Labels: frontend

style: increase touch media query max-width limit to 1900px to support large-screen tablets (iPad Pro 12.9)
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.scss
Labels: frontend

style: use elegant hover: none and pointer: coarse media query to target touch-only devices
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.scss
Labels: frontend

style: align touch media query with codebase convention using OR logic and max-width: 1900px
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.scss
Labels: frontend

fix: resolve discover card details and action visibility on mobile touch devices (#5442)
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.scss
Labels: frontend

chore(release): :rocket: v4.60.10 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(settings): resolve mobile dropdown positioning and horizontal layout overflow (fixes #5414)
  src/Ombi/ClientApp/src/app/settings/couchpotato/couchpotato.component.html
  src/Ombi/ClientApp/src/app/settings/dognzb/dognzb.component.html
  src/Ombi/ClientApp/src/app/settings/issues/issues.component.scss
  src/Ombi/ClientApp/src/app/settings/lidarr/lidarr.component.html
  src/Ombi/ClientApp/src/app/settings/lidarr/lidarr.component.scss
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.scss
  src/Ombi/ClientApp/src/app/settings/radarr/components/radarr-form.component.html
  src/Ombi/ClientApp/src/app/settings/radarr/components/radarr-form.component.scss
  src/Ombi/ClientApp/src/app/settings/radarr/radarr.component.scss
  src/Ombi/ClientApp/src/app/settings/sickrage/sickrage.component.html
  src/Ombi/ClientApp/src/app/settings/sonarr/sonarr.component.html
  src/Ombi/ClientApp/src/app/settings/sonarr/sonarr.component.scss
  src/Ombi/ClientApp/src/styles/material-overrides.scss
Labels: frontend

fix: resolve user data leakage in BCC mass email templates
  src/Ombi.Core.Tests/Senders/MassEmailSenderTests.cs
  src/Ombi.Core/Senders/MassEmailSender.cs
Labels: backend

fix: respect Sonarr availability priority for TV episodes
  src/Ombi.Core.Tests/Rule/Search/EmbyAvailabilityRuleTests.cs
  src/Ombi.Core/Rule/Rules/Search/MediaServerAvailabilityRule.cs
Labels: backend

fix: auto-import/link Plex Admin during Plex OAuth login
  src/Ombi/Controllers/V1/TokenController.cs
Labels: backend

fix: auto-import/link Plex Admin during Plex OAuth login and fix test timezone flakiness
  src/Ombi.Core.Tests/Engine/MovieRequestLimitsTests.cs
  src/Ombi.Core.Tests/Engine/MusicRequestLimitTests.cs
  src/Ombi.Core.Tests/Engine/TvRequestLimitsTests.cs
  src/Ombi.Core/Services/RequestLimitService.cs
  src/Ombi/Controllers/V1/TokenController.cs
Labels: backend

fix: resolve critical and major SonarQube code quality issues
  src/Ombi.Core/Engine/MusicRequestEngine.cs
  src/Ombi.Core/Engine/TvRequestEngine.cs
  src/Ombi.Core/Rule/Rules/Search/AvailabilityRuleHelper.cs
  src/Ombi.Core/Rule/Rules/Search/MediaServerAvailabilityRule.cs
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.html
  src/Ombi/ClientApp/src/app/pipes/HumanizePipe.spec.ts
  src/Ombi/ClientApp/src/app/pipes/HumanizePipe.ts
  src/Ombi/ClientApp/src/app/wizard/database/database.component.html
Labels: frontend, backend

fix: preserve per-quality movie overrides
  src/Ombi.Core.Tests/Engine/MovieRequestEngineTests.cs
  src/Ombi.Core.Tests/Senders/MovieSenderTests.cs
  src/Ombi.Core/Engine/MovieRequestEngine.cs
  src/Ombi.Core/Models/Requests/MovieAdvancedOptions.cs
  src/Ombi.Core/Senders/MovieSender.cs
  src/Ombi.Store/Context/OmbiContext.cs
  src/Ombi.Store/Entities/Requests/MovieRequests.cs
  src/Ombi.Store/Migrations/OmbiMySql/20260723000000_UserSelectableQualityProfiles.cs
  src/Ombi.Store/Migrations/OmbiMySql/20260723000001_QualityOverride4K.Designer.cs
  src/Ombi.Store/Migrations/OmbiMySql/20260723000001_QualityOverride4K.cs
  src/Ombi.Store/Migrations/OmbiMySql/OmbiMySqlContextModelSnapshot.cs
  src/Ombi.Store/Migrations/OmbiPostgres/20260723000000_UserSelectableQualityProfiles.cs
  src/Ombi.Store/Migrations/OmbiPostgres/20260723000001_QualityOverride4K.Designer.cs
  src/Ombi.Store/Migrations/OmbiPostgres/20260723000001_QualityOverride4K.cs
  src/Ombi.Store/Migrations/OmbiPostgres/OmbiPostgresContextModelSnapshot.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20260723000000_UserSelectableQualityProfiles.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20260723000001_QualityOverride4K.Designer.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20260723000001_QualityOverride4K.cs
  src/Ombi.Store/Repository/BaseRepository.cs
  src/Ombi.Store/Repository/IExternalRepository.cs
  src/Ombi.Store/Repository/IRepository.cs
  src/Ombi.Tests/Migrations/SelectRadarrQualityProfileRoleTests.cs
  src/Ombi/ClientApp/src/app/interfaces/IRadarr.ts
  src/Ombi/ClientApp/src/app/interfaces/IRequestModel.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.spec.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-advanced-options/movie-advanced-options.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-advanced-options/movie-advanced-options.component.spec.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-advanced-options/movie-advanced-options.component.ts
  src/Ombi/ClientApp/src/app/shared/episode-request/episode-request.component.spec.ts
  src/Ombi/ClientApp/src/app/shared/episode-request/episode-request.component.ts
  src/Ombi/ClientApp/src/app/usermanagement/usermanagement-user.component.html
  src/Ombi/ClientApp/src/app/usermanagement/usermanagement-user.component.spec.ts
  src/Ombi/Controllers/V1/IdentityController.cs
Labels: frontend, backend

fix: address follow-up review feedback
  src/Ombi.Core.Tests/Engine/MovieRequestEngineTests.cs
  src/Ombi.Store/Migrations/OmbiMySql/20260723000001_QualityOverride4K.Designer.cs
  src/Ombi.Store/Migrations/OmbiMySql/OmbiMySqlContextModelSnapshot.cs
  src/Ombi.Store/Migrations/OmbiPostgres/20260723000001_QualityOverride4K.Designer.cs
  src/Ombi.Store/Migrations/OmbiPostgres/OmbiPostgresContextModelSnapshot.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20260723000001_QualityOverride4K.Designer.cs
  src/Ombi.Store/Migrations/OmbiSqlite/OmbiSqliteContextModelSnapshot.cs
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.spec.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-advanced-options/movie-advanced-options.component.html
Labels: frontend, backend

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
