Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

feat(sonarr): :sparkles: Add the username to a Sonarr tag when sent to Sonarr
  src/Ombi.Api.Sonarr/ISonarrV3Api.cs
  src/Ombi.Api.Sonarr/Models/NewSeries.cs
  src/Ombi.Api.Sonarr/Models/SonarrSeries.cs
  src/Ombi.Api.Sonarr/SonarrV3Api.cs
  src/Ombi.Core/Senders/SonarrSendOptions.cs
  src/Ombi.Core/Senders/TvSender.cs
  src/Ombi.Settings/Settings/Models/External/SonarrSettings.cs
  src/Ombi/ClientApp/src/app/interfaces/ISettings.ts
  src/Ombi/ClientApp/src/app/settings/sonarr/sonarr.component.html
  src/Ombi/ClientApp/src/app/settings/sonarr/sonarr.component.ts
Labels: frontend, backend

feat(sonarr): :sparkles: Add the username to a Sonarr tag when sent to Sonarr (#4802)
  src/Ombi.Api.Sonarr/ISonarrV3Api.cs
  src/Ombi.Api.Sonarr/Models/NewSeries.cs
  src/Ombi.Api.Sonarr/Models/SonarrSeries.cs
  src/Ombi.Api.Sonarr/SonarrV3Api.cs
  src/Ombi.Core/Senders/SonarrSendOptions.cs
  src/Ombi.Core/Senders/TvSender.cs
  src/Ombi.Settings/Settings/Models/External/SonarrSettings.cs
  src/Ombi/ClientApp/src/app/interfaces/ISettings.ts
  src/Ombi/ClientApp/src/app/settings/sonarr/sonarr.component.html
  src/Ombi/ClientApp/src/app/settings/sonarr/sonarr.component.ts
Labels: frontend, backend

chore(release): :rocket: v4.30.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

feat(sonarr): Added the ability to add default tags when sending to Sonarr
  src/Ombi.Core/Models/TesterResultModel.cs
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
  src/Ombi/ClientApp/src/app/interfaces/ISonarr.ts
  src/Ombi/ClientApp/src/app/interfaces/ITester.ts
  src/Ombi/ClientApp/src/app/services/applications/sonarr.service.ts
  src/Ombi/ClientApp/src/app/settings/sonarr/sonarr.component.html
  src/Ombi/ClientApp/src/app/settings/sonarr/sonarr.component.ts
  src/Ombi/Controllers/V1/External/TesterController.cs
Labels: frontend, backend

feat(sonarr): Added the ability to add default tags when sending to Sonarr (#4803)
  src/Ombi.Core/Models/TesterResultModel.cs
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
  src/Ombi/ClientApp/src/app/interfaces/ISonarr.ts
  src/Ombi/ClientApp/src/app/interfaces/ITester.ts
  src/Ombi/ClientApp/src/app/services/applications/sonarr.service.ts
  src/Ombi/ClientApp/src/app/settings/sonarr/sonarr.component.html
  src/Ombi/ClientApp/src/app/settings/sonarr/sonarr.component.ts
  src/Ombi/Controllers/V1/External/TesterController.cs
Labels: frontend, backend

chore(release): :rocket: v4.31.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Create devcontainer.json
  .devcontainer/devcontainer.json
Labels: none

more rework, i think it actually works now
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-server-dialog/plex-server-dialog.component.html
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-server-dialog/plex-server-dialog.component.ts
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.html
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.ts
Labels: frontend

fix(translations): 🌐 New translations from Crowdin [skip ci] (#4801)
  src/Ombi/wwwroot/translations/sk.json
Labels: none

feat(plex): Rework the Plex Settings page (#4805)
  src/Ombi/ClientApp/src/app/settings/plex/components/models/PlexServerDialogData.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/models/index.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-server-dialog/plex-server-dialog.component.html
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-server-dialog/plex-server-dialog.component.scss
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-server-dialog/plex-server-dialog.component.ts
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.html
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.scss
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.ts
  src/Ombi/ClientApp/src/app/settings/settings.module.ts
Labels: frontend

chore(release): :rocket: v4.32.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/nl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/nl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.nl.resx
Labels: none

fix(plex): :bug: Fixed the issue where you couldn't add a new server on a fresh setup after the settings page rework
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-server-dialog/plex-server-dialog.component.ts
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.ts
Labels: frontend

chore(release): :rocket: v4.32.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(sonarr): :bug: Sonarr V4 should work now
  src/Ombi/ClientApp/src/app/app.module.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.ts
  src/Ombi/ClientApp/src/app/services/applications/sonarr.service.ts
  src/Ombi/ClientApp/src/app/settings/sonarr/sonarr.component.html
  src/Ombi/ClientApp/src/app/settings/sonarr/sonarr.component.ts
  src/Ombi/ClientApp/src/app/shared/admin-request-dialog/admin-request-dialog.component.html
  src/Ombi/ClientApp/src/app/shared/admin-request-dialog/admin-request-dialog.component.ts
  src/Ombi/ClientApp/src/app/state/sonarr/index.ts
  src/Ombi/ClientApp/src/app/state/sonarr/sonarr-initializer.ts
  src/Ombi/ClientApp/src/app/state/sonarr/sonarr.actions.ts
  src/Ombi/ClientApp/src/app/state/sonarr/sonarr.facade.ts
  src/Ombi/ClientApp/src/app/state/sonarr/sonarr.selectors.ts
  src/Ombi/ClientApp/src/app/state/sonarr/sonarr.state.ts
  src/Ombi/ClientApp/src/app/state/sonarr/types.ts
  src/Ombi/Controllers/V1/External/SonarrController.cs
Labels: frontend, backend

fix: Fixed the load error
  src/Ombi/ClientApp/src/app/login/login.component.ts
  src/Ombi/ClientApp/src/app/state/sonarr/sonarr.state.ts
Labels: frontend

fix(sonarr): :bug: Sonarr V4 should work now (#4810)
  src/Ombi/ClientApp/src/app/app.module.ts
  src/Ombi/ClientApp/src/app/login/login.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.ts
  src/Ombi/ClientApp/src/app/services/applications/sonarr.service.ts
  src/Ombi/ClientApp/src/app/settings/sonarr/sonarr.component.html
  src/Ombi/ClientApp/src/app/settings/sonarr/sonarr.component.ts
  src/Ombi/ClientApp/src/app/shared/admin-request-dialog/admin-request-dialog.component.html
  src/Ombi/ClientApp/src/app/shared/admin-request-dialog/admin-request-dialog.component.ts
  src/Ombi/ClientApp/src/app/state/sonarr/index.ts
  src/Ombi/ClientApp/src/app/state/sonarr/sonarr-initializer.ts
  src/Ombi/ClientApp/src/app/state/sonarr/sonarr.actions.ts
  src/Ombi/ClientApp/src/app/state/sonarr/sonarr.facade.ts
  src/Ombi/ClientApp/src/app/state/sonarr/sonarr.selectors.ts
  src/Ombi/ClientApp/src/app/state/sonarr/sonarr.state.ts
  src/Ombi/ClientApp/src/app/state/sonarr/types.ts
  src/Ombi/Controllers/V1/External/SonarrController.cs
Labels: frontend, backend

chore(release): :rocket: v4.32.2 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(sonarr): V4 actually works this time around
  src/Ombi.Api.Sonarr/ISonarrV3Api.cs
  src/Ombi.Api.Sonarr/Models/Episode.cs
  src/Ombi.Api.Sonarr/SonarrV3Api.cs
  src/Ombi.Core/Senders/TvSender.cs
  src/Ombi/ClientApp/src/app/settings/sonarr/sonarr.component.ts
Labels: frontend, backend

chore(release): :rocket: v4.32.3 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

added state
  src/Ombi/ClientApp/src/app/app.module.ts
  src/Ombi/ClientApp/src/app/login/login.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.ts
  src/Ombi/ClientApp/src/app/services/applications/radarr.service.ts
  src/Ombi/ClientApp/src/app/settings/radarr/radarr.component.ts
  src/Ombi/ClientApp/src/app/shared/admin-request-dialog/admin-request-dialog.component.ts
  src/Ombi/ClientApp/src/app/state/radarr/index.ts
  src/Ombi/ClientApp/src/app/state/radarr/radarr-initializer.ts
  src/Ombi/ClientApp/src/app/state/radarr/radarr.actions.ts
  src/Ombi/ClientApp/src/app/state/radarr/radarr.facade.ts
  src/Ombi/ClientApp/src/app/state/radarr/radarr.selectors.ts
  src/Ombi/ClientApp/src/app/state/radarr/radarr.state.ts
  src/Ombi/ClientApp/src/app/state/radarr/types.ts
Labels: frontend

think i did it
  src/Ombi.Api.Radarr/IRadarrV3Api.cs
  src/Ombi.Api.Radarr/Models/V2/RadarrAddMovie.cs
  src/Ombi.Api.Radarr/RadarrV3Api.cs
  src/Ombi.Core/Senders/MovieSender.cs
  src/Ombi.Settings/Settings/Models/External/RadarrSettings.cs
  src/Ombi.Settings/Settings/Models/External/SonarrSettings.cs
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.ts
  src/Ombi/ClientApp/src/app/interfaces/ISettings.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.ts
  src/Ombi/ClientApp/src/app/services/applications/radarr.service.ts
  src/Ombi/ClientApp/src/app/settings/radarr/components/radarr-form.component.html
  src/Ombi/ClientApp/src/app/settings/radarr/components/radarr-form.component.ts
  src/Ombi/ClientApp/src/app/settings/radarr/radarr.component.ts
  src/Ombi/ClientApp/src/app/settings/sonarr/sonarr.component.html
  src/Ombi/ClientApp/src/app/shared/admin-request-dialog/admin-request-dialog.component.html
  src/Ombi/ClientApp/src/app/shared/admin-request-dialog/admin-request-dialog.component.ts
  src/Ombi/ClientApp/src/app/shared/episode-request/episode-request.component.ts
  src/Ombi/Controllers/V1/External/RadarrController.cs
Labels: frontend, backend

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/it.json
Labels: none

peer deps
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

ng15
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/src/tsconfig.json
  src/Ombi/ClientApp/tsconfig.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

latest version ranges
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

a
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

material 14
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

cli up
  src/Ombi/ClientApp/package.json
Labels: frontend

yarn lock
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

update node v
  .github/workflows/build.yml
  .github/workflows/cypress.yml
  .github/workflows/pr.yml
  .gitignore
  tests/.yarnrc.yml
  tests/yarn.lock
Labels: automation, devops

typo
  src/Ombi/ClientApp/src/styles/primeng-overrides.scss
Labels: frontend

lock
  tests/yarn.lock
Labels: automation

chore(release): :rocket: v4.33.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

updates
  .github/workflows/cypress.yml
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-server-dialog/plex-server-dialog.component.html
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.html
  tests/cypress.config.ts
  tests/cypress.json
  tests/cypress/integration/page-objects/index.ts
  tests/cypress/integration/page-objects/settings/plex/plex-settings.page.ts
  tests/cypress/integration/page-objects/settings/settings.page.ts
  tests/cypress/plugins/index.js
  tests/cypress/support/commands.ts
  tests/cypress/support/e2e.ts
  tests/cypress/support/plex-settings.commands.ts
  tests/cypress/tests/settings/plex/plex-settings.spec.ts
  tests/package.json
  tests/yarn.lock
Labels: automation, frontend, devops

test coverage on the plex settings page
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-server-dialog/plex-server-dialog.component.html
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-server-dialog/plex-server-dialog.component.ts
  tests/cypress/fixtures/mocks/plex/plex-libraries.mock.json
  tests/cypress/fixtures/mocks/plex/plex-test.mock.json
  tests/cypress/integration/page-objects/settings/plex/plex-settings.page.ts
  tests/cypress/support/e2e.ts
  tests/cypress/support/mock-data.commands.ts
  tests/cypress/tests/settings/plex/plex-settings.spec.ts
  tests/tsconfig.json
Labels: automation, frontend

features
  tests/cypress.config.ts
  tests/cypress/features/login.feature
  tests/cypress/features/login.ts
  tests/cypress/tests/login/login.spec.ts
  tests/package.json
  tests/tsconfig.json
  tests/yarn.lock
Labels: automation

Update cypress.yml
  .github/workflows/cypress.yml
Labels: devops
