Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

fix(discover): Fix new trending feature detection
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.ts
Labels: frontend

fix(discover): Fix cache mix up
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
Labels: backend

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

refactor(discover): Move movie trending feature toggle to backend
  src/Ombi.Core/Engine/Interfaces/IMovieEngineV2.cs
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.ts
  src/Ombi/ClientApp/src/app/services/searchV2.service.ts
  src/Ombi/ClientApp/src/app/state/features/features.facade.ts
  src/Ombi/ClientApp/src/app/state/features/features.selectors.ts
  src/Ombi/Controllers/V2/SearchController.cs
Labels: frontend, backend

feat(discover): Default trending source to new logic
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
  src/Ombi.Core/Engine/V2/TvSearchEngineV2.cs
  src/Ombi.Settings/Settings/Models/FeatureSettings.cs
Labels: backend

perf: stop populating obsolete subscribe fields
  src/Ombi.Core/Engine/MovieSearchEngine.cs
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
  src/Ombi.Core/Models/Search/SearchViewModel.cs
Labels: backend

chore(release): :rocket: v4.18.0
  CHANGELOG.md
  version.json
Labels: none

feat(sync): Detect reidentified movies in Emby and Jellyfin
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinContentSync.cs
Labels: backend

feat(sync): Detect reidentified series in Emby and Jellyfin
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinContentSync.cs
  src/Ombi.Store/Repository/EmbyContentRepository.cs
  src/Ombi.Store/Repository/IMediaServerContentRepository.cs
  src/Ombi.Store/Repository/JellyfinContentRepository.cs
  src/Ombi.Store/Repository/MediaServerRepository.cs
  src/Ombi.Store/Repository/PlexContentRepository.cs
Labels: backend

Fix sync log criticity
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
Labels: backend

Update pr.yml
  .github/workflows/pr.yml
Labels: devops

Update label.yml
  .github/workflows/label.yml
Labels: devops

Fix formatting
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinContentSync.cs
Labels: backend

Update pr.yml
  .github/workflows/pr.yml
Labels: devops

Update label.yml
  .github/workflows/label.yml
Labels: devops

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.19.0
  CHANGELOG.md
  version.json
Labels: none

refactor(newsletter): Clarify very rare cases where newsletter doesn't publish a series
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
Labels: backend

refactor(newsletter): Clarify very rare cases where newsletter doesn't publish movie
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
Labels: backend

chore(release): :rocket: v4.19.1
  CHANGELOG.md
  version.json
Labels: none

feat(discover): Show more relevant shows in upcoming TV
  src/Ombi.Core/Engine/MovieSearchEngine.cs
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
  src/Ombi.TheMovieDbApi/IMovieDbApi.cs
  src/Ombi.TheMovieDbApi/TheMovieDbApi.cs
Labels: backend

chore(release): :rocket: v4.20.0
  CHANGELOG.md
  version.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.pl.resx
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.pl.resx
Labels: none

fixed touch not working on carousels
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.ts
Labels: frontend

fixed touch not working
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.ts
Labels: frontend

Movie details component fixes
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.ts
Labels: frontend

removed unused line, added scroll to top on init
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.ts
Labels: frontend

updated recommendation refresh implementation
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.ts
Labels: frontend

perf(sync): Emby+Jellyfin - use a more reliable filter to missing items
  src/Ombi.Api.Emby/EmbyApi.cs
  src/Ombi.Api.Jellyfin/JellyfinApi.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinEpisodeSync.cs
Labels: backend

feat(sync): Emby+Jellyfin - sync multi-episode files of 3+ episodes
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinEpisodeSync.cs
Labels: backend

missingPosterFix
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.ts
Labels: frontend

added media type tag to media type text
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.html
Labels: frontend

fix(sync): Emby+Jellyfin - sync multi-episode files of 3+ episodes
  src/Ombi.Api.Emby/EmbyApi.cs
  src/Ombi.Api.Jellyfin/JellyfinApi.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinEpisodeSync.cs
Labels: backend

Fixed issue with incorrect handling of SiCKRAGE episode results returned during episode status changes, now expects array of objects from data path if present
  src/Ombi.Api.SickRage/Models/SickRageEpisodeStatus.cs
Labels: backend

fix: added media type tag to media type text (#4638)
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.html
Labels: frontend

fix(API): Fix pagination in some edge cases
  src/Ombi.Helpers.Tests/PagnationHelperTests.cs
  src/Ombi.Helpers/PaginationHelper.cs
Labels: backend

fix(sickrage): Fixed issue with incorrect handling of SiCKRAGE episode results returned during episode status changes, now expects array of objects from data path if present (#4648)
  src/Ombi.Api.SickRage/Models/SickRageEpisodeStatus.cs
Labels: backend

fix: Missing Poster broken link fix (#4637)
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.ts
Labels: frontend

🌐 Translations Update (#4622)
  src/Ombi.I18n/Resources/Texts.pl.resx
  src/Ombi/wwwroot/translations/bg.json
  src/Ombi/wwwroot/translations/cs.json
  src/Ombi/wwwroot/translations/da.json
  src/Ombi/wwwroot/translations/de.json
  src/Ombi/wwwroot/translations/es.json
  src/Ombi/wwwroot/translations/fr.json
  src/Ombi/wwwroot/translations/hu.json
  src/Ombi/wwwroot/translations/it.json
  src/Ombi/wwwroot/translations/nl.json
  src/Ombi/wwwroot/translations/no.json
  src/Ombi/wwwroot/translations/pl.json
  src/Ombi/wwwroot/translations/pt-BR.json
  src/Ombi/wwwroot/translations/pt.json
  src/Ombi/wwwroot/translations/ru.json
  src/Ombi/wwwroot/translations/sk.json
  src/Ombi/wwwroot/translations/sv.json
  src/Ombi/wwwroot/translations/zh-TW.json
  src/Ombi/wwwroot/translations/zh.json
Labels: none

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
