Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sv.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh-TW.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.pt-BR.resx
Labels: none

🌐 Translations Update (#4523)
  src/Ombi.I18n/Resources/Texts.bg.resx
  src/Ombi.I18n/Resources/Texts.cs.resx
  src/Ombi.I18n/Resources/Texts.da.resx
  src/Ombi.I18n/Resources/Texts.de.resx
  src/Ombi.I18n/Resources/Texts.es.resx
  src/Ombi.I18n/Resources/Texts.hu.resx
  src/Ombi.I18n/Resources/Texts.it.resx
  src/Ombi.I18n/Resources/Texts.nl.resx
  src/Ombi.I18n/Resources/Texts.no.resx
  src/Ombi.I18n/Resources/Texts.pl.resx
  src/Ombi.I18n/Resources/Texts.pt-BR.resx
  src/Ombi.I18n/Resources/Texts.pt.resx
  src/Ombi.I18n/Resources/Texts.ru.resx
  src/Ombi.I18n/Resources/Texts.sk.resx
  src/Ombi.I18n/Resources/Texts.sv.resx
  src/Ombi.I18n/Resources/Texts.zh-TW.resx
  src/Ombi.I18n/Resources/Texts.zh.resx
  src/Ombi/wwwroot/translations/bg.json
  src/Ombi/wwwroot/translations/cs.json
  src/Ombi/wwwroot/translations/da.json
  src/Ombi/wwwroot/translations/de.json
  src/Ombi/wwwroot/translations/es.json
  src/Ombi/wwwroot/translations/fr.json
  src/Ombi/wwwroot/translations/hu.json
  src/Ombi/wwwroot/translations/it.json
  src/Ombi/wwwroot/translations/nl.json
  src/Ombi/wwwroot/translations/no.json
  src/Ombi/wwwroot/translations/pl.json
  src/Ombi/wwwroot/translations/pt-BR.json
  src/Ombi/wwwroot/translations/pt.json
  src/Ombi/wwwroot/translations/ru.json
  src/Ombi/wwwroot/translations/sk.json
  src/Ombi/wwwroot/translations/sv.json
  src/Ombi/wwwroot/translations/zh-TW.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.es.resx
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.it.resx
Labels: none

🌐 Translations Update (#4524)
  src/Ombi.I18n/Resources/Texts.es.resx
  src/Ombi.I18n/Resources/Texts.it.resx
Labels: none

translation(cs): adds czech translation
  src/Ombi.I18n/Resources/Texts.cs.resx
Labels: none

change translation
  src/Ombi.I18n/Resources/Texts.cs.resx
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/cs.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci] (#4526)
  src/Ombi/wwwroot/translations/cs.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/cs.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.cs.resx
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/cs.json
Labels: none

fix(details): :bug: Fixed the missing Play on Media server button for 4k content #4529
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
Labels: frontend

fix(requests): :bug: Fixed the issue where we could no longer approve TV Requests from the requests list
  src/Ombi.Store/Entities/Requests/BaseRequest.cs
  src/Ombi.Store/Entities/Requests/MovieRequests.cs
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/options/request-options.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/options/request-options.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/requests-list.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.ts
Labels: frontend, backend

fix(discover): :bug: Fixed the issue where there was an option on the discover to request 4k shows (that's not supported currently)
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.html
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.ts
Labels: frontend

test: fixed unit tests
  src/Ombi.Core.Tests/Engine/MovieRequestLimitsTests.cs
  src/Ombi.Core.Tests/Engine/MusicRequestLimitTests.cs
Labels: backend

chore(release): :rocket: v4.13.1
  CHANGELOG.md
  version.json
Labels: none

refactor: Made some small changes around the syncs to add in 4k to the radarr sync
  src/Ombi.Schedule/Jobs/ArrAvailabilityChecker.cs
  src/Ombi.Schedule/Jobs/Plex/PlexAvailabilityChecker.cs
  src/Ombi.Schedule/Jobs/Radarr/RadarrSync.cs
Labels: backend

fix(requests): :bug: Fixed an issue where you couldn't approve movies from the request list
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/options/request-options.component.ts
Labels: frontend

chore(release): :rocket: v4.13.2
  CHANGELOG.md
  version.json
Labels: none

refactor: :recycle: Small changes around the header auth
  src/Ombi.Settings/Settings/Models/AuthenticationSettings.cs
  src/Ombi/ClientApp/src/app/login/login.component.ts
  src/Ombi/Controllers/V1/TokenController.cs
Labels: frontend, backend

refactor: validators
  src/Ombi/ClientApp/src/app/settings/authentication/authentication.component.html
  src/Ombi/ClientApp/src/app/settings/authentication/authentication.component.ts
Labels: frontend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.14.0
  CHANGELOG.md
  version.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.zh.resx
Labels: none

Fix Radarr settings no longer initialized in settings page
  src/Ombi/ClientApp/src/app/settings/radarr/components/radarr-form.component.ts
Labels: frontend

chore(release): :rocket: v4.14.1
  CHANGELOG.md
  version.json
Labels: none

fix(Sonarr): :bug: Fixed an issue where some seasons were not being monitored correctly in sonarr
  .github/workflows/build.yml
  src/Ombi.Core/Senders/TvSender.cs
Labels: backend, devops

chore(release): :rocket: v4.14.2
  CHANGELOG.md
  version.json
Labels: none

fix(availability): :bug: Fixed an issue where with 4k content, we could repeat notifications
  .github/workflows/build.yml
  src/Ombi.Schedule/Jobs/Emby/EmbyAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Plex/PlexAvailabilityChecker.cs
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
Labels: backend, devops

chore(release): :rocket: v4.14.3
  CHANGELOG.md
  version.json
Labels: none

Localize genres filter
  src/Ombi.Core/Engine/V2/IMultiSearchEngine.cs
  src/Ombi.Core/Engine/V2/MultiSearchEngine.cs
  src/Ombi.TheMovieDbApi/IMovieDbApi.cs
  src/Ombi.TheMovieDbApi/TheMovieDbApi.cs
  src/Ombi/ClientApp/src/app/services/applications/themoviedb.service.ts
  src/Ombi/ClientApp/src/app/services/searchV2.service.ts
  src/Ombi/ClientApp/src/app/settings/themoviedb/themoviedb.component.ts
  src/Ombi/ClientApp/src/app/shared/components/genre-select/genre-select.component.ts
  src/Ombi/Controllers/V1/External/TheMovieDbController.cs
  src/Ombi/Controllers/V2/SearchController.cs
Labels: frontend, backend

fix: :bug: Fixed the Request On Behalf autocomplete not filtering correctly
  src/Ombi/ClientApp/src/app/shared/admin-request-dialog/admin-request-dialog.component.ts
Labels: frontend

chore(release): :rocket: v4.14.4
  CHANGELOG.md
  version.json
Labels: none

fix(jellyfin): :bug: Fixed an issue where Jellyfin content was showing the Play on Emby button #4542
  src/Ombi.Core/Rule/Rules/Search/JellyfinAvailabilityRule.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinAvaliabilityChecker.cs
Labels: backend

chore(release): :rocket: v4.15.0
  CHANGELOG.md
  version.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.fr.resx
Labels: none
