Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

fix(4k): Hide 'Has 4K Request' column list if 4k feature is disabled (#4521)
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.ts
Labels: frontend

fix(issues): Fix label ID in chatbox page (#4520)
  src/Ombi/ClientApp/src/app/shared/chat-box/chat-box.component.html
Labels: frontend

fix(tv): Display TV show as requested if all episodes are requested (#4518)
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.ts
Labels: frontend

fix(localisation): Localize request types in notifications (#4516)
  src/Ombi.I18n/Resources/Texts.Designer.cs
  src/Ombi.I18n/Resources/Texts.resx
  src/Ombi.Notifications/NotificationMessageCurlys.cs
Labels: backend

feat(email-notifications): Add a link to Ombi details page in email notifications (#4517)
  src/Ombi.Notifications.Templates/EmailBasicTemplate.cs
  src/Ombi.Notifications.Templates/IEmailBasicTemplate.cs
  src/Ombi.Notifications/Agents/EmailNotification.cs
  src/Ombi.Notifications/NotificationMessageContent.cs
  src/Ombi.Notifications/NotificationMessageCurlys.cs
  src/Ombi.Notifications/NotificationMessageResolver.cs
Labels: backend

fix(notifications): Remove generic admin email in favour of admins' email (#4519)
  src/Ombi.Notifications/Agents/EmailNotification.cs
  src/Ombi.Notifications/BaseNotification.cs
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
  src/Ombi.Settings/Settings/Models/Notifications/EmailNotificationSettings.cs
  src/Ombi/ClientApp/src/app/interfaces/INotificationSettings.ts
  src/Ombi/ClientApp/src/app/settings/notifications/emailnotification.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/emailnotification.component.ts
  src/Ombi/Controllers/V1/External/TesterController.cs
Labels: frontend, backend

chore(release): :rocket: v4.13.0
  CHANGELOG.md
  version.json
Labels: none

[skip ci]
  crowdin.yml
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.no.resx
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.cs.resx
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.da.resx
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.de.resx
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.hu.resx
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.it.resx
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.nl.resx
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.pl.resx
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.es.resx
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.pt.resx
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.ru.resx
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.sk.resx
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.sv.resx
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.zh.resx
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.zh-TW.resx
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.bg.resx
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.fr.resx
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/nl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/bg.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/cs.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/da.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/hu.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/de.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/it.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/no.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt-BR.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ru.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sk.json
Labels: none
