Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sv.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh-TW.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt-BR.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/it.json
Labels: none

🌐 Translations Update (#4952)
  src/Ombi/wwwroot/translations/bg.json
  src/Ombi/wwwroot/translations/ca.json
  src/Ombi/wwwroot/translations/cs.json
  src/Ombi/wwwroot/translations/da.json
  src/Ombi/wwwroot/translations/de.json
  src/Ombi/wwwroot/translations/es.json
  src/Ombi/wwwroot/translations/fr.json
  src/Ombi/wwwroot/translations/hu.json
  src/Ombi/wwwroot/translations/it.json
  src/Ombi/wwwroot/translations/nl.json
  src/Ombi/wwwroot/translations/no.json
  src/Ombi/wwwroot/translations/pl.json
  src/Ombi/wwwroot/translations/pt-BR.json
  src/Ombi/wwwroot/translations/pt.json
  src/Ombi/wwwroot/translations/ru.json
  src/Ombi/wwwroot/translations/sk.json
  src/Ombi/wwwroot/translations/sv.json
  src/Ombi/wwwroot/translations/zh-TW.json
  src/Ombi/wwwroot/translations/zh.json
Labels: none

chore: :fire: Remove unused dependency
  src/Ombi/ClientApp/package.json
Labels: frontend

chore: :fire: Remove Angular Localize
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/src/polyfills.ts
Labels: frontend

chore: :fire: Remove unused dependency (#4959) [skip ci]
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/src/polyfills.ts
Labels: frontend

deps update
  src/Ombi.Core.Tests/Ombi.Core.Tests.csproj
  src/Ombi.DependencyInjection/Ombi.DependencyInjection.csproj
  src/Ombi.HealthChecks/Checks/BaseHealthCheck.cs
  src/Ombi.HealthChecks/Checks/CouchPotatoHealthCheck.cs
  src/Ombi.HealthChecks/Checks/EmbyHealthCheck.cs
  src/Ombi.HealthChecks/Checks/JellyfinHealthCheck.cs
  src/Ombi.HealthChecks/Checks/SickrageHealthCheck.cs
  src/Ombi.HealthChecks/HealthCheckExtensions.cs
  src/Ombi.HealthChecks/Ombi.HealthChecks.csproj
  src/Ombi.Helpers/Ombi.Helpers.csproj
  src/Ombi.Notifications.Tests/Ombi.Notifications.Tests.csproj
  src/Ombi.Schedule.Tests/Ombi.Schedule.Tests.csproj
  src/Ombi.Schedule/Jobs/Plex/PlexRecentlyAddedSync.cs
  src/Ombi.Tests/Ombi.Tests.csproj
  src/Ombi/Ombi.csproj
Labels: backend

Remove unused dep (#4960) [skip ci]
  src/Ombi.Core.Tests/Ombi.Core.Tests.csproj
  src/Ombi.DependencyInjection/Ombi.DependencyInjection.csproj
  src/Ombi.HealthChecks/Checks/BaseHealthCheck.cs
  src/Ombi.HealthChecks/Checks/CouchPotatoHealthCheck.cs
  src/Ombi.HealthChecks/Checks/EmbyHealthCheck.cs
  src/Ombi.HealthChecks/Checks/JellyfinHealthCheck.cs
  src/Ombi.HealthChecks/Checks/SickrageHealthCheck.cs
  src/Ombi.HealthChecks/HealthCheckExtensions.cs
  src/Ombi.HealthChecks/Ombi.HealthChecks.csproj
  src/Ombi.Helpers/Ombi.Helpers.csproj
  src/Ombi.Notifications.Tests/Ombi.Notifications.Tests.csproj
  src/Ombi.Schedule.Tests/Ombi.Schedule.Tests.csproj
  src/Ombi.Schedule/Jobs/Plex/PlexRecentlyAddedSync.cs
  src/Ombi.Tests/Ombi.Tests.csproj
  src/Ombi/Ombi.csproj
Labels: backend

fix: upgrade multiple dependencies with Snyk
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade primeng from 15.0.0-rc.1 to 15.4.1
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade multiple dependencies with Snyk
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade @microsoft/signalr from 6.0.11 to 6.0.16
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade @fortawesome/fontawesome-free from 6.1.2 to 6.4.0
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade @microsoft/signalr from 6.0.11 to 6.0.16 (#4964) [skip ci]
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade primeng from 15.0.0-rc.1 to 15.4.1 (#4962) [skip ci]
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade cypress-real-events from 1.7.4 to 1.8.1
  tests/package.json
  tests/yarn.lock
Labels: automation

fix: src/Ombi.Notifications/Ombi.Notifications.csproj to reduce vulnerabilities
  src/Ombi.Notifications/Ombi.Notifications.csproj
Labels: none

fix: src/Ombi.Notifications/Ombi.Notifications.csproj to reduce vulnerabilities (#4969) [skip ci]
  src/Ombi.Notifications/Ombi.Notifications.csproj
Labels: none

fix: upgrade @fortawesome/fontawesome-free from 6.1.2 to 6.4.0 (#4965) [skip ci]
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade multiple dependencies with Snyk (#4963) [skip ci]
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

small improvements to fix flaky tests
  src/Ombi/ClientApp/src/app/user-preferences/components/user-preference/user-preference.component.ts
  tests/cypress/tests/details/tv/tvdetails-buttons.spec.ts
  tests/cypress/tests/discover/discover-recently-requested.spec.ts
  tests/cypress/tests/user-preferences/user-preferences-profile.spec.ts
Labels: automation, frontend

small improvements to fix flaky tests (#4970) [skip ci]
  src/Ombi/ClientApp/src/app/user-preferences/components/user-preference/user-preference.component.ts
  tests/cypress/tests/details/tv/tvdetails-buttons.spec.ts
  tests/cypress/tests/discover/discover-recently-requested.spec.ts
  tests/cypress/tests/user-preferences/user-preferences-profile.spec.ts
Labels: automation, frontend

stuff
  .github/workflows/automation-tests.yml
  .github/workflows/build.yml
  .github/workflows/chromatic.yml
  .github/workflows/pr.yml
  src/Ombi/ClientApp/yarn.lock
  tests/cypress.config.ts
  tests/package.json
  tests/yarn.lock
Labels: automation, frontend, devops

put it back
  tests/cypress.config.ts
  tests/cypress/features/login/login.feature
  tests/cypress/features/login/login.ts
Labels: automation

a
  .github/workflows/automation-tests.yml
  tests/package.json
Labels: automation, devops

always kill docker
  .github/workflows/automation-tests.yml
Labels: devops

Run the wizard as part of the feature files
  tests/cypress/features/01-wizard/wizard.feature
  tests/cypress/features/01-wizard/wizard.ts
  tests/cypress/tests/01-wizard/01-wizard.spec.ts
  tests/cypress/tests/settings/plex/plex-settings.spec.ts
Labels: automation

fix?
  tests/cypress.config.ts
  tests/cypress/tests/settings/plex/plex-settings.spec.ts
  tests/package.json
Labels: automation

slow the tests down
  src/Ombi/ClientApp/src/app/user-preferences/components/user-preference/user-preference.component.ts
  tests/cypress/tests/user-preferences/user-preferences-profile.spec.ts
Labels: automation, frontend

subby
  src/Ombi/ClientApp/src/app/user-preferences/components/user-preference/user-preference.component.ts
Labels: frontend

Update user-preferences-profile.spec.ts
  tests/cypress/tests/user-preferences/user-preferences-profile.spec.ts
Labels: automation

Update user-preferences-profile.spec.ts
  tests/cypress/tests/user-preferences/user-preferences-profile.spec.ts
Labels: automation

fix: More automation tests mainly around the Plex Settings page (#4821)
  .github/workflows/automation-tests.yml
  .github/workflows/build.yml
  .github/workflows/chromatic.yml
  .github/workflows/pr.yml
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-server-dialog/plex-server-dialog.component.html
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-server-dialog/plex-server-dialog.component.ts
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.html
  src/Ombi/ClientApp/src/app/user-preferences/components/user-preference/user-preference.component.ts
  src/Ombi/ClientApp/yarn.lock
  tests/cypress.config.ts
  tests/cypress.json
  tests/cypress/features/01-wizard/wizard.feature
  tests/cypress/features/01-wizard/wizard.ts
  tests/cypress/features/login/login.feature
  tests/cypress/features/login/login.ts
  tests/cypress/fixtures/mocks/plex/plex-libraries.mock.json
  tests/cypress/fixtures/mocks/plex/plex-test.mock.json
  tests/cypress/integration/page-objects/details/tv/tvdetails.page.ts
  tests/cypress/integration/page-objects/index.ts
  tests/cypress/integration/page-objects/settings/plex/plex-settings.page.ts
  tests/cypress/integration/page-objects/settings/settings.page.ts
  tests/cypress/plugins/index.js
  tests/cypress/support/commands.ts
  tests/cypress/support/e2e.ts
  tests/cypress/support/mock-data.commands.ts
  tests/cypress/support/plex-settings.commands.ts
  tests/cypress/tests/01-wizard/01-wizard.spec.ts
  tests/cypress/tests/details/tv/tvdetails-buttons.spec.ts
  tests/cypress/tests/discover/discover-cards-requests.spec.ts
  tests/cypress/tests/login/login.spec.ts
  tests/cypress/tests/navigation/navigation-bar.spec.ts
  tests/cypress/tests/settings/plex/plex-settings.spec.ts
  tests/cypress/tests/user-preferences/user-preferences-profile.spec.ts
  tests/package.json
  tests/tsconfig.json
  tests/yarn.lock
Labels: automation, frontend, devops

fix: upgrade cypress-real-events from 1.7.4 to 1.8.1 (#4968) [skip ci]
  tests/package.json
  tests/yarn.lock
Labels: automation

chore(release): :rocket: v4.42.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
