Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

Remove hover:none media query that breaks headless Chrome tests
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.scss
Labels: frontend

Fix card actions visibility on touch devices (#5390)
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.scss
Labels: frontend

Fix card actions visibility on touch devices (#5390)
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.scss
Labels: frontend

chore(release): :rocket: v4.58.2 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.58.2 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore: add @vitest/coverage-v8 dev dependency for test coverage reporting
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: assert selected IP in Plex selectServer test
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.spec.ts
Labels: frontend

test: add negative days boundary case for issues delete validation
  src/Ombi/ClientApp/src/app/settings/issues/issues.component.spec.ts
Labels: frontend

Fix issue deletion failing due to foreign key constraint on IssueComments
  src/Ombi/Controllers/V1/IssuesController.cs
Labels: backend

Add unit test for deleting issue comments before issue deletion
  src/Ombi.Tests/IssuesControllerTests.cs
Labels: backend

Use batch DeleteRange for comment deletion and verify call ordering in test
  src/Ombi.Tests/IssuesControllerTests.cs
  src/Ombi/Controllers/V1/IssuesController.cs
Labels: backend

fix: issue deletion failing due to foreign key constraint on IssueComments (#5393)
  src/Ombi.Tests/IssuesControllerTests.cs
  src/Ombi/Controllers/V1/IssuesController.cs
Labels: backend

chore(release): :rocket: v4.58.3 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

feat: add auto-update settings UI and configurable schedule (#1460)
  src/Ombi.Schedule/Jobs/Ombi/OmbiAutomaticUpdater.cs
  src/Ombi.Schedule/OmbiScheduler.cs
  src/Ombi.Settings/Settings/Models/UpdateSettings.cs
  src/Ombi.Updater/Installer.cs
  src/Ombi/ClientApp/src/app/app.routes.ts
  src/Ombi/ClientApp/src/app/interfaces/ISettings.ts
  src/Ombi/ClientApp/src/app/settings/settingsmenu.component.html
  src/Ombi/ClientApp/src/app/settings/update/update.component.html
  src/Ombi/ClientApp/src/app/settings/update/update.component.scss
  src/Ombi/ClientApp/src/app/settings/update/update.component.spec.ts
  src/Ombi/ClientApp/src/app/settings/update/update.component.ts
Labels: frontend, backend

fix: use update endpoint for version display and fix legend clipping
  src/Ombi/ClientApp/src/app/settings/update/update.component.html
  src/Ombi/ClientApp/src/app/settings/update/update.component.spec.ts
  src/Ombi/ClientApp/src/app/settings/update/update.component.ts
Labels: frontend

fix: add small-middle-container style to prevent layout clipping
  src/Ombi/ClientApp/src/app/settings/update/update.component.scss
Labels: frontend

feat: auto-save auto-update toggle and rename submit to Save Settings
  src/Ombi.Helpers/AssemblyHelper.cs
  src/Ombi/ClientApp/src/app/settings/update/update.component.html
  src/Ombi/ClientApp/src/app/settings/update/update.component.spec.ts
  src/Ombi/ClientApp/src/app/settings/update/update.component.ts
  src/Ombi/Ombi.csproj
Labels: frontend, backend

feat: improve update settings UI polish and display current version
  src/Ombi/ClientApp/src/app/settings/update/update.component.html
  src/Ombi/ClientApp/src/app/settings/update/update.component.scss
  src/Ombi/ClientApp/src/app/settings/update/update.component.ts
  src/Ombi/Controllers/V1/SettingsController.cs
Labels: frontend, backend

fix: address CodeRabbit review feedback and fix toggle save
  src/Ombi.Schedule/Jobs/Ombi/OmbiAutomaticUpdater.cs
  src/Ombi.Schedule/OmbiScheduler.cs
  src/Ombi/ClientApp/src/app/settings/update/update.component.html
  src/Ombi/ClientApp/src/app/settings/update/update.component.spec.ts
  src/Ombi/ClientApp/src/app/settings/update/update.component.ts
  src/Ombi/Controllers/V1/SettingsController.cs
Labels: frontend, backend

fix: address remaining CodeRabbit feedback
  src/Ombi/ClientApp/src/app/settings/update/update.component.html
  src/Ombi/ClientApp/src/app/settings/update/update.component.scss
  src/Ombi/ClientApp/src/app/settings/update/update.component.ts
Labels: frontend

fix: require script location when custom script is enabled
  src/Ombi/ClientApp/src/app/settings/update/update.component.html
  src/Ombi/ClientApp/src/app/settings/update/update.component.ts
Labels: frontend

fix: add aria-live region and aria-busy for screen reader accessibility
  src/Ombi/ClientApp/src/app/settings/update/update.component.html
Labels: frontend

style: improve accessibility and extract inline styles
  src/Ombi/ClientApp/src/app/settings/update/update.component.html
  src/Ombi/ClientApp/src/app/settings/update/update.component.scss
Labels: frontend

fix: restore TV details hero Request button behavior
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.ts
Labels: frontend

feat(watchlist): sync Plex watchlists using admin token via community GraphQL
  src/Ombi.Api.External/MediaServers/Plex/IPlexApi.cs
  src/Ombi.Api.External/MediaServers/Plex/Models/Community/PlexCommunityFriendsResponse.cs
  src/Ombi.Api.External/MediaServers/Plex/Models/Community/PlexCommunityWatchlistResponse.cs
  src/Ombi.Api.External/MediaServers/Plex/PlexApi.cs
  src/Ombi.Core.Tests/Services/PlexServiceTests.cs
  src/Ombi.Core/Engine/UserDeletionEngine.cs
  src/Ombi.Core/Models/PlexUserWatchlistModel.cs
  src/Ombi.Core/Services/IPlexWatchlistStatusStore.cs
  src/Ombi.Core/Services/PlexService.cs
  src/Ombi.Core/Services/PlexWatchlistStatusStore.cs
  src/Ombi.DependencyInjection/IocExtensions.cs
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
  src/Ombi.Settings/Settings/Models/External/PlexSettings.cs
  src/Ombi.Store/Context/OmbiContext.cs
  src/Ombi.Store/Entities/PlexWatchlistUserError.cs
  src/Ombi.Store/Migrations/OmbiMySql/20260417000000_DropPlexWatchlistUserError.Designer.cs
  src/Ombi.Store/Migrations/OmbiMySql/20260417000000_DropPlexWatchlistUserError.cs
  src/Ombi.Store/Migrations/OmbiMySql/OmbiMySqlContextModelSnapshot.cs
  src/Ombi.Store/Migrations/OmbiPostgres/20260417000000_DropPlexWatchlistUserError.Designer.cs
  src/Ombi.Store/Migrations/OmbiPostgres/20260417000000_DropPlexWatchlistUserError.cs
  src/Ombi.Store/Migrations/OmbiPostgres/OmbiPostgresContextModelSnapshot.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20260417000000_DropPlexWatchlistUserError.Designer.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20260417000000_DropPlexWatchlistUserError.cs
  src/Ombi.Test.Common/MockHelper.cs
  src/Ombi/ClientApp/src/app/interfaces/IPlex.ts
  src/Ombi/ClientApp/src/app/interfaces/ISettings.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.html
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.stories.ts
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.html
  src/Ombi/Controllers/V1/TokenController.cs
Labels: frontend, backend

fix: restore TV details hero Request button behavior (#5396)
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.ts
Labels: frontend

fix(watchlist): resolve UserType ambiguity in PlexWatchlistImport
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

chore(release): :rocket: v4.58.4 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

refactor(watchlist): persist sync status in DB + address review feedback
  src/Ombi.Core.Tests/Services/PlexServiceTests.cs
  src/Ombi.Core/Models/PlexUserWatchlistModel.cs
  src/Ombi.Core/Services/IPlexWatchlistStatusStore.cs
  src/Ombi.Core/Services/PlexService.cs
  src/Ombi.Core/Services/PlexWatchlistStatusStore.cs
  src/Ombi.DependencyInjection/IocExtensions.cs
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
  src/Ombi.Store/Context/OmbiContext.cs
  src/Ombi.Store/Entities/PlexWatchlistUserStatus.cs
  src/Ombi.Store/Migrations/OmbiMySql/20260417000001_AddPlexWatchlistUserStatus.Designer.cs
  src/Ombi.Store/Migrations/OmbiMySql/20260417000001_AddPlexWatchlistUserStatus.cs
  src/Ombi.Store/Migrations/OmbiMySql/OmbiMySqlContextModelSnapshot.cs
  src/Ombi.Store/Migrations/OmbiPostgres/20260417000001_AddPlexWatchlistUserStatus.Designer.cs
  src/Ombi.Store/Migrations/OmbiPostgres/20260417000001_AddPlexWatchlistUserStatus.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20260417000001_AddPlexWatchlistUserStatus.Designer.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20260417000001_AddPlexWatchlistUserStatus.cs
  src/Ombi.Store/Migrations/OmbiSqlite/OmbiSqliteContextModelSnapshot.cs
  src/Ombi/ClientApp/src/app/interfaces/IPlex.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.html
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.stories.ts
Labels: frontend, backend

fix(watchlist): unique index on PlexWatchlistUserStatus.UserId + TOCTOU retry
  src/Ombi.Core/Services/PlexWatchlistStatusStore.cs
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
  src/Ombi.Store/Context/OmbiContext.cs
  src/Ombi.Store/Entities/PlexWatchlistUserStatus.cs
  src/Ombi.Store/Migrations/OmbiMySql/20260417000001_AddPlexWatchlistUserStatus.Designer.cs
  src/Ombi.Store/Migrations/OmbiMySql/20260417000001_AddPlexWatchlistUserStatus.cs
  src/Ombi.Store/Migrations/OmbiMySql/OmbiMySqlContextModelSnapshot.cs
  src/Ombi.Store/Migrations/OmbiPostgres/20260417000001_AddPlexWatchlistUserStatus.Designer.cs
  src/Ombi.Store/Migrations/OmbiPostgres/20260417000001_AddPlexWatchlistUserStatus.cs
  src/Ombi.Store/Migrations/OmbiPostgres/OmbiPostgresContextModelSnapshot.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20260417000001_AddPlexWatchlistUserStatus.Designer.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20260417000001_AddPlexWatchlistUserStatus.cs
  src/Ombi.Store/Migrations/OmbiSqlite/OmbiSqliteContextModelSnapshot.cs
Labels: backend

fix(watchlist): address CodeRabbit review batch (duplicate-key, hijacking, transient failures)
  src/Ombi.Core/Services/PlexWatchlistStatusStore.cs
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

fix(watchlist): guard admin sweep + pagination cap + simpler retry
  src/Ombi.Core/Services/PlexWatchlistStatusStore.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

fix: reset sqlite_sequence after cache table deletes to prevent Int32 overflow
  src/Ombi.Schedule/Jobs/Radarr/RadarrSync.cs
  src/Ombi.Schedule/Jobs/Sonarr/SonarrSync.cs
Labels: backend

Fixes
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.html
  src/Ombi/ClientApp/yarn.lock
Labels: frontend, backend

Refactor Plex watchlist sync to use in-memory status store (#5397)
  src/Ombi.Api.External/MediaServers/Plex/IPlexApi.cs
  src/Ombi.Api.External/MediaServers/Plex/Models/Community/PlexCommunityFriendsResponse.cs
  src/Ombi.Api.External/MediaServers/Plex/Models/Community/PlexCommunityWatchlistResponse.cs
  src/Ombi.Api.External/MediaServers/Plex/PlexApi.cs
  src/Ombi.Core.Tests/Services/PlexServiceTests.cs
  src/Ombi.Core/Engine/UserDeletionEngine.cs
  src/Ombi.Core/Models/PlexUserWatchlistModel.cs
  src/Ombi.Core/Services/IPlexWatchlistStatusStore.cs
  src/Ombi.Core/Services/PlexService.cs
  src/Ombi.Core/Services/PlexWatchlistStatusStore.cs
  src/Ombi.DependencyInjection/IocExtensions.cs
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
  src/Ombi.Settings/Settings/Models/External/PlexSettings.cs
  src/Ombi.Store/Context/OmbiContext.cs
  src/Ombi.Store/Entities/PlexWatchlistUserError.cs
  src/Ombi.Store/Entities/PlexWatchlistUserStatus.cs
  src/Ombi.Store/Migrations/OmbiMySql/20260417000000_DropPlexWatchlistUserError.Designer.cs
  src/Ombi.Store/Migrations/OmbiMySql/20260417000000_DropPlexWatchlistUserError.cs
  src/Ombi.Store/Migrations/OmbiMySql/20260417000001_AddPlexWatchlistUserStatus.Designer.cs
  src/Ombi.Store/Migrations/OmbiMySql/20260417000001_AddPlexWatchlistUserStatus.cs
  src/Ombi.Store/Migrations/OmbiMySql/OmbiMySqlContextModelSnapshot.cs
  src/Ombi.Store/Migrations/OmbiPostgres/20260417000000_DropPlexWatchlistUserError.Designer.cs
  src/Ombi.Store/Migrations/OmbiPostgres/20260417000000_DropPlexWatchlistUserError.cs
  src/Ombi.Store/Migrations/OmbiPostgres/20260417000001_AddPlexWatchlistUserStatus.Designer.cs
  src/Ombi.Store/Migrations/OmbiPostgres/20260417000001_AddPlexWatchlistUserStatus.cs
  src/Ombi.Store/Migrations/OmbiPostgres/OmbiPostgresContextModelSnapshot.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20260417000000_DropPlexWatchlistUserError.Designer.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20260417000000_DropPlexWatchlistUserError.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20260417000001_AddPlexWatchlistUserStatus.Designer.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20260417000001_AddPlexWatchlistUserStatus.cs
  src/Ombi.Test.Common/MockHelper.cs
  src/Ombi/ClientApp/src/app/interfaces/IPlex.ts
  src/Ombi/ClientApp/src/app/interfaces/ISettings.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.html
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.stories.ts
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.html
  src/Ombi/ClientApp/yarn.lock
  src/Ombi/Controllers/V1/TokenController.cs
Labels: frontend, backend

chore(release): :rocket: v4.58.5 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

feat: add auto-update settings UI and improve updater configuration (#1460) (#5394)
  src/Ombi.Helpers/AssemblyHelper.cs
  src/Ombi.Schedule/Jobs/Ombi/OmbiAutomaticUpdater.cs
  src/Ombi.Schedule/OmbiScheduler.cs
  src/Ombi.Settings/Settings/Models/UpdateSettings.cs
  src/Ombi.Updater/Installer.cs
  src/Ombi/ClientApp/src/app/app.routes.ts
  src/Ombi/ClientApp/src/app/interfaces/ISettings.ts
  src/Ombi/ClientApp/src/app/settings/settingsmenu.component.html
  src/Ombi/ClientApp/src/app/settings/update/update.component.html
  src/Ombi/ClientApp/src/app/settings/update/update.component.scss
  src/Ombi/ClientApp/src/app/settings/update/update.component.spec.ts
  src/Ombi/ClientApp/src/app/settings/update/update.component.ts
  src/Ombi/Controllers/V1/SettingsController.cs
  src/Ombi/Ombi.csproj
Labels: frontend, backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

fix: reset sqlite_sequence after cache table deletes to prevent Int32 overflow (#5398)
  src/Ombi.Schedule/Jobs/Radarr/RadarrSync.cs
  src/Ombi.Schedule/Jobs/Sonarr/SonarrSync.cs
Labels: backend

chore(release): :rocket: v4.59.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none
