Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

Update cypress.json
  tests/cypress.json
Labels: automation

feat: Recently requested improvements (#4755)
  src/Ombi.Core.Tests/Services/RecentlyRequestedServiceTests.cs
  src/Ombi.Core/Models/Requests/RecentlyRequestedModel.cs
  src/Ombi.Core/Services/RecentlyRequestedService.cs
  src/Ombi.TheMovieDbApi/IMovieDbApi.cs
  src/Ombi.TheMovieDbApi/Models/TvImages.cs
  src/Ombi.TheMovieDbApi/TheMovieDbApi.cs
  src/Ombi/ClientApp/src/app/components/button/button.component.scss
  src/Ombi/ClientApp/src/app/components/button/button.component.ts
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.html
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.scss
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.stories.ts
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.ts
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.html
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.ts
  src/Ombi/ClientApp/src/app/interfaces/IRecentlyRequested.ts
  src/Ombi/databasea.json
  tests/cypress/integration/page-objects/discover/discover.page.ts
  tests/cypress/tests/discover/discover-recently-requested.spec.ts
Labels: automation, frontend, backend

chore(release): :rocket: v4.27.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(plex): stop the plex sync from deleting episodes when we can't find the plex key
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
Labels: backend

chore(release): :rocket: v4.27.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(sonarr): :bug: Cleaned up and removed Sonarr v3 option, sonarr v3 is now the default. This allows us to get ready for the upcoming Sonarr v4
  src/Ombi.Api.Sonarr/Models/SonarrProfile.cs
  src/Ombi.Core/Senders/TvSender.cs
  src/Ombi.Helpers/MediaCacheService.cs
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
  src/Ombi.Schedule/Jobs/Sonarr/SonarrSync.cs
  src/Ombi.Settings/Settings/Models/External/SonarrSettings.cs
  src/Ombi/.vscode/settings.json
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.html
  src/Ombi/ClientApp/src/app/interfaces/ISettings.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-advanced-options/tv-advanced-options.component.ts
  src/Ombi/ClientApp/src/app/settings/sonarr/sonarr.component.html
  src/Ombi/ClientApp/src/app/settings/sonarr/sonarr.component.ts
  src/Ombi/ClientApp/src/app/shared/admin-request-dialog/admin-request-dialog.component.ts
  src/Ombi/Controllers/V1/External/SonarrController.cs
Labels: frontend, backend

refactor: Encapsulate common TV availability checker logic (#4753)
  src/Ombi.Schedule/Jobs/ArrAvailabilityChecker.cs
  src/Ombi.Schedule/Jobs/AvailabilityChecker.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Plex/PlexAvailabilityChecker.cs
  src/Ombi.Store/Entities/IMediaServerContent.cs
  src/Ombi.Store/Entities/SonarrEpisodeCache.cs
Labels: backend

fix(sonarr): :bug: Cleaned up and removed Sonarr v3 option, sonarr v3 is now the default. This allows us to get ready for the upcoming Sonarr v4 (#4764)
  src/Ombi.Api.Sonarr/Models/SonarrProfile.cs
  src/Ombi.Core/Senders/TvSender.cs
  src/Ombi.Helpers/MediaCacheService.cs
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
  src/Ombi.Schedule/Jobs/Sonarr/SonarrSync.cs
  src/Ombi.Settings/Settings/Models/External/SonarrSettings.cs
  src/Ombi/.vscode/settings.json
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.html
  src/Ombi/ClientApp/src/app/interfaces/ISettings.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-advanced-options/tv-advanced-options.component.ts
  src/Ombi/ClientApp/src/app/settings/sonarr/sonarr.component.html
  src/Ombi/ClientApp/src/app/settings/sonarr/sonarr.component.ts
  src/Ombi/ClientApp/src/app/shared/admin-request-dialog/admin-request-dialog.component.ts
  src/Ombi/Controllers/V1/External/SonarrController.cs
Labels: frontend, backend

chore(release): :rocket: v4.27.2 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

🌐 Translations Update (#4739)
  src/Ombi/wwwroot/translations/bg.json
  src/Ombi/wwwroot/translations/cs.json
  src/Ombi/wwwroot/translations/da.json
  src/Ombi/wwwroot/translations/de.json
  src/Ombi/wwwroot/translations/es.json
  src/Ombi/wwwroot/translations/fr.json
  src/Ombi/wwwroot/translations/hu.json
  src/Ombi/wwwroot/translations/it.json
  src/Ombi/wwwroot/translations/nl.json
  src/Ombi/wwwroot/translations/no.json
  src/Ombi/wwwroot/translations/pl.json
  src/Ombi/wwwroot/translations/pt-BR.json
  src/Ombi/wwwroot/translations/pt.json
  src/Ombi/wwwroot/translations/ru.json
  src/Ombi/wwwroot/translations/sk.json
  src/Ombi/wwwroot/translations/sv.json
  src/Ombi/wwwroot/translations/zh-TW.json
  src/Ombi/wwwroot/translations/zh.json
Labels: none

fix(availability): 🐛 Fixed a issue with the availability checker after the previous update. Added full test coverage around that area
  src/Ombi.Hubs/NotificationHub.cs
  src/Ombi.Schedule.Tests/AvailabilityCheckerTests.cs
  src/Ombi.Schedule/Jobs/ArrAvailabilityChecker.cs
  src/Ombi.Schedule/Jobs/AvailabilityChecker.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Plex/PlexAvailabilityChecker.cs
Labels: backend

chore(release): :rocket: v4.27.3 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

test: 🧪 added full test coverage to the plex availability checker, also fixed a small few bugs in there at the same time
  src/Ombi.Schedule.Tests/AvailabilityCheckerTests.cs
  src/Ombi.Schedule.Tests/Ombi.Schedule.Tests.csproj
  src/Ombi.Schedule.Tests/PlexAvailabilityCheckerTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexAvailabilityChecker.cs
  src/Ombi.Store/Entities/IMediaServerContent.cs
  src/Ombi.Store/Entities/MediaServerContent.cs
  src/Ombi.Tests/SignalRHelper.cs
Labels: backend

chore(release): :rocket: v4.27.4 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(importer): 🐛 Allow you to only import Plex Admins without the Plex Users
  src/Ombi.Schedule.Tests/PlexUserImporterTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexUserImporter.cs
Labels: backend

chore(release): :rocket: v4.27.5 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(notifications): Fixed the error when sending multiple test notifications. Added more logging when Discord complains the message is invalid
  src/Ombi.Api.Discord/DiscordApi.cs
  src/Ombi/Controllers/V1/External/TesterController.cs
Labels: backend

chore(release): :rocket: v4.27.6 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Fixes default image for recently requested items.
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.ts
  src/Ombi/ClientApp/src/app/components/image/image.component.ts
Labels: frontend

Fixes the last few build warnings.
  src/Ombi.Api.Twilio/Ombi.Api.Twilio.csproj
  src/Ombi.Mapping/Ombi.Mapping.csproj
Labels: none

fix: Fixes default image for recently requested items. (#4767)
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.ts
  src/Ombi/ClientApp/src/app/components/image/image.component.ts
Labels: frontend

chore(release): :rocket: v4.27.7 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.27.8 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

refactor: split into a separate component
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-form/plex-form.component.html
Labels: frontend

missed changes
  src/Ombi.Api.Discord/DiscordApi.cs
  src/Ombi.Schedule/Jobs/Sonarr/SonarrSync.cs
  src/Ombi/ClientApp/src/app/settings/plex/components/models/PlexSyncType.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/models/index.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-form/plex-form.component.scss
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-form/plex-form.component.stories.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-form/plex-form.component.ts
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.html
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.ts
  src/Ombi/ClientApp/src/app/settings/settings.module.ts
Labels: frontend, backend

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ca.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.ca.resx
Labels: none

refactor: reworked plex settings page
  src/Ombi/ClientApp/src/app/settings/plex/components/form-field/plex-form-field.component.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/models/PlexCreds.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/models/index.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-form/plex-form.component.html
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-form/plex-form.component.scss
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-form/plex-form.component.stories.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-form/plex-form.component.ts
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.html
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.scss
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.ts
  src/Ombi/ClientApp/src/app/settings/settings.module.ts
Labels: frontend

feat(plex): :sparkles: Added the ability to configure the watchlist to request the whole TV show rather than latest season
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
  src/Ombi.Settings/Settings/Models/External/PlexSettings.cs
  src/Ombi/.vscode/settings.json
  src/Ombi/ClientApp/src/app/interfaces/ISettings.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/form-field/plex-form-field.component.ts
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.html
Labels: frontend, backend

refactor: Rework the Plex Settings Page (#4772)
  src/Ombi.Api.Discord/DiscordApi.cs
  src/Ombi.Schedule/Jobs/Sonarr/SonarrSync.cs
  src/Ombi/ClientApp/src/app/settings/plex/components/form-field/plex-form-field.component.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/models/PlexCreds.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/models/PlexSyncType.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/models/index.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-form/plex-form.component.html
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-form/plex-form.component.scss
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-form/plex-form.component.ts
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.html
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.scss
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.ts
  src/Ombi/ClientApp/src/app/settings/settings.module.ts
Labels: frontend, backend

Merge branch 'master' into feature/watchlist-all-seasons
  CHANGELOG.md
  README.md
  src/Ombi.Schedule/Jobs/Emby/EmbyAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinAvaliabilityChecker.cs
  src/Ombi.Store/Context/OmbiContext.cs
  src/Ombi.TheMovieDbApi/IMovieDbApi.cs
  src/Ombi/ClientApp/.storybook/main.js
  src/Ombi/ClientApp/.storybook/preview-body.html
  src/Ombi/ClientApp/.storybook/preview.js
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/src/app/components/image/image.component.ts
  src/Ombi/ClientApp/src/app/components/index.ts
  src/Ombi/ClientApp/src/app/components/modules.ts
  src/Ombi/ClientApp/src/app/discover/discover.module.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.stories.ts
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.ts
  src/Ombi/ClientApp/yarn.lock
  src/Ombi/Ombi.csproj
  src/Ombi/wwwroot/translations/sk.json
  src/Ombi/wwwroot/translations/zh.json
  version.json
Labels: frontend, backend

feat(plex): ✨ Added the ability to configure the watchlist to request the whole TV show rather than latest season (#4774)
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
  src/Ombi.Settings/Settings/Models/External/PlexSettings.cs
  src/Ombi/.vscode/settings.json
  src/Ombi/ClientApp/src/app/interfaces/ISettings.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/form-field/plex-form-field.component.ts
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.html
Labels: frontend, backend

chore(release): :rocket: v4.28.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ca.json
Labels: none

🌐 Translations Update (#4771)
  src/Ombi.I18n/Resources/Texts.ca.resx
  src/Ombi/wwwroot/translations/ca.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ca.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ca.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ca.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ca.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ca.json
Labels: none

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
