Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

Consolidate test pattern
  .github/workflows/automation-tests.yml
Labels: devops

Pin cypress action to specific commit to address SonarQube complaint
  .github/workflows/automation-tests.yml
Labels: devops

Add global.json to force the version of .NET in use in IDEs etc., and test the version available in setup-dev.sh.
  global.json
  scripts/setup-dev.sh
Labels: none

Add global.json to force the version of .NET in use in IDEs etc., and test the version available in setup-dev.sh.
  global.json
  scripts/setup-dev.sh
Labels: none

Add the working dir to dotnet commands and jobs to install the frontend and tests
  scripts/setup-dev.sh
Labels: none

Add the working dir to dotnet commands and jobs to install the frontend and tests
  scripts/setup-dev.sh
Labels: none

Add a test script for the frontend
  tests/package.json
Labels: automation

Add a test script for the frontend
  tests/package.json
Labels: automation

Rename the rules to better clarify their purpose
  makefile
Labels: none

Rename the rules to better clarify their purpose
  makefile
Labels: none

Invert the test spec pattern so the wizard tests come first (which they must to pass)
  tests/cypress.config.ts
Labels: automation

Invert the test spec pattern so the wizard tests come first (which they must to pass)
  tests/cypress.config.ts
Labels: automation

Add these environment changes to CONTRIBUTING.md.
  CONTRIBUTING.md
Labels: none

Add these environment changes to CONTRIBUTING.md.
  CONTRIBUTING.md
Labels: none

Remove the test script in E2E tests, it's duplication
  tests/package.json
Labels: automation

Remove the test script in E2E tests, it's duplication
  tests/package.json
Labels: automation

Correct error message print methods
  scripts/setup-dev.sh
Labels: none

Correct error message print methods
  scripts/setup-dev.sh
Labels: none

Remove all comments from JSON
  global.json
Labels: none

Remove all comments from JSON
  global.json
Labels: none

Fix TV availability filter, discovery scroll, and remove stale news section
  src/Ombi.Core/Engine/V2/TvSearchEngineV2.cs
  src/Ombi.Core/Rule/Rules/Search/AvailabilityRuleHelper.cs
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.ts
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.ts
  src/Ombi/ClientApp/src/app/settings/about/about.component.html
  src/Ombi/ClientApp/src/app/settings/about/about.component.ts
Labels: frontend, backend

Fix TV availability filter, discovery scroll, and remove stale news section
  src/Ombi.Core/Engine/V2/TvSearchEngineV2.cs
  src/Ombi.Core/Rule/Rules/Search/AvailabilityRuleHelper.cs
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.ts
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.ts
  src/Ombi/ClientApp/src/app/settings/about/about.component.html
  src/Ombi/ClientApp/src/app/settings/about/about.component.ts
Labels: frontend, backend

Fix AvailabilityRuleHelper unaired episode logic to pass all tests
  src/Ombi.Core/Rule/Rules/Search/AvailabilityRuleHelper.cs
Labels: backend

Fix AvailabilityRuleHelper unaired episode logic to pass all tests
  src/Ombi.Core/Rule/Rules/Search/AvailabilityRuleHelper.cs
Labels: backend

chore(release): :rocket: v4.57.5 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.57.5 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.57.6 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.57.6 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Add vitest unit tests for frontend pipes, services, and auth
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/src/app/auth/auth.guard.spec.ts
  src/Ombi/ClientApp/src/app/auth/auth.service.spec.ts
  src/Ombi/ClientApp/src/app/pipes/HumanizePipe.spec.ts
  src/Ombi/ClientApp/src/app/pipes/OmbiDatePipe.spec.ts
  src/Ombi/ClientApp/src/app/pipes/OrderPipe.spec.ts
  src/Ombi/ClientApp/src/app/pipes/QualityPipe.spec.ts
  src/Ombi/ClientApp/src/app/pipes/ThousandShortPipe.spec.ts
  src/Ombi/ClientApp/src/app/shared/storage/storage-service.spec.ts
  src/Ombi/ClientApp/src/test-setup.ts
  src/Ombi/ClientApp/vitest.config.ts
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

Add vitest unit tests for frontend pipes, services, and auth
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/src/app/auth/auth.guard.spec.ts
  src/Ombi/ClientApp/src/app/auth/auth.service.spec.ts
  src/Ombi/ClientApp/src/app/pipes/HumanizePipe.spec.ts
  src/Ombi/ClientApp/src/app/pipes/OmbiDatePipe.spec.ts
  src/Ombi/ClientApp/src/app/pipes/OrderPipe.spec.ts
  src/Ombi/ClientApp/src/app/pipes/QualityPipe.spec.ts
  src/Ombi/ClientApp/src/app/pipes/ThousandShortPipe.spec.ts
  src/Ombi/ClientApp/src/app/shared/storage/storage-service.spec.ts
  src/Ombi/ClientApp/src/test-setup.ts
  src/Ombi/ClientApp/vitest.config.ts
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

Add discover, service, and state unit tests
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.spec.ts
  src/Ombi/ClientApp/src/app/discover/interfaces.spec.ts
  src/Ombi/ClientApp/src/app/discover/services/filter-service.spec.ts
  src/Ombi/ClientApp/src/app/my-nav/SearchFilter.spec.ts
  src/Ombi/ClientApp/src/app/pipes/TranslateStatus.spec.ts
  src/Ombi/ClientApp/src/app/services/image.service.spec.ts
  src/Ombi/ClientApp/src/app/services/message.service.spec.ts
  src/Ombi/ClientApp/src/app/services/requestV2.service.spec.ts
  src/Ombi/ClientApp/src/app/services/searchV2.service.spec.ts
  src/Ombi/ClientApp/src/app/services/service.helpers.spec.ts
  src/Ombi/ClientApp/src/app/services/settingsState.service.spec.ts
  src/Ombi/ClientApp/src/app/state/customization/customization.actions.spec.ts
  src/Ombi/ClientApp/src/app/state/customization/customization.facade.spec.ts
  src/Ombi/ClientApp/src/app/state/features/features.actions.spec.ts
  src/Ombi/ClientApp/src/app/state/features/features.facade.spec.ts
  src/Ombi/ClientApp/vitest.config.ts
Labels: frontend

Add discover, service, and state unit tests
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.spec.ts
  src/Ombi/ClientApp/src/app/discover/interfaces.spec.ts
  src/Ombi/ClientApp/src/app/discover/services/filter-service.spec.ts
  src/Ombi/ClientApp/src/app/my-nav/SearchFilter.spec.ts
  src/Ombi/ClientApp/src/app/pipes/TranslateStatus.spec.ts
  src/Ombi/ClientApp/src/app/services/image.service.spec.ts
  src/Ombi/ClientApp/src/app/services/message.service.spec.ts
  src/Ombi/ClientApp/src/app/services/requestV2.service.spec.ts
  src/Ombi/ClientApp/src/app/services/searchV2.service.spec.ts
  src/Ombi/ClientApp/src/app/services/service.helpers.spec.ts
  src/Ombi/ClientApp/src/app/services/settingsState.service.spec.ts
  src/Ombi/ClientApp/src/app/state/customization/customization.actions.spec.ts
  src/Ombi/ClientApp/src/app/state/customization/customization.facade.spec.ts
  src/Ombi/ClientApp/src/app/state/features/features.actions.spec.ts
  src/Ombi/ClientApp/src/app/state/features/features.facade.spec.ts
  src/Ombi/ClientApp/vitest.config.ts
Labels: frontend

Add unit tests for most-changed frontend files
  src/Ombi/ClientApp/src/app/login/login.component.spec.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.spec.ts
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.spec.ts
  src/Ombi/ClientApp/src/app/services/request.service.spec.ts
  src/Ombi/ClientApp/src/app/services/settings.service.spec.ts
Labels: frontend

Add unit tests for most-changed frontend files
  src/Ombi/ClientApp/src/app/login/login.component.spec.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.spec.ts
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.spec.ts
  src/Ombi/ClientApp/src/app/services/request.service.spec.ts
  src/Ombi/ClientApp/src/app/services/settings.service.spec.ts
Labels: frontend

Add frontend vitest step to CI pipelines
  .github/workflows/build.yml
  .github/workflows/pr.yml
Labels: devops

Add frontend vitest step to CI pipelines
  .github/workflows/build.yml
  .github/workflows/pr.yml
Labels: devops

fix: parallelize discover page API calls and processing for faster load times
  src/Ombi.Core/Engine/BaseMediaEngine.cs
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
  src/Ombi.Core/Engine/V2/TvSearchEngineV2.cs
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.ts
Labels: frontend, backend

fix: parallelize discover page API calls and processing for faster load times
  src/Ombi.Core/Engine/BaseMediaEngine.cs
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
  src/Ombi.Core/Engine/V2/TvSearchEngineV2.cs
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.ts
Labels: frontend, backend

Fix PR review feedback on test files
  src/Ombi/ClientApp/src/app/pipes/OmbiDatePipe.spec.ts
  src/Ombi/ClientApp/src/app/shared/storage/storage-service.spec.ts
Labels: frontend

Fix PR review feedback on test files
  src/Ombi/ClientApp/src/app/pipes/OmbiDatePipe.spec.ts
  src/Ombi/ClientApp/src/app/shared/storage/storage-service.spec.ts
Labels: frontend

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
