Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

feat: added feature update to the frontend
  src/Ombi/ClientApp/src/app/services/feature.service.ts
  src/Ombi/ClientApp/src/app/settings/features/features.component.html
  src/Ombi/ClientApp/src/app/settings/features/features.component.ts
  src/Ombi/ClientApp/src/app/settings/settings.module.ts
  src/Ombi/ClientApp/src/app/state/features/features.actions.ts
  src/Ombi/ClientApp/src/app/state/features/features.facade.ts
  src/Ombi/ClientApp/src/app/state/features/features.state.ts
Labels: frontend

feat: got the features page working
  src/Ombi/ClientApp/src/app/services/feature.service.ts
  src/Ombi/ClientApp/src/app/settings/features/features.component.html
  src/Ombi/ClientApp/src/app/settings/features/features.component.scss
  src/Ombi/ClientApp/src/app/settings/features/features.component.ts
  src/Ombi/ClientApp/src/app/settings/settingsmenu.component.html
  src/Ombi/ClientApp/src/app/state/features/features.actions.ts
  src/Ombi/ClientApp/src/app/state/features/features.facade.ts
  src/Ombi/ClientApp/src/app/state/features/features.state.ts
  src/Ombi/Controllers/V2/FeaturesController.cs
Labels: frontend, backend

feat: Applied the feature service on the backend
  src/Ombi.Core.Tests/Engine/V2/MovieRequestEngineTests.cs
  src/Ombi.Core.Tests/Rule/Request/AutoApproveRuleTests.cs
  src/Ombi.Core.Tests/Rule/Request/ExistingMovieRequestRuleTests.cs
  src/Ombi.Core.Tests/Rule/Search/ExistingRequestRuleTests.cs
  src/Ombi.Core/Engine/MovieRequestEngine.cs
  src/Ombi.Core/Rule/Rules/Request/AutoApproveRule.cs
  src/Ombi.Core/Rule/Rules/Request/ExistingMovieRequestRule.cs
  src/Ombi.Core/Services/FeatureService.cs
  src/Ombi.DependencyInjection/IocExtensions.cs
Labels: backend

feat: added the feature flag on the UI
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.ts
  src/Ombi/ClientApp/src/app/settings/radarr/radarr.component.html
  src/Ombi/ClientApp/src/app/settings/radarr/radarr.component.ts
  src/Ombi/ClientApp/src/app/usermanagement/usermanagement-user.component.ts
Labels: frontend

feat: added 4k to the card
  src/Ombi/ClientApp/src/app/discover/components/actor/discover-actor.component.html
  src/Ombi/ClientApp/src/app/discover/components/actor/discover-actor.component.ts
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.html
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.scss
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.ts
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.html
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.ts
  src/Ombi/ClientApp/src/app/discover/components/collections/discover-collections.component.html
  src/Ombi/ClientApp/src/app/discover/components/collections/discover-collections.component.ts
  src/Ombi/ClientApp/src/app/discover/components/search-results/search-results.component.html
  src/Ombi/ClientApp/src/app/discover/components/search-results/search-results.component.ts
Labels: frontend

chore(release): :rocket: v4.12.0
  CHANGELOG.md
  version.json
Labels: none

Implemented basic header auth controller
  src/Ombi/Controllers/V1/TokenController.cs
Labels: backend

Implemented Settings Interface and Models
  src/Ombi/ClientApp/src/app/auth/auth.service.ts
  src/Ombi/ClientApp/src/app/interfaces/ISettings.ts
  src/Ombi/ClientApp/src/app/login/login.component.ts
  src/Ombi/ClientApp/src/app/settings/authentication/authentication.component.html
  src/Ombi/ClientApp/src/app/settings/authentication/authentication.component.ts
  src/Ombi/Controllers/V1/TokenController.cs
Labels: frontend, backend

Implemented Settings in Model
  src/Ombi.Settings/Settings/Models/AuthenticationSettings.cs
Labels: backend

Implemented check for header auth enabled also in backend
  src/Ombi/Controllers/V1/TokenController.cs
Labels: backend

fix(requests): :bug: Fixed the issue where Approving a 4K Request wouldn't send it to the correct 4K radarr instance
  src/Ombi.Core/Engine/MovieRequestEngine.cs
  src/Ombi/.vscode/settings.json
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.ts
Labels: frontend, backend

chore(release): :rocket: v4.12.1
  CHANGELOG.md
  version.json
Labels: none

fix(requests): :bug: Fixed the approve 4k option on the requests list not working as expected
  src/Ombi/ClientApp/src/app/interfaces/IRequestModel.ts
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/options/request-options.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/options/request-options.component.ts
Labels: frontend

chore(release): :rocket: v4.12.2
  CHANGELOG.md
  version.json
Labels: none

bug(requests): :bug: Fixed the requests lists, they now will show the status for 4K and regular requests
  src/Ombi.Core.Tests/Engine/MovieRequestEngineTests.cs
  src/Ombi.Core/Engine/MovieRequestEngine.cs
Labels: backend

chore(release): :rocket: v4.12.3
  CHANGELOG.md
  version.json
Labels: none

feat: angular 13 upgrade
  src/Ombi/.vscode/settings.json
  src/Ombi/ClientApp/.gitignore
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/src/app/services/filedownload.service.ts
  src/Ombi/ClientApp/src/typings/globals.d.ts
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

refactor: updated more packages
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

refactor: upgraded more packages
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/src/app/shared/shared.module.ts
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: fixed an issue where TheMovieDb exclude dropdown wasn't resetting itself
  src/Ombi/ClientApp/src/app/settings/themoviedb/themoviedb.component.ts
Labels: frontend

refactor(upgrades): Upgraded to Angular 13 and other dependency upgrades
  src/Ombi/.vscode/settings.json
  src/Ombi/ClientApp/.gitignore
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/src/app/services/filedownload.service.ts
  src/Ombi/ClientApp/src/app/settings/themoviedb/themoviedb.component.ts
  src/Ombi/ClientApp/src/app/shared/shared.module.ts
  src/Ombi/ClientApp/src/typings/globals.d.ts
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

chore(release): :rocket: v4.12.4
  CHANGELOG.md
  version.json
Labels: none

fix(emby): :bug: Fixed the emby content sync #4513
  src/Ombi.Store/Repository/EmbyContentRepository.cs
Labels: backend

fix(emby): :bug: Fixed the emby content sync #4513
  src/Ombi.Store/Repository/EmbyContentRepository.cs
Labels: backend

chore(release): :rocket: v4.12.5
  CHANGELOG.md
  version.json
Labels: none

fix(emby/jellyfin): :bug: Fixed another issue where we were not correctly displaying the correct status' for movies
  src/Ombi.Api.Emby/EmbyApi.cs
  src/Ombi.Core.Tests/Rule/Search/EmbyAvailabilityRuleTests.cs
  src/Ombi.Core.Tests/Rule/Search/JellyfinAvailabilityRuleTests.cs
  src/Ombi.Core/Rule/Rules/Search/EmbyAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/JellyfinAvailabilityRule.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinContentSync.cs
  src/Ombi/Ombi.csproj
Labels: backend

fix(mediaserver): fixed some more issues in the media server sync and availability checks
  src/Ombi.Core.Tests/Rule/Search/EmbyAvailabilityRuleTests.cs
  src/Ombi.Core.Tests/Rule/Search/JellyfinAvailabilityRuleTests.cs
  src/Ombi.Core/Rule/Rules/Search/EmbyAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/JellyfinAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/PlexAvailabilityRule.cs
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
Labels: backend

chore(release): :rocket: v4.12.6
  CHANGELOG.md
  version.json
Labels: none

bug(plex/jellyfin): :bug: Fixed an issue where updates for the syncs would not always save correctly
  src/Ombi.Store/Repository/JellyfinContentRepository.cs
  src/Ombi.Store/Repository/PlexContentRepository.cs
Labels: backend

chore(release): :rocket: v4.12.7
  CHANGELOG.md
  version.json
Labels: none

Localize request types in notifications
  src/Ombi.I18n/Resources/Texts.Designer.cs
  src/Ombi.I18n/Resources/Texts.resx
  src/Ombi.Notifications/NotificationMessageCurlys.cs
Labels: backend

Add a link to Ombi details page in email notifications
  src/Ombi.Notifications.Templates/EmailBasicTemplate.cs
  src/Ombi.Notifications.Templates/IEmailBasicTemplate.cs
  src/Ombi.Notifications/Agents/EmailNotification.cs
  src/Ombi.Notifications/NotificationMessageContent.cs
  src/Ombi.Notifications/NotificationMessageCurlys.cs
  src/Ombi.Notifications/NotificationMessageResolver.cs
Labels: backend

Display TV show as requested if all episodes are requested
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.ts
Labels: frontend

Remove generic admin email in favor of admins' email
  src/Ombi.Notifications/Agents/EmailNotification.cs
  src/Ombi.Notifications/BaseNotification.cs
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
  src/Ombi.Settings/Settings/Models/Notifications/EmailNotificationSettings.cs
  src/Ombi/ClientApp/src/app/interfaces/INotificationSettings.ts
  src/Ombi/ClientApp/src/app/settings/notifications/emailnotification.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/emailnotification.component.ts
  src/Ombi/Controllers/V1/External/TesterController.cs
Labels: frontend, backend

Fix label ID in chatbox page
  src/Ombi/ClientApp/src/app/shared/chat-box/chat-box.component.html
Labels: frontend

Hide 'Has 4K Request' column list if feature disabled
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.ts
Labels: frontend

Add Trakt to social icons
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.html
Labels: frontend

Add proper Trakt logo
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.scss
  src/Ombi/wwwroot/images/trakt.svg
Labels: frontend

Set hover color to blue
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.scss
Labels: frontend

feat(media-details): Add Trakt to social icons (#4522)
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.scss
  src/Ombi/wwwroot/images/trakt.svg
Labels: frontend
