Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

feat: upgrade @angular/material from 14.2.7 to 20.2.3
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

feat: upgrade @angular/cdk from 16.2.14 to 20.2.3
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

feat: upgrade core-js from 2.6.12 to 3.45.1
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

feat: upgrade @ngxs/store from 3.8.2 to 20.1.0
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

feat: upgrade @ngxs/devtools-plugin from 3.8.2 to 20.1.0
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

feat: upgrade primeng from 17.18.7 to 20.1.2
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix(user-management): Put back the user filter
  src/Ombi/ClientApp/src/app/settings/usermanagement/usermanagement.component.ts
Labels: frontend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.51.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(emby): :bug: Fixed where we didn't scan episodes for mixed content libraries
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyLibrarySync.cs
Labels: backend

actions read
  .github/workflows/pr.yml
Labels: devops

more
  .github/workflows/pr.yml
Labels: devops

chore(release): :rocket: v4.51.2 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Pull back all the ID's rather than quering per episode
  src/.idea/.idea.Ombi/.idea/workspace.xml
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
  src/Ombi.Store/Repository/EmbyContentRepository.cs
  src/Ombi.Store/Repository/IEmbyContentRepository.cs
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.ts
Labels: frontend, backend

improve batching
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
  src/Ombi.Store/Repository/EmbyContentRepository.cs
Labels: backend

chore(release): :rocket: v4.51.3 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(emby): fixed duplicate episodes
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
Labels: backend

chore(release): :rocket: v4.51.4 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(emby): actually fix the dupes
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
Labels: backend

chore(release): :rocket: v4.51.5 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(emby): :bug: Skip very large multipart episodes
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
Labels: backend

chore(release): :rocket: v4.51.6 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

feat: use dynamic scroll sizing for recently requested carousel
  src/Ombi/ClientApp/src/app/discover/components/carousel.options.ts
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.html
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.ts
Labels: frontend

fix: remove hard-coded item width for recently requested carousel
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.scss
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.scss
Labels: frontend

feat: centre requested carousel items
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.scss
Labels: frontend

fix: resolve inconsistencies in view at 768px screen width
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.scss
Labels: frontend

fix: window size check
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.ts
Labels: frontend

fix: reduce cognitive complexity
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.ts
Labels: frontend

fix: remove negated condition
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.ts
Labels: frontend

feat: improve genres and carousel cards on discover page for mobile
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.html
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.scss
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.stories.ts
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.ts
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.scss
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.html
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.scss
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.ts
  src/Ombi/ClientApp/src/app/discover/components/carousel.options.ts
  src/Ombi/ClientApp/src/app/discover/components/genre/genre-button-select.component.scss
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.html
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.scss
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.ts
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.scss
Labels: frontend

feat(availability): :sparkles: Add the option for the *arr to take media availability priority
  src/Ombi.Schedule.Tests/AvailabilityCheckerTests.cs
  src/Ombi.Schedule.Tests/PlexAvailabilityCheckerTests.cs
  src/Ombi.Schedule/Jobs/AvailabilityChecker.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Plex/PlexAvailabilityChecker.cs
  src/Ombi.Settings/Settings/Models/External/RadarrSettings.cs
  src/Ombi.Settings/Settings/Models/External/SonarrSettings.cs
  src/Ombi/ClientApp/src/app/interfaces/ISettings.ts
  src/Ombi/ClientApp/src/app/login/tokenresetpassword.component.ts
  src/Ombi/ClientApp/src/app/settings/radarr/components/radarr-form.component.html
  src/Ombi/ClientApp/src/app/settings/radarr/radarr.component.ts
  src/Ombi/ClientApp/src/app/settings/sonarr/sonarr.component.html
  src/Ombi/ClientApp/src/app/settings/sonarr/sonarr.component.ts
Labels: frontend, backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.52.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.53.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

perf: :zap: Small improvements around SQLite DB locking
  src/Ombi.Core/Helpers/DatabaseConfigurationSetup.cs
  src/Ombi.Core/Models/DatabaseConfiguration.cs
  src/Ombi/Extensions/DatabaseExtensions.cs
  src/Ombi/Program.cs
Labels: backend

feat(search): add indicator when non-default options are selected for the search-filter
  src/Ombi/ClientApp/src/app/my-nav/SearchFilter.ts
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.html
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.ts
Labels: frontend

chore(search): add tests for badge change
  tests/cypress/integration/page-objects/shared/NavBar.ts
  tests/cypress/tests/navigation/navigation-bar.spec.ts
Labels: automation

fix: address sonarcube feedback
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.html
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.ts
Labels: frontend

feat: upgrade @angular/material from 14.2.7 to 20.2.11
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

feat: upgrade @angular/cdk from 16.2.14 to 20.2.11
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
