Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

chore(release): :rocket: v4.53.5 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(plex): migrate legacy numeric provider ids during watchlist import
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

fix(plex): drive watchlist NotAFriend sweep off matched user ids
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

fix(plex): harden NotAFriend sweep + restore hijack guard for non-legacy ids
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

fix(plex): restrict legacy plex id detection to ASCII digits
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

fix(plex): create new watchlist friends with numeric plex.tv id when known
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

fix(plex): skip community-only friends and avoid duplicate rows on rename
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

fix(plex): drop UUID lookup leg in EnsureOmbiUser
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

docs(plex): correct stale comment about community-only friend handling
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

refactor(plex): split BuildTargetList + EnsureOmbiUser and accept numeric bans
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

fix(plex): reject stale ghost rows with mismatched numeric plex.tv id
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

fix(plex): migrate legacy numeric provider ids during watchlist import (#5400)
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

fix(plex): skip watchlist target when username collision is detected
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

fix(plex): skip watchlist target when username collision is detected (#5403)
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

chore(release): :rocket: v4.59.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

feat(plex-settings): redesign settings page with modern layout
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.html
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.scss
Labels: frontend

refactor(plex-settings): adopt Angular 20 best practices
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.html
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.spec.ts
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.ts
  src/Ombi/ClientApp/src/test-setup.ts
Labels: frontend

chore(ci): clean up workflows
  .github/workflows/chromatic.yml
  .github/workflows/contributor-recognition.yml
  .github/workflows/first-time-contributor.yml
  .github/workflows/issue-check.yml
  .github/workflows/sonarscan.yml
Labels: devops

chore(ci): clean up workflows (#5404)
  .github/workflows/chromatic.yml
  .github/workflows/contributor-recognition.yml
  .github/workflows/first-time-contributor.yml
  .github/workflows/issue-check.yml
  .github/workflows/sonarscan.yml
Labels: devops

chore(release): :rocket: v4.59.2 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

feat(plex-settings): redesign settings page with modern layout
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.html
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.scss
Labels: frontend

refactor(plex-settings): adopt Angular 20 best practices
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.html
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.spec.ts
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.ts
  src/Ombi/ClientApp/src/test-setup.ts
Labels: frontend

refactor(notifications): extract shared base class + shell
  src/Ombi/ClientApp/src/app/settings/notifications/discord.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/discord.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/emailnotification.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/emailnotification.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/gotify.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/gotify.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/mattermost.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/mattermost.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/ntfy.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/ntfy.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/pushbullet.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/pushbullet.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/pushover.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/pushover.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/shared/notification-base.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/shared/notification-shell.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/shared/notification-shell.component.scss
  src/Ombi/ClientApp/src/app/settings/notifications/shared/notification-shell.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/slack.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/slack.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/telegram.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/telegram.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/webhook.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/webhook.component.ts
Labels: frontend

fix(plex-settings): trim component stylesheet under 10kb budget
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.scss
Labels: frontend

fix(plex-settings): correct save toast, server id collisions, select binding
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.html
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.scss
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.ts
Labels: frontend

fix(plex-settings): contextualise auto-save toast for server dialog flows
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.ts
Labels: frontend

fix(notifications): address review feedback
  src/Ombi/ClientApp/src/app/settings/notifications/emailnotification.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/gotify.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/pushover.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/shared/notification-base.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/shared/notification-shell.component.scss
  src/Ombi/ClientApp/src/app/settings/notifications/slack.component.spec.ts
  src/Ombi/ClientApp/src/app/settings/notifications/slack.component.ts
Labels: frontend

fix(plex-settings): trigger change detection after server mutations
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.ts
Labels: frontend

fix(plex-settings): gate sync tiles, defensive delete, lowercase keyword
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.html
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.scss
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.ts
Labels: frontend

fix(plex-settings): surface job-trigger failure in runJob
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.ts
Labels: frontend

refactor(notifications): port newsletter, mobile, twilio and mass email
  src/Ombi/ClientApp/src/app/settings/massemail/massemail.component.html
  src/Ombi/ClientApp/src/app/settings/massemail/massemail.component.scss
  src/Ombi/ClientApp/src/app/settings/massemail/massemail.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/cloudmobile.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/cloudmobile.component.scss
  src/Ombi/ClientApp/src/app/settings/notifications/cloudmobile.coponent.ts
  src/Ombi/ClientApp/src/app/settings/notifications/newsletter.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/newsletter.component.scss
  src/Ombi/ClientApp/src/app/settings/notifications/newsletter.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/shared/notification-shell.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/shared/notification-shell.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/twilio/twilio.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/twilio/twilio.component.scss
  src/Ombi/ClientApp/src/app/settings/notifications/twilio/twilio.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/twilio/whatsapp.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/twilio/whatsapp.component.ts
Labels: frontend

fix(notifications): bind projected formControlName to the form group
  src/Ombi/ClientApp/src/app/settings/notifications/discord.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/emailnotification.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/gotify.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/mattermost.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/ntfy.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/pushbullet.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/pushover.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/slack.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/telegram.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/webhook.component.html
Labels: frontend

refactor(notifications): extract shared base class + shell (#5406)
  src/Ombi/ClientApp/src/app/settings/massemail/massemail.component.html
  src/Ombi/ClientApp/src/app/settings/massemail/massemail.component.scss
  src/Ombi/ClientApp/src/app/settings/massemail/massemail.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/cloudmobile.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/cloudmobile.component.scss
  src/Ombi/ClientApp/src/app/settings/notifications/cloudmobile.coponent.ts
  src/Ombi/ClientApp/src/app/settings/notifications/discord.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/discord.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/emailnotification.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/emailnotification.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/gotify.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/gotify.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/mattermost.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/mattermost.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/newsletter.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/newsletter.component.scss
  src/Ombi/ClientApp/src/app/settings/notifications/newsletter.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/ntfy.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/ntfy.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/pushbullet.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/pushbullet.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/pushover.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/pushover.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/shared/notification-base.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/shared/notification-shell.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/shared/notification-shell.component.scss
  src/Ombi/ClientApp/src/app/settings/notifications/shared/notification-shell.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/slack.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/slack.component.spec.ts
  src/Ombi/ClientApp/src/app/settings/notifications/slack.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/telegram.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/telegram.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/twilio/twilio.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/twilio/twilio.component.scss
  src/Ombi/ClientApp/src/app/settings/notifications/twilio/twilio.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/twilio/whatsapp.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/twilio/whatsapp.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/webhook.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/webhook.component.ts
Labels: frontend

chore(release): :rocket: v4.59.3 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

feat(plex-settings): redesign server and watchlist dialogs
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-server-dialog/plex-server-dialog.component.html
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-server-dialog/plex-server-dialog.component.scss
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-server-dialog/plex-server-dialog.component.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.html
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.scss
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.ts
Labels: frontend

Do not continue invocation chain if rejecting due to invalid user
  .github/workflows/automation-tests.yml
  src/Ombi.Tests/Middlewear/ApiKeyMiddlewearTests.cs
  src/Ombi/Middleware/ApiKeyMiddlewear.cs
Labels: backend, devops

Fix interrupted response when provided an unknown user (#5354)
  .github/workflows/automation-tests.yml
  src/Ombi.Tests/Middlewear/ApiKeyMiddlewearTests.cs
  src/Ombi/Middleware/ApiKeyMiddlewear.cs
Labels: backend, devops

chore(release): :rocket: v4.59.4 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(http): enable automatic decompression on OmbiClient
  src/Ombi.DependencyInjection/IocExtensions.cs
Labels: backend

fix(http): enable automatic decompression on OmbiClient (#5410)
  src/Ombi.DependencyInjection/IocExtensions.cs
Labels: backend

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
