Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

Redesign TV requests panel with card-based layout
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.scss
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.html
  src/Ombi/wwwroot/translations/en.json
Labels: frontend

Fix review feedback: kebab-case keyframes, denied episode selection, empty season guard
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.scss
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.scss
Labels: frontend

Fix SonarCloud reliability: use typed state instead of dynamic properties
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.ts
Labels: frontend

Fix review feedback: kebab-case keyframes, denied episode selection, empty season guard
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.scss
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.scss
Labels: frontend

Redesign TV request UX with unified inline experience
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.scss
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.ts
  src/Ombi/wwwroot/translations/en.json
Labels: frontend

Redesign TV requests panel with card-based layout
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.scss
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.html
  src/Ombi/wwwroot/translations/en.json
Labels: frontend

Add null guards for toPromise() return values
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.ts
Labels: frontend

Update Cypress tests for redesigned TV request UX
  tests/cypress/integration/page-objects/details/tv/tvdetails.page.ts
  tests/cypress/tests/details/tv/tvdetails-buttons.spec.ts
  tests/cypress/tests/details/tv/tvdetails-requests-grid.spec.ts
Labels: automation

Update Cypress tests for redesigned TV request UX
  tests/cypress/integration/page-objects/details/tv/tvdetails.page.ts
  tests/cypress/tests/details/tv/tvdetails-buttons.spec.ts
  tests/cypress/tests/details/tv/tvdetails-requests-grid.spec.ts
Labels: automation

Address code review feedback
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.ts
Labels: frontend

Add null guards for toPromise() return values
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.ts
Labels: frontend

Address code review feedback
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.ts
Labels: frontend

Fix premature state mutation and bulk episode marking in request grid
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.ts
Labels: frontend

Fix premature state mutation and bulk episode marking in request grid
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.ts
Labels: frontend

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/bg.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ca.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/cs.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/da.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/de.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/hu.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/it.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/nl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/no.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ru.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sk.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sv.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh-TW.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt-BR.json
Labels: none

Fix review feedback: keyboard a11y, state isolation, denied status, translations
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.ts
  src/Ombi/wwwroot/translations/bg.json
  src/Ombi/wwwroot/translations/ca.json
  src/Ombi/wwwroot/translations/cs.json
  src/Ombi/wwwroot/translations/da.json
  src/Ombi/wwwroot/translations/de.json
  src/Ombi/wwwroot/translations/es.json
  src/Ombi/wwwroot/translations/fr.json
  src/Ombi/wwwroot/translations/hu.json
  src/Ombi/wwwroot/translations/it.json
  src/Ombi/wwwroot/translations/nl.json
  src/Ombi/wwwroot/translations/no.json
  src/Ombi/wwwroot/translations/pl.json
  src/Ombi/wwwroot/translations/pt-BR.json
  src/Ombi/wwwroot/translations/pt.json
  src/Ombi/wwwroot/translations/ru.json
  src/Ombi/wwwroot/translations/sk.json
  src/Ombi/wwwroot/translations/sv.json
  src/Ombi/wwwroot/translations/zh-TW.json
  src/Ombi/wwwroot/translations/zh.json
Labels: frontend

Fix review feedback: keyboard a11y, state isolation, denied status, translations
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.ts
  src/Ombi/wwwroot/translations/bg.json
  src/Ombi/wwwroot/translations/ca.json
  src/Ombi/wwwroot/translations/cs.json
  src/Ombi/wwwroot/translations/da.json
  src/Ombi/wwwroot/translations/de.json
  src/Ombi/wwwroot/translations/es.json
  src/Ombi/wwwroot/translations/fr.json
  src/Ombi/wwwroot/translations/hu.json
  src/Ombi/wwwroot/translations/it.json
  src/Ombi/wwwroot/translations/nl.json
  src/Ombi/wwwroot/translations/no.json
  src/Ombi/wwwroot/translations/pl.json
  src/Ombi/wwwroot/translations/pt-BR.json
  src/Ombi/wwwroot/translations/pt.json
  src/Ombi/wwwroot/translations/ru.json
  src/Ombi/wwwroot/translations/sk.json
  src/Ombi/wwwroot/translations/sv.json
  src/Ombi/wwwroot/translations/zh-TW.json
  src/Ombi/wwwroot/translations/zh.json
Labels: frontend

Fix i18n season label, duplicate a11y controls, delete safety, and deny reset
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.ts
Labels: frontend

Fix i18n season label, duplicate a11y controls, delete safety, and deny reset
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.ts
Labels: frontend

Add RepoShark Health badge to README
  README.md
Labels: none

Add RepoShark Health badge to README
  README.md
Labels: none

chore(release): :rocket: v4.57.13 [skip ci]
  CHANGELOG.md
  version.json
Labels: none
