Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

fix: src/Ombi.Schedule.Tests/Ombi.Schedule.Tests.csproj to reduce vulnerabilities
  src/Ombi.Schedule.Tests/Ombi.Schedule.Tests.csproj
Labels: none

fix: src/Ombi.Test.Common/Ombi.Test.Common.csproj to reduce vulnerabilities
  src/Ombi.Test.Common/Ombi.Test.Common.csproj
Labels: none

fix(plex-api): update Plex Watchlist URL
  src/Ombi.Api.Plex/PlexApi.cs
Labels: backend

fix: set MarkedAsApproved on TV requests
  src/Ombi.Core/Engine/TvRequestEngine.cs
Labels: backend

chore(release): :rocket: v4.49.3 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

issues
  src/Ombi/ClientApp/src/app/issues/issues.component.html
  src/Ombi/ClientApp/src/app/issues/issues.component.ts
Labels: frontend

modernise the discover
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.html
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.ts
  src/Ombi/ClientApp/src/app/discover/components/discover/discover.component.html
  src/Ombi/ClientApp/src/app/discover/components/discover/discover.component.ts
Labels: frontend

fixed node version
  .github/workflows/build.yml
Labels: devops

others
  .github/workflows/automation-tests.yml
  .github/workflows/pr.yml
Labels: devops

optimize
  src/Ombi/ClientApp/angular.json
  src/Ombi/ClientApp/package.json
Labels: frontend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

tests
  tests/cypress.config.ts
  tests/cypress/integration/page-objects/base.page.ts
  tests/cypress/integration/page-objects/login/login.page.ts
  tests/cypress/support/commands.ts
  tests/tsconfig.json
Labels: automation

chore(release): :rocket: v4.49.4 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.49.5 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

tests
  tests/cypress.config.ts
  tests/cypress/integration/page-objects/base.page.ts
  tests/cypress/support/commands.ts
  tests/cypress/tests/details/tv/tvdetails-buttons.spec.ts
  tests/yarn.lock
Labels: automation

improvements
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.ts
  src/Ombi/ClientApp/src/app/media-details/media-details.component.scss
Labels: frontend

fixes
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.ts
  tests/cypress.config.ts
  tests/cypress/fixtures/wizard-config.json
  tests/cypress/support/e2e.ts
  tests/cypress/support/setup.ts
Labels: automation, frontend

stuff
  tests/cypress.config.ts
  tests/cypress/fixtures/wizard-config.json
  tests/cypress/support/e2e.ts
  tests/cypress/support/setup.ts
Labels: automation

lock
  tests/yarn.lock
Labels: automation

simple
  .github/workflows/automation-tests.yml
Labels: devops

.net
  .github/workflows/automation-tests.yml
Labels: devops

port
  .github/workflows/automation-tests.yml
Labels: devops

again
  .github/workflows/automation-tests.yml
Labels: devops

a
  .github/workflows/automation-tests.yml
Labels: devops

try again
  tests/cypress/support/e2e.ts
  tests/cypress/support/mock-data.commands.ts
  tests/cypress/support/plex-settings.commands.ts
  tests/cypress/support/request.commands.ts
  tests/tsconfig.json
Labels: automation

``````
  tests/cypress/support/e2e.ts
  tests/cypress/tests/api/v1/tv-request.api.spec.ts
  tests/cypress/tests/api/v1/tv-search.api.spec.ts
  tests/cypress/tests/details/tv/tvdetails-requests-grid.spec.ts
  tests/cypress/tests/discover/discover-responsive.spec.ts
  tests/cypress/tests/login/login.spec.ts
  tests/cypress/tests/requests/requests.spec.ts
  tests/cypress/tests/usermanagement/usermanagement.spec.ts
  tests/package.json
  tests/yarn.lock
Labels: automation

aaaa
  tests/cypress/support/commands.ts
  tests/cypress/support/e2e.ts
Labels: automation

chore(release): :rocket: v4.49.6 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

remove
  src/cleanup_solution_file.sh
  src/cleanup_solution_file_targeted.sh
  src/remove_old_api_projects.sh
  src/update_appveyor_namespaces.sh
  src/update_copied_apis_namespaces.sh
  src/update_core_namespaces.sh
  src/update_dependencyinjection_namespaces.sh
  src/update_dependencyinjection_namespaces_corrected.sh
  src/update_healthchecks_namespaces.sh
  src/update_mapping_namespaces.sh
  src/update_mapping_namespaces_comprehensive.sh
  src/update_notification_namespaces.sh
  src/update_ombi_namespaces.sh
  src/update_project_references.sh
  src/update_schedule_namespaces.sh
  src/update_test_namespaces.sh
Labels: none

more tests
  src/Ombi.Core.Tests/Services/FeatureServiceTests.cs
  src/Ombi.Core.Tests/Services/PlexServiceTests.cs
  src/Ombi.Core.Tests/Services/RecentlyRequestedServiceTests.cs
  src/Ombi.Core.Tests/Services/RequestLimitServiceTests.cs
  src/Ombi.Helpers.Tests/CacheServiceTests.cs
  src/Ombi.Store/Migrations/OmbiMySql/20210305151743_TvRequestProviderId.cs
Labels: backend

fixes
  src/Ombi.Helpers.Tests/CacheServiceTests.cs
  src/Ombi.Helpers.Tests/Ombi.Helpers.Tests.csproj
Labels: backend

adapt getServer with new api
  src/Ombi.Api.Plex/PlexApi.cs
Labels: backend

try to fix warn and clean
  src/Ombi.Api.Plex/PlexApi.cs
Labels: backend

comment in english
  src/Ombi.Api.Plex/PlexApi.cs
Labels: backend

fix: Use new server discovery url #5260
  src/Ombi.Api.Plex/Models/Server/Connection.cs
  src/Ombi.Api.Plex/Models/Server/Device.cs
  src/Ombi.Api.Plex/Models/Server/ServerInfo.cs
  src/Ombi.Api.Plex/PlexApi.cs
  src/Ombi.Api/Api.cs
  src/Ombi/ClientApp/src/app/interfaces/IPlex.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-form/plex-form.component.html
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-form/plex-form.component.ts
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.html
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.ts
  src/Ombi/Controllers/V1/External/PlexController.cs
  src/Ombi/Controllers/V1/PlexOAuthController.cs
Labels: frontend, backend

chore(release): :rocket: v4.49.7 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

merge
  src/.idea/.idea.Ombi/.idea/workspace.xml
Labels: none

fix: src/Ombi/ClientApp/package.json & src/Ombi/ClientApp/yarn.lock to reduce vulnerabilities
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fixed tests
  tests/cypress/fixtures/mocks/plex/plex-test.mock.json
  tests/cypress/tests/settings/plex/plex-settings.spec.ts
Labels: automation

refactor: update cypress
  tests/package.json
  tests/yarn.lock
Labels: automation

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
