Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

chore(release): :rocket: v4.16.13
  CHANGELOG.md
  version.json
Labels: none

Fix requests when 4k available and 4k disabled
  src/Ombi.Schedule/Jobs/Emby/EmbyAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinAvaliabilityChecker.cs
Labels: backend

chore(release): :rocket: v4.16.14
  CHANGELOG.md
  version.json
Labels: none

Hide subscribe button when request is available
  src/Ombi.Core/Engine/MovieRequestEngine.cs
  src/Ombi.Core/Engine/MusicRequestEngine.cs
  src/Ombi.Core/Engine/TvRequestEngine.cs
Labels: backend

Hide subscribe button when request is denied
  src/Ombi.Core/Engine/MovieRequestEngine.cs
  src/Ombi.Core/Engine/MusicRequestEngine.cs
  src/Ombi.Core/Engine/TvRequestEngine.cs
Labels: backend

Add Title to Partially Available Message
  src/Ombi.Store/Context/OmbiContext.cs
Labels: backend

Better error message when test email fails due to missing recipient
  src/Ombi/Controllers/V1/External/TesterController.cs
Labels: backend

feat(discover): Add original language filter
  src/Ombi.Core/Engine/V2/IMultiSearchEngine.cs
  src/Ombi.Core/Engine/V2/MultiSearchEngine.cs
  src/Ombi.Settings/Settings/Models/External/TheMovieDbSettings.cs
  src/Ombi.TheMovieDbApi/IMovieDbApi.cs
  src/Ombi.TheMovieDbApi/Models/Language.cs
  src/Ombi.TheMovieDbApi/TheMovieDbApi.cs
  src/Ombi/ClientApp/src/app/interfaces/IMovieDb.ts
  src/Ombi/ClientApp/src/app/interfaces/ISettings.ts
  src/Ombi/ClientApp/src/app/services/searchV2.service.ts
  src/Ombi/ClientApp/src/app/settings/themoviedb/themoviedb.component.html
  src/Ombi/ClientApp/src/app/settings/themoviedb/themoviedb.component.ts
  src/Ombi/Controllers/V2/SearchController.cs
Labels: frontend, backend

chore(release): :rocket: v4.16.15
  CHANGELOG.md
  version.json
Labels: none

fix(4616): :bug: fixed mandatory fields
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.html
  src/Ombi/ClientApp/src/app/settings/radarr/components/radarr-form.component.ts
  src/Ombi/ClientApp/src/app/settings/radarr/radarr.component.html
  src/Ombi/ClientApp/src/app/settings/radarr/radarr.component.ts
Labels: frontend

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh-TW.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sv.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sk.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ru.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/no.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/nl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/it.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/de.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/hu.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/da.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/cs.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/bg.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt-BR.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.16.16
  CHANGELOG.md
  version.json
Labels: none

added test results into the PR pipeline
  .github/workflows/pr.yml
Labels: devops

chore(release): :rocket: v4.16.17
  CHANGELOG.md
  version.json
Labels: none

Add information about cache refresh
  src/Ombi/ClientApp/src/app/settings/themoviedb/themoviedb.component.ts
Labels: frontend

Update pr.yml
  .github/workflows/pr.yml
Labels: devops

Update pr.yml
  .github/workflows/pr.yml
Labels: devops

Update pr.yml
  .github/workflows/pr.yml
Labels: devops

chore(release): :rocket: v4.17.0
  CHANGELOG.md
  version.json
Labels: none

feat(discover): Add new trending source experimental feature
  src/Ombi.Core/Engine/Interfaces/IMovieEngineV2.cs
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
  src/Ombi.Core/Engine/V2/TvSearchEngineV2.cs
  src/Ombi.Settings/Settings/Models/FeatureSettings.cs
  src/Ombi.TheMovieDbApi/IMovieDbApi.cs
  src/Ombi.TheMovieDbApi/TheMovieDbApi.cs
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.ts
  src/Ombi/ClientApp/src/app/services/searchV2.service.ts
  src/Ombi/ClientApp/src/app/state/features/features.facade.ts
  src/Ombi/ClientApp/src/app/state/features/features.selectors.ts
  src/Ombi/Controllers/V2/SearchController.cs
Labels: frontend, backend

fix(settings): Allow toggling features when there are more than one
  src/Ombi/ClientApp/src/app/settings/features/features.component.html
Labels: frontend

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
