Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

Redesign login page with modern glassmorphism UI (#5385)
  src/Ombi/ClientApp/src/app/components/image-background/image-background.component.scss
  src/Ombi/ClientApp/src/app/login/login.component.html
  src/Ombi/ClientApp/src/app/login/login.component.scss
  src/Ombi/ClientApp/src/app/login/login.component.ts
  src/Ombi/ClientApp/src/index.html
  src/Ombi/wwwroot/translations/en.json
Labels: frontend

Redesign login page with modern glassmorphism UI (#5385)
  src/Ombi/ClientApp/src/app/components/image-background/image-background.component.scss
  src/Ombi/ClientApp/src/app/login/login.component.html
  src/Ombi/ClientApp/src/app/login/login.component.scss
  src/Ombi/ClientApp/src/app/login/login.component.ts
  src/Ombi/ClientApp/src/index.html
  src/Ombi/wwwroot/translations/en.json
Labels: frontend

chore(release): :rocket: v4.57.20 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.57.20 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Remove dead code: final cleanup block is unreachable
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
Labels: backend

Improvements based on #5356 (#5387)
  src/Ombi.Schedule/Jobs/Emby/EmbyAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
  src/Ombi.Store/Repository/EmbyContentRepository.cs
  src/Ombi.Store/Repository/IEmbyContentRepository.cs
Labels: backend

Improvements based on #5356 (#5387)
  src/Ombi.Schedule/Jobs/Emby/EmbyAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
  src/Ombi.Store/Repository/EmbyContentRepository.cs
  src/Ombi.Store/Repository/IEmbyContentRepository.cs
Labels: backend

chore(release): :rocket: v4.57.21 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.58.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/bg.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ca.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/cs.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/da.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/de.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/hu.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/it.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/nl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/no.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ru.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sk.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sv.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh-TW.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt-BR.json
Labels: none

Redesign settings pages with modern SaaS-style layout
  src/Ombi/ClientApp/src/app/settings/authentication/authentication.component.html
  src/Ombi/ClientApp/src/app/settings/authentication/authentication.component.scss
  src/Ombi/ClientApp/src/app/settings/customization/customization.component.html
  src/Ombi/ClientApp/src/app/settings/customization/customization.component.scss
  src/Ombi/ClientApp/src/app/settings/customization/customization.component.ts
  src/Ombi/ClientApp/src/app/settings/features/features.component.html
  src/Ombi/ClientApp/src/app/settings/features/features.component.scss
  src/Ombi/ClientApp/src/app/settings/issues/issues.component.html
  src/Ombi/ClientApp/src/app/settings/issues/issues.component.scss
  src/Ombi/ClientApp/src/app/settings/issues/issues.component.ts
  src/Ombi/ClientApp/src/app/settings/landingpage/landingpage.component.html
  src/Ombi/ClientApp/src/app/settings/landingpage/landingpage.component.scss
  src/Ombi/ClientApp/src/app/settings/landingpage/landingpage.component.ts
  src/Ombi/ClientApp/src/app/settings/ombi/ombi.component.html
  src/Ombi/ClientApp/src/app/settings/ombi/ombi.component.scss
  src/Ombi/ClientApp/src/app/settings/ombi/ombi.component.ts
  src/Ombi/ClientApp/src/app/settings/settings.component.scss
  src/Ombi/ClientApp/src/app/settings/settings.component.ts
  src/Ombi/ClientApp/src/app/settings/settingsmenu.component.html
  src/Ombi/ClientApp/src/app/settings/settingsmenu.component.scss
  src/Ombi/ClientApp/src/app/settings/settingsmenu.component.ts
  src/Ombi/ClientApp/src/app/settings/shared-settings.scss
  src/Ombi/ClientApp/src/app/settings/themoviedb/themoviedb.component.html
  src/Ombi/ClientApp/src/app/settings/themoviedb/themoviedb.component.scss
  src/Ombi/ClientApp/src/app/settings/usermanagement/usermanagement.component.html
  src/Ombi/ClientApp/src/app/settings/usermanagement/usermanagement.component.scss
Labels: frontend

Replace settings sidebar with horizontal tab bar navigation
  src/Ombi/ClientApp/src/app/settings/settings.component.scss
  src/Ombi/ClientApp/src/app/settings/settings.component.ts
  src/Ombi/ClientApp/src/app/settings/settingsmenu.component.html
  src/Ombi/ClientApp/src/app/settings/settingsmenu.component.scss
  src/Ombi/ClientApp/src/app/settings/settingsmenu.component.ts
Labels: frontend

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

fix(emby): resolve remaining episode sync issues from #5356
  src/Ombi.Api.External/MediaServers/Emby/EmbyApi.cs
  src/Ombi.Api.External/MediaServers/Jellyfin/JellyfinApi.cs
  src/Ombi.Core.Tests/Rule/Search/AvailabilityRuleHelperTests.cs
  src/Ombi.Core/Rule/Rules/Search/AvailabilityRuleHelper.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinContentSync.cs
  src/Ombi.Store/Repository/EmbyContentRepository.cs
  src/Ombi.Store/Repository/IEmbyContentRepository.cs
Labels: backend

chore: clean up yarnrc plugin config and lockfile
  src/Ombi/ClientApp/.yarnrc.yml
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix(emby): address code review feedback from PR #5389
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinContentSync.cs
  src/Ombi.Store/Repository/EmbyContentRepository.cs
Labels: backend

Fix episode sync and availability checks for multi-episode files (#5389)
  src/Ombi.Api.External/MediaServers/Emby/EmbyApi.cs
  src/Ombi.Api.External/MediaServers/Jellyfin/JellyfinApi.cs
  src/Ombi.Core.Tests/Rule/Search/AvailabilityRuleHelperTests.cs
  src/Ombi.Core/Rule/Rules/Search/AvailabilityRuleHelper.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinContentSync.cs
  src/Ombi.Store/Repository/EmbyContentRepository.cs
  src/Ombi.Store/Repository/IEmbyContentRepository.cs
  src/Ombi/ClientApp/.yarnrc.yml
  src/Ombi/ClientApp/yarn.lock
Labels: frontend, backend

Fix episode sync and availability checks for multi-episode files (#5389)
  src/Ombi.Api.External/MediaServers/Emby/EmbyApi.cs
  src/Ombi.Api.External/MediaServers/Jellyfin/JellyfinApi.cs
  src/Ombi.Core.Tests/Rule/Search/AvailabilityRuleHelperTests.cs
  src/Ombi.Core/Rule/Rules/Search/AvailabilityRuleHelper.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinContentSync.cs
  src/Ombi.Store/Repository/EmbyContentRepository.cs
  src/Ombi.Store/Repository/IEmbyContentRepository.cs
  src/Ombi/ClientApp/.yarnrc.yml
  src/Ombi/ClientApp/yarn.lock
Labels: frontend, backend

Fix discover card request button visibility for Cypress tests
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.scss
Labels: frontend

chore(release): :rocket: v4.58.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.58.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
