Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

fix: guard Docker image push to master/develop branches only
  .github/workflows/build.yml
Labels: devops

fix: guard Docker image push to master/develop branches only
  .github/workflows/build.yml
Labels: devops

chore(release): :rocket: v4.56.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Bump version from 4.55.7 to 4.56.0
  version.json
Labels: none

Bump version from 4.55.7 to 4.56.0
  version.json
Labels: none

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.57.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.57.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix: remove unsupported linux/arm/v7 platform from Docker build
  .github/workflows/build.yml
Labels: devops

fix: remove unsupported linux/arm/v7 platform from Docker build
  .github/workflows/build.yml
Labels: devops

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.57.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.57.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix: update Dockerfile COPY commands to match current project structure
  src/dockerfile
Labels: none

fix: update Dockerfile COPY commands to match current project structure
  src/dockerfile
Labels: none

chore(release): :rocket: v4.57.2 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.57.2 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix: disable font inlining in Angular production build
  src/Ombi/ClientApp/angular.json
Labels: frontend

fix: disable font inlining in Angular production build
  src/Ombi/ClientApp/angular.json
Labels: frontend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.57.3 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.57.3 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Change Ombi logo URLs from imgur to those hosted on the website
  README.md
  src/Ombi.Notifications.Templates/TemplateBase.cs
Labels: backend

Change Ombi logo URLs from imgur to those hosted on the website
  README.md
  src/Ombi.Notifications.Templates/TemplateBase.cs
Labels: backend

Fix the schema for the firsttimersonly badge
  README.md
Labels: none

Fix the schema for the firsttimersonly badge
  README.md
Labels: none

Add alt-text for the Ombi logo image
  README.md
Labels: none

Add alt-text for the Ombi logo image
  README.md
Labels: none

fix: src/Ombi.Store/Ombi.Store.csproj to reduce vulnerabilities
  src/Ombi.Store/Ombi.Store.csproj
Labels: none

chore(release): :rocket: v4.57.4 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.57.4 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix: src/Ombi.Mapping/Ombi.Mapping.csproj to reduce vulnerabilities
  src/Ombi.Mapping/Ombi.Mapping.csproj
Labels: none

fix: src/Ombi/Ombi.csproj to reduce vulnerabilities
  src/Ombi/Ombi.csproj
Labels: none

fix: src/Ombi.Notifications/Ombi.Notifications.csproj to reduce vulnerabilities
  src/Ombi.Notifications/Ombi.Notifications.csproj
Labels: none

fix: src/Ombi.Core/Ombi.Core.csproj to reduce vulnerabilities
  src/Ombi.Core/Ombi.Core.csproj
Labels: none

Do not continue invocation chain if rejecting due to invalid user
  src/Ombi.Tests/Middlewear/ApiKeyMiddlewearTests.cs
  src/Ombi/Middleware/ApiKeyMiddlewear.cs
Labels: backend

Fix test execution order - run wizard first to set up user
  .github/workflows/automation-tests.yml
Labels: devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
