Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

Show the ApiAlias in the requests-list.
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.html
Labels: frontend

fix: Show the ApiAlias in the requests-list
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.html
Labels: frontend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.37.3 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

feat(emby): Show watched status for Movie requests
  src/Ombi.Api.Emby/EmbyApi.cs
  src/Ombi.Api.Emby/IBaseEmbyApi.cs
  src/Ombi.Core.Tests/Engine/MovieRequestEngineTests.cs
  src/Ombi.Core.Tests/Engine/V2/MovieRequestEngineTests.cs
  src/Ombi.Core/Engine/MovieRequestEngine.cs
  src/Ombi.DependencyInjection/IocExtensions.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyLibrarySync.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyPlayedSync.cs
  src/Ombi.Schedule/Jobs/Emby/IEmbyPlayedSync.cs
  src/Ombi.Schedule/Jobs/Ombi/MediaDatabaseRefresh.cs
  src/Ombi.Schedule/OmbiScheduler.cs
  src/Ombi.Settings/Settings/Models/FeatureSettings.cs
  src/Ombi.Store/Context/ExternalContext.cs
  src/Ombi.Store/Entities/Requests/MovieRequests.cs
  src/Ombi.Store/Entities/UserPlayedMovie.cs
  src/Ombi.Store/Migrations/ExternalMySql/20230406152218_MovieUserPlayed.Designer.cs
  src/Ombi.Store/Migrations/ExternalMySql/20230406152218_MovieUserPlayed.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20230310130339_MovieUserPlayed.Designer.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20230310130339_MovieUserPlayed.cs
  src/Ombi.Store/Migrations/ExternalSqlite/ExternalSqliteContextModelSnapshot.cs
  src/Ombi.Store/Repository/IUserPlayedMovieRepository.cs
  src/Ombi.Store/Repository/UserPlayedMovieRepository.cs
  src/Ombi/ClientApp/src/app/interfaces/IRequestModel.ts
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.ts
  src/Ombi/ClientApp/src/app/state/features/features.facade.ts
  src/Ombi/ClientApp/src/app/state/features/features.selectors.ts
  src/Ombi/wwwroot/translations/en.json
Labels: frontend, backend

fix: remove sort header
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.html
Labels: frontend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/hu.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/bg.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ca.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/cs.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/da.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/de.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/it.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/nl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/no.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ru.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sk.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sv.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh-TW.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt-BR.json
Labels: none

chore(release): :rocket: v4.38.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/it.json
Labels: none

Add the RequestedByAlias field to the Notification Message
  src/Ombi.Notifications/NotificationMessageCurlys.cs
Labels: backend

fix(notificaitons): Add the RequestedByAlias field to the Notification Message
  src/Ombi.Notifications/NotificationMessageCurlys.cs
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

🌐 Translations Update (#4921)
  src/Ombi/wwwroot/translations/bg.json
  src/Ombi/wwwroot/translations/ca.json
  src/Ombi/wwwroot/translations/cs.json
  src/Ombi/wwwroot/translations/da.json
  src/Ombi/wwwroot/translations/de.json
  src/Ombi/wwwroot/translations/es.json
  src/Ombi/wwwroot/translations/fr.json
  src/Ombi/wwwroot/translations/hu.json
  src/Ombi/wwwroot/translations/it.json
  src/Ombi/wwwroot/translations/nl.json
  src/Ombi/wwwroot/translations/no.json
  src/Ombi/wwwroot/translations/pl.json
  src/Ombi/wwwroot/translations/pt-BR.json
  src/Ombi/wwwroot/translations/pt.json
  src/Ombi/wwwroot/translations/ru.json
  src/Ombi/wwwroot/translations/sk.json
  src/Ombi/wwwroot/translations/sv.json
  src/Ombi/wwwroot/translations/zh-TW.json
  src/Ombi/wwwroot/translations/zh.json
Labels: none

fix(API): Allow RequestOnBehalf rights if requested from the API (#4919)
  src/Ombi.Core/Engine/MovieRequestEngine.cs
  src/Ombi.Core/Engine/TvRequestEngine.cs
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.38.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh.json
Labels: none

feat(emby): Show watched status for TV requests
  src/Ombi.Api.Emby/EmbyApi.cs
  src/Ombi.Api.Emby/IBaseEmbyApi.cs
  src/Ombi.Core/Engine/TvRequestEngine.cs
  src/Ombi.DependencyInjection/IocExtensions.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyPlayedSync.cs
  src/Ombi.Schedule/Jobs/Ombi/MediaDatabaseRefresh.cs
  src/Ombi.Store/Context/ExternalContext.cs
  src/Ombi.Store/Entities/Requests/ChildRequests.cs
  src/Ombi.Store/Entities/UserPlayedEpisode.cs
  src/Ombi.Store/Migrations/ExternalMySql/20230515182204_MovieEpisodePlayed.Designer.cs
  src/Ombi.Store/Migrations/ExternalMySql/20230515182204_MovieEpisodePlayed.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20230515161757_EpisodeUserPlayed.Designer.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20230515161757_EpisodeUserPlayed.cs
  src/Ombi.Store/Migrations/ExternalSqlite/ExternalSqliteContextModelSnapshot.cs
  src/Ombi.Store/Repository/IUserPlayedEpisodeRepository.cs
  src/Ombi.Store/Repository/UserPlayedEpisodeRepository.cs
  src/Ombi/ClientApp/src/app/app.module.ts
  src/Ombi/ClientApp/src/app/interfaces/IRequestModel.ts
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.scss
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.ts
  src/Ombi/ClientApp/src/app/shared/shared.module.ts
Labels: frontend, backend

Consider only requested episodes in played progress
  src/Ombi.Core/Engine/TvRequestEngine.cs
Labels: backend

Clarify tv watched progress tooltip
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.html
  src/Ombi/wwwroot/translations/en.json
Labels: frontend

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
