Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

Merge pull request from GHSA-28j3-84m7-gpjp
  src/Ombi/Controllers/V2/SystemController.cs
Labels: backend

chore(release): :rocket: v4.38.2 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Develop master (#4930)
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.ts
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.html
  src/Ombi/ClientApp/src/app/interfaces/IRecentlyRequested.ts
Labels: frontend

chore(release): :rocket: v4.35.11 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(emby): Fix Emby played sync running a full sync during recently added sync
  src/Ombi.Schedule/Jobs/Emby/EmbyLibrarySync.cs
Labels: backend

fix(emby): Fix Emby played sync running a full sync during recently added sync (#4932)
  src/Ombi.Schedule/Jobs/Emby/EmbyLibrarySync.cs
Labels: backend

feat: Hide watched status when request is not available
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.ts
Labels: frontend

feat: Hide watched status when request is not available
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.ts
Labels: frontend

fix: Fix various styling issues
  src/Ombi/ClientApp/src/app/requests-list/components/albums-grid/albums-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.html
  src/Ombi/ClientApp/src/app/settings/failedrequests/failedrequests.component.html
  src/Ombi/ClientApp/src/app/settings/failedrequests/failedrequests.component.ts
  src/Ombi/ClientApp/src/app/settings/issues/issues.component.html
  src/Ombi/ClientApp/src/app/settings/jobs/jobs.component.html
  src/Ombi/ClientApp/src/app/settings/massemail/massemail.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/gotify.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/mattermost.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/mobile.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/newsletter.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/pushbullet.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/pushover.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/slack.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/telegram.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/webhook.component.html
  src/Ombi/ClientApp/src/app/settings/usermanagement/usermanagement.component.html
  src/Ombi/ClientApp/src/app/usermanagement/usermanagement-user.component.html
Labels: frontend

feat: Hide watched status when request is not available (#4934)
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.ts
Labels: frontend

chore(release): :rocket: v4.39.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

ignore flaky test
  src/Ombi.Core.Tests/Services/RecentlyRequestedServiceTests.cs
Labels: backend

chore(release): :rocket: v4.39.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

test (#4938)
  CHANGELOG.md
Labels: none

chore(release): :rocket: v4.40.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

feat(emby): Show end-user external IP address to Emby when logging in as an Emby user
  src/Ombi.Api.Emby/EmbyApi.cs
  src/Ombi.Api.Emby/IBaseEmbyApi.cs
  src/Ombi.Core/Authentication/OmbiUserManager.cs
  src/Ombi/Controllers/BaseController.cs
  src/Ombi/Controllers/V1/IdentityController.cs
  src/Ombi/Controllers/V1/TokenController.cs
Labels: backend

feat(emby): Show end-user external IP address to Emby when logging in as an Emby user (#4949)
  src/Ombi.Api.Emby/EmbyApi.cs
  src/Ombi.Api.Emby/IBaseEmbyApi.cs
  src/Ombi.Core/Authentication/OmbiUserManager.cs
  src/Ombi/Controllers/BaseController.cs
  src/Ombi/Controllers/V1/IdentityController.cs
  src/Ombi/Controllers/V1/TokenController.cs
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

fix: Fix various styling issues (#4935)
  src/Ombi/ClientApp/src/app/requests-list/components/albums-grid/albums-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.html
  src/Ombi/ClientApp/src/app/settings/failedrequests/failedrequests.component.html
  src/Ombi/ClientApp/src/app/settings/failedrequests/failedrequests.component.ts
  src/Ombi/ClientApp/src/app/settings/issues/issues.component.html
  src/Ombi/ClientApp/src/app/settings/jobs/jobs.component.html
  src/Ombi/ClientApp/src/app/settings/massemail/massemail.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/gotify.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/mattermost.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/mobile.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/newsletter.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/pushbullet.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/pushover.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/slack.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/telegram.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/webhook.component.html
  src/Ombi/ClientApp/src/app/settings/usermanagement/usermanagement.component.html
  src/Ombi/ClientApp/src/app/usermanagement/usermanagement-user.component.html
Labels: frontend

chore(release): :rocket: v4.41.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.41.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci] (#4926)
  src/Ombi/wwwroot/translations/zh.json
Labels: none

Fix unrespected code guidelines
  src/Ombi.Api.Emby/EmbyApi.cs
  src/Ombi.Core/Engine/TvRequestEngine.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyPlayedSync.cs
Labels: backend

feat(emby): Show watched status for TV requests
  src/Ombi.Api.Emby/EmbyApi.cs
  src/Ombi.Api.Emby/IBaseEmbyApi.cs
  src/Ombi.Core/Engine/TvRequestEngine.cs
  src/Ombi.DependencyInjection/IocExtensions.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyPlayedSync.cs
  src/Ombi.Schedule/Jobs/Ombi/MediaDatabaseRefresh.cs
  src/Ombi.Store/Context/ExternalContext.cs
  src/Ombi.Store/Entities/Requests/ChildRequests.cs
  src/Ombi.Store/Entities/UserPlayedEpisode.cs
  src/Ombi.Store/Migrations/ExternalMySql/20230515182204_MovieEpisodePlayed.Designer.cs
  src/Ombi.Store/Migrations/ExternalMySql/20230515182204_MovieEpisodePlayed.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20230515161757_EpisodeUserPlayed.Designer.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20230515161757_EpisodeUserPlayed.cs
  src/Ombi.Store/Migrations/ExternalSqlite/ExternalSqliteContextModelSnapshot.cs
  src/Ombi.Store/Repository/IUserPlayedEpisodeRepository.cs
  src/Ombi.Store/Repository/UserPlayedEpisodeRepository.cs
  src/Ombi/ClientApp/src/app/app.module.ts
  src/Ombi/ClientApp/src/app/interfaces/IRequestModel.ts
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.scss
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.ts
  src/Ombi/ClientApp/src/app/shared/shared.module.ts
  src/Ombi/wwwroot/translations/en.json
Labels: frontend, backend

chore(release): :rocket: v4.42.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/bg.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ca.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/cs.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/da.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/de.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/hu.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/it.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/nl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/no.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ru.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sk.json
Labels: none
