Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

chore(release): :rocket: v4.53.4 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

fix: src/Ombi/ClientApp/package.json & src/Ombi/ClientApp/yarn.lock to reduce vulnerabilities
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix(availability): Make sure we check radarr/sonarr in the availability rules for it's prioritization #5286
  src/Ombi.Core/Rule/Rules/Search/EmbyAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/JellyfinAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/PlexAvailabilityRule.cs
  src/Ombi.Schedule.Tests/AvailabilityCheckerTests.cs
  src/Ombi.Schedule.Tests/PlexAvailabilityCheckerTests.cs
  src/Ombi.Schedule/Jobs/AvailabilityChecker.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Plex/PlexAvailabilityChecker.cs
  src/Ombi.Schedule/Jobs/Radarr/RadarrSync.cs
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.54.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/it.json
Labels: none

fix: src/Ombi/ClientApp/package.json & src/Ombi/ClientApp/yarn.lock to reduce vulnerabilities
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: src/Ombi/ClientApp/package.json & src/Ombi/ClientApp/yarn.lock to reduce vulnerabilities
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

Fix Emby URL format for app.emby.media
  src/Ombi.Helpers.Tests/EmbyHelperTests.cs
  src/Ombi.Helpers/EmbyHelper.cs
Labels: backend

Fix Emby URL format for app.emby.media
  src/Ombi.Helpers.Tests/EmbyHelperTests.cs
  src/Ombi.Helpers/EmbyHelper.cs
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

fix: Add missing using System to EmbyHelper
  src/Ombi.Helpers/EmbyHelper.cs
Labels: backend

Fix: Use season search when Sonarr has >= episodes than requested
  src/Ombi.Core/Senders/TvSender.cs
Labels: backend

fix: Correct EmbyHelper app.emby.media path detection
  src/Ombi.Helpers/EmbyHelper.cs
Labels: backend

Fix NullReferenceException in PlexUserImporter
  src/Ombi.Schedule/Jobs/Plex/PlexUserImporter.cs
Labels: backend

Add Denied field to RequestCount API response
  src/Ombi.Core/Engine/BaseMediaEngine.cs
  src/Ombi.Core/Models/Requests/RequestCountModel.cs
Labels: backend

fix: Correct EmbyHelper app.emby.media path detection
  src/Ombi.Helpers/EmbyHelper.cs
Labels: backend

fix: Correct EmbyHelper app.emby.media path detection
  src/Ombi.Helpers/EmbyHelper.cs
Labels: backend

fix: SonarrSync now deletes episodes per-series to prevent incomplete cache
  src/Ombi.Schedule/Jobs/Sonarr/SonarrSync.cs
Labels: backend

feat: Add Denied field to RequestCount API
  src/Ombi.Core/Engine/BaseMediaEngine.cs
  src/Ombi.Core/Models/Requests/RequestCountModel.cs
Labels: backend

chore: gitignore
  .gitignore
Labels: none

Fix: Use season search when Sonarr has >= episodes than requested
  src/Ombi.Core/Senders/TvSender.cs
Labels: backend

fix: Correct EmbyHelper app.emby.media path detection
  src/Ombi.Helpers/EmbyHelper.cs
Labels: backend

undo
  src/Ombi.Core/Senders/TvSender.cs
Labels: backend

undo
  src/Ombi.Helpers/EmbyHelper.cs
Labels: backend

undo
  src/Ombi.Helpers/EmbyHelper.cs
Labels: backend

space
  src/Ombi.Helpers/EmbyHelper.cs
Labels: backend

Fix issue #5215: Validate user root paths exist in Sonarr
  src/Ombi.Core/Senders/TvSender.cs
Labels: backend

Fix issue #5259: Correctly handle 4K vs non-4K duplicate requests
  src/Ombi.Core/Rule/Rules/Request/ExistingMovieRequestRule.cs
Labels: backend

Fix issue #5311: Allow re-adding items to Plex watchlist
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

Fix PlexWatchlistImport: properly cache provider IDs and update tests
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

Optimize cleanup pass: only run if valid TMDB IDs found
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

Fix tests: mock GetAll() for PlexWatchlistHistory in Setup
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
Labels: backend

chore(release): :rocket: v4.54.2 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Fix build error: replace .HasValue() with != DateTime.MinValue
  src/Ombi.Core/Rule/Rules/Request/ExistingMovieRequestRule.cs
Labels: backend

Fix build: use default instead of DateTime.MinValue
  src/Ombi.Core/Rule/Rules/Request/ExistingMovieRequestRule.cs
Labels: backend

Fix test failure: handle 4K requests when feature disabled
  src/Ombi.Core/Rule/Rules/Request/ExistingMovieRequestRule.cs
Labels: backend

chore(release): :rocket: v4.54.3 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fixed tests
  src/Ombi.Core.Tests/Rule/Request/ExistingMovieRequestRuleTests.cs
Labels: backend
