Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

fix(user-importer): Fixed not importing all correct users #4989
  src/Ombi.Api.Plex/Models/Friends/PlexFriends.cs
  src/Ombi.Api.Plex/PlexApi.cs
  src/Ombi.Schedule/Jobs/Plex/PlexUserImporter.cs
Labels: backend

test: Add a unit test to cover the Unmanaged Home user scenario [skip ci]
  src/Ombi.Schedule.Tests/PlexUserImporterTests.cs
Labels: backend

chore(release): :rocket: v4.43.4 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

feat(plex): Show watched status for movie and TV requests
  src/Ombi.Api.Plex/IPlexApi.cs
  src/Ombi.Api.Plex/Models/PlexMediaFilterType.cs
  src/Ombi.Api.Plex/PlexApi.cs
  src/Ombi.Core.Tests/Authentication/OmbiUserManagerTests.cs
  src/Ombi.Core/Authentication/OmbiUserManager.cs
  src/Ombi.DependencyInjection/IocExtensions.cs
  src/Ombi.Schedule/Jobs/Plex/Interfaces/IPlexPlayedSync.cs
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
  src/Ombi.Schedule/Jobs/Plex/PlexLibrarySync.cs
  src/Ombi.Schedule/Jobs/Plex/PlexPlayedSync.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
  src/Ombi.Schedule/OmbiScheduler.cs
  src/Ombi.Store/Repository/PlexContentRepository.cs
Labels: backend

fix: upgrade @microsoft/signalr from 6.0.18 to 6.0.20
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade cypress-real-events from 1.8.1 to 1.9.1
  tests/package.json
  tests/yarn.lock
Labels: automation

fix: upgrade @microsoft/signalr from 6.0.18 to 6.0.20
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade cypress-real-events from 1.8.1 to 1.9.1
  tests/package.json
  tests/yarn.lock
Labels: automation

fix: upgrade cypress-real-events from 1.8.1 to 1.9.1 (#5000) [skip ci]
  tests/package.json
  tests/yarn.lock
Labels: automation

fix: upgrade @microsoft/signalr from 6.0.18 to 6.0.20 (#4999) [skip ci]
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade @fortawesome/fontawesome-free from 6.4.0 to 6.4.2
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

chore(release): :rocket: v4.43.5 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix: upgrade @fortawesome/fontawesome-free from 6.4.0 to 6.4.2 (#5005) [skip ci]
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade @types/jquery from 3.5.16 to 3.5.17
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/hu.json
Labels: none

fix: upgrade @types/jquery from 3.5.16 to 3.5.17 (#5011) [skip ci]
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade cypress-real-events from 1.10.0 to 1.10.1
  tests/package.json
  tests/yarn.lock
Labels: automation

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sk.json
Labels: none

fix: upgrade jquery from 3.7.0 to 3.7.1
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

bugfix (mutliple servers): attempting to cache the Plex Content in server
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
Labels: backend

fix: upgrade zone.js from 0.13.1 to 0.13.2
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade @microsoft/signalr from 6.0.21 to 6.0.22
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade @types/jquery from 3.5.18 to 3.5.19
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade @microsoft/signalr from 6.0.21 to 6.0.22 (#5020)
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade @types/jquery from 3.5.18 to 3.5.19 (#5022)
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade zone.js from 0.13.1 to 0.13.2 (#5019)
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

fix: upgrade zone.js from 0.13.3 to 0.14.0
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade multiple dependencies with Snyk
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade multiple dependencies with Snyk (#5030)
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade cypress-real-events from 1.10.0 to 1.10.1 (#5014)
  tests/package.json
  tests/yarn.lock
Labels: automation

fix: upgrade jquery from 3.7.0 to 3.7.1 (#5015)
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix(discord): 🐛 Fixed an issue where the Icon in the discord notifications wouldn't apply
  src/Ombi.Api.Discord/Models/DiscordWebhookBody.cs
  src/Ombi.Notifications/Agents/DiscordNotification.cs
Labels: backend

chore: bump version
  version.json
Labels: none

chore(release): :rocket: v4.43.6 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix: upgrade @microsoft/signalr from 6.0.22 to 6.0.23
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

Update NewsletterJob.cs
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
Labels: backend

Update NewsletterTemplate.cs
  src/Ombi.Notifications.Templates/NewsletterTemplate.cs
Labels: backend

Update INewsletterTemplate.cs
  src/Ombi.Notifications.Templates/INewsletterTemplate.cs
Labels: backend

Update NewsletterTemplate.html
  src/Ombi.Notifications.Templates/Templates/NewsletterTemplate.html
Labels: none
