Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

feat: :sparkles: moved the background image out into a standalone component
  src/Ombi/ClientApp/src/app/app.module.ts
  src/Ombi/ClientApp/src/app/components/image-background/image-background.component.html
  src/Ombi/ClientApp/src/app/components/image-background/image-background.component.scss
  src/Ombi/ClientApp/src/app/components/image-background/image-background.component.ts
  src/Ombi/ClientApp/src/app/components/index.ts
  src/Ombi/ClientApp/src/app/components/modules.ts
  src/Ombi/ClientApp/src/app/login/login.component.html
  src/Ombi/ClientApp/src/app/login/login.component.scss
  src/Ombi/ClientApp/src/app/login/login.component.ts
  src/Ombi/ClientApp/src/app/login/resetpassword.component.html
  src/Ombi/ClientApp/src/app/login/resetpassword.component.ts
  src/Ombi/ClientApp/src/app/login/tokenresetpassword.component.html
  src/Ombi/ClientApp/src/app/login/tokenresetpassword.component.ts
  src/Ombi/ClientApp/src/app/services/image.service.ts
Labels: frontend

feat: Added the image background title to the page
  src/Ombi/ClientApp/src/app/components/image-background/image-background.component.html
  src/Ombi/ClientApp/src/app/components/image-background/image-background.component.scss
  src/Ombi/ClientApp/src/app/components/image-background/image-background.component.ts
  src/Ombi/ClientApp/src/app/interfaces/IImages.ts
  src/Ombi/ClientApp/src/app/services/image.service.ts
  src/Ombi/Controllers/V1/ImagesController.cs
Labels: frontend, backend

made changes to the landing page too
  src/Ombi/ClientApp/src/app/landingpage/landingpage.component.html
  src/Ombi/ClientApp/src/app/landingpage/landingpage.component.scss
  src/Ombi/ClientApp/src/app/landingpage/landingpage.component.ts
Labels: frontend

fix: Landing and Login page improvements (#4690)
  src/Ombi/ClientApp/src/app/app.module.ts
  src/Ombi/ClientApp/src/app/components/image-background/image-background.component.html
  src/Ombi/ClientApp/src/app/components/image-background/image-background.component.scss
  src/Ombi/ClientApp/src/app/components/image-background/image-background.component.ts
  src/Ombi/ClientApp/src/app/components/index.ts
  src/Ombi/ClientApp/src/app/components/modules.ts
  src/Ombi/ClientApp/src/app/interfaces/IImages.ts
  src/Ombi/ClientApp/src/app/landingpage/landingpage.component.html
  src/Ombi/ClientApp/src/app/landingpage/landingpage.component.scss
  src/Ombi/ClientApp/src/app/landingpage/landingpage.component.ts
  src/Ombi/ClientApp/src/app/login/login.component.html
  src/Ombi/ClientApp/src/app/login/login.component.scss
  src/Ombi/ClientApp/src/app/login/login.component.ts
  src/Ombi/ClientApp/src/app/login/resetpassword.component.html
  src/Ombi/ClientApp/src/app/login/resetpassword.component.ts
  src/Ombi/ClientApp/src/app/login/tokenresetpassword.component.html
  src/Ombi/ClientApp/src/app/login/tokenresetpassword.component.ts
  src/Ombi/ClientApp/src/app/services/image.service.ts
  src/Ombi/Controllers/V1/ImagesController.cs
Labels: frontend, backend

chore(release): :rocket: v4.21.2 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

feat(discover): :sparkles: Added infinite scroll on advanced search results
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
  src/Ombi.TheMovieDbApi/IMovieDbApi.cs
  src/Ombi.TheMovieDbApi/TheMovieDbApi.cs
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/src/app/discover/components/search-results/search-results.component.html
  src/Ombi/ClientApp/src/app/discover/components/search-results/search-results.component.ts
  src/Ombi/ClientApp/src/app/search/tvsearch.component.ts
  src/Ombi/ClientApp/src/app/shared/advanced-search-dialog/advanced-search-dialog-data.service.ts
  src/Ombi/ClientApp/src/app/shared/advanced-search-dialog/advanced-search-dialog.component.html
  src/Ombi/ClientApp/src/app/shared/advanced-search-dialog/advanced-search-dialog.component.ts
  src/Ombi/ClientApp/yarn.lock
Labels: frontend, backend

fixed tests
  tests/cypress/fixtures/api/v1/tv-search-extra-info.json
Labels: automation

really fixed the tests this time
  tests/cypress/fixtures/api/v1/tv-search-extra-info.json
Labels: automation

feat(discover): ✨ Added infinite scroll on advanced search results
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
  src/Ombi.TheMovieDbApi/IMovieDbApi.cs
  src/Ombi.TheMovieDbApi/TheMovieDbApi.cs
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/src/app/discover/components/search-results/search-results.component.html
  src/Ombi/ClientApp/src/app/discover/components/search-results/search-results.component.ts
  src/Ombi/ClientApp/src/app/search/tvsearch.component.ts
  src/Ombi/ClientApp/src/app/shared/advanced-search-dialog/advanced-search-dialog-data.service.ts
  src/Ombi/ClientApp/src/app/shared/advanced-search-dialog/advanced-search-dialog.component.html
  src/Ombi/ClientApp/src/app/shared/advanced-search-dialog/advanced-search-dialog.component.ts
  src/Ombi/ClientApp/yarn.lock
  tests/cypress/fixtures/api/v1/tv-search-extra-info.json
Labels: automation, frontend, backend

chore(release): :rocket: v4.22.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt-BR.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt-BR.json
Labels: none

GetRequestsByStatus wasn't implementing the MovieRequests object correctly for 4K quality requests with the ProcessingRequest status.
  src/Ombi.Core/Engine/MovieRequestEngine.cs
Labels: backend

fix(discover): :bug: Created new Image component to handle 429's from TMDB (#4698) and fixed #4635
  src/Ombi/ClientApp/src/app/app.module.ts
  src/Ombi/ClientApp/src/app/components/image/image.component.html
  src/Ombi/ClientApp/src/app/components/image/image.component.ts
  src/Ombi/ClientApp/src/app/components/index.ts
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.html
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.scss
  src/Ombi/ClientApp/src/app/discover/discover.module.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/cast-carousel/cast-carousel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/cast-carousel/cast-carousel.component.scss
  src/Ombi/ClientApp/src/app/media-details/components/shared/media-poster/media-poster.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/top-banner/top-banner.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-information-panel/tv-information-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/media-details.module.ts
Labels: frontend

🌐 Translations Update (#4694)
  src/Ombi/wwwroot/translations/pt-BR.json
Labels: none

chore: ensure that the re-try also sets the base url correctly
  src/Ombi/ClientApp/src/app/components/image/image.component.ts
Labels: frontend

fix(discover): :bug: Created new Image component to handle 429's from TMDB (#4698) and fixed #4635 (#4699)
  src/Ombi/ClientApp/src/app/app.module.ts
  src/Ombi/ClientApp/src/app/components/image/image.component.html
  src/Ombi/ClientApp/src/app/components/image/image.component.ts
  src/Ombi/ClientApp/src/app/components/index.ts
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.html
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.scss
  src/Ombi/ClientApp/src/app/discover/discover.module.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/cast-carousel/cast-carousel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/cast-carousel/cast-carousel.component.scss
  src/Ombi/ClientApp/src/app/media-details/components/shared/media-poster/media-poster.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/top-banner/top-banner.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-information-panel/tv-information-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/media-details.module.ts
Labels: frontend

chore(release): :rocket: v4.22.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chromatic
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: fixed an issue where I broke images for some users
  src/Ombi/ClientApp/src/app/components/image/image.component.html
Labels: frontend

chore(release): :rocket: v4.22.2 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Fixed 4K requests not getting automatically approved if the user has the "Auto Approve Movie" role flag enabled.
  .gitignore
  src/Ombi.Core/Engine/MovieRequestEngine.cs
Labels: backend

got storybook working
  src/Ombi/ClientApp/.storybook/tsconfig.json
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/src/app/components/image/image.component.stories.ts
  src/Ombi/ClientApp/src/app/services/signlarnotification.service.ts
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

more chromatic plus CI
  .github/workflows/chromatic.yml
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/src/stories/Button.stories.ts
  src/Ombi/ClientApp/src/stories/Header.stories.ts
  src/Ombi/ClientApp/src/stories/Introduction.stories.mdx
  src/Ombi/ClientApp/src/stories/Page.stories.ts
  src/Ombi/ClientApp/src/stories/User.ts
  src/Ombi/ClientApp/src/stories/assets/code-brackets.svg
  src/Ombi/ClientApp/src/stories/assets/colors.svg
  src/Ombi/ClientApp/src/stories/assets/comments.svg
  src/Ombi/ClientApp/src/stories/assets/direction.svg
  src/Ombi/ClientApp/src/stories/assets/flow.svg
  src/Ombi/ClientApp/src/stories/assets/plugin.svg
  src/Ombi/ClientApp/src/stories/assets/repo.svg
  src/Ombi/ClientApp/src/stories/assets/stackalt.svg
  src/Ombi/ClientApp/src/stories/button.component.ts
  src/Ombi/ClientApp/src/stories/button.css
  src/Ombi/ClientApp/src/stories/header.component.ts
  src/Ombi/ClientApp/src/stories/header.css
  src/Ombi/ClientApp/src/stories/page.component.ts
  src/Ombi/ClientApp/src/stories/page.css
Labels: frontend, devops

fix syntax
  .github/workflows/chromatic.yml
Labels: devops

fix
  src/Ombi/ClientApp/package.json
Labels: frontend

ci(Mergify): configuration update
  .mergify.yml
Labels: none

ci(Mergify): configuration update (#4701)
  .mergify.yml
Labels: none

working dir
  .github/workflows/chromatic.yml
Labels: devops

fixed
  .github/workflows/chromatic.yml
Labels: devops

a
  .github/workflows/chromatic.yml
Labels: devops

a
  .github/workflows/chromatic.yml
Labels: devops

a
  .github/workflows/chromatic.yml
  src/Ombi/ClientApp/package.json
Labels: frontend, devops

a
  .github/workflows/chromatic.yml
Labels: devops

exit
  .github/workflows/chromatic.yml
Labels: devops

test
  src/Ombi/ClientApp/src/app/components/image/image.component.stories.ts
Labels: frontend

a
  src/Ombi/ClientApp/src/app/components/image/image.component.stories.ts
Labels: frontend

fix: Override Sonarr V3 Profiles endpoint (#4678)
  src/Ombi.Api.Sonarr/SonarrApi.cs
  src/Ombi.Api.Sonarr/SonarrV3Api.cs
Labels: backend

fix(4K) :4K request fixes (#4702)
  .gitignore
  src/Ombi.Core/Engine/MovieRequestEngine.cs
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-information-panel.component.html
  src/Ombi/wwwroot/translations/en.json
Labels: frontend, backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
