Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

chore(release): :rocket: v4.43.17 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

more .net8
  .github/workflows/build.yml
  .github/workflows/pr.yml
Labels: devops

chore(release): :rocket: v4.43.18 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

changed RID's
  .github/workflows/build.yml
Labels: devops

chore(release): :rocket: v4.43.19 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.43.20 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Retry database connections
  src/Ombi/Extensions/DatabaseExtensions.cs
Labels: backend

build: fix pr pipeline
  .github/workflows/pr.yml
Labels: devops

build: fix docker img
  src/dockerfile
Labels: none

change the build image to SDK
  src/dockerfile
Labels: none

update codeql
  .github/workflows/codeql-analysis.yml
Labels: devops

v3
  .github/workflows/codeql-analysis.yml
Labels: devops

fixy
  src/dockerfile
Labels: none

Retry database connections (#5124)
  .github/workflows/codeql-analysis.yml
  .github/workflows/pr.yml
  src/Ombi/Extensions/DatabaseExtensions.cs
  src/dockerfile
Labels: backend, devops

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.43.21 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Update landingpage.component.html
  src/Ombi/ClientApp/src/app/landingpage/landingpage.component.html
Labels: frontend

Update landingpage.component.scss
  src/Ombi/ClientApp/src/app/landingpage/landingpage.component.scss
Labels: frontend

Update landingpage.component.html To Page Scrolling. (#5127)
  src/Ombi/ClientApp/src/app/landingpage/landingpage.component.html
  src/Ombi/ClientApp/src/app/landingpage/landingpage.component.scss
Labels: frontend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.43.22 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Update DatabaseExtensions.cs
  src/Ombi/Extensions/DatabaseExtensions.cs
Labels: backend

feat: Adding postgres support to ombi (beta) (#5050)
  src/Ombi.Core.Tests/Engine/MovieRequestLimitsTests.cs
  src/Ombi.Core.Tests/Engine/MusicRequestLimitTests.cs
  src/Ombi.Core.Tests/Engine/TvRequestLimitsTests.cs
  src/Ombi.Schedule.Tests/IssuesPurgeTests.cs
  src/Ombi.Store/Context/Postgres/ExternalPostgresContext.cs
  src/Ombi.Store/Context/Postgres/OmbiPostgresContext.cs
  src/Ombi.Store/Context/Postgres/PostgresModuleInitializer.cs
  src/Ombi.Store/Context/Postgres/SettingsPostgresContext.cs
  src/Ombi.Store/MigrationHelper.cs
  src/Ombi.Store/Migrations/ExternalPostgres/20231212135426_Initial.Designer.cs
  src/Ombi.Store/Migrations/ExternalPostgres/20231212135426_Initial.cs
  src/Ombi.Store/Migrations/ExternalPostgres/ExternalPostgresContextModelSnapshot.cs
  src/Ombi.Store/Migrations/OmbiPostgres/20231212135239_Initial.Designer.cs
  src/Ombi.Store/Migrations/OmbiPostgres/20231212135239_Initial.cs
  src/Ombi.Store/Migrations/OmbiPostgres/OmbiPostgresContextModelSnapshot.cs
  src/Ombi.Store/Migrations/SettingsPostgres/20231212135625_Initial.Designer.cs
  src/Ombi.Store/Migrations/SettingsPostgres/20231212135625_Initial.cs
  src/Ombi.Store/Migrations/SettingsPostgres/SettingsPostgresContextModelSnapshot.cs
  src/Ombi.Store/Ombi.Store.csproj
  src/Ombi/Extensions/DatabaseExtensions.cs
  src/Ombi/Ombi.csproj
  src/Ombi/Startup.cs
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.44.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore: 🌐 Translations Update (#5105) [skip ci]
  src/Ombi/wwwroot/translations/zh.json
Labels: none

[Snyk] Upgrade: @ngxs/devtools-plugin, @ngxs/store (#5085)
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

[Snyk] Upgrade zone.js from 0.14.3 to 0.14.4 (#5086)
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: src/Ombi/ClientApp/package.json & src/Ombi/ClientApp/yarn.lock to reduce vulnerabilities
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade multiple dependencies with Snyk
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

[Snyk] Upgrade: , , , , , , , , (#5131)
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade zone.js from 0.14.4 to 0.14.7
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade @fortawesome/fontawesome-free from 6.5.1 to 6.5.2
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

[Snyk] Upgrade @fortawesome/fontawesome-free from 6.5.1 to 6.5.2 (#5134)
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

[Snyk] Upgrade zone.js from 0.14.4 to 0.14.7 (#5133)
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade @types/jquery from 3.5.29 to 3.5.30
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade ngx-infinite-scroll from 17.0.0 to 17.0.1
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade cypress-real-events from 1.10.3 to 1.13.0
  tests/package.json
  tests/yarn.lock
Labels: automation

[Snyk] Upgrade ngx-infinite-scroll from 17.0.0 to 17.0.1 (#5137)
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

[Snyk] Upgrade cypress-real-events from 1.10.3 to 1.13.0 (#5138)
  tests/package.json
  tests/yarn.lock
Labels: automation

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
