Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

new lock
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade @types/jquery from 3.5.29 to 3.5.30
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

chore(release): :rocket: v4.44.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix: src/Ombi/ClientApp/package.json & src/Ombi/ClientApp/yarn.lock to reduce vulnerabilities
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

[Snyk] Upgrade primeng from 17.9.0 to 17.11.0 (#5108)
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

[Snyk] Upgrade @types/jquery from 3.5.29 to 3.5.30 (#5141)
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade primeng from 17.13.0 to 17.18.3
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: src/Ombi/ClientApp/package.json & src/Ombi/ClientApp/yarn.lock to reduce vulnerabilities
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade @fortawesome/fontawesome-free from 6.5.2 to 6.6.0
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

[Snyk] Upgrade @fortawesome/fontawesome-free from 6.5.2 to 6.6.0 (#5150)
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

chore(release): :rocket: v4.45.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

feat: upgrade core-js from 2.6.12 to 3.37.1
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

feat: upgrade multiple dependencies with Snyk
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

feat: upgrade @microsoft/signalr from 6.0.25 to 8.0.7
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

feat: upgrade multiple dependencies with Snyk
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

feat: upgrade bootstrap from 4.6.2 to 5.3.3
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

feat: upgrade multiple dependencies with Snyk
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

feat: upgrade angularx-qrcode from 16.0.2 to 17.0.1
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

feat: upgrade @ngx-translate/core from 14.0.0 to 15.0.0
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

feat: upgrade @ngx-translate/http-loader from 7.0.0 to 8.0.0
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: src/Ombi.Store/Ombi.Store.csproj to reduce vulnerabilities
  src/Ombi.Store/Ombi.Store.csproj
Labels: none

fix(plex): Fixed some errors around the scanner that was causing the scan to fail
  src/Ombi.Schedule/Jobs/Ombi/RefreshMetadata.cs
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
  src/Ombi.Store/Repository/PlexContentRepository.cs
Labels: backend

chore(release): :rocket: v4.45.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(discover): Improved rendering on the discover page
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.html
  src/Ombi/ClientApp/src/app/discover/components/discover/discover.component.html
  src/Ombi/ClientApp/src/app/discover/components/genre/genre-button-select.component.html
  src/Ombi/ClientApp/src/app/discover/components/genre/genre-button-select.component.ts
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.html
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.scss
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.ts
Labels: frontend

fix: src/Ombi.Store/Ombi.Store.csproj to reduce vulnerabilities (#5160)
  src/Ombi.Store/Ombi.Store.csproj
Labels: none

feat: upgrade @ngx-translate/http-loader from 7.0.0 to 8.0.0 (#5159)
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

feat: upgrade @ngx-translate/core from 14.0.0 to 15.0.0 (#5158)
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

chore(release): :rocket: v4.46.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

feat: upgrade multiple dependencies with Snyk
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

feat: upgrade @microsoft/signalr from 6.0.25 to 8.0.7
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

feat: upgrade multiple dependencies with Snyk
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

nx
  src/Ombi/ClientApp/.gitignore
  src/Ombi/ClientApp/angular.json
  src/Ombi/ClientApp/nx.json
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/project.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: src/Ombi.Notifications/Ombi.Notifications.csproj to reduce vulnerabilities
  src/Ombi.Notifications/Ombi.Notifications.csproj
Labels: none

fix: src/Ombi.Notifications/Ombi.Notifications.csproj to reduce vulnerabilities (#5167)
  src/Ombi.Notifications/Ombi.Notifications.csproj
Labels: none

chore(release): :rocket: v4.46.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(radarr): :bug: Enable validation on the radarr settings page
  src/Ombi/ClientApp/angular.json
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.ts
  src/Ombi/ClientApp/src/app/settings/radarr/components/radarr-form.component.html
  src/Ombi/ClientApp/src/app/settings/radarr/components/radarr-form.component.ts
Labels: frontend

chore(release): :rocket: v4.46.2 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(radarr-4k): :bug: Fixed an issue where the overrides wouldn't work for 4k Requests
  src/Ombi.Store/Entities/Requests/MovieRequests.cs
  src/Ombi.Store/Entities/Requests/RequestCombination.cs
  src/Ombi/ClientApp/src/app/interfaces/IRequestModel.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-advanced-options/movie-advanced-options.component.ts
Labels: frontend, backend

bug: fixed compile errors
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-advanced-options/movie-advanced-options.component.ts
Labels: frontend

chore(release): :rocket: v4.46.3 [skip ci]
  CHANGELOG.md
  version.json
Labels: none
