Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

Use proper empty string constant
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
Labels: backend

Refactor Emby and Jellyfin provider ids
  src/Ombi.Api.Emby/Models/Media/EmbyProviderids.cs
  src/Ombi.Api.Jellyfin/Models/Media/JellyfinProviderids.cs
  src/Ombi.Api.Jellyfin/Ombi.Api.Jellyfin.csproj
  src/Ombi.Api.MediaServer/Models/BaseProviderids.cs
  src/Ombi.Api.MediaServer/Ombi.Api.MediaServer.csproj
Labels: backend

Use new method Any
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinContentSync.cs
Labels: backend

Fix log formatting
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinContentSync.cs
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
Labels: backend

fix(newsletter):Declutter newsletter info for series (#4494)
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
Labels: backend

fix(media-sync): Add sanity checks upon media server sync (#4493)
  src/Ombi.Api.Emby/Models/Media/EmbyProviderids.cs
  src/Ombi.Api.Jellyfin/Models/Media/JellyfinProviderids.cs
  src/Ombi.Api.Jellyfin/Ombi.Api.Jellyfin.csproj
  src/Ombi.Api.MediaServer/Models/BaseProviderids.cs
  src/Ombi.Api.MediaServer/Ombi.Api.MediaServer.csproj
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinContentSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinEpisodeSync.cs
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
  src/Ombi.Schedule/Jobs/Plex/PlexEpisodeSync.cs
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.11.4
  CHANGELOG.md
  version.json
Labels: none

fix(sonarr): Fixed where requesting all seasons would only mark the latest as monitored #4496
  src/Ombi.Core/Senders/TvSender.cs
Labels: backend

chore(release): :rocket: v4.11.5
  CHANGELOG.md
  version.json
Labels: none

Update nl.json
  src/Ombi/wwwroot/translations/nl.json
Labels: none

Update nl.json
  src/Ombi/wwwroot/translations/nl.json
Labels: none

feat: updated radarr settings API to support 4k
  src/Ombi.Settings/Settings/Models/External/RadarrSettings.cs
  src/Ombi/Controllers/V1/SettingsController.cs
Labels: backend

fix(plex): Fixed an issue where in a rare case we couldn't sync the data #4502
  src/Ombi.Api.Plex/Models/Metadata.cs
Labels: backend

chore(release): :rocket: v4.11.6
  CHANGELOG.md
  version.json
Labels: none

feat: refactored the radarr setting page to support the new model
  src/Ombi.sln
  src/Ombi/ClientApp/src/app/interfaces/ISettings.ts
  src/Ombi/ClientApp/src/app/services/settings.service.ts
  src/Ombi/ClientApp/src/app/settings/radarr/components/radarr-form.component.html
  src/Ombi/ClientApp/src/app/settings/radarr/components/radarr-form.component.scss
  src/Ombi/ClientApp/src/app/settings/radarr/components/radarr-form.component.ts
  src/Ombi/ClientApp/src/app/settings/radarr/radarr.component.html
  src/Ombi/ClientApp/src/app/settings/radarr/radarr.component.ts
  src/Ombi/ClientApp/src/app/settings/settings.module.ts
  src/Ombi/Ombi.Api.MediaServer.csproj
Labels: frontend

feat: Added 4k radarr to the settings page
  src/Ombi/ClientApp/src/app/settings/radarr/components/radarr-form.component.html
  src/Ombi/ClientApp/src/app/settings/radarr/components/radarr-form.component.scss
  src/Ombi/ClientApp/src/app/settings/radarr/components/radarr-form.component.ts
  src/Ombi/ClientApp/src/app/settings/radarr/radarr.component.html
  src/Ombi/ClientApp/src/app/settings/radarr/radarr.component.ts
Labels: frontend

feat: Added the new Movie 4k Request
  src/Ombi.Helpers/OmbiRoles.cs
  src/Ombi.Store/MigrationHelper.cs
  src/Ombi.Store/Migrations/OmbiMySql/20220210195008_Radarr4kRole.Designer.cs
  src/Ombi.Store/Migrations/OmbiMySql/20220210195008_Radarr4kRole.cs
  src/Ombi.Store/Migrations/OmbiMySql/OmbiMySqlContextModelSnapshot.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20220210194758_Radarr4kRole.Designer.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20220210194758_Radarr4kRole.cs
  src/Ombi/Controllers/V1/IdentityController.cs
Labels: backend

feat: Got some of the backend rules done
  src/Ombi.Core.Tests/Rule/Request/CanRequestRuleTests.cs
  src/Ombi.Core.Tests/Rule/Request/ExistingMovieRequestRuleTests.cs
  src/Ombi.Core/Engine/MovieRequestEngine.cs
  src/Ombi.Core/Models/Requests/MovieRequestViewModel.cs
  src/Ombi.Core/Rule/Rules/Request/CanRequestRule.cs
  src/Ombi.Core/Rule/Rules/Request/ExistingMovieRequestRule.cs
  src/Ombi.Store/Entities/Requests/MovieRequests.cs
  src/Ombi.Store/MigrationHelper.cs
  src/Ombi.Store/Migrations/OmbiMySql/20220210195008_Radarr4kRole.cs
  src/Ombi.Store/Migrations/OmbiMySql/20220210201011_MovieRequest4K.Designer.cs
  src/Ombi.Store/Migrations/OmbiMySql/20220210201011_MovieRequest4K.cs
  src/Ombi.Store/Migrations/OmbiMySql/OmbiMySqlContextModelSnapshot.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20220210200338_MovieRequest4K.Designer.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20220210200338_MovieRequest4K.cs
  src/Ombi/ClientApp/src/app/interfaces/IRequestModel.ts
Labels: frontend, backend

feat: Made a load of progress
  src/Ombi.Core.Tests/Engine/VoteEngineTests.cs
  src/Ombi.Core/Engine/Interfaces/IMovieRequestEngine.cs
  src/Ombi.Core/Engine/Interfaces/IRequestEngine.cs
  src/Ombi.Core/Engine/MovieRequestEngine.cs
  src/Ombi.Core/Engine/TvRequestEngine.cs
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
  src/Ombi.Core/Engine/VoteEngine.cs
  src/Ombi.Core/Models/Search/SearchMovieViewModel.cs
  src/Ombi.Core/Models/Search/V2/MovieFullInfoViewModel.cs
  src/Ombi.Core/Rule/Rules/Request/AutoApproveRule.cs
  src/Ombi.Core/Rule/Rules/Search/ExistingRule.cs
  src/Ombi.Core/Senders/IMovieSender.cs
  src/Ombi.Core/Senders/MovieSender.cs
  src/Ombi.Schedule/Jobs/Ombi/ResendFailedRequests.cs
  src/Ombi.Store/Entities/Requests/MovieRequests.cs
  src/Ombi.Store/Migrations/OmbiMySql/20220210215019_4kMovieProperties.Designer.cs
  src/Ombi.Store/Migrations/OmbiMySql/20220210215019_4kMovieProperties.cs
  src/Ombi.Store/Migrations/OmbiMySql/OmbiMySqlContextModelSnapshot.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20220210214920_4kMovieProperties.Designer.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20220210214920_4kMovieProperties.cs
  src/Ombi/ClientApp/src/app/interfaces/IRequestModel.ts
  src/Ombi/ClientApp/src/app/interfaces/ISearchMovieResultV2.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/shared/deny-dialog/deny-dialog.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/shared/interfaces/interfaces.ts
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/options/request-options.component.ts
  src/Ombi/ClientApp/src/app/services/requestV2.service.ts
  src/Ombi/Controllers/V1/RequestController.cs
  src/Ombi/Controllers/V2/RequestsController.cs
  src/Ombi/Models/MovieUpdateModel.cs
  src/Ombi/Ombi.csproj
  src/Ombi/wwwroot/translations/en.json
Labels: frontend, backend

Removed the csproj ref
  src/Ombi/Ombi.Api.MediaServer.csproj
Labels: none

feat: fixed the radarr ui
  src/Ombi/ClientApp/src/app/settings/radarr/components/radarr-form.component.html
  src/Ombi/ClientApp/src/app/settings/radarr/components/radarr-form.component.ts
  src/Ombi/ClientApp/src/app/settings/radarr/radarr.component.html
  src/Ombi/ClientApp/src/app/settings/radarr/radarr.component.ts
  src/Ombi/ClientApp/src/app/settings/settings.module.ts
Labels: frontend

feat: fixed up all the movie requests page
  src/Ombi.Core/Engine/MovieRequestEngine.cs
  src/Ombi.Core/Rule/Rules/Request/AutoApproveRule.cs
  src/Ombi.Core/Rule/Rules/Request/CanRequestRule.cs
  src/Ombi.Core/Rule/Rules/Request/ExistingMovieRequestRule.cs
  src/Ombi.Store/Entities/Requests/MovieRequests.cs
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
  src/Ombi/wwwroot/translations/en.json
Labels: frontend, backend

feat: Hide the 4K buttons when the user does not have the 4k permission
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.ts
  src/Ombi/ClientApp/src/app/shared/role-directive/role-directive.ts
  src/Ombi/ClientApp/src/app/shared/role-directive/role.module.ts
  src/Ombi/ClientApp/src/app/shared/shared.module.ts
Labels: frontend

fix: fixed the templateref issue
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
  src/Ombi/ClientApp/src/app/shared/role-directive/role-directive.ts
Labels: frontend

test: fixed up all the tests
  src/Ombi.Core.Tests/Rule/Request/AutoApproveRuleTests.cs
  src/Ombi.Core.Tests/Rule/Request/CanRequestRuleTests.cs
  src/Ombi.Core.Tests/Rule/Request/ExistingMovieRequestRuleTests.cs
  src/Ombi.Core.Tests/Rule/Search/ExistingRequestRuleTests.cs
Labels: backend

feat: Added migrations for media sever quality. Emby and Radarr Sync jobs now pull the quality
  src/Ombi.Api.Emby/Models/Media/EmbyMediastream.cs
  src/Ombi.Api.Emby/Models/Media/Movie/EmbyMovie.cs
  src/Ombi.Api.Radarr/Models/V3/RadarrV3QualityProfile.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Radarr/IRadarrSync.cs
  src/Ombi.Schedule/Jobs/Radarr/RadarrSync.cs
  src/Ombi.Store/Entities/MediaServerContent.cs
  src/Ombi.Store/Entities/PlexServerContent.cs
  src/Ombi.Store/Entities/RadarrCache.cs
  src/Ombi.Store/Migrations/ExternalMySql/20220211213229_MediaServerQualities.Designer.cs
  src/Ombi.Store/Migrations/ExternalMySql/20220211213229_MediaServerQualities.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20220211213347_MediaServerQualities.Designer.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20220211213347_MediaServerQualities.cs
  src/Ombi.Store/Migrations/ExternalSqlite/ExternalSqliteContextModelSnapshot.cs
Labels: backend

Chore: remove log [skip ci]
  .github/workflows/issue-check.yml
Labels: devops

feat: Done the media sync jobs
  src/Ombi.Api.Emby/EmbyApi.cs
  src/Ombi.Api.Jellyfin/JellyfinApi.cs
  src/Ombi.Api.Jellyfin/Models/Media/JellyfinMediastream.cs
  src/Ombi.Api.Jellyfin/Models/Media/Movie/JellyfinMovie.cs
  src/Ombi.Api.Plex/Models/Metadata.cs
  src/Ombi.Core.Tests/Rule/Search/EmbyAvailabilityRuleTests.cs
  src/Ombi.Schedule.Tests/PlexContentSyncTests.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinContentSync.cs
  src/Ombi.Schedule/Jobs/Ombi/AutoDeleteRequests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
  src/Ombi.Store/Entities/MediaServerContent.cs
  src/Ombi.Store/Migrations/ExternalMySql/20220212210902_MediaServer4k.Designer.cs
  src/Ombi.Store/Migrations/ExternalMySql/20220212210902_MediaServer4k.cs
  src/Ombi.Store/Migrations/ExternalMySql/ExternalMySqlContextModelSnapshot.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20220212210807_MediaServer4k.Designer.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20220212210807_MediaServer4k.cs
  src/Ombi.Store/Repository/EmbyContentRepository.cs
  src/Ombi.Store/Repository/IMediaServerContentRepository.cs
  src/Ombi.Store/Repository/JellyfinContentRepository.cs
  src/Ombi.Store/Repository/MediaServerRepository.cs
  src/Ombi.Store/Repository/PlexContentRepository.cs
Labels: backend

feat: plex availability checker
  src/Ombi.Schedule/Jobs/Plex/PlexAvailabilityChecker.cs
Labels: backend

fix(notifications): :bug: This is a fix for some of the duplicate notification issues #3825
  src/Ombi.Notifications.Tests/NotificationServiceTests.cs
  src/Ombi.Notifications.Tests/Ombi.Notifications.Tests.csproj
  src/Ombi.Notifications/BaseNotification.cs
  src/Ombi.Notifications/NotificationService.cs
Labels: backend

chore(release): :rocket: v4.11.7
  CHANGELOG.md
  version.json
Labels: none

feat: Updated the jellyfin availability checker to check for 4k
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinAvaliabilityChecker.cs
Labels: backend

feat: updated emby availbility checker to check for 4k
  src/Ombi.Schedule/Jobs/Emby/EmbyAvaliabilityChecker.cs
Labels: backend

feat: almost got it all working now
  src/Ombi.Api.Radarr/Models/V2/MovieResponse.cs
  src/Ombi.Core.Tests/Rule/Search/EmbyAvailabilityRuleTests.cs
  src/Ombi.Core.Tests/Rule/Search/JellyfinAvailabilityRuleTests.cs
  src/Ombi.Core.Tests/Rule/Search/RadarrCacheRuleTests.cs
  src/Ombi.Core/Rule/Rules/Search/EmbyAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/ExistingRule.cs
  src/Ombi.Core/Rule/Rules/Search/JellyfinAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/PlexAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/RadarrCacheRule.cs
  src/Ombi.Schedule/Jobs/Plex/PlexAvailabilityChecker.cs
  src/Ombi.Schedule/Jobs/Radarr/RadarrSync.cs
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-information-panel.component.html
  src/Ombi/ClientApp/src/app/pipes/QualityPipe.ts
  src/Ombi/ClientApp/src/app/shared/role-directive/role-directive.ts
Labels: frontend, backend

fix(settings): :bug: Fixed an issue where we were not displaying the excluded keyworks correctly in the TheMovieDbSettings page
  src/Ombi/ClientApp/src/app/settings/themoviedb/themoviedb.component.ts
Labels: frontend

chore(release): :rocket: v4.11.8
  CHANGELOG.md
  version.json
Labels: none

feat: Added 4k approve to the request list options
  src/Ombi/ClientApp/src/app/requests-list/components/albums-grid/albums-grid.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/options/request-options.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/options/request-options.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/requests-list.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.ts
  src/Ombi/wwwroot/translations/en.json
Labels: frontend

feat: Added 4k to the requests list and bulk approve
  src/Ombi/ClientApp/src/app/interfaces/IRequestModel.ts
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.ts
  src/Ombi/wwwroot/translations/en.json
Labels: frontend

feat: Added the features service
  src/Ombi.Settings/Settings/Models/FeatureSettings.cs
  src/Ombi.Store/Context/SettingsContext.cs
  src/Ombi/ClientApp/src/app/app.module.ts
  src/Ombi/ClientApp/src/app/interfaces/IUser.ts
  src/Ombi/ClientApp/src/app/services/feature.service.ts
  src/Ombi/ClientApp/src/app/state/customization/customization.state.ts
  src/Ombi/ClientApp/src/app/state/features/features-initializer.ts
  src/Ombi/ClientApp/src/app/state/features/features.actions.ts
  src/Ombi/ClientApp/src/app/state/features/features.facade.ts
  src/Ombi/ClientApp/src/app/state/features/features.selectors.ts
  src/Ombi/ClientApp/src/app/state/features/features.state.ts
  src/Ombi/ClientApp/src/app/state/features/index.ts
  src/Ombi/ClientApp/src/app/state/features/types.ts
  src/Ombi/Controllers/V2/FeaturesController.cs
Labels: frontend, backend
