Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

chore(release): :rocket: v4.49.8 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

feat: pipes
  src/Ombi/ClientApp/src/app/pipes/HumanizePipe.ts
  src/Ombi/ClientApp/src/app/pipes/OmbiDatePipe.ts
  src/Ombi/ClientApp/src/app/pipes/OrderPipe.ts
  src/Ombi/ClientApp/src/app/pipes/QualityPipe.ts
  src/Ombi/ClientApp/src/app/pipes/SafePipe.ts
  src/Ombi/ClientApp/src/app/pipes/ThousandShortPipe.ts
  src/Ombi/ClientApp/src/app/pipes/TranslateStatus.ts
  src/Ombi/ClientApp/src/app/pipes/pipe.module.ts
  src/Ombi/ClientApp/src/app/pipes/standalone-pipes.ts
Labels: frontend

filter server plex
  src/Ombi.Api.External/MediaServers/Plex/PlexApi.cs
Labels: backend

docker for local build
  dev_local_docker/aspnet_keys/.gitignore
  dev_local_docker/compose.yml
  dev_local_docker/docker/backend.Dockerfile
  dev_local_docker/docker/frontend.Dockerfile
  dev_local_docker/ombi_config/.gitignore
Labels: none

pipes
  STANDALONE_MIGRATION_PROGRESS.md
  src/Ombi/ClientApp/src/app/shared/admin-request-dialog/admin-request-dialog.component.ts
  src/Ombi/ClientApp/src/app/shared/advanced-search-dialog/advanced-search-dialog.component.ts
  src/Ombi/ClientApp/src/app/shared/components/genre-select/genre-select.component.ts
  src/Ombi/ClientApp/src/app/shared/components/keyword-search/keyword-search.component.ts
  src/Ombi/ClientApp/src/app/shared/components/watch-providers-select/watch-providers-select.component.ts
  src/Ombi/ClientApp/src/app/shared/episode-request/episode-request.component.ts
  src/Ombi/ClientApp/src/app/shared/issues-report.component.ts
  src/Ombi/ClientApp/src/app/shared/shared.module.ts
  src/Ombi/ClientApp/src/app/shared/standalone-components.ts
Labels: frontend

standalone
  STANDALONE_MIGRATION_PROGRESS.md
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.html
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.ts
  src/Ombi/ClientApp/src/app/discover/components/actor/discover-actor.component.ts
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.ts
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.ts
  src/Ombi/ClientApp/src/app/discover/components/collections/discover-collections.component.ts
  src/Ombi/ClientApp/src/app/discover/components/discover/discover.component.ts
  src/Ombi/ClientApp/src/app/discover/components/genre/genre-button-select.component.ts
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.ts
  src/Ombi/ClientApp/src/app/discover/components/search-results/search-results.component.ts
  src/Ombi/ClientApp/src/app/discover/discover.module.ts
  src/Ombi/ClientApp/src/app/pipes/OmbiDatePipe.ts
  src/Ombi/ClientApp/src/app/shared/advanced-search-dialog/advanced-search-dialog.component.html
  src/Ombi/ClientApp/src/app/shared/components/genre-select/genre-select.component.html
  src/Ombi/ClientApp/src/app/shared/components/watch-providers-select/watch-providers-select.component.html
  src/Ombi/ClientApp/src/app/vote/vote.component.ts
  src/Ombi/ClientApp/src/app/vote/vote.module.ts
Labels: frontend

Plex OAuth: fix X-Plex-Client-Identifier mismatch causing PIN 1020 errors and failing watchlist import; add sanity logging
  src/Ombi.Api.External/MediaServers/Plex/PlexApi.cs
  src/Ombi.Core.Tests/Authentication/PlexOAuthManagerTests.cs
  src/Ombi.Core/Authentication/PlexOAuthManager.cs
Labels: backend

Update src/Ombi.Core/Authentication/PlexOAuthManager.cs
  src/Ombi.Core/Authentication/PlexOAuthManager.cs
Labels: backend

Update src/Ombi.Core/Authentication/PlexOAuthManager.cs
  src/Ombi.Core/Authentication/PlexOAuthManager.cs
Labels: backend

app.module done
  STANDALONE_MIGRATION_PROGRESS.md
  src/.idea/.idea.Ombi/.idea/workspace.xml
  src/Ombi/ClientApp/src/app/app.component.ts
  src/Ombi/ClientApp/src/app/app.module.ts
  src/Ombi/ClientApp/src/app/app.routes.ts
  src/Ombi/ClientApp/src/app/discover/discover.module.ts
  src/Ombi/ClientApp/src/app/errors/not-found.component.ts
  src/Ombi/ClientApp/src/app/issues/issues.module.ts
  src/Ombi/ClientApp/src/app/media-details/media-details.module.ts
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.ts
  src/Ombi/ClientApp/src/app/my-nav/nav-search.component.ts
  src/Ombi/ClientApp/src/app/pipes/pipe.module.ts
  src/Ombi/ClientApp/src/app/requests-list/requests-list.module.ts
  src/Ombi/ClientApp/src/app/settings/settings.module.ts
  src/Ombi/ClientApp/src/app/shared/remaining-requests/remaining-requests.component.ts
  src/Ombi/ClientApp/src/app/shared/shared.module.ts
  src/Ombi/ClientApp/src/app/unsubscribe/unsubscribe.module.ts
  src/Ombi/ClientApp/src/app/user-preferences/user-preferences.module.ts
  src/Ombi/ClientApp/src/app/usermanagement/usermanagement.module.ts
  src/Ombi/ClientApp/src/app/vote/vote.module.ts
  src/Ombi/ClientApp/src/app/wizard/wizard.module.ts
  src/Ombi/ClientApp/src/hmr.ts
  src/Ombi/ClientApp/src/main.ts
Labels: frontend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.49.9 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.49.10 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fixes
  src/Ombi/ClientApp/src/app/components/image-background/image-background.component.ts
  src/Ombi/ClientApp/src/app/discover/components/genre/genre-button-select.component.html
  src/Ombi/ClientApp/src/app/discover/components/genre/genre-button-select.component.ts
  src/Ombi/ClientApp/src/app/landingpage/landingpage.component.ts
  src/Ombi/ClientApp/src/app/login/login.component.ts
  src/Ombi/ClientApp/src/app/login/resetpassword.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-advanced-options/movie-advanced-options.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/shared/deny-dialog/deny-dialog.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-advanced-options/tv-advanced-options.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/options/request-options.component.ts
  src/Ombi/ClientApp/src/app/services/applications/plexoauth.service.ts
  src/Ombi/ClientApp/src/app/services/searchV2.service.ts
  src/Ombi/ClientApp/src/app/settings/massemail/massemail.component.ts
  src/Ombi/ClientApp/src/app/wizard/services/wizard.service.ts
  src/Ombi/ClientApp/src/app/wizard/welcome/welcome.component.ts
  src/Ombi/ClientApp/src/main.ts
Labels: frontend

issue fixes
  src/Ombi/ClientApp/src/app/issues/components/details-group/details-group.component.ts
  src/Ombi/ClientApp/src/app/issues/components/details/details.component.ts
  src/Ombi/ClientApp/src/app/issues/issues.component.ts
  src/Ombi/ClientApp/src/app/issues/issuestable.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/shared/issues-panel/issues-panel.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/shared/new-issue/new-issue.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.ts
  src/Ombi/ClientApp/src/app/settings/issues/issues.component.ts
  src/Ombi/ClientApp/src/app/shared/chat-box/chat-box.component.ts
Labels: frontend

more fixes
  src/Ombi/ClientApp/src/app/media-details/components/shared/cast-carousel/cast-carousel.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/shared/youtube-trailer.component.ts
  src/Ombi/ClientApp/src/app/settings/about/update-dialog.component.ts
  src/Ombi/ClientApp/src/app/settings/couchpotato/couchpotato.component.html
  src/Ombi/ClientApp/src/app/settings/couchpotato/couchpotato.component.ts
  src/Ombi/ClientApp/src/app/settings/usermanagement/usermanagement.component.html
  src/Ombi/ClientApp/src/app/settings/usermanagement/usermanagement.component.ts
Labels: frontend

remaining changes
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.ts
  src/Ombi/ClientApp/src/app/discover/components/search-results/search-results.component.ts
  src/Ombi/ClientApp/src/app/login/tokenresetpassword.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/artist/artist-details.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/artist/panels/artist-information-panel/artist-information-panel.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/artist/panels/artist-release-panel/artist-release-panel.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/shared/crew-carousel/crew-carousel.component.ts
Labels: frontend

removed
  tests/cypress/tests/details/tv/tvdetails-buttons.spec.ts
Labels: automation

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.50.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(sonarr): :bug: Ensure we are monitoring shows that already exist in Sonarr #5257
  src/Ombi.Core/Senders/TvSender.cs
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.50.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

refactor(watchlist): :loud_sound: Added some more logging around the watchlist authentication #5246
  src/.idea/.idea.Ombi/.idea/projectSettingsUpdater.xml
  src/.idea/.idea.Ombi/.idea/workspace.xml
  src/Ombi.Api.External/MediaServers/Plex/PlexApi.cs
  src/Ombi.Core/Authentication/PlexTokenKeepAliveService.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.ts
Labels: frontend, backend

tests(watchlist): added additional tests around the Plex Watchlist
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
Labels: backend

chore(release): :rocket: v4.50.2 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

feat: improve contributor guidance
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/contribution_help.yml
  .github/ISSUE_TEMPLATE/contributor_onboarding.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  .github/workflows/contributor-recognition.yml
  .github/workflows/first-time-contributor.yml
  .github/workflows/pr.yml
  CONTRIBUTING.md
  scripts/setup-dev.sh
Labels: devops

fix [skip ci]
  .github/workflows/first-time-contributor.yml
Labels: devops

refactor(TokenController): reorganize using directives and add watchlist error handling for Plex users
  src/Ombi/Controllers/V1/TokenController.cs
Labels: backend

feat(TvSender): add logging for missing seasons in Sonarr during monitoring updates
  src/Ombi.Core/Senders/TvSender.cs
Labels: backend

Update src/Ombi/Controllers/V1/TokenController.cs
  src/Ombi/Controllers/V1/TokenController.cs
Labels: backend

Revert "Update src/Ombi/Controllers/V1/TokenController.cs"
  src/Ombi/Controllers/V1/TokenController.cs
Labels: backend

feat: allow admins to force Plex watchlist revalidation
  src/Ombi.Core.Tests/Services/PlexServiceTests.cs
  src/Ombi.Core/Services/IPlexService.cs
  src/Ombi.Core/Services/PlexService.cs
  src/Ombi/ClientApp/src/app/services/applications/plex.service.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.html
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.ts
  src/Ombi/Controllers/V1/External/PlexController.cs
Labels: frontend, backend

[skip ci] fix workflow permissions
  .github/workflows/pr.yml
Labels: devops

chore(release): :rocket: v4.51.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

deterministic refresh (rather than 3 second wait)
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.ts
Labels: frontend

address sonarqube feedback
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.ts
Labels: frontend

Revert "address sonarqube feedback"
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.ts
Labels: frontend

Revert "deterministic refresh (rather than 3 second wait)"
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.ts
Labels: frontend

fix: upgrade cypress-real-events from 1.14.0 to 1.15.0
  tests/package.json
  tests/yarn.lock
Labels: automation

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
