Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

Retro-compatibility for Plex content URL
  src/Ombi.Core/Rule/Rules/Search/PlexAvailabilityRule.cs
Labels: backend

fix(frontend): display logo-link only if an url is set
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.html
Labels: frontend

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

fix(frontend): add link on logo text
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.html
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.scss
Labels: frontend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore: 🌐 Translations Update (#4476) [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/de.json
Labels: none

fix swagger api key auth
  src/Ombi/Extensions/StartupExtensions.cs
Labels: backend

fix: fix swagger api key auth (#4483) [no ci]
  src/Ombi/Extensions/StartupExtensions.cs
Labels: backend

chore: added some obsoletes
  src/Ombi.Store/Entities/EmbyContent.cs
  src/Ombi.Store/Entities/JellyfinContent.cs
Labels: backend

fix: removed the unsub link when not present
  src/Ombi.Notifications.Templates/NewsletterTemplate.cs
  src/Ombi.Notifications.Templates/Templates/NewsletterTemplate.html
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.10.2 (#4484) merge [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.10.3
  CHANGELOG.md
  version.json
Labels: none

Fix unsubscribe text unlocalized by messy merge
  src/Ombi.Notifications.Templates/NewsletterTemplate.cs
Labels: backend

Fix indentation
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
Labels: backend

Stop using TVMaze in newsletter
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
Labels: backend

Better logging when an item is not published
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
Labels: backend

bug(newsletter): Drop TVMaze from Newsletter (#4486) #4444
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
Labels: backend

chore: fix unit tests
  src/Ombi.Core.Tests/Engine/MovieRequestLimitsTests.cs
  src/Ombi.Core.Tests/Engine/MusicRequestLimitTests.cs
  src/Ombi.Core/Services/RequestLimitService.cs
Labels: backend

chore(release): :rocket: v4.10.4
  CHANGELOG.md
  version.json
Labels: none

feat(newsletter): Started to localize the newsletter (#4485)
  src/Ombi.Core/Ombi.Core.csproj
  src/Ombi.I18n/Ombi.I18n.csproj
  src/Ombi.I18n/Resources/Texts.Designer.cs
  src/Ombi.I18n/Resources/Texts.fr.resx
  src/Ombi.I18n/Resources/Texts.resx
  src/Ombi.Notifications.Templates/NewsletterTemplate.cs
  src/Ombi.Notifications.Templates/Ombi.Notifications.Templates.csproj
  src/Ombi.Notifications.Templates/Templates/NewsletterTemplate.html
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
  src/Ombi.Settings/Ombi.Settings.csproj
  src/Ombi.Settings/Settings/Models/OmbiSettings.cs
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

Update Crowdin configuration file
  crowdin.yml
Labels: none

chore(release): :rocket: v4.11.0
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.11.1
  CHANGELOG.md
  version.json
Labels: none

chore: 🌐 Translations Update (#4481) [skip ci]
  src/Ombi/wwwroot/translations/de.json
  src/Ombi/wwwroot/translations/es.json
Labels: none

fix: :globe_with_meridians: Added Czech and Chinese Simplified to the language list
  src/Ombi/ClientApp/src/app/app.component.ts
  src/Ombi/ClientApp/src/app/user-preferences/components/user-preference/user-preference.constants.ts
Labels: frontend

refactor: :wastebasket: Fixed a deprecation
  src/Ombi/ClientApp/src/app/app.component.ts
Labels: frontend

chore(release): :rocket: v4.11.2
  CHANGELOG.md
  version.json
Labels: none

fix(API): Fixed an issue where the API key couldn't delete a request #4489
  src/Ombi.Core/Engine/Interfaces/BaseEngine.cs
  src/Ombi.sln
Labels: backend

chore(release): :rocket: v4.11.3
  CHANGELOG.md
  version.json
Labels: none

Updated the German Translation
  src/Ombi/wwwroot/translations/de.json
Labels: none

Add sanity checks upon media server sync
  src/Ombi.Api.Emby/Models/Media/EmbyProviderids.cs
  src/Ombi.Api.Jellyfin/Models/Media/JellyfinProviderids.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinContentSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinEpisodeSync.cs
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
  src/Ombi.Schedule/Jobs/Plex/PlexEpisodeSync.cs
Labels: backend

Fix Jellyfin sync
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinEpisodeSync.cs
Labels: backend

Declutter newsletter info for series
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
Labels: backend

Fix newsletter not publishing double episodes
  src/Ombi.Store/Entities/EmbyEpisode.cs
  src/Ombi.Store/Entities/JellyfinEpisode.cs
  src/Ombi.Store/Entities/MediaServerContent.cs
  src/Ombi.Store/Entities/PlexEpisode.cs
Labels: backend

fix(newsletter): Fix newsletter not publishing double episodes (#4495)
  src/Ombi.Store/Entities/EmbyEpisode.cs
  src/Ombi.Store/Entities/JellyfinEpisode.cs
  src/Ombi.Store/Entities/MediaServerContent.cs
  src/Ombi.Store/Entities/PlexEpisode.cs
Labels: backend

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
