Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

Update chromatic.yml
  .github/workflows/chromatic.yml
Labels: devops

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/da.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci] (#4713)
  src/Ombi/wwwroot/translations/da.json
Labels: none

build: Run automation tests in docker (#4715)
  .github/workflows/cypress.yml
  src/.dockerignore
  src/dockerfile
  tests/cypress.json
  tests/cypress/config/regression.json
Labels: automation, devops

fix: fixed trakt image not loading when base url present (#4711)
  src/Ombi/ClientApp/src/app/components/image/image.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.scss
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.ts
  src/Ombi/ClientApp/src/app/wizard/plex/plex.component.html
  src/Ombi/ClientApp/src/app/wizard/welcome/welcome.component.html
Labels: frontend

fix: :bug: Fixed missing externals (#4712)
  .github/workflows/chromatic.yml
  src/Ombi/ClientApp/.storybook/main.js
  src/Ombi/ClientApp/.storybook/preview-body.html
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.stories.ts
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.html
  src/Ombi/ClientApp/yarn.lock
Labels: frontend, devops

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.22.4 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

test: fixed automationt tests [skip ci]
  tests/cypress/tests/details/tv/tvdetails-buttons.spec.ts
Labels: automation

chore(release): :rocket: v4.22.5 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Fix #4720 and unit tests
  src/Ombi.Api.Plex/Models/Metadata.cs
  src/Ombi.Core.Tests/Engine/TvRequestLimitsTests.cs
  src/Ombi.Schedule/Jobs/Ombi/RefreshMetadata.cs
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
Labels: backend

add crew on movie page
  src/.idea/.idea.Ombi/.idea/contentModel.xml
  src/Ombi/ClientApp/src/app/discover/components/actor/discover-actor.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/index.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/crew-carousel/crew-carousel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/crew-carousel/crew-carousel.component.scss
  src/Ombi/ClientApp/src/app/media-details/components/shared/crew-carousel/crew-carousel.component.ts
  src/Ombi/ClientApp/src/app/media-details/media-details.component.scss
  src/Ombi/wwwroot/translations/en.json
  src/Ombi/wwwroot/translations/fr.json
Labels: frontend

Log Microsoft warnings to log file
  src/Ombi/appsettings.json
Labels: none

fix: Log Microsoft warnings to log file (#4723)
  src/Ombi/appsettings.json
Labels: none

wip
  src/Ombi/ClientApp/src/app/discover/components/carousel.options.ts
  src/Ombi/ClientApp/src/app/discover/components/discover/discover.component.html
  src/Ombi/ClientApp/src/app/discover/components/index.ts
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.html
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.scss
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.ts
  src/Ombi/ClientApp/src/app/discover/discover.module.ts
  src/Ombi/ClientApp/src/app/services/requestV2.service.ts
  src/Ombi/Controllers/V2/RequestsController.cs
Labels: frontend, backend

added to the UI
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.html
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.scss
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.ts
  src/Ombi/ClientApp/src/app/components/modules.ts
  src/Ombi/ClientApp/src/app/discover/components/index.ts
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.html
  src/Ombi/ClientApp/src/app/discover/discover.module.ts
  src/Ombi/ClientApp/src/app/interfaces/IRecentlyRequested.ts
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

Almost nailed it
  src/Ombi.Core/Services/RecentlyRequestedService.cs
  src/Ombi.Helpers/CacheKeys.cs
  src/Ombi.TheMovieDbApi/IMovieDbApi.cs
  src/Ombi.TheMovieDbApi/Models/TvImages.cs
  src/Ombi.TheMovieDbApi/TheMovieDbApi.cs
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.html
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.scss
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.stories.ts
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.ts
  src/Ombi/ClientApp/src/app/components/image/image.component.ts
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.html
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.ts
  src/Ombi/ClientApp/src/app/interfaces/IRecentlyRequested.ts
  src/Ombi/ClientApp/src/app/services/image.service.ts
  src/Ombi/Controllers/V1/ImagesController.cs
Labels: frontend, backend

got scroll working
  src/Ombi/ClientApp/src/app/discover/components/carousel.options.ts
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.html
Labels: frontend

styling
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.scss
Labels: frontend

styling and lang
  src/Ombi.Core/IImageService.cs
  src/Ombi.Core/ImageService.cs
  src/Ombi.Core/Services/RecentlyRequestedService.cs
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.html
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.scss
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.ts
  src/Ombi/ClientApp/src/app/discover/components/carousel.options.ts
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.html
  src/Ombi/ClientApp/src/app/services/image.service.ts
  src/Ombi/Controllers/V1/ImagesController.cs
Labels: frontend, backend

hide the username when the hide requests is set
  src/Ombi.Core/Services/RecentlyRequestedService.cs
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.html
  src/Ombi/ClientApp/src/app/services/requestV2.service.ts
  src/Ombi/Controllers/V2/RequestsController.cs
Labels: frontend, backend

stories
  src/Ombi/ClientApp/.storybook/preview-body.html
  src/Ombi/ClientApp/.storybook/preview.js
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.stories.ts
Labels: frontend

fixed
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.stories.ts
Labels: frontend

last
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.stories.ts
Labels: frontend

last last
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.stories.ts
Labels: frontend

fixed tests
  tests/cypress.json
  tests/cypress/tests/user-preferences/user-preferences-profile.spec.ts
  tests/cypress/tests/usermanagement/usermanagement.spec.ts
Labels: automation

new tests
  src/Ombi.Core/Engine/MovieRequestEngine.cs
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.html
  tests/cypress/integration/page-objects/discover/discover.page.ts
  tests/cypress/tests/discover/discover-recently-requested.spec.ts
Labels: automation, frontend, backend

put it back
  tests/cypress.json
Labels: automation

unit tests
  src/Ombi.Core.Tests/Services/RecentlyRequestedServiceTests.cs
Labels: backend

chore(release): :rocket: v4.23.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Localize recently requested on discover page
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.html
  src/Ombi/wwwroot/translations/en.json
Labels: frontend

fix: Localize recently requested on discover page (#4729)
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.html
  src/Ombi/wwwroot/translations/en.json
Labels: frontend

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt-BR.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/no.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sv.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sk.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ru.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pl.json
Labels: none
