Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

Pin SignalR transitive ws dependency to patched 7.5.13
  src/Ombi/ClientApp/package.json
Labels: frontend

Update yarn.lock
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

chore(release): :rocket: v4.60.84 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Upgrade AutoMapper to patched 15.1.3 release
  src/Ombi.Api.External/Ombi.Api.External.csproj
  src/Ombi.Core.Tests/Engine/V2/TvSearchEngineV2Tests.cs
  src/Ombi.Core.Tests/TvProfileMappingTests.cs
  src/Ombi.Core/Ombi.Core.csproj
  src/Ombi.Mapping/AutoMapperProfile.cs
  src/Ombi.Mapping/Ombi.Mapping.csproj
  src/Ombi/Ombi.csproj
  src/Ombi/Startup.cs
Labels: backend

chore(release): :rocket: v4.60.85 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Fix AutoMapper DI registration for custom converters
  src/Ombi.Core.Tests/AutoMapperDependencyInjectionTests.cs
  src/Ombi.Core.Tests/Ombi.Core.Tests.csproj
  src/Ombi.Mapping/AutoMapperProfile.cs
Labels: backend

chore(release): :rocket: v4.60.86 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Add Plex-only authentication mode
  src/Ombi.Api.IntegrationTests/Tests/AuthenticationModeContractTests.cs
  src/Ombi.Api.IntegrationTests/Tests/SettingsContractTests.cs
  src/Ombi.Settings/Settings/Models/AuthenticationSettings.cs
  src/Ombi/ClientApp/src/app/interfaces/ISettings.ts
  src/Ombi/ClientApp/src/app/login/login.component.html
  src/Ombi/ClientApp/src/app/login/login.component.spec.ts
  src/Ombi/ClientApp/src/app/login/login.component.ts
  src/Ombi/ClientApp/src/app/settings/authentication/authentication.component.html
  src/Ombi/ClientApp/src/app/settings/authentication/authentication.component.ts
  src/Ombi/Controllers/V1/SettingsController.cs
  src/Ombi/Controllers/V1/TokenController.cs
Labels: frontend, backend

Fix Plex-only authentication integration test scope
  src/Ombi.Api.IntegrationTests/Tests/AuthenticationModeContractTests.cs
Labels: backend

Use configured logo in signed-in sidebar
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.html
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.scss
Labels: frontend

chore(release): :rocket: v4.60.87 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Backport Jellyfin 12 authorization header compatibility
  src/Ombi.Api.External/MediaServers/Jellyfin/JellyfinApi.cs
Labels: backend

chore(release): :rocket: v4.60.88 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Isolate LastActive updates from request persistence
  src/Ombi.Tests/Middlewear/UserActivityMiddlewareTests.cs
  src/Ombi/Middleware/UserActivityMiddleware.cs
Labels: backend

Rebrand project as Reqestra
  README.md
Labels: none

Update Reqestra repository links after rename
  README.md
Labels: none

Move update channels to Reqestra releases
  .github/workflows/build.yml
  src/Ombi.Schedule/Jobs/Ombi/OmbiAutomaticUpdater.cs
  src/Ombi.Schedule/Processor/ChangeLogProcessor.cs
  src/Ombi/ClientApp/src/app/settings/ombi/ombi.component.html
  src/Ombi/ClientApp/src/app/settings/update/update.component.html
Labels: frontend, backend, devops

Fix Tests
  src/Ombi.Tests/Middlewear/UserActivityMiddlewareTests.cs
Labels: backend

chore(release): :rocket: v4.60.89 [skip ci]
  CHANGELOG.md
  version.json
Labels: none
