Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

fix(mediaserver): fixed an issue where we were not detecting available content correctly #4542
  src/Ombi.Api.TvMaze/ITvMazeApi.cs
  src/Ombi.Api.TvMaze/TvMazeApi.cs
  src/Ombi.Core/Engine/MovieSearchEngine.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Ombi/RefreshMetadata.cs
  src/Ombi.Schedule/Jobs/Plex/PlexAvailabilityChecker.cs
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
Labels: backend

chore(release): :rocket: v4.15.1
  CHANGELOG.md
  version.json
Labels: none

First attempt at episode sync refactor
  src/Ombi.Api.Emby/Models/Media/Tv/EmbyEpisodes.cs
  src/Ombi.Api.Jellyfin/Models/Media/Tv/JellyfinEpisodes.cs
  src/Ombi.Api.MediaServer/Models/Tv/IMediaServerEpisode.cs
  src/Ombi.Api.MediaServer/Ombi.Api.MediaServer.csproj
  src/Ombi.Api.Plex/Models/Metadata.cs
  src/Ombi.Api.Plex/Ombi.Api.Plex.csproj
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinEpisodeSync.cs
  src/Ombi.Schedule/Jobs/MediaServer/IMediaServerEpisodeSync.cs
  src/Ombi.Schedule/Jobs/MediaServer/MediaServerEpisodeSync.cs
  src/Ombi.Schedule/Jobs/Plex/Interfaces/IPlexEpisodeSync.cs
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
  src/Ombi.Schedule/Jobs/Plex/PlexEpisodeSync.cs
Labels: backend

fix(metadata): improved the metadata job to also lookup the media in Plex to see if it has any more uptodate metadata
  src/Ombi.Helpers/PlexHelper.cs
  src/Ombi.Schedule/Jobs/Ombi/RefreshMetadata.cs
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
Labels: backend

chore(release): :rocket: v4.15.2
  CHANGELOG.md
  version.json
Labels: none

Display blank status for episodes not requested
  src/Ombi.Store/Entities/Requests/SeasonRequests.cs
Labels: backend

Fix issues being merged for items bearing the same name
  src/Ombi.Core/Engine/V2/IssuesEngine.cs
Labels: backend

chore(release): :rocket: v4.15.3
  CHANGELOG.md
  version.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.da.resx
Labels: none

Display 'partly available' status on TV show discover card
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.html
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.scss
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.ts
Labels: frontend

Make Serilog configurable and default level to Information
  src/Ombi/Ombi.csproj
  src/Ombi/Startup.cs
  src/Ombi/appsettings.Development.json
  src/Ombi/appsettings.json
Labels: backend

chore(release): :rocket: v4.15.4
  CHANGELOG.md
  version.json
Labels: none

Fix incorrect request status for denied movies
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-information-panel.component.html
Labels: frontend, backend

wip: made a start on the import
  src/Ombi.Api.Plex/IPlexApi.cs
  src/Ombi.Api.Plex/Models/PlexWatchlist.cs
  src/Ombi.Api.Plex/PlexApi.cs
  src/Ombi.Schedule/Jobs/Plex/Interfaces/IPlexWatchlistImport.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

chore(release): :rocket: v4.15.5
  CHANGELOG.md
  version.json
Labels: none

Added sqlite migrations
  src/Ombi.Api.Plex/IPlexApi.cs
  src/Ombi.Api.Plex/Models/PlexWatchlistContainer.cs
  src/Ombi.Api.Plex/Models/PlexWatchlistMetadataContainer.cs
  src/Ombi.Api.Plex/PlexApi.cs
  src/Ombi.DependencyInjection/IocExtensions.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20220406212825_PlexIds.Designer.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20220406212825_PlexIds.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20220406213123_PlexIds.Designer.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20220406213123_PlexIds.cs
  src/Ombi/Controllers/V1/TokenController.cs
Labels: backend

fix(radarr): Fixed an issue where we couldn't sync radarr content #4577
  src/Ombi.Api.Radarr/Models/V2/MovieResponse.cs
Labels: backend

chore(release): :rocket: v4.15.6
  CHANGELOG.md
  version.json
Labels: none

Added the request source to the details
  src/Ombi.Core/Engine/MovieRequestEngine.cs
  src/Ombi.Core/Helpers/CurrentUser.cs
  src/Ombi/ClientApp/src/app/interfaces/IRequestModel.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-information-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-information-panel.component.ts
  src/Ombi/wwwroot/translations/en.json
Labels: frontend, backend

Added Tv watchlist import
  src/Ombi.Core/Engine/TvRequestEngine.cs
  src/Ombi.Core/Helpers/TvShowRequestBuilderV2.cs
  src/Ombi.Core/Models/Requests/TvRequestViewModelV2.cs
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.ts
Labels: frontend, backend

Added migrations for mysql
  src/Ombi.Store/Migrations/ExternalMySql/20220407114744_PlexIds.Designer.cs
  src/Ombi.Store/Migrations/ExternalMySql/20220407114744_PlexIds.cs
  src/Ombi.Store/Migrations/OmbiMySql/20220407114619_RequestSource.Designer.cs
  src/Ombi.Store/Migrations/OmbiMySql/20220407114619_RequestSource.cs
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.html
Labels: frontend, backend

automation improvements
  tests/cypress/tests/requests/requests.spec.ts
Labels: automation

chore(release): :rocket: v4.16.0
  CHANGELOG.md
  version.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh-TW.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sv.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sk.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ru.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/no.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/nl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/it.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/hu.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/de.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/da.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/cs.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/bg.json
Labels: none

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
