Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

Redesign discover page cards and hero banner with modern UI (#5378)
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.html
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.scss
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.ts
  src/Ombi/ClientApp/src/app/components/image/image.component.html
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.html
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.scss
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.html
  src/Ombi/ClientApp/src/app/discover/components/carousel-list/carousel-list.component.scss
  src/Ombi/ClientApp/src/app/discover/components/discover/discover.component.html
  src/Ombi/ClientApp/src/app/discover/components/discover/discover.component.scss
  src/Ombi/ClientApp/src/app/discover/components/genre/genre-button-select.component.html
  src/Ombi/ClientApp/src/app/discover/components/genre/genre-button-select.component.scss
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.html
  src/Ombi/ClientApp/src/app/discover/components/hero-banner/hero-banner.component.scss
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.scss
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.ts
  tests/cypress/tests/discover/discover-cards.spec.ts
Labels: automation, frontend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

Clean up unused imports, dead CSS, and stale comments
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.scss
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.ts
  src/Ombi/ClientApp/src/app/my-nav/nav-search.component.scss
  src/Ombi/ClientApp/src/app/my-nav/nav-search.component.ts
Labels: frontend

Address CodeRabbit review feedback
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.html
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.scss
  src/Ombi/ClientApp/src/app/my-nav/nav-search.component.scss
  src/Ombi/ClientApp/src/app/my-nav/nav-search.component.ts
Labels: frontend

Fix Cypress search tests and SonarCloud reliability issue
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.html
  src/Ombi/ClientApp/src/app/my-nav/nav-search.component.html
  src/Ombi/ClientApp/src/app/my-nav/nav-search.component.ts
  tests/cypress/integration/page-objects/shared/NavBar.ts
  tests/cypress/integration/page-objects/shared/SearchBar.ts
  tests/cypress/tests/search/search.spec.ts
Labels: automation, frontend

Fix SonarCloud reliability, a11y, and CodeRabbit review round 2
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.html
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.scss
  src/Ombi/ClientApp/src/app/my-nav/nav-search.component.html
  tests/cypress/tests/search/search.spec.ts
Labels: automation, frontend

Replace non-null assertion with proper null guard for SonarCloud
  src/Ombi/ClientApp/src/app/my-nav/nav-search.component.ts
Labels: frontend

Add width/height to profile avatar img for SonarCloud reliability
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.html
Labels: frontend

Mark destroyRef as readonly
  src/Ombi/ClientApp/src/app/my-nav/nav-search.component.ts
Labels: frontend

chore(release): :rocket: v4.57.14 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.57.14 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Address CodeRabbit review round 3
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.scss
  src/Ombi/ClientApp/src/app/my-nav/nav-search.component.ts
Labels: frontend

Address CodeRabbit review round 4
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.scss
  src/Ombi/ClientApp/src/app/my-nav/nav-search.component.ts
Labels: frontend

Address CodeRabbit review: accessibility, i18n, and code quality fixes
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-information-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/cast-carousel/cast-carousel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.scss
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-information-panel/tv-information-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.html
  src/Ombi/ClientApp/src/app/media-details/media-details.component.scss
Labels: frontend

Fix sticky top bar by changing overflow: hidden to auto
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.scss
Labels: frontend

Remove deprecated -webkit-overflow-scrolling and fix font-weight
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.scss
Labels: frontend

Address remaining CodeRabbit review findings
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-information-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/cast-carousel/cast-carousel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-information-panel/tv-information-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.html
  src/Ombi/ClientApp/src/app/media-details/media-details.component.scss
  src/Ombi/wwwroot/translations/en.json
Labels: frontend

Fix remaining review findings and restore missing i18n keys
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-information-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/cast-carousel/cast-carousel.component.html
  src/Ombi/ClientApp/src/app/media-details/media-details.component.scss
  src/Ombi/wwwroot/translations/en.json
Labels: frontend

Preserve active nav hover state and add profile link aria-label
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.html
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.scss
Labels: frontend

Add rel=noopener, aria-hidden on icons, and !important comment
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.html
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.scss
Labels: frontend

Redesign media details page with modern streaming-style hero layout (#5380)
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-information-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-information-panel.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/shared/cast-carousel/cast-carousel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/cast-carousel/cast-carousel.component.scss
  src/Ombi/ClientApp/src/app/media-details/components/shared/cast-carousel/cast-carousel.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/shared/media-poster/media-poster.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.scss
  src/Ombi/ClientApp/src/app/media-details/components/shared/top-banner/top-banner.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/top-banner/top-banner.component.scss
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-information-panel/tv-information-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.ts
  src/Ombi/ClientApp/src/app/media-details/media-details.component.scss
  src/Ombi/wwwroot/translations/en.json
Labels: frontend

Redesign media details page with modern streaming-style hero layout (#5380)
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-information-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-information-panel.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/shared/cast-carousel/cast-carousel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/cast-carousel/cast-carousel.component.scss
  src/Ombi/ClientApp/src/app/media-details/components/shared/cast-carousel/cast-carousel.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/shared/media-poster/media-poster.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/social-icons/social-icons.component.scss
  src/Ombi/ClientApp/src/app/media-details/components/shared/top-banner/top-banner.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/top-banner/top-banner.component.scss
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-information-panel/tv-information-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.ts
  src/Ombi/ClientApp/src/app/media-details/media-details.component.scss
  src/Ombi/wwwroot/translations/en.json
Labels: frontend

chore(release): :rocket: v4.57.15 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.57.15 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Redesign top nav and sidebar with modern FAANG-style UX (#5382)
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.html
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.scss
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.ts
  src/Ombi/ClientApp/src/app/my-nav/nav-search.component.html
  src/Ombi/ClientApp/src/app/my-nav/nav-search.component.scss
  src/Ombi/ClientApp/src/app/my-nav/nav-search.component.ts
  tests/cypress/integration/page-objects/shared/NavBar.ts
  tests/cypress/integration/page-objects/shared/SearchBar.ts
  tests/cypress/tests/search/search.spec.ts
Labels: automation, frontend

Redesign top nav and sidebar with modern FAANG-style UX (#5382)
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.html
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.scss
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.ts
  src/Ombi/ClientApp/src/app/my-nav/nav-search.component.html
  src/Ombi/ClientApp/src/app/my-nav/nav-search.component.scss
  src/Ombi/ClientApp/src/app/my-nav/nav-search.component.ts
  tests/cypress/integration/page-objects/shared/NavBar.ts
  tests/cypress/integration/page-objects/shared/SearchBar.ts
  tests/cypress/tests/search/search.spec.ts
Labels: automation, frontend

chore(release): :rocket: v4.57.16 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.57.16 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Redesign requests page with modern card-based layout
  src/Ombi/ClientApp/src/app/requests-list/components/albums-grid/albums-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/albums-grid/albums-grid.component.scss
  src/Ombi/ClientApp/src/app/requests-list/components/albums-grid/albums-grid.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/grid-spinner/grid-spinner.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/grid-spinner/grid-spinner.component.scss
  src/Ombi/ClientApp/src/app/requests-list/components/grid-spinner/grid-spinner.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.scss
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/options/request-options.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/options/request-options.component.scss
  src/Ombi/ClientApp/src/app/requests-list/components/options/request-options.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/requests-list.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/requests-list.component.scss
  src/Ombi/ClientApp/src/app/requests-list/components/requests-list.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.scss
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.ts
Labels: frontend

Fix CI failures: update tests and reduce SCSS duplication
  src/Ombi/ClientApp/src/app/requests-list/components/_shared-card-grid.scss
  src/Ombi/ClientApp/src/app/requests-list/components/albums-grid/albums-grid.component.scss
  src/Ombi/ClientApp/src/app/requests-list/components/albums-grid/albums-grid.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.scss
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.spec.ts
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.scss
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.ts
Labels: frontend

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/bg.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ca.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/cs.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/da.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/de.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/hu.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/it.json
Labels: none

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
