Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

changes
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.html
  src/Ombi/ClientApp/src/app/components/image-background/image-background.component.ts
  src/Ombi/ClientApp/src/app/components/modules.ts
  src/Ombi/ClientApp/src/app/issues/components/details-group/details-group.component.html
  src/Ombi/ClientApp/src/app/issues/issueDetails.component.html
  src/Ombi/ClientApp/src/app/issues/issues.module.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-information-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/top-banner/top-banner.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-information-panel/tv-information-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.html
  src/Ombi/ClientApp/src/app/pipes/OrderPipe.ts
  src/Ombi/ClientApp/src/app/pipes/UserLocalePipe.ts
  src/Ombi/ClientApp/src/app/pipes/pipe.module.ts
  src/Ombi/ClientApp/src/app/requests-list/components/albums-grid/albums-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.html
  src/Ombi/ClientApp/src/app/requests/movierequests.component.html
  src/Ombi/ClientApp/src/app/requests/music/musicrequests.component.html
  src/Ombi/ClientApp/src/app/requests/tvrequest-children.component.html
  src/Ombi/ClientApp/src/app/requests/tvrequests.component.html
  src/Ombi/ClientApp/src/app/settings/about/update-dialog.component.html
  src/Ombi/ClientApp/src/app/shared/chat-box/chat-box.component.html
  src/Ombi/ClientApp/src/app/shared/episode-request/episode-request.component.html
  src/Ombi/ClientApp/src/app/shared/shared.module.ts
  src/Ombi/ClientApp/src/app/usermanagement/usermanagement.component.html
  src/Ombi/ClientApp/src/app/usermanagement/usermanagement.module.ts
  src/Ombi/ClientApp/src/app/vote/vote.module.ts
  src/Ombi/ClientApp/tsconfig.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

a
  src/Ombi/ClientApp/package.json
Labels: frontend

lock
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

b
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

🌐 Translations Update (#5076)
  src/Ombi.I18n/Resources/Texts.pt-BR.resx
  src/Ombi/wwwroot/translations/pt-BR.json
Labels: none

ng17
  src/Ombi/ClientApp/angular.json
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/src/polyfills.ts
  src/Ombi/ClientApp/src/tsconfig.json
  src/Ombi/ClientApp/tsconfig.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

perf
  src/Ombi/ClientApp/src/app/discover/components/discover/discover.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.html
  src/Ombi/Controllers/V1/External/RadarrController.cs
Labels: frontend, backend

put back
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/src/app/custompage/custompage.component.scss
  src/Ombi/ClientApp/src/app/custompage/custompage.component.ts
  src/Ombi/ClientApp/src/app/pipes/OrderPipe.ts
  src/Ombi/ClientApp/yarn.lock
  src/Ombi/Ombi.sln
Labels: frontend

remove performance improvements
  src/Ombi/ClientApp/src/app/discover/components/discover/discover.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.html
Labels: frontend

chore(release): :rocket: v4.43.12 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

defer
  src/Ombi/ClientApp/.prettierrc.js
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.html
Labels: frontend

chore: Performance improvements on the TV Details page
  src/Ombi/ClientApp/.prettierrc.js
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.html
Labels: frontend

chore(release): :rocket: v4.43.13 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

perf(details): :zap: Improve load performance for the TV and Movie Details pages
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.html
  src/Ombi/ClientApp/src/app/media-details/media-details.component.scss
  src/Ombi/ClientApp/src/app/media-details/media-details.module.ts
Labels: frontend

perf(discover): :zap: Improve load performance on the discover page
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.html
  src/Ombi/ClientApp/src/app/discover/components/discover/discover.component.html
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.html
Labels: frontend

fixed tests
  tests/cypress/tests/details/movie/moviedetails-buttons.spec.ts
Labels: automation

Fixed the dates
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.html
  src/Ombi/ClientApp/src/app/issues/components/details-group/details-group.component.html
  src/Ombi/ClientApp/src/app/issues/issueDetails.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-information-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/top-banner/top-banner.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-information-panel/tv-information-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.html
  src/Ombi/ClientApp/src/app/pipes/OmbiDatePipe.ts
  src/Ombi/ClientApp/src/app/pipes/ThousandShortPipe.ts
  src/Ombi/ClientApp/src/app/pipes/pipe.module.ts
  src/Ombi/ClientApp/src/app/requests-list/components/albums-grid/albums-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.html
  src/Ombi/ClientApp/src/app/requests/movierequests.component.html
  src/Ombi/ClientApp/src/app/requests/music/musicrequests.component.html
  src/Ombi/ClientApp/src/app/requests/tvrequest-children.component.html
  src/Ombi/ClientApp/src/app/requests/tvrequests.component.html
  src/Ombi/ClientApp/src/app/settings/about/update-dialog.component.html
  src/Ombi/ClientApp/src/app/shared/chat-box/chat-box.component.html
  src/Ombi/ClientApp/src/app/shared/episode-request/episode-request.component.html
  src/Ombi/ClientApp/src/app/usermanagement/usermanagement.component.html
Labels: frontend

test
  tests/cypress/tests/details/movie/moviedetails-buttons.spec.ts
Labels: automation

fix
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.html
Labels: frontend

perf: ⚡ Improve render performance on the discover, movie and tv pages (#5084)
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.html
  src/Ombi/ClientApp/src/app/discover/components/card/discover-card.component.html
  src/Ombi/ClientApp/src/app/discover/components/discover/discover.component.html
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.html
  src/Ombi/ClientApp/src/app/issues/components/details-group/details-group.component.html
  src/Ombi/ClientApp/src/app/issues/issueDetails.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.html
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-information-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/shared/top-banner/top-banner.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-information-panel/tv-information-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.html
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.html
  src/Ombi/ClientApp/src/app/media-details/media-details.component.scss
  src/Ombi/ClientApp/src/app/media-details/media-details.module.ts
  src/Ombi/ClientApp/src/app/pipes/OmbiDatePipe.ts
  src/Ombi/ClientApp/src/app/pipes/ThousandShortPipe.ts
  src/Ombi/ClientApp/src/app/pipes/pipe.module.ts
  src/Ombi/ClientApp/src/app/requests-list/components/albums-grid/albums-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.html
  src/Ombi/ClientApp/src/app/requests/movierequests.component.html
  src/Ombi/ClientApp/src/app/requests/music/musicrequests.component.html
  src/Ombi/ClientApp/src/app/requests/tvrequest-children.component.html
  src/Ombi/ClientApp/src/app/requests/tvrequests.component.html
  src/Ombi/ClientApp/src/app/settings/about/update-dialog.component.html
  src/Ombi/ClientApp/src/app/shared/chat-box/chat-box.component.html
  src/Ombi/ClientApp/src/app/shared/episode-request/episode-request.component.html
  src/Ombi/ClientApp/src/app/usermanagement/usermanagement.component.html
  tests/cypress/tests/details/movie/moviedetails-buttons.spec.ts
Labels: automation, frontend

chore(release): :rocket: v4.43.14 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix: upgrade multiple dependencies with Snyk
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade zone.js from 0.14.3 to 0.14.4
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

disable autocomplete for plex server dialog
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-server-dialog/plex-server-dialog.component.html
Labels: frontend

Create privacy.html
  privacy.html
Labels: none

fix: upgrade cypress-real-events from 1.10.3 to 1.12.0
  tests/package.json
  tests/yarn.lock
Labels: automation

fix: upgrade multiple dependencies with Snyk
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: fixed emails not being able to load the template
  src/Ombi.Notifications.Templates/NewsletterTemplate.cs
Labels: backend

chore(release): :rocket: v4.43.15 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Fix the other email issue
  src/Ombi.Notifications.Templates/EmailBasicTemplate.cs
Labels: backend

chore(release): :rocket: v4.43.16 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix: upgrade multiple dependencies with Snyk (#5104) [skip ci]
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

disable autocomplete for plex server dialog (#5089)
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-server-dialog/plex-server-dialog.component.html
Labels: frontend

turn off generate release notes as it's going WILD
  .github/workflows/build.yml
Labels: devops

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh.json
Labels: none

fix: upgrade date-fns from 3.3.1 to 3.6.0
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade primeng from 17.9.0 to 17.11.0
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

packages
  src/Ombi.Api.Radarr/Ombi.Api.Radarr.csproj
  src/Ombi.Api.Service/Ombi.Api.Service.csproj
  src/Ombi.Api/Ombi.Api.csproj
  src/Ombi.Core.Tests/Ombi.Core.Tests.csproj
  src/Ombi.Core/Ombi.Core.csproj
  src/Ombi.DependencyInjection/Ombi.DependencyInjection.csproj
  src/Ombi.Helpers.Tests/Ombi.Helpers.Tests.csproj
  src/Ombi.Helpers/Ombi.Helpers.csproj
  src/Ombi.Notifications.Tests/Ombi.Notifications.Tests.csproj
  src/Ombi.Schedule.Tests/Ombi.Schedule.Tests.csproj
  src/Ombi.Settings.Tests/Ombi.Settings.Tests.csproj
  src/Ombi.Settings/Ombi.Settings.csproj
  src/Ombi.Store/Ombi.Store.csproj
  src/Ombi.Tests/Ombi.Tests.csproj
  src/Ombi/Ombi.csproj
Labels: none

stuff
  .github/workflows/build.yml
  .github/workflows/pr.yml
  src/Ombi/Properties/launchSettings.json
Labels: devops

missed docker
  src/dockerfile
Labels: none

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
