Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/de.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/da.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/cs.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/bg.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh-TW.json
Labels: none

feat: Plex Watchlist Error Reporting
  src/Ombi.Api.Plex/Models/PlexWatchlistContainer.cs
  src/Ombi.Api.Plex/PlexApi.cs
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
  src/Ombi.Store/Context/ExternalContext.cs
  src/Ombi.Store/Entities/PlexWatchlistUserError.cs
  src/Ombi.Test.Common/DbHelper.cs
Labels: backend

sqlite migration
  src/Ombi.Store/Context/ExternalContext.cs
  src/Ombi.Store/Context/OmbiContext.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20220822203722_PlexWatchlistUserError.Designer.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20220822203722_PlexWatchlistUserError.cs
Labels: backend

missed changes
  src/Ombi.Core/Engine/UserDeletionEngine.cs
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

mysql migration
  src/Ombi.Store/Migrations/OmbiMySql/20220822204249_PlexWatchlistUserError.Designer.cs
  src/Ombi.Store/Migrations/OmbiMySql/20220822204249_PlexWatchlistUserError.cs
Labels: backend

feat: Plex Watchlist Error Reporting
  src/Ombi.Api.Plex/Models/PlexWatchlistContainer.cs
  src/Ombi.Api.Plex/PlexApi.cs
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
  src/Ombi.Store/Context/ExternalContext.cs
  src/Ombi.Store/Entities/PlexWatchlistUserError.cs
  src/Ombi.Test.Common/DbHelper.cs
Labels: backend

sqlite migration
  src/Ombi.Store/Context/ExternalContext.cs
  src/Ombi.Store/Context/OmbiContext.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20220822203722_PlexWatchlistUserError.Designer.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20220822203722_PlexWatchlistUserError.cs
Labels: backend

missed changes
  src/Ombi.Core/Engine/UserDeletionEngine.cs
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

mysql migration
  src/Ombi.Store/Migrations/OmbiMySql/20220822204249_PlexWatchlistUserError.Designer.cs
  src/Ombi.Store/Migrations/OmbiMySql/20220822204249_PlexWatchlistUserError.cs
Labels: backend

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

Service and more UI
  src/Ombi.Core.Tests/Services/PlexServiceTests.cs
  src/Ombi.Core/Models/PlexUserWatchlistModel.cs
  src/Ombi.Core/Services/IPlexService.cs
  src/Ombi.Core/Services/PlexService.cs
  src/Ombi.DependencyInjection/IocExtensions.cs
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Store/Entities/PlexWatchlistUserError.cs
  src/Ombi.Store/Migrations/OmbiMySql/20220822204249_PlexWatchlistUserError.Designer.cs
  src/Ombi.Store/Migrations/OmbiMySql/20220822204249_PlexWatchlistUserError.cs
  src/Ombi.Store/Migrations/OmbiMySql/OmbiMySqlContextModelSnapshot.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20220822203722_PlexWatchlistUserError.Designer.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20220822203722_PlexWatchlistUserError.cs
  src/Ombi.Store/Migrations/OmbiSqlite/OmbiSqliteContextModelSnapshot.cs
  src/Ombi/ClientApp/src/app/interfaces/IPlex.ts
  src/Ombi/ClientApp/src/app/services/applications/plex.service.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.html
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.scss
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.stories.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.ts
  src/Ombi/Controllers/V1/External/PlexController.cs
Labels: frontend, backend

finished UI and migrations
  src/Ombi.Store/Migrations/OmbiMySql/20220823190345_PlexWatchlistUserError.Designer.cs
  src/Ombi.Store/Migrations/OmbiMySql/20220823190345_PlexWatchlistUserError.cs
  src/Ombi.Store/Migrations/OmbiMySql/OmbiMySqlContextModelSnapshot.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20220823192128_PlexWatchlistUserError.Designer.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20220823192128_PlexWatchlistUserError.cs
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.html
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.scss
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.html
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.scss
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.ts
  src/Ombi/ClientApp/src/app/settings/settings.module.ts
  src/Ombi/databasea.json
Labels: frontend, backend

fix: fixed stats controller
  src/Ombi.Core/Engine/UserStatsEngine.cs
  src/Ombi/Controllers/V1/StatsController.cs
Labels: backend

feat: Watchlist history errors(#4741)
  src/Ombi.Api.Plex/Models/PlexWatchlistContainer.cs
  src/Ombi.Api.Plex/PlexApi.cs
  src/Ombi.Core.Tests/Services/PlexServiceTests.cs
  src/Ombi.Core/Engine/UserDeletionEngine.cs
  src/Ombi.Core/Models/PlexUserWatchlistModel.cs
  src/Ombi.Core/Services/IPlexService.cs
  src/Ombi.Core/Services/PlexService.cs
  src/Ombi.DependencyInjection/IocExtensions.cs
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
  src/Ombi.Store/Context/OmbiContext.cs
  src/Ombi.Store/Entities/PlexWatchlistUserError.cs
  src/Ombi.Store/Migrations/OmbiMySql/20220823190345_PlexWatchlistUserError.Designer.cs
  src/Ombi.Store/Migrations/OmbiMySql/20220823190345_PlexWatchlistUserError.cs
  src/Ombi.Store/Migrations/OmbiMySql/OmbiMySqlContextModelSnapshot.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20220823192128_PlexWatchlistUserError.Designer.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20220823192128_PlexWatchlistUserError.cs
  src/Ombi.Test.Common/DbHelper.cs
  src/Ombi/ClientApp/src/app/interfaces/IPlex.ts
  src/Ombi/ClientApp/src/app/services/applications/plex.service.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.html
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.scss
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.stories.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/watchlist/plex-watchlist.component.ts
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.html
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.scss
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.ts
  src/Ombi/ClientApp/src/app/settings/settings.module.ts
  src/Ombi/Controllers/V1/External/PlexController.cs
  src/Ombi/databasea.json
Labels: frontend, backend

fix: fixed stats controller (#4742)
  src/Ombi.Core/Engine/UserStatsEngine.cs
  src/Ombi/Controllers/V1/StatsController.cs
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.25.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

refactor(controller, engine, sync, checker) Additional nullable checks
  src/Ombi.Core/Engine/MusicRequestEngine.cs
  src/Ombi.Core/Engine/TvRequestEngine.cs
  src/Ombi.Core/ImageService.cs
  src/Ombi.Core/Senders/TvSender.cs
  src/Ombi.Mapping/Profiles/TvProfileV2.cs
  src/Ombi.Notifications/NotificationMessageCurlys.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinContentSync.cs
  src/Ombi.Schedule/Jobs/Ombi/HtmlTemplateGenerator.cs
  src/Ombi.Schedule/Jobs/Plex/PlexEpisodeSync.cs
  src/Ombi.Schedule/Jobs/Plex/PlexUserImporter.cs
  src/Ombi/Controllers/V1/External/EmbyController.cs
  src/Ombi/Controllers/V1/External/JellyfinController.cs
  src/Ombi/Controllers/V1/External/TesterController.cs
  src/Ombi/Controllers/V1/IssuesController.cs
Labels: backend

refactor(engine, controller, checkers, tests) Add more null checks, getting rid of NullReferenceException, remove repeat code
  src/Ombi.Core.Tests/Engine/VoteEngineTests.cs
  src/Ombi.Core/Engine/Demo/DemoTvSearchEngine.cs
  src/Ombi.Core/Engine/UserDeletionEngine.cs
  src/Ombi.Core/Engine/UserStatsEngine.cs
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
  src/Ombi.Core/Rule/RuleEvaluator.cs
  src/Ombi.Core/Senders/TvSender.cs
  src/Ombi.Mapping/Profiles/TvProfileV2.cs
  src/Ombi.Notifications/Agents/LegacyMobileNotification.cs
  src/Ombi.Notifications/NotificationMessageCurlys.cs
  src/Ombi.Notifications/NotificationService.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Ombi/RefreshMetadata.cs
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
  src/Ombi/Controllers/V1/External/EmbyController.cs
  src/Ombi/Controllers/V1/External/JellyfinController.cs
  src/Ombi/Controllers/V1/External/PlexController.cs
Labels: backend

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

Make google fonts and MaterialIcons locally available
  src/Ombi/ClientApp/src/fonts/MaterialIcons-Regular.woff2
  src/Ombi/ClientApp/src/fonts/roboto-v30-latin-300.eot
  src/Ombi/ClientApp/src/fonts/roboto-v30-latin-300.svg
  src/Ombi/ClientApp/src/fonts/roboto-v30-latin-300.ttf
  src/Ombi/ClientApp/src/fonts/roboto-v30-latin-300.woff
  src/Ombi/ClientApp/src/fonts/roboto-v30-latin-300.woff2
  src/Ombi/ClientApp/src/fonts/roboto-v30-latin-500.eot
  src/Ombi/ClientApp/src/fonts/roboto-v30-latin-500.svg
  src/Ombi/ClientApp/src/fonts/roboto-v30-latin-500.ttf
  src/Ombi/ClientApp/src/fonts/roboto-v30-latin-500.woff
  src/Ombi/ClientApp/src/fonts/roboto-v30-latin-500.woff2
  src/Ombi/ClientApp/src/fonts/roboto-v30-latin-regular.eot
  src/Ombi/ClientApp/src/fonts/roboto-v30-latin-regular.svg
  src/Ombi/ClientApp/src/fonts/roboto-v30-latin-regular.ttf
  src/Ombi/ClientApp/src/fonts/roboto-v30-latin-regular.woff
  src/Ombi/ClientApp/src/fonts/roboto-v30-latin-regular.woff2
  src/Ombi/ClientApp/src/index.html
  src/Ombi/ClientApp/src/styles/Styles.scss
  src/Ombi/ClientApp/src/styles/fonts.scss
Labels: frontend

fix(webhook): Remove added trailing slash from webhook URL
  src/Ombi.Api.Webhook/WebhookApi.cs
Labels: backend

feat: Add more curly variables for partially available notification
  src/Ombi.Notifications.Tests/NotificationMessageCurlysTests.cs
  src/Ombi.Notifications/NotificationMessageCurlys.cs
  src/Ombi.Schedule/Jobs/ArrAvailabilityChecker.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Plex/PlexAvailabilityChecker.cs
  src/Ombi.Store/Context/OmbiContext.cs
Labels: backend

test: Fix newly added test
  src/Ombi.Notifications.Tests/NotificationMessageCurlysTests.cs
Labels: backend

fix(webhook): Remove added trailing slash from webhook URL #4710
  src/Ombi.Api.Webhook/WebhookApi.cs
Labels: backend

chore(release): :rocket: v4.25.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

feat(notifications): Add more curly variables for partially available notification
  src/Ombi.Notifications.Tests/NotificationMessageCurlysTests.cs
  src/Ombi.Notifications/NotificationMessageCurlys.cs
  src/Ombi.Schedule/Jobs/ArrAvailabilityChecker.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Plex/PlexAvailabilityChecker.cs
  src/Ombi.Store/Context/OmbiContext.cs
Labels: backend

chore(release): :rocket: v4.26.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

refactor: Encapsulate common TV availability checker logic
  src/Ombi.Schedule/Jobs/ArrAvailabilityChecker.cs
  src/Ombi.Schedule/Jobs/AvailabilityChecker.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinAvaliabilityChecker.cs
  src/Ombi.Schedule/Jobs/Plex/PlexAvailabilityChecker.cs
  src/Ombi.Store/Entities/IMediaServerContent.cs
  src/Ombi.Store/Entities/SonarrEpisodeCache.cs
Labels: backend

feat(discover): :sparkles: Admins can now approve the Recently Requested list
  src/Ombi/ClientApp/src/app/components/button/button.component.scss
  src/Ombi/ClientApp/src/app/components/button/button.component.ts
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.html
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.scss
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.stories.ts
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.ts
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.html
  src/Ombi/ClientApp/src/app/discover/components/recently-requested-list/recently-requested-list.component.ts
  src/Ombi/databasea.json
Labels: frontend

feat(discover): :zap: Images for the recently requested area are now loading faster and just better all around
  src/Ombi.Core.Tests/Services/RecentlyRequestedServiceTests.cs
  src/Ombi.Core/Models/Requests/RecentlyRequestedModel.cs
  src/Ombi.Core/Services/RecentlyRequestedService.cs
  src/Ombi.TheMovieDbApi/IMovieDbApi.cs
  src/Ombi.TheMovieDbApi/Models/TvImages.cs
  src/Ombi.TheMovieDbApi/TheMovieDbApi.cs
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.ts
  src/Ombi/ClientApp/src/app/interfaces/IRecentlyRequested.ts
Labels: frontend, backend

test: :white_check_mark: Added automation for the new feature
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.html
  tests/cypress.json
  tests/cypress/integration/page-objects/discover/discover.page.ts
  tests/cypress/tests/discover/discover-recently-requested.spec.ts
Labels: automation, frontend

fix: css
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.scss
Labels: frontend

fixes
  src/Ombi/ClientApp/src/app/components/button/button.component.scss
  src/Ombi/ClientApp/src/app/components/button/button.component.ts
  src/Ombi/ClientApp/src/app/components/detailed-card/detailed-card.component.ts
Labels: frontend
