Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.54.4 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.54.5 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fixed tests
  tests/cypress/tests/api/v1/tv-search.api.spec.ts
Labels: automation

feat: Add Ntfy
  src/Ombi.Api.External/NotificationServices/Ntfy/INtfyApi.cs
  src/Ombi.Api.External/NotificationServices/Ntfy/NtfyApi.cs
  src/Ombi.Core/Models/UI/NtfyNotificationViewModel.cs
  src/Ombi.DependencyInjection/IocExtensions.cs
  src/Ombi.Helpers/LoggingEvents.cs
  src/Ombi.Helpers/NotificationAgent.cs
  src/Ombi.Mapping/Profiles/SettingsProfile.cs
  src/Ombi.Notifications.Tests/NotificationServiceTests.cs
  src/Ombi.Notifications.Tests/NtfyApiTests.cs
  src/Ombi.Notifications.Tests/NtfyNotificationTests.cs
  src/Ombi.Notifications.Tests/Ombi.Notifications.Tests.csproj
  src/Ombi.Notifications/Agents/Interfaces/INtfyNotification.cs
  src/Ombi.Notifications/Agents/NtfyNotification.cs
  src/Ombi.Settings/Settings/Models/Notifications/NtfySettings.cs
  src/Ombi/ClientApp/src/app/app.routes.ts
  src/Ombi/ClientApp/src/app/interfaces/INotificationSettings.ts
  src/Ombi/ClientApp/src/app/services/applications/tester.service.ts
  src/Ombi/ClientApp/src/app/services/settings.service.ts
  src/Ombi/ClientApp/src/app/settings/notifications/ntfy.component.html
  src/Ombi/ClientApp/src/app/settings/notifications/ntfy.component.ts
  src/Ombi/ClientApp/src/app/settings/settingsmenu.component.html
  src/Ombi/Controllers/V1/External/TesterController.cs
  src/Ombi/Controllers/V1/SettingsController.cs
Labels: frontend, backend

chore(release): :rocket: v4.55.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(plex): content sync duplicate key errors
  src/Ombi.Schedule.Tests/PlexContentSyncTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
  src/Ombi.Store/Repository/BaseRepository.cs
Labels: backend

chore(release): :rocket: v4.55.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.55.2 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

perf: Improvements to api calls
  .gitignore
  src/Ombi.Api.External/ExternalApis/TheMovieDb/TheMovieDbApi.cs
  src/Ombi.Api/Api.cs
  src/Ombi.Api/Ombi.Api.csproj
  src/Ombi.Api/Request.cs
  src/Ombi.DependencyInjection/IocExtensions.cs
  src/Ombi.DependencyInjection/Ombi.DependencyInjection.csproj
  src/Ombi/ClientApp/src/app/media-details/components/artist/panels/artist-release-panel/artist-release-panel.component.scss
  src/Ombi/Program.cs
Labels: frontend, backend

chore(release): :rocket: v4.55.3 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

esbuild and eslint
  src/Ombi/ClientApp/.yarnrc
  src/Ombi/ClientApp/angular.json
  src/Ombi/ClientApp/eslint.config.js
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/src/app/components/button/button.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/shared/request-behalf/request-behalf.component.ts
  src/Ombi/ClientApp/src/app/requests/movierequests.component.ts
  src/Ombi/ClientApp/src/app/requests/music/musicrequests.component.ts
  src/Ombi/ClientApp/src/app/requests/remainingrequests.component.ts
  src/Ombi/ClientApp/src/app/requests/request.component.ts
  src/Ombi/ClientApp/src/app/requests/tvrequest-children.component.ts
  src/Ombi/ClientApp/src/app/requests/tvrequests.component.ts
  src/Ombi/ClientApp/src/app/settings/dognzb/dognzb.component.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/form-field/plex-form-field.component.ts
  src/Ombi/ClientApp/src/app/settings/plex/components/plex-form/plex-form.component.ts
  src/Ombi/ClientApp/src/hmr.ts
  src/Ombi/ClientApp/src/main.ts
  src/Ombi/ClientApp/src/polyfills.ts
  src/Ombi/ClientApp/src/tsconfig.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

build: use esbuild fixes
  src/Ombi/ClientApp/src/app/auth/cookie.component.ts
  src/Ombi/ClientApp/src/app/discover/components/search-results/search-results.component.ts
  src/Ombi/ClientApp/src/app/issues/components/details/details.component.ts
  src/Ombi/ClientApp/src/app/landingpage/landingpage.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/movie/movie-details.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-information-panel/tv-information-panel.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.ts
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.ts
  src/Ombi/ClientApp/src/app/pipes/OrderPipe.ts
  src/Ombi/ClientApp/src/app/requests-list/components/albums-grid/albums-grid.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/requests-list.component.ts
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.ts
  src/Ombi/ClientApp/src/app/settings/jobs/jobs.component.ts
  src/Ombi/ClientApp/src/app/settings/lidarr/lidarr.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/telegram.component.ts
  src/Ombi/ClientApp/src/app/settings/notifications/webhook.component.ts
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.ts
  src/Ombi/ClientApp/src/main.ts
  src/Ombi/ClientApp/src/styles/Styles.scss
  src/Ombi/ClientApp/src/styles/shared.scss
Labels: frontend

fix(build): silence remaining esbuild/sass warnings and remove unused imports
  src/Ombi/ClientApp/angular.json
  src/Ombi/ClientApp/src/app/media-details/components/artist/panels/artist-release-panel/artist-release-panel.component.scss
  src/Ombi/ClientApp/src/app/settings/dognzb/dognzb.component.ts
Labels: frontend

fix(emby/jellyfin): fix #5338
  src/Ombi.Api.External/MediaServers/Emby/EmbyApi.cs
  src/Ombi.Api.External/MediaServers/Emby/Models/EmbyAuthenticationResult.cs
  src/Ombi.Api.External/MediaServers/Jellyfin/JellyfinApi.cs
  src/Ombi.Api.External/MediaServers/Jellyfin/Models/JellyfinAuthenticationResult.cs
  src/Ombi.Core.Tests/Authentication/OmbiUserManagerTests.cs
Labels: backend

chore(release): :rocket: v4.55.4 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(tmdb): Fix rendering of the movie db page
  src/Ombi.Settings.Tests/Ombi.Settings.Tests.csproj
  src/Ombi.Settings.Tests/SettingsServiceTests.cs
  src/Ombi.Settings/Settings/SettingsService.cs
  src/Ombi/ClientApp/src/app/settings/themoviedb/themoviedb.component.ts
Labels: frontend, backend

chore(release): :rocket: v4.55.5 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore: upgrade frontend to Angular 21
  src/Ombi/ClientApp/angular.json
  src/Ombi/ClientApp/package.json
Labels: frontend

chore: update lock file for Angular 21 dependency changes
  src/Ombi/ClientApp/package-lock.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: base url issue #5343
  src/Ombi/Program.cs
  src/Ombi/Startup.cs
Labels: backend

chore(release): :rocket: v4.55.6 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

test: increase server startup timeout from 20s to 60s
  .github/workflows/automation-tests.yml
Labels: devops

Add request deleted and issue status webhook notifications
  src/Ombi.Core.Tests/Engine/MovieRequestEngineTests.cs
  src/Ombi.Core.Tests/Engine/RequestDeletionNotificationTests.cs
  src/Ombi.Core/Engine/MovieRequestEngine.cs
  src/Ombi.Core/Engine/MusicRequestEngine.cs
  src/Ombi.Core/Engine/TvRequestEngine.cs
  src/Ombi.Helpers/NotificationType.cs
  src/Ombi.Notifications/Agents/WebhookNotification.cs
  src/Ombi.Notifications/BaseNotification.cs
  src/Ombi.Store/Context/OmbiContext.cs
  src/Ombi.Tests/IssuesControllerTests.cs
  src/Ombi/ClientApp/src/app/interfaces/INotificationSettings.ts
  src/Ombi/Controllers/V1/IssuesController.cs
Labels: frontend, backend

Deduplicate newsletter movies by external media id
  src/Ombi.Schedule.Tests/NewsletterTests.cs
  src/Ombi.Schedule.Tests/Ombi.Schedule.Tests.csproj
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
Labels: backend

Cover newsletter dedupe fallback keys
  src/Ombi.Schedule.Tests/NewsletterTests.cs
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
Labels: backend

Make newsletter movie dedupe deterministic
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
Labels: backend

Fix IMDb fallback newsletter test coverage
  src/Ombi.Schedule.Tests/NewsletterTests.cs
Labels: backend

fix base url issue
  src/Ombi/Ombi.csproj
Labels: none

chore(release): :rocket: v4.55.7 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/de.json
Labels: none

fix workflows in forks [skip ci]
  .github/workflows/label.yml
  .github/workflows/pr-report.yml
  .github/workflows/pr.yml
Labels: devops

chore(release): :rocket: v4.55.8 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Add cd src prerequisite to executing dotnet restore
  CONTRIBUTING.md
Labels: none

Incorporate feedback - remove cd, specify src
  CONTRIBUTING.md
Labels: none

add src to dotnet test command
  CONTRIBUTING.md
Labels: none

feat: add Docker image publishing to CI pipeline
  .github/workflows/build.yml
  src/dockerfile
Labels: devops

feat: add Docker image publishing to CI pipeline
  .github/workflows/build.yml
  src/dockerfile
Labels: devops

fix: update actions/checkout to v4 in docker job
  .github/workflows/build.yml
Labels: devops

fix: update actions/checkout to v4 in docker job
  .github/workflows/build.yml
Labels: devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
