Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

fix: Fixed the issue where the login page is still present after logging in with oauth
  src/Ombi/ClientApp/src/app/login/login.component.ts
Labels: frontend

chore(release): :rocket: v4.35.6 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(wizard): :bug: Stop access to the wizard when you have already setup ombi
  src/Ombi/.vscode/settings.json
  src/Ombi/ClientApp/src/app/login/login.component.ts
  src/Ombi/ClientApp/src/app/services/status.service.ts
  src/Ombi/ClientApp/src/app/wizard/welcome/welcome.component.ts
Labels: frontend

fix(wizard): :bug: Stop access to the wizard when you have already setup ombi (#4866)
  src/Ombi/.vscode/settings.json
  src/Ombi/ClientApp/src/app/login/login.component.ts
  src/Ombi/ClientApp/src/app/services/status.service.ts
  src/Ombi/ClientApp/src/app/wizard/welcome/welcome.component.ts
Labels: frontend

chore(release): :rocket: v4.35.7 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(plex-oauth): 🐛 Fixed an issue where using OAuth you could log in as a Ombi Local user #4835
  src/Ombi/Controllers/V1/TokenController.cs
Labels: backend

chore(release): :rocket: v4.35.8 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

fixed bad merge
  src/Ombi/ClientApp/src/app/components/image/image.component.ts
  src/Ombi/ClientApp/src/app/discover/discover.module.ts
  src/Ombi/ClientApp/src/app/login/login.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/tv-details.component.ts
Labels: frontend

chore(release): :rocket: v4.35.9 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Update .gitignore
  .gitignore
Labels: none

Fixed automation
  .github/workflows/cypress.yml
Labels: devops

chore(release): :rocket: v4.35.10 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

First step towards played sync
  src/Ombi.Api.Emby/EmbyApi.cs
  src/Ombi.Api.Emby/IBaseEmbyApi.cs
  src/Ombi.DependencyInjection/IocExtensions.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyLibrarySync.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyPlayedSync.cs
  src/Ombi.Schedule/Jobs/Emby/IEmbyPlayedSync.cs
  src/Ombi.Schedule/OmbiScheduler.cs
  src/Ombi.Store/Context/ExternalContext.cs
  src/Ombi.Store/Entities/MovieUserPlayed.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20230309182556_MovieUserPlayed.Designer.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20230309182556_MovieUserPlayed.cs
  src/Ombi.Store/Repository/IUserPlayedMovieRepository.cs
  src/Ombi.Store/Repository/UserPlayedMovieRepository.cs
  src/Ombi/ClientApp/src/app/services/job.service.ts
  src/Ombi/ClientApp/src/app/settings/emby/emby.component.html
  src/Ombi/ClientApp/src/app/settings/emby/emby.component.ts
  src/Ombi/Controllers/V1/JobController.cs
Labels: frontend, backend

Change TMDB id format to integer
  src/Ombi.Schedule/Jobs/Emby/EmbyPlayedSync.cs
  src/Ombi.Store/Entities/MovieUserPlayed.cs
  src/Ombi.Store/Entities/UserPlayedMovie.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20230310130339_MovieUserPlayed.Designer.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20230310130339_MovieUserPlayed.cs
  src/Ombi.Store/Migrations/ExternalSqlite/ExternalSqliteContextModelSnapshot.cs
  src/Ombi.Store/Repository/IUserPlayedMovieRepository.cs
  src/Ombi.Store/Repository/UserPlayedMovieRepository.cs
Labels: backend

Display played state in the requests list
  src/Ombi.Core/Engine/MovieRequestEngine.cs
  src/Ombi.Store/Entities/Requests/MovieRequests.cs
  src/Ombi/ClientApp/src/app/interfaces/IRequestModel.ts
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.ts
  src/Ombi/wwwroot/translations/en.json
Labels: frontend, backend

Fix played status filter
  src/Ombi.Api.Emby/EmbyApi.cs
Labels: backend

Run played sync job after content sync instead of on its own
  src/Ombi.Schedule/OmbiScheduler.cs
  src/Ombi/ClientApp/src/app/settings/emby/emby.component.html
  src/Ombi/ClientApp/src/app/settings/emby/emby.component.ts
  src/Ombi/Controllers/V1/JobController.cs
Labels: frontend, backend

Add a toggle to activate played sync
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Ombi/MediaDatabaseRefresh.cs
  src/Ombi.Settings/Settings/Models/FeatureSettings.cs
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.ts
  src/Ombi/ClientApp/src/app/state/features/features.facade.ts
  src/Ombi/ClientApp/src/app/state/features/features.selectors.ts
Labels: frontend, backend

Hoovering
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi/ClientApp/src/app/services/job.service.ts
  src/Ombi/Controllers/V1/JobController.cs
Labels: frontend, backend

FIx played sync job not being triggered
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/OmbiScheduler.cs
Labels: backend

Expose played state according to hide requests setting
  src/Ombi.Core/Engine/MovieRequestEngine.cs
Labels: backend

Fix tests
  src/Ombi.Core.Tests/Engine/MovieRequestEngineTests.cs
  src/Ombi.Core.Tests/Engine/V2/MovieRequestEngineTests.cs
Labels: backend

Fix tests for real
  src/Ombi.Core.Tests/Engine/MovieRequestEngineTests.cs
Labels: backend

fix: Hide denied reason label if there is no value
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-information-panel.component.html
Labels: frontend

fix: Movie would show as pending approval when denied
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-information-panel.component.html
Labels: frontend

fix(sonarr): :bug: Improved the error handling in the sonarr settings page in the UI
  src/Ombi/ClientApp/src/app/settings/sonarr/sonarr.component.ts
  src/Ombi/ClientApp/src/app/state/sonarr/sonarr.state.ts
Labels: frontend

chore: update deps
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

chore: more deps
  src/Ombi/ClientApp/.yarnrc.yml
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

bump
  version.json
Labels: none

chore(release): :rocket: v4.35.12 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(sonarr): :bug: Added some more error handling and information around testing sonarr
  src/Ombi.Api.Sonarr/Models/SystemStatus.cs
  src/Ombi.Core/Models/TesterResultModel.cs
  src/Ombi/ClientApp/src/app/interfaces/ITester.ts
  src/Ombi/ClientApp/src/app/settings/sonarr/sonarr.component.ts
  src/Ombi/Controllers/V1/External/TesterController.cs
Labels: frontend, backend

chore(release): :rocket: v4.35.13 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix: Some minor tweaks to the movie info panel (#4883)
  src/Ombi/ClientApp/src/app/media-details/components/movie/panels/movie-information-panel.component.html
Labels: frontend

chore(release): :rocket: v4.35.14 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(sonarr): :bug: Stop the sonarr version endpoint from breaking when Sonarr is down #4895
  src/Ombi/Controllers/V1/External/SonarrController.cs
Labels: backend

chore(release): :rocket: v4.35.15 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Add MySql migrations
  src/Ombi.Store/Migrations/ExternalMySql/20230406152218_MovieUserPlayed.Designer.cs
  src/Ombi.Store/Migrations/ExternalMySql/20230406152218_MovieUserPlayed.cs
Labels: backend

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi.I18n/Resources/Texts.hu.resx
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/hu.json
Labels: none

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
