Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

Do not allow already available movies to be imported via the watchlist
  src/Ombi.Core.Tests/Rule/Request/ExistingPlexRequestRuleTests.cs
  src/Ombi.Core/Rule/Rules/Request/ExistingPlexRequestRule.cs
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

chore(release): :rocket: v4.16.7
  CHANGELOG.md
  version.json
Labels: none

fix(availability): Fixed an issue where we wouldn't mark a available 4k movie as available (when 4K request feature is disabled)
  src/Ombi.Schedule/Jobs/Plex/PlexAvailabilityChecker.cs
Labels: backend

fixed tests
  src/Ombi.Schedule.Tests/PlexAvailabilityCheckerTests.cs
Labels: backend

chore(release): :rocket: v4.16.8
  CHANGELOG.md
  version.json
Labels: none

fix(plex-watchlist): Only request the latest season when importing from the watchlist
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
Labels: backend

chore(release): :rocket: v4.16.9
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.16.10
  CHANGELOG.md
  version.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh-TW.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/zh.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sv.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/sk.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ru.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/no.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/it.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/nl.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/hu.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/de.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/da.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/cs.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/bg.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt-BR.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/it.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/pt-BR.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/fr.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

fix: Set the default job for the watchlist import to hourly instead of daily
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Settings/Settings/Models/JobSettingsHelper.cs
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

Fixed code
  src/Ombi.Settings/Settings/Models/JobSettingsHelper.cs
Labels: backend

chore(release): :rocket: v4.16.11
  CHANGELOG.md
  version.json
Labels: none

Remove dead code
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.ts
Labels: frontend

Localize TV requests messages on TV details page
  src/Ombi.Core/Senders/MusicSender.cs
  src/Ombi.Core/Senders/TvSender.cs
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-request-grid/tv-request-grid.component.ts
  src/Ombi/ClientApp/src/app/media-details/components/tv/panels/tv-requests/tv-requests-panel.component.ts
  src/Ombi/ClientApp/src/app/services/message.service.ts
  src/Ombi/wwwroot/translations/en.json
Labels: frontend, backend

Transform buttons with link into anchors
  src/Ombi/ClientApp/src/app/issues/issuestable.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/albums-grid/albums-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/movies-grid/movies-grid.component.html
  src/Ombi/ClientApp/src/app/requests-list/components/tv-grid/tv-grid.component.html
  src/Ombi/ClientApp/src/app/usermanagement/usermanagement.component.html
  src/Ombi/ClientApp/src/styles/Styles.scss
Labels: frontend

Sonarr sync: stop using seasonpass API
  src/Ombi.Core/Senders/TvSender.cs
Labels: backend

bug(wizard): fixed an issue where you couldn't create a local user and Plex user as part of the wizard
  src/Ombi/Controllers/V1/IdentityController.cs
Labels: backend

chore(release): :rocket: v4.16.12
  CHANGELOG.md
  version.json
Labels: none
