Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

Remove unused dependancy [skip ci]
  src/Ombi.Test.Common/Ombi.Test.Common.csproj
Labels: none

chore: updates
  src/Ombi.Core.Tests/Ombi.Core.Tests.csproj
  src/Ombi.Helpers.Tests/Ombi.Helpers.Tests.csproj
  src/Ombi.Helpers/Ombi.Helpers.csproj
  src/Ombi.Notifications.Tests/Ombi.Notifications.Tests.csproj
  src/Ombi.Schedule.Tests/Ombi.Schedule.Tests.csproj
  src/Ombi.Schedule/Ombi.Schedule.csproj
  src/Ombi.Settings.Tests/Ombi.Settings.Tests.csproj
  src/Ombi.Settings/Ombi.Settings.csproj
  src/Ombi.Tests/Ombi.Tests.csproj
Labels: none

chore: updates (#4971) [skip ci]
  src/Ombi.Core.Tests/Ombi.Core.Tests.csproj
  src/Ombi.Helpers.Tests/Ombi.Helpers.Tests.csproj
  src/Ombi.Helpers/Ombi.Helpers.csproj
  src/Ombi.Notifications.Tests/Ombi.Notifications.Tests.csproj
  src/Ombi.Schedule.Tests/Ombi.Schedule.Tests.csproj
  src/Ombi.Schedule/Ombi.Schedule.csproj
  src/Ombi.Settings.Tests/Ombi.Settings.Tests.csproj
  src/Ombi.Settings/Ombi.Settings.csproj
  src/Ombi.Tests/Ombi.Tests.csproj
Labels: none

docs: Update README.md
  README.md
Labels: none

docs: Update README.md (#4972)
  README.md
Labels: none

Update tslint.json
  src/Ombi/ClientApp/tslint.json
Labels: frontend

Update package.json
  src/Ombi/ClientApp/package.json
Labels: frontend

fix: Remove Angular TSLint (#4973)
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/tslint.json
Labels: frontend

fix: upgrade jquery from 3.6.1 to 3.7.0
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade zone.js from 0.11.8 to 0.13.0
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade zone.js from 0.11.8 to 0.13.0 (#4975)
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: upgrade jquery from 3.6.1 to 3.7.0 (#4974)
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix(tv-requests): 🐛 Fixed a small bug where an exception can get thrown when attempting to view TV Requests
  src/Ombi.Core/Engine/TvRequestEngine.cs
Labels: backend

fix(user-importer): 🐛 Fixed an issue where the cleanup wouldn't delete users #4812
  src/Ombi.Core/Engine/UserDeletionEngine.cs
  src/Ombi.Schedule/Jobs/Plex/PlexUserImporter.cs
Labels: backend

Fixed tests
  src/Ombi.Schedule.Tests/PlexUserImporterTests.cs
Labels: backend

fix: upgrade multiple dependencies with Snyk (#4961)
  src/Ombi/ClientApp/package.json
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

Small fixes (#4978)
  src/Ombi.Core/Engine/TvRequestEngine.cs
  src/Ombi.Core/Engine/UserDeletionEngine.cs
  src/Ombi.Schedule.Tests/PlexUserImporterTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexUserImporter.cs
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.42.2 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Update config.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

stuff
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

Update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

Bug improvements [skip ci] (#4979)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

fix(user-importer): Do not delete the Plex Admin as part of the user Importer cleanup #4870
  src/Ombi.Schedule/Jobs/Plex/PlexUserImporter.cs
Labels: backend

fix(user-importer): Do not delete the Plex Admin as part of the user Importer cleanup #4870 (#4981)
  src/Ombi.Schedule/Jobs/Plex/PlexUserImporter.cs
Labels: backend

chore(release): :rocket: v4.42.3 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

feat: Add Auto Approve 4K role Legacy "Auto Approve" role now only applies to non-4K requests Fixes #4957
  src/Ombi.Core.Tests/Rule/Request/AutoApproveRuleTests.cs
  src/Ombi.Core.Tests/Rule/Request/CanRequestRuleTests.cs
  src/Ombi.Core/Rule/Rules/Request/AutoApproveRule.cs
  src/Ombi.Core/Rule/Rules/Request/CanRequestRule.cs
  src/Ombi.Helpers/OmbiRoles.cs
  src/Ombi.Store/Migrations/OmbiMySql/20230714081242_Approve4KMovie.Designer.cs
  src/Ombi.Store/Migrations/OmbiMySql/20230714081242_Approve4KMovie.cs
  src/Ombi.Store/Migrations/OmbiMySql/OmbiMySqlContextModelSnapshot.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20230714081017_Approve4KMovie.Designer.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20230714081017_Approve4KMovie.cs
  src/Ombi/ClientApp/src/app/usermanagement/usermanagement-user.component.ts
  src/Ombi/Controllers/V1/IdentityController.cs
Labels: frontend, backend

feat: Add Auto Approve 4K role (#4982)
  src/Ombi.Core.Tests/Rule/Request/AutoApproveRuleTests.cs
  src/Ombi.Core.Tests/Rule/Request/CanRequestRuleTests.cs
  src/Ombi.Core/Rule/Rules/Request/AutoApproveRule.cs
  src/Ombi.Core/Rule/Rules/Request/CanRequestRule.cs
  src/Ombi.Helpers/OmbiRoles.cs
  src/Ombi.Store/Migrations/OmbiMySql/20230714081242_Approve4KMovie.Designer.cs
  src/Ombi.Store/Migrations/OmbiMySql/20230714081242_Approve4KMovie.cs
  src/Ombi.Store/Migrations/OmbiMySql/OmbiMySqlContextModelSnapshot.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20230714081017_Approve4KMovie.Designer.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20230714081017_Approve4KMovie.cs
  src/Ombi/ClientApp/src/app/usermanagement/usermanagement-user.component.ts
  src/Ombi/Controllers/V1/IdentityController.cs
Labels: frontend, backend

feat: Add Auto Approve 4K role (#4982) (#4983)
  src/Ombi.Core.Tests/Rule/Request/AutoApproveRuleTests.cs
  src/Ombi.Core.Tests/Rule/Request/CanRequestRuleTests.cs
  src/Ombi.Core/Rule/Rules/Request/AutoApproveRule.cs
  src/Ombi.Core/Rule/Rules/Request/CanRequestRule.cs
  src/Ombi.Helpers/OmbiRoles.cs
  src/Ombi.Store/Migrations/OmbiMySql/20230714081242_Approve4KMovie.Designer.cs
  src/Ombi.Store/Migrations/OmbiMySql/20230714081242_Approve4KMovie.cs
  src/Ombi.Store/Migrations/OmbiMySql/OmbiMySqlContextModelSnapshot.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20230714081017_Approve4KMovie.Designer.cs
  src/Ombi.Store/Migrations/OmbiSqlite/20230714081017_Approve4KMovie.cs
  src/Ombi/ClientApp/src/app/usermanagement/usermanagement-user.component.ts
  src/Ombi/Controllers/V1/IdentityController.cs
Labels: frontend, backend

chore(release): :rocket: v4.43.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(user-importer): don't delete admins in the cleanup
  src/Ombi.Schedule.Tests/PlexUserImporterTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexUserImporter.cs
Labels: backend

chore(release): :rocket: v4.43.1 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(plex-api): Switch over to the new API to avoid deprecation & save the plex settings when modifying the servers
  src/Ombi.Api.Plex/IPlexApi.cs
  src/Ombi.Api.Plex/Models/Friends/PlexFriends.cs
  src/Ombi.Api.Plex/PlexApi.cs
  src/Ombi.Schedule.Tests/PlexUserImporterTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexUserImporter.cs
  src/Ombi/.vscode/settings.json
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.ts
  src/Ombi/Ombi.sln
Labels: frontend, backend

Delete Ombi.sln
  src/Ombi/Ombi.sln
Labels: none

feat: Remove old trending source
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
  src/Ombi.Core/Engine/V2/TvSearchEngineV2.cs
  src/Ombi.Settings/Settings/Models/FeatureSettings.cs
Labels: backend

fix: Remove old trending source (#4987)
  src/Ombi.Core/Engine/V2/MovieSearchEngineV2.cs
  src/Ombi.Core/Engine/V2/TvSearchEngineV2.cs
  src/Ombi.Settings/Settings/Models/FeatureSettings.cs
Labels: backend

fix(plex-api): Switch over to the new API to avoid deprecation & save… (#4986)
  src/Ombi.Api.Plex/IPlexApi.cs
  src/Ombi.Api.Plex/Models/Friends/PlexFriends.cs
  src/Ombi.Api.Plex/PlexApi.cs
  src/Ombi.Schedule.Tests/PlexUserImporterTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexUserImporter.cs
  src/Ombi/.vscode/settings.json
  src/Ombi/ClientApp/src/app/settings/plex/plex.component.ts
Labels: frontend, backend

chore(release): :rocket: v4.43.2 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix: switch back to the old plex friends API #4989
  src/Ombi.Api.Plex/PlexApi.cs
Labels: backend

chore(release): :rocket: v4.43.3 [skip ci]
  CHANGELOG.md
  version.json
Labels: none
