Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

fix(emby/jellyfin): :bug: A more reliable Emby and Jellyfin sync [skip ci]
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Emby/EmbyEpisodeSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinContentSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinEpisodeSync.cs
Labels: backend

fix(email-notifications): :bug: Fixed the issue where legacy requests were showing broken poster images #4452
  src/Ombi.Notifications/NotificationMessageCurlys.cs
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.9.1
  CHANGELOG.md
  version.json
Labels: none

fix(sonarr): :bug: Fixed an issue where we could attempt to add a series to sonarr before sonarr has got all the metadata #4459
  src/Ombi.Core/Senders/TvSender.cs
Labels: backend

fix(wizard): :bug: Fixed the issue where the Application Url wasn't validated in the wizard
  src/Ombi.Core/Senders/TvSender.cs
  src/Ombi/ClientApp/src/app/wizard/welcome/welcome.component.ts
  src/Ombi/Controllers/V1/SettingsController.cs
Labels: frontend, backend

chore(wizard): :recycle: Set the state when saving the wizard
  src/Ombi/ClientApp/src/app/wizard/welcome/welcome.component.ts
Labels: frontend

Better wording + fix mobile notifications
  src/Ombi.Notifications/Agents/EmailNotification.cs
  src/Ombi.Notifications/Agents/LegacyMobileNotification.cs
  src/Ombi.Notifications/Agents/MobileNotification.cs
  src/Ombi.Notifications/BaseNotification.cs
Labels: backend

Fix typo
  src/Ombi/ClientApp/src/app/settings/jobs/jobs.component.html
Labels: frontend

Minor code clean up
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
Labels: backend

Fix broken test
  tests/cypress/tests/search/search.spec.ts
Labels: automation

chore: Fix broken automation test (#4471)
  tests/cypress/tests/search/search.spec.ts
Labels: automation

fix: :bug: Add UI for Emby recently added cronjob settings (#4469)
  src/Ombi/ClientApp/src/app/settings/jobs/jobs.component.html
  src/Ombi/ClientApp/src/app/settings/jobs/jobs.component.ts
Labels: frontend

chore(release): :rocket: v4.9.2
  CHANGELOG.md
  version.json
Labels: none

feat(notifications): :sparkles: Send new request email notifications to power users (#4462)
  src/Ombi.Notifications/Agents/DiscordNotification.cs
  src/Ombi.Notifications/Agents/EmailNotification.cs
  src/Ombi.Notifications/Agents/GotifyNotification.cs
  src/Ombi.Notifications/Agents/LegacyMobileNotification.cs
  src/Ombi.Notifications/Agents/MattermostNotification.cs
  src/Ombi.Notifications/Agents/MobileNotification.cs
  src/Ombi.Notifications/Agents/PushbulletNotification.cs
  src/Ombi.Notifications/Agents/PushoverNotification.cs
  src/Ombi.Notifications/Agents/SlackNotification.cs
  src/Ombi.Notifications/Agents/TelegramNotification.cs
  src/Ombi.Notifications/Agents/WebhookNotification.cs
  src/Ombi.Notifications/Agents/WhatsAppNotification.cs
  src/Ombi.Notifications/BaseNotification.cs
  src/Ombi/ClientApp/src/app/settings/notifications/emailnotification.component.html
Labels: frontend, backend

chore(release): :rocket: v4.10.0
  CHANGELOG.md
  version.json
Labels: none

Attempt at abstracting repositories (WIP)
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinContentSync.cs
  src/Ombi.Schedule/Jobs/Ombi/HtmlTemplateGenerator.cs
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
  src/Ombi.Store/Entities/IEntity.cs
  src/Ombi.Store/Entities/IMediaServerContent.cs
  src/Ombi.Store/Entities/MediaServerContent.cs
  src/Ombi.Store/Repository/EmbyContentRepository.cs
  src/Ombi.Store/Repository/IEmbyContentRepository.cs
  src/Ombi.Store/Repository/IExternalRepository.cs
  src/Ombi.Store/Repository/IJellyfinContentRepository.cs
  src/Ombi.Store/Repository/IMediaServerContentRepository.cs
  src/Ombi.Store/Repository/IMediaServerContentRepositoryLight.cs
  src/Ombi.Store/Repository/IPlexContentRepository.cs
  src/Ombi.Store/Repository/IRepository.cs
  src/Ombi.Store/Repository/JellyfinContentRepository.cs
  src/Ombi.Store/Repository/MediaServerRepository.cs
  src/Ombi.Store/Repository/PlexContentRepository.cs
Labels: backend

Fixed cast issue
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
Labels: backend

Corrected the other properties
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
Labels: backend

A step towards newsletter refactoring
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
  src/Ombi.Store/Entities/IMediaServerContent.cs
  src/Ombi.Store/Entities/MediaServerContent.cs
Labels: backend

Clean up leftovers
  src/Ombi.Schedule/Jobs/Emby/EmbyContentSync.cs
  src/Ombi.Schedule/Jobs/Jellyfin/JellyfinContentSync.cs
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
  src/Ombi.Store/Entities/EmbyContent.cs
  src/Ombi.Store/Entities/IMediaServerContent.cs
  src/Ombi.Store/Entities/JellyfinContent.cs
  src/Ombi.Store/Entities/MediaServerContent.cs
  src/Ombi.Store/Entities/PlexServerContent.cs
  src/Ombi.Store/Repository/IMediaServerContentRepository.cs
  src/Ombi.Store/Repository/IMediaServerContentRepositoryLight.cs
  src/Ombi.Store/Repository/IPlexContentRepository.cs
  src/Ombi.Store/Repository/MediaServerRepository.cs
  src/Ombi.Store/Repository/PlexContentRepository.cs
Labels: backend

Fix broken episodes db interaction
  src/Ombi.Store/Repository/EmbyContentRepository.cs
  src/Ombi.Store/Repository/JellyfinContentRepository.cs
  src/Ombi.Store/Repository/PlexContentRepository.cs
Labels: backend

Save absolute URL for Plex content
  src/Ombi.Helpers/PlexHelper.cs
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
Labels: backend

Fix broken integration with Plex libraries
  src/Ombi.Schedule/Jobs/Plex/PlexContentSync.cs
  src/Ombi.Schedule/Jobs/Plex/PlexEpisodeSync.cs
  src/Ombi.Schedule/Jobs/Plex/PlexMediaType.cs
Labels: backend

Fix error when multiple media servers configured
  src/Ombi.Store/Entities/EmbyEpisode.cs
  src/Ombi.Store/Entities/IMediaServerContent.cs
  src/Ombi.Store/Entities/JellyfinEpisode.cs
  src/Ombi.Store/Entities/MediaServerContent.cs
  src/Ombi.Store/Entities/PlexEpisode.cs
Labels: backend

Fix newsletter being sent if no movies or episodes
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
Labels: backend

Fix broken tests
  src/Ombi.Core.Tests/Rule/Request/ExistingPlexRequestRuleTests.cs
  src/Ombi.Core.Tests/Rule/Search/EmbyAvailabilityRuleTests.cs
  src/Ombi.Core.Tests/Rule/Search/JellyfinAvailabilityRuleTests.cs
Labels: backend

Add backend tests to makefile
  makefile
Labels: none

Remove unneccesary logs
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
Labels: backend

Allow for newsletter localization
  src/Ombi.Core/Ombi.Core.csproj
  src/Ombi.I18n/Ombi.I18n.csproj
  src/Ombi.I18n/Resources/Texts.Designer.cs
  src/Ombi.I18n/Resources/Texts.fr.resx
  src/Ombi.I18n/Resources/Texts.resx
  src/Ombi.Notifications.Templates/NewsletterTemplate.cs
  src/Ombi.Notifications.Templates/Ombi.Notifications.Templates.csproj
  src/Ombi.Notifications.Templates/Templates/NewsletterTemplate.html
  src/Ombi.Schedule/Jobs/Ombi/NewsletterJob.cs
  src/Ombi.Settings/Ombi.Settings.csproj
  src/Ombi.Settings/Settings/Models/OmbiSettings.cs
Labels: backend

Generate file in English
  src/Ombi.I18n/Ombi.I18n.csproj
  src/Ombi.I18n/Resources/Texts.Designer.cs
Labels: backend

Expose stored media server URL
  src/Ombi.Core/Rule/Rules/Search/EmbyAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/JellyfinAvailabilityRule.cs
  src/Ombi.Core/Rule/Rules/Search/PlexAvailabilityRule.cs
Labels: backend

Remove unused variable
  src/Ombi.Store/Entities/PlexServerContent.cs
Labels: backend

chore: Add backend tests to makefile (#4473) [skip ci]
  makefile
Labels: none

chore: update changelog history
  .github/workflows/build.yml
Labels: devops

chore(release): :rocket: v4.10.1
  CHANGELOG.md
  version.json
Labels: none

chore(release): :rocket: v4.10.2
  CHANGELOG.md
  version.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/es.json
Labels: none

feat(frontend): add link on logo text
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.html
  src/Ombi/ClientApp/src/app/my-nav/my-nav.component.scss
Labels: frontend

Remove obsolete tests
  src/Ombi.Core.Tests/Rule/Search/EmbyAvailabilityRuleTests.cs
  src/Ombi.Core.Tests/Rule/Search/JellyfinAvailabilityRuleTests.cs
Labels: backend

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*
