Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

budgets
  src/app/project.json
Labels: none

bug(watchlist): Updated the watchlist to take into account the actual user.
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
  src/Ombi.Store/Entities/PlexWatchlistHistory.cs
  src/Ombi.Store/Migration.md
  src/Ombi.Store/Migrations/ExternalMySql/20240909082427_WatchListUserId.Designer.cs
  src/Ombi.Store/Migrations/ExternalMySql/20240909082427_WatchListUserId.cs
  src/Ombi.Store/Migrations/ExternalMySql/ExternalMySqlContextModelSnapshot.cs
  src/Ombi.Store/Migrations/ExternalPostgres/20240909071802_WatchListUserId.Designer.cs
  src/Ombi.Store/Migrations/ExternalPostgres/20240909071802_WatchListUserId.cs
  src/Ombi.Store/Migrations/ExternalPostgres/ExternalPostgresContextModelSnapshot.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20240909070705_WatchListUserId.Designer.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20240909070705_WatchListUserId.cs
Labels: backend

chore(release): :rocket: v4.46.4 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix: src/Ombi.Updater/Ombi.Updater.csproj to reduce vulnerabilities
  src/Ombi.Updater/Ombi.Updater.csproj
Labels: none

[Snyk] Security upgrade Microsoft.Extensions.Logging.Console from 6.0.0 to 8.0.1 (#5174)
  src/Ombi.Updater/Ombi.Updater.csproj
Labels: none

fix: retrieves typo and use "Market with App Store" badge
  index.html
Labels: none

feat: add mssql sqlserver support
  src/Ombi.Store/Context/MsSql/ExternalMsSqlContext.cs
  src/Ombi.Store/Context/MsSql/OmbiMsSqlContext.cs
  src/Ombi.Store/Context/MsSql/SettingsMsSqlContext.cs
  src/Ombi.Store/Migration.md
  src/Ombi.Store/Migrations/ExternalMsSql/20241022000032_Initial.Designer.cs
  src/Ombi.Store/Migrations/ExternalMsSql/20241022000032_Initial.cs
  src/Ombi.Store/Migrations/ExternalMsSql/ExternalMsSqlContextModelSnapshot.cs
  src/Ombi.Store/Migrations/OmbiMsSql/20241021235959_Initial.Designer.cs
  src/Ombi.Store/Migrations/OmbiMsSql/20241021235959_Initial.cs
  src/Ombi.Store/Migrations/OmbiMsSql/OmbiMsSqlContextModelSnapshot.cs
  src/Ombi.Store/Migrations/SettingsMsSql/20241022000052_Initial.Designer.cs
  src/Ombi.Store/Migrations/SettingsMsSql/20241022000052_Initial.cs
  src/Ombi.Store/Migrations/SettingsMsSql/SettingsMsSqlContextModelSnapshot.cs
  src/Ombi.Store/Ombi.Store.csproj
  src/Ombi/Extensions/DatabaseExtensions.cs
  src/Ombi/Ombi.csproj
Labels: backend

fix: retrieves typo and use "Market with App Store" badge (#5178)
  index.html
Labels: none

ignore Rider and macOS junk and exclude migrations from sonar analysis
  .github/workflows/sonarscan.yml
  .gitignore
Labels: devops

** exclusion rule
  .github/workflows/sonarscan.yml
  .gitignore
Labels: devops

remove idea ignore and rejoice with our fellow Riders!
  .gitignore
Labels: none

exclude /**/*
  .github/workflows/sonarscan.yml
Labels: devops

try cdp.exclusions
  .github/workflows/sonarscan.yml
Labels: devops

fix: src/Ombi/ClientApp/package.json & src/Ombi/ClientApp/yarn.lock to reduce vulnerabilities
  src/Ombi/ClientApp/yarn.lock
Labels: frontend

fix: src/Ombi/Ombi.csproj to reduce vulnerabilities
  src/Ombi/Ombi.csproj
Labels: none

fix: src/Ombi.Store/Ombi.Store.csproj to reduce vulnerabilities
  src/Ombi.Store/Ombi.Store.csproj
Labels: none

fix: src/Ombi.Core/Ombi.Core.csproj to reduce vulnerabilities
  src/Ombi.Core/Ombi.Core.csproj
Labels: none

fix(Fixed the UI not applying the correct timezone settings): :bug:
  src/Ombi/Controllers/V1/IdentityController.cs
  src/Ombi/Startup.cs
Labels: backend

fix
  .github/workflows/build.yml
Labels: devops

chore(release): :rocket: v4.46.5 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: devops

chore(release): :rocket: v4.46.6 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(translations): 🌐 New translations from Crowdin [skip ci]
  src/Ombi/wwwroot/translations/ca.json
Labels: none

fix(requests): :bug: Power users can now set profiles and root folders when requesting
  src/Ombi/ClientApp/src/app/state/radarr/radarr.state.ts
  src/Ombi/ClientApp/src/app/state/sonarr/sonarr.state.ts
Labels: frontend

chore(release): :rocket: v4.46.7 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(radarr-settings): this.normalForm is undefined
  src/Ombi/ClientApp/src/app/settings/radarr/radarr.component.html
  src/Ombi/ClientApp/src/app/settings/radarr/radarr.component.ts
Labels: frontend

fix(radarr-settings): Make the constructor arguments readonly
  src/Ombi/ClientApp/src/app/settings/radarr/radarr.component.ts
Labels: frontend

feat(wizard): :sparkles: Added the ability to start with a different database
  src/.idea/.idea.Ombi/.idea/indexLayout.xml
  src/.idea/.idea.Ombi/.idea/workspace.xml
  src/Ombi.Core/Helpers/DatabaseConfigurationSetup.cs
  src/Ombi.Core/Helpers/FileSystem.cs
  src/Ombi.Core/Helpers/IFileSystem.cs
  src/Ombi.Core/Models/DatabaseConfiguration.cs
  src/Ombi.Core/Services/DatabaseConfigurationService.cs
  src/Ombi.Core/Services/IDatabaseConfigurationService.cs
  src/Ombi.DependencyInjection/IocExtensions.cs
  src/Ombi/ClientApp/src/app/wizard/database/database.component.html
  src/Ombi/ClientApp/src/app/wizard/database/database.component.ts
  src/Ombi/ClientApp/src/app/wizard/models/DatabaseSettings.ts
  src/Ombi/ClientApp/src/app/wizard/services/wizard.service.ts
  src/Ombi/ClientApp/src/app/wizard/welcome/welcome.component.html
  src/Ombi/ClientApp/src/app/wizard/welcome/welcome.component.scss
  src/Ombi/ClientApp/src/app/wizard/welcome/welcome.component.ts
  src/Ombi/ClientApp/src/app/wizard/wizard.module.ts
  src/Ombi/Controllers/V2/WizardController.cs
  src/Ombi/Extensions/DatabaseExtensions.cs
  src/Ombi/Models/V2/WizardDatabaseConfiguration.cs
  src/Ombi/Ombi.csproj
Labels: frontend, backend

Added postgres
  src/.idea/.idea.Ombi/.idea/workspace.xml
  src/Ombi.Core/Services/DatabaseConfigurationService.cs
  src/Ombi/ClientApp/src/app/wizard/database/database.component.html
  src/Ombi/ClientApp/src/app/wizard/database/database.component.ts
Labels: frontend, backend

Fix code scanning alert no. 238: Log entries created from user input
  src/Ombi/Controllers/V2/WizardController.cs
Labels: backend

fixed tests
  src/.idea/.idea.Ombi/.idea/workspace.xml
  src/Ombi/ClientApp/src/app/wizard/welcome/welcome.component.html
  src/Ombi/Controllers/V2/WizardController.cs
  tests/cypress/features/01-wizard/wizard.ts
  tests/cypress/integration/page-objects/wizard/wizard.page.ts
Labels: automation, frontend, backend

fix(radarr-settings): this.normalForm is undefined (#5207)
  src/Ombi/ClientApp/src/app/settings/radarr/radarr.component.html
  src/Ombi/ClientApp/src/app/settings/radarr/radarr.component.ts
Labels: frontend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.46.8 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fixed tests
  tests/cypress/fixtures/api/v1/tv-search-extra-info.json
Labels: automation

test: :arrow_up: Update Cypress to V13
  tests/cypress.config.ts
  tests/package.json
  tests/yarn.lock
Labels: automation

feat(wizard): :sparkles: Added the ability to start with a different database (#5208)
  src/.idea/.idea.Ombi/.idea/indexLayout.xml
  src/.idea/.idea.Ombi/.idea/workspace.xml
  src/Ombi.Core/Helpers/DatabaseConfigurationSetup.cs
  src/Ombi.Core/Helpers/FileSystem.cs
  src/Ombi.Core/Helpers/IFileSystem.cs
  src/Ombi.Core/Models/DatabaseConfiguration.cs
  src/Ombi.Core/Services/DatabaseConfigurationService.cs
  src/Ombi.Core/Services/IDatabaseConfigurationService.cs
  src/Ombi.DependencyInjection/IocExtensions.cs
  src/Ombi/ClientApp/src/app/wizard/database/database.component.html
  src/Ombi/ClientApp/src/app/wizard/database/database.component.ts
  src/Ombi/ClientApp/src/app/wizard/models/DatabaseSettings.ts
  src/Ombi/ClientApp/src/app/wizard/services/wizard.service.ts
  src/Ombi/ClientApp/src/app/wizard/welcome/welcome.component.html
  src/Ombi/ClientApp/src/app/wizard/welcome/welcome.component.scss
  src/Ombi/ClientApp/src/app/wizard/welcome/welcome.component.ts
  src/Ombi/ClientApp/src/app/wizard/wizard.module.ts
  src/Ombi/Controllers/V2/WizardController.cs
  src/Ombi/Extensions/DatabaseExtensions.cs
  src/Ombi/Models/V2/WizardDatabaseConfiguration.cs
  src/Ombi/Ombi.csproj
  tests/cypress/features/01-wizard/wizard.ts
  tests/cypress/fixtures/api/v1/tv-search-extra-info.json
  tests/cypress/integration/page-objects/wizard/wizard.page.ts
Labels: automation, frontend, backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.47.0 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none
