Repository Ombi-app/Ombi, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, frontend, backend, devops

.github/labeler.yml:

automation: tests/**/*

frontend: src/Ombi/ClientApp/**/*

backend: src/**/*.cs

devops: .github/workflows/*

Fix non-exception send failures skipping the retry queue (#5459)
  src/Ombi.Core/Senders/MovieSender.cs
  src/Ombi.Core/Senders/TvSender.cs
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.60.15 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

test: cover Plex setup endpoint guards
  src/Ombi.Tests/PlexControllerTests.cs
  src/Ombi.Tests/PlexOAuthControllerTests.cs
Labels: backend

refactor: only run Plex setup endpoints during the first-run wizard
  src/Ombi/Controllers/V1/External/PlexController.cs
  src/Ombi/Controllers/V1/PlexOAuthController.cs
Labels: backend

fix(schedule): enforce max retry limit and prune unretryable request queue failures
  src/Ombi.Schedule.Tests/ResendFailedRequestsTests.cs
  src/Ombi.Schedule/Jobs/Ombi/ResendFailedRequests.cs
Labels: backend

fix(schedule): materialize failedRequests list prior to iteration
  src/Ombi.Schedule/Jobs/Ombi/ResendFailedRequests.cs
Labels: backend

refactor(schedule): DRY failure handling, scope TVDB check to TvShow, and expand unit test coverage
  src/Ombi.Schedule.Tests/ResendFailedRequestsTests.cs
  src/Ombi.Schedule/Jobs/Ombi/ResendFailedRequests.cs
Labels: backend

fix(schedule): safely check for null result in HandleRetryResultAsync and add null sender test
  src/Ombi.Schedule.Tests/ResendFailedRequestsTests.cs
  src/Ombi.Schedule/Jobs/Ombi/ResendFailedRequests.cs
Labels: backend

fix(store): use bigint Ids for Sonarr/Lidarr cache tables
  src/Ombi.Schedule/Jobs/Lidarr/LidarrAlbumSync.cs
  src/Ombi.Schedule/Jobs/Sonarr/SonarrSync.cs
  src/Ombi.Store/Context/DatabaseExtensions.cs
  src/Ombi.Store/Entities/IEntity.cs
  src/Ombi.Store/Entities/IMediaServerContent.cs
  src/Ombi.Store/Entities/LidarrAlbumCache.cs
  src/Ombi.Store/Entities/LongEntity.cs
  src/Ombi.Store/Entities/SonarrEpisodeCache.cs
  src/Ombi.Store/Migrations/ExternalMySql/20260812000000_CacheTableIdBigInt.Designer.cs
  src/Ombi.Store/Migrations/ExternalMySql/20260812000000_CacheTableIdBigInt.cs
  src/Ombi.Store/Migrations/ExternalMySql/ExternalMySqlContextModelSnapshot.cs
  src/Ombi.Store/Migrations/ExternalPostgres/20260812000000_CacheTableIdBigInt.Designer.cs
  src/Ombi.Store/Migrations/ExternalPostgres/20260812000000_CacheTableIdBigInt.cs
  src/Ombi.Store/Migrations/ExternalPostgres/ExternalPostgresContextModelSnapshot.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20260812000000_CacheTableIdBigInt.Designer.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20260812000000_CacheTableIdBigInt.cs
  src/Ombi.Store/Repository/BaseRepository.cs
  src/Ombi.Store/Repository/ExternalRepository.cs
  src/Ombi.Store/Repository/Repository.cs
Labels: backend

fix(store): address review feedback on auto-increment reset
  src/Ombi.Schedule/Jobs/Lidarr/LidarrAlbumSync.cs
  src/Ombi.Schedule/Jobs/Radarr/RadarrSync.cs
  src/Ombi.Schedule/Jobs/Sonarr/SonarrSync.cs
  src/Ombi.Store/Context/DatabaseExtensions.cs
Labels: backend

fix(sonarr): forward job CancellationToken through cache sync DB calls
  src/Ombi.Schedule/Jobs/Sonarr/SonarrSync.cs
Labels: backend

test(schedule): add Execute_MarksCompleted_WhenTvRetrySucceeds unit test case
  src/Ombi.Schedule.Tests/ResendFailedRequestsTests.cs
Labels: backend

fix(schedule): pass cancellationToken to async EF queries to resolve SonarQube S8949
  src/Ombi.Schedule/Jobs/Ombi/ResendFailedRequests.cs
Labels: backend

test(schedule): verify SaveChangesAsync persistence in Execute_DoesNotDelete_WhenErrorContainsTvdbIdMissing_ForMovie
  src/Ombi.Schedule.Tests/ResendFailedRequestsTests.cs
Labels: backend

Fix Plex OAuth PIN redemption and local admin linking
  src/Ombi.Api.External/MediaServers/Plex/IPlexApi.cs
  src/Ombi.Api.External/MediaServers/Plex/PlexApi.cs
  src/Ombi.Api/Api.cs
  src/Ombi.Api/Request.cs
  src/Ombi.Core.Tests/Authentication/PlexOAuthManagerTests.cs
  src/Ombi.Core/Authentication/PlexOAuthManager.cs
  src/Ombi.Core/IPlexOAuthManager.cs
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
  src/Ombi/ClientApp/src/app/login/login.component.ts
  src/Ombi/ClientApp/src/app/services/applications/plextv.service.spec.ts
  src/Ombi/ClientApp/src/app/services/applications/plextv.service.ts
  src/Ombi/ClientApp/src/app/wizard/plex/plex.component.ts
  src/Ombi/Controllers/V1/TokenController.cs
Labels: frontend, backend

chore(release): :rocket: v4.60.16 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Fix nitpicks by sonarqubecloud
  src/Ombi.Api.External/MediaServers/Plex/PlexApi.cs
  src/Ombi/Controllers/V1/TokenController.cs
Labels: backend

chore: :busts_in_silhouette: Updated Contributors [skip ci]
  README.md
Labels: none

chore(release): :rocket: v4.60.17 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

Fixing final nitpicks
  CHANGELOG.md
  src/Ombi.Api.External/MediaServers/Plex/PlexApi.cs
  src/Ombi.Core.Tests/Authentication/PlexOAuthManagerTests.cs
  src/Ombi.Core/Authentication/PlexOAuthManager.cs
  src/Ombi.Schedule.Tests/PlexWatchlistImportTests.cs
  src/Ombi.Schedule/Jobs/Plex/PlexWatchlistImport.cs
  src/Ombi/Controllers/V1/TokenController.cs
  src/Ombi/Startup.cs
  version.json
Labels: backend

Restore readme
  CHANGELOG.md
  README.md
Labels: none

Fix identity-conflict and private-information alert
  src/Ombi/Controllers/V1/TokenController.cs
Labels: backend

Update TokenController.cs
  src/Ombi/Controllers/V1/TokenController.cs
Labels: backend

Update TokenController.cs
  src/Ombi/Controllers/V1/TokenController.cs
Labels: backend

chore(release): :rocket: v4.60.16 [skip ci]
  CHANGELOG.md
  version.json
Labels: none

fix(availability): mark movies available when Radarr only has a 4K file
  src/Ombi.Schedule.Tests/ArrAvailabilityCheckerTests.cs
  src/Ombi.Schedule/Jobs/ArrAvailabilityChecker.cs
Labels: backend

fix(requests): report 4K request status instead of leaving it pending
  src/Ombi.Core.Tests/Entities/MovieRequestsTests.cs
  src/Ombi.Store/Entities/Requests/MovieRequests.cs
Labels: backend

fix(i18n): keep paginator labels from rendering as translation keys
  src/Ombi/ClientApp/src/app/localization/MatPaginatorI18n.spec.ts
  src/Ombi/ClientApp/src/app/localization/MatPaginatorI18n.ts
Labels: frontend

test(availability): assert standard availability stays unset for a 4K-only grab
  src/Ombi.Schedule.Tests/ArrAvailabilityCheckerTests.cs
Labels: backend

refactor(requests): split RequestStatus into standard and 4K helpers
  src/Ombi.Store/Entities/Requests/MovieRequests.cs
Labels: backend

docs(store): add XML docstrings for cache bigint changes
  src/Ombi.Store/Context/DatabaseExtensions.cs
  src/Ombi.Store/Entities/IEntity.cs
  src/Ombi.Store/Entities/IMediaServerContent.cs
  src/Ombi.Store/Entities/LongEntity.cs
Labels: backend

docs: add docstrings and document Radarr cache reset scope
  src/Ombi.Schedule/Jobs/Lidarr/LidarrAlbumSync.cs
  src/Ombi.Schedule/Jobs/Radarr/RadarrSync.cs
  src/Ombi.Schedule/Jobs/Sonarr/SonarrSync.cs
  src/Ombi.Store/Entities/IMediaServerContent.cs
  src/Ombi.Store/Entities/LidarrAlbumCache.cs
  src/Ombi.Store/Entities/SonarrEpisodeCache.cs
  src/Ombi.Store/Migrations/ExternalMySql/20260812000000_CacheTableIdBigInt.cs
  src/Ombi.Store/Migrations/ExternalPostgres/20260812000000_CacheTableIdBigInt.cs
  src/Ombi.Store/Migrations/ExternalSqlite/20260812000000_CacheTableIdBigInt.cs
  src/Ombi.Store/Repository/BaseRepository.cs
  src/Ombi.Store/Repository/ExternalRepository.cs
  src/Ombi.Store/Repository/Repository.cs
Labels: backend

docs: add remaining XML docstrings for CodeRabbit coverage
  src/Ombi.Schedule/Jobs/Lidarr/LidarrAlbumSync.cs
  src/Ombi.Schedule/Jobs/Radarr/RadarrSync.cs
  src/Ombi.Schedule/Jobs/Sonarr/SonarrSync.cs
  src/Ombi.Store/Repository/BaseRepository.cs
  src/Ombi.Store/Repository/ExternalRepository.cs
  src/Ombi.Store/Repository/Repository.cs
Labels: backend

fix(radarr): forward CancellationToken through cache delete
  src/Ombi.Schedule/Jobs/Lidarr/LidarrAlbumSync.cs
  src/Ombi.Schedule/Jobs/Radarr/RadarrSync.cs
  src/Ombi.Schedule/Jobs/Sonarr/SonarrSync.cs
Labels: backend

fix(sync): continue cache repopulation if auto-increment reset fails
  src/Ombi.Schedule/Jobs/Lidarr/LidarrAlbumSync.cs
  src/Ombi.Schedule/Jobs/Radarr/RadarrSync.cs
  src/Ombi.Schedule/Jobs/Sonarr/SonarrSync.cs
Labels: backend

fix: stop the TV discover endpoints duplicating episode data (#5472)
  src/Ombi.Core.Tests/Engine/V2/TvSearchEngineV2Tests.cs
  src/Ombi.Core/Engine/V2/TvSearchEngineV2.cs
Labels: backend

fix: only track each media cache key once
  src/Ombi.Helpers.Tests/MediaCacheServiceTests.cs
  src/Ombi.Helpers/MediaCacheService.cs
Labels: backend

fix: address review feedback on the discover cache
  src/Ombi.Core.Tests/Engine/V2/TvSearchEngineV2Tests.cs
  src/Ombi.Core/Engine/V2/TvSearchEngineV2.cs
  src/Ombi.Helpers.Tests/MediaCacheServiceTests.cs
  src/Ombi.Helpers/MediaCacheService.cs
Labels: backend

fix: stop the TV discover endpoints duplicating episode data (#5472) (#5473)
  src/Ombi.Core.Tests/Engine/V2/TvSearchEngineV2Tests.cs
  src/Ombi.Core/Engine/V2/TvSearchEngineV2.cs
  src/Ombi.Helpers.Tests/MediaCacheServiceTests.cs
  src/Ombi.Helpers/MediaCacheService.cs
Labels: backend
